<div class="well sidebar-nav">
  <ul class="nav nav-list">

    <li class="nav-header"><i class="icon icon-money icon-3x"></i> Financeiro</li>

    <li id="menu-financeiro-home"><a href="{% url "financeiro:home" %}"><i class="icon-th"></i> Início</a></li>

    <li id="menu-financeiro-contratos-a-lancar"><a href="{% url "financeiro:contratos_a_lancar" %}"><i class="icon-rocket"></i> Contratos a Lançar</a></li>

    <li id="menu-financeiro-lancamentos-a-receber"><a href="{% url "financeiro:lancamentos_a_receber" %}"><i class="icon-paperclip"></i> Lançamentos a Receber</a></li>
    
        <li id="menu-financeiro-antecipar"><a href="{% url "financeiro:lancamentos_a_receber_antecipar" %}"><i class="icon-arrow-left"></i> Antecipações</a></li>
    
    <li id="menu-financeiro-lancamentos-a-conciliar"><a href="{% url "financeiro:lancamentos_a_receber" %}"><i class="icon-refresh"></i> Conciliações</a></li>

    

    
  </ul>
</div><!--/.well -->
