{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Financeiro{% endblock %}</title>

{% block content %}

<h1><i class="icon-th"></i> <i class="icon-money"></i> Financeiro</h1>

<div class="row-fluid">
    
    <div class="span4">
        <h4>{{total_contratos_emaberto_count}} Contratos em Aberto:</h4>
            <p>
                <a href="{% url "financeiro:contratos_a_lancar" %}" class="btn btn-success">Ver Contratos a Lançar / Em Aberto</a>
            </p>
    </div>
    
    <div class="span2 ">
        <h5>Tipo Fechado</h5>
        <small><strong>Total</strong>: R$ {{contratos_tipo_fechado_total}}</small>
        <div class="alert alert-info well-small">
            <h3>{{contratos_tipo_fechado.count}}</h3>
        </div>
        

    </div>
    
    <div class="span2">
        <h5>Tipo Aberto</h5>
        <small><strong>Total</strong>: R$ {{contratos_tipo_aberto_total}}</small>
        <div class="alert alert-success well-small">
            <h3>{{contratos_tipo_aberto.count}}</h3>
        </div>
    </div>
    
    <div class="span2">
        <h5>Receber Após</h5>
        <small><strong>Total</strong>: R$ {{contratos_receber_apos_conclusao_total}}</small>
                    
        <div class="alert alert-warning well-small">

            <h3>{{contratos_receber_apos_conclusao.count}}</h3>
        </div>
        
    </div>
    
    <div class="span2">
        <h5>Tipo Mensal</h5>
        <small><strong>Total</strong>: R$ {{contratos_tipo_mensal_total}}</small>
        
        <div class="alert alert-danger well-small">

            <h3>{{contratos_tipo_mensal.count}}</h3>
        </div>
        
    </div>
    
</div>
<hr />

<div class="row-fluid">    
    <div class="span4">
        <h4>{{total_lancamentos_a_receber}} Lançamentos a Receber:</h4>
        <small><strong>Soma Total</strong>: R$ {{total_valor_lancamentos_a_receber}}</small>
            <p>
                <a href="{% url "financeiro:lancamentos" %}" class="btn btn-success">Ver Lançamentos a Receber</a>
            </p>
    </div>
    
    <div class="span3">
        <h5>A Receber</h5>
        <small><strong>Total</strong>: R$ {{lancamentos_a_receber_total_valor}}</small>
        
        <div class="alert alert-info well-small">

            <h3>{{lancamentos_a_receber.count}}</h3>
        </div>
        
    </div>
    

    <div class="span2">
        <h5>Pendente</h5>
        <small><strong>Total</strong>: R$ {{lancamentos_pendentes_total_valor}}</small>
        
        <div class="alert alert-danger well-small">

            <h3>{{lancamentos_pendentes.count}}</h3>
        </div>
        
    </div>
    
    <div class="span3">
        <h5>Antecipado a Receber</h5>
        <small><strong>Total</strong>: R$ {{lancamentos_abertos_atencipados_total_valor}}</small>
        <div class="alert alert-warning well-small">

            <h3>{{lancamentos_abertos_atencipados.count}}</h3>
        </div>
        
    </div>
    
    
    
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-financeiro-home, #top-menu-financeiro").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/financeiro/financeiro-menu.html" %}
{% endblock%}