{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - RH -> Controle de EPI{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-signal"></i> Capacitação de Procedimentos - Confirmar</h1>
<h2>Atribuição de Responsabilidade: #{{form_atribuicao.instance.id}}</h2>
<h3>Funcionário: {{form_atribuicao.instance.periodo_trabalhado.funcionario}}</h3>
<div class="row-fluid">

	<div class="span6">
		<form method="POST">
			{% csrf_token %}
		{{form_atribuicao.as_p}}
		<button type="submit" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Confirmar</button>
		</form>

	</div>

	<div class="span6">
		{% for subprocedimento in form_atribuicao.instance.subprocedimentos.all %}
		<h5>{{subprocedimento}}</h5>
		{{subprocedimento.descricao}}
		{% endfor %}

	</div>

</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}

<link href="{% static "frontend/css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "frontend/js/jquery-ui-datepicker.js" %}"></script>

<script>


$(document).ready(function() {
	$("#menu-rh-capacitacao-de-procedimentos, #top-menu-rh").addClass("active");
	var activeTab = $('[href=' + location.hash + ']');
})

$('#sub-menu-capacitacao-de-procedimentos').on("click", 'ul.nav.nav-tabs li a', function(e){
	e.preventDefault();
	var href = this.hash;
	window.location.hash = this.hash;
	var pane = $(this);
	pane.tab('show');
})

$( ".datepicker" ).datepicker({
	inline: true,
      dateFormat: "dd/mm/yy"
});


</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}
