{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - RH>Funcionários{% endblock %}</title>

{% block content %}
<p class="text-right btn-group">
{% include "frontend/rh/rh-funcionarios-relatorios-botao.html" %}
</p>
<h1>Lista de Aniversariantes</h1>
<form method="get" class="form form-inline" id="filtra-imprime-form">
<p class="btn-group">
	<select name="mes">
		<option value="todos">Todos</option>
		{% for mes_opcao in dias %}
			<option value="{{mes_opcao.month}}" {% ifequal mes_opcao.month mes %}selected{%endifequal%}>{{mes_opcao|date:"F"}}</option> 
		{% endfor %}
	</select>

<button type="submit" class="btn btn-primary">Filtrar</button>
<a href="#" id="imprimir" class="btn btn-success"><i class="fa fa-print"></i></a>	
</p>
</form>

{% if not lista %}
Nenhuma entrada a exibir
{% endif %}

    {% for mes in lista %}
			{% if mes.1.count %}
				<h1>{{mes.0|date:"F"}}</h1>			
	        {% for funcionario in mes.1 %}
					<div class="row-fluid well well-small">
						<div class="span2">
							{% if funcionario.foto %}
								{% thumbnail funcionario.foto "80x80" crop="center" as im %}
	              <img src="{{ im.url }}" class="pull-left" width="{{ im.width }}" height="{{ im.height }}" style="padding:10px">
	              {% endthumbnail %}
							{% else %}
							{% endif %}
						</div>
						<div class="span10">
					 	 <h1>{{funcionario.nascimento.day}}/{{funcionario.nascimento.month}} - {{funcionario.nome}}</h1>
						
						</div>
					</div>
	        {% endfor %}				
			{% endif %}
    {% endfor %}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-rh-funcionarios, #top-menu-rh, #funcionario-relatorios-listar-aniversarios").addClass("active");
    $("#funcionarios-relatorios-botao").addClass("open")
});

$(document).on("click", "#imprimir", function(e){
	e.preventDefault();
	$(this).hide();
	$("#funcionarios-relatorios-botao").hide();
	$("#filtra-imprime-form").hide();
	$("#menu-lateral").hide();
	$("#global-top-menu").hide();
	$("#filtro-indicador").hide();
	$("#main-content").css("padding-top", 0);
	$("#content").removeClass('span9').addClass('span11');
});

</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}