{% extends "frontend/base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - RH -> Autorizaçao de Hora Extra{% endblock %}</title>

{% block content %}
<div class="container">
	<h1 class="text-center">Autorização de Hora Extra</h1>
	
	<table style="width:100%">
		<tr>
			<td style="width:20%">Nome: {{autorizacao.periodo_trabalhado.funcionario.nome}}</td>
			<td style="width:20%">			Data de Admissão: {{autorizacao.periodo_trabalhado.funcionario.periodo_trabalhado_corrente.inicio|date:"SHORT_DATE_FORMAT"}}</td>
			<td style="width:20%">Cargo: {{autorizacao.periodo_trabalhado.funcionario.cargo_atual}}</td>
			
			<td style="width:10%" class="text-center"><h1>#{{autorizacao.id}}</h1></td>
			
		</tr>
	</table>

	<p>Através deste documento, <strong>{{autorizacao.periodo_trabalhado.funcionario.nome}}</strong> fica autorizado a executar no dia <strong>{{autorizacao.data_execucao|date:"SHORT_DATE_FORMAT"}}</strong> a quantidade de <strong>{{autorizacao.quantidade}} horas extras</strong>, com o valor corrente de R$ <strong>{{autorizacao.valor_total|floatformat:2}}</strong>
	</p>


</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}

<script>
$(document).ready(function() {
	$("#menu-rh-controle-de-epi, #top-menu-rh").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}