{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - RH{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-group"></i> Recursos Humanos</h1>
{% if aniversarios_mes %}

<h2>Aniversários neste mês</h2>
<div class="well well-small">
{% for aniversariante in aniversarios_mes %}
{{aniversariante}} - {{aniversariante.nascimento.day}}/{{aniversariante.nascimento.month}}<br />
{% endfor %}
</div>
{% endif %}

<h2>Demissões em Andamento</h2>
<ul>
{% for demissao in demissoes_andamento %}
    <li>{{demissao.demitido}} - {{demissao.data}}</li>
    {% empty %}
    <li>Nenhuma Demissão Em Andamento</li>
{% endfor %}
</ul>

<h2>Agendamentos de Exames Entre {{inicio_semana|date:"SHORT_DATE_FORMAT"}} e {{fim_semana|date:"SHORT_DATE_FORMAT"}}</h2>
    <div class="well well-small">
{% for exame in exames_semana %}
       <p> <a href="{% url "rh:exames_medicos_ver" exame.id %}">{{exame}} <strong>Realizado</strong>: {{exame.realizado|yesno}}</a></p>
{% endfor %}
</div>

<h2>Retorno de Equipamentos EPI e Ferramentas Entre {{inicio_semana|date:"SHORT_DATE_FORMAT"}} e {{fim_semana|date:"SHORT_DATE_FORMAT"}}</h2>
<div class="well well-small">
		{% for linha in retorno_equipamento_semana %}
			<p {% if linha.data_devolvido %}class="alert alert-success"{% else %}class="alert alert-danger"{% endif %}>
			<span class="label label-default">Controle ID#{{linha.controle.id}} - {{linha.controle.get_tipo_display}}</span>	{{linha.quantidade}} {{linha.produto.unidade}} de <strong class="label label-info">{{linha.produto}}</strong> - {{linha.controle.funcionario}} - {% if linha.data_devolvido %}<i class="fa fa-check"></i> {{linha.data_devolvido|date:"SHORT_DATE_FORMAT"}} <i class="fa fa-arrow-left"></i> {{linha.funcionario_receptor}}{% else %}<a href="{% url "rh:controle_de_epi_retornar" linha.controle.id linha.id %}" class="btn btn-danger">Devolver</a>{% endif %}</p>
		{% endfor %}
</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-rh-home, #top-menu-rh").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}