{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - RH> ADMITIR{% endblock %}</title>

{% block content %}

<div class="row-fluid">
	<div class="span8">
		<h1><i class="fa fa-th"></i> <i class="fa fa-plus"></i> Admitir Funcionário</h1>
	</div>
	<div class="span4">
	</div>
</div>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form_admitir_funcionario.as_p}}
	<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Admitir</button>
</form>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />

<link href="{% static "frontend/css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "frontend/js/jquery-ui-datepicker.js" %}"></script>

<script>
$(document).ready(function() {
	$("#menu-rh-processos-de-admissao, #top-menu-rh").addClass("active");
});
$('.datepicker').each(function() {
   $(this).datepicker({
	inline: true,
      dateFormat: "dd/mm/yy"

		});
});

</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}
