{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - RH>Processos de Admissão{% endblock %}</title>

{% block content %}

<div class="row-fluid">
	<div class="span8">
		<h1><i class="fa fa-th"></i> <i class="fa fa-plus"></i> Processos de Admissão</h1>
	</div>
	<div class="span4">
		<a href="{% url "rh:processos_admissao_admitir" %}" class="btn btn-primary"><i class="fa fa-plus"></i> Admitir Novo Funcionário</a>
	</div>
</div>

<h1>Ativos</h1>
{{processos_admissao_ativos}}

<h1>Inativos</h1>
{{processos_admissao_inativos}}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-rh-processos-de-admissao, #top-menu-rh").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}