{% load sekizai_tags %}
{% load check_installed %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{%block title %}MICROERP{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{STATIC_URL}}frontend/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}frontend/css/font-awesome.min.css" rel="stylesheet">
    
    <link href="{{STATIC_URL}}frontend/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="{{STATIC_URL}}frontend/css/style.css" />
    <script src="{{STATIC_URL}}frontend/js/jquery/jquery.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Fav and touch icons-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{STATIC_URL}}frontend/css/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{STATIC_URL}}frontend/bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{STATIC_URL}}frontend/bootstrap/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}frontend/bootstrap/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="{{STATIC_URL}}frontend/bootstrap/ico/favicon.png">

                                   
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" id="global-top-menu">
      <div class="navbar-inner" >
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url "home" %}"><i class="fa fa-th"></i> MicroERP</a>
          <div class="nav-collapse collapse">
            {% include "frontend/global-top-menu.html" %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid" id="main-content">
        <div class="span3" id="menu-lateral">
            <div class="pagination-centered">
            {% if logo_empresa %}
            <img src="{{logo_empresa}}">
            {% endif %}
						
						
            </div>
            
            {% if mostra_menu_principal_lateral %}
            <div class="well sidebar-nav principal">
              <ul class="nav nav-list">
                <li class="nav-header"><i class="fa fa-home fa-3x"></i> Principal</li>
                <li id="main-home"><a href="{% url "home" %}"><i class="fa fa-th"></i> Meu Painel</a></li>
                {% if request.user.funcionario %}
                <li id="main-home-meus-recados"><a href="{% url "meus_recados" %}"><i class="fa fa-envelope"></i> Recados {% if request.user.funcionario.recados_nao_lidos.count %}<span class="badge badge-success">{{request.user.funcionario.recados_nao_lidos.count}}</span>{% endif %}</a></li>
                {% if "solicitacao"|is_installed_app %}
                
                <li id="main-home-minhas-solicitacoes"><a href="{% url "minhas_solicitacoes" %}"><i class="fa fa-bell {% if request.user.funcionario.solicitacoes_total %}icon-animated-bell{% endif %}"></i> Solicitações {% if request.user.funcionario.solicitacoes_total %}<span class="badge badge-important">{{request.user.funcionario.solicitacoes_total}}</span>{%endif%}</a></li>
                {% endif %}
                
                {% endif %}
              </ul>              
            </div><!--/.well -->
            {% endif %}
            
            <div class="auxiliar-menu">
            {% block auxiliar-menu %}
                        
            {% endblock %}
            </div>  
            
            
        </div><!--/span-->
        <div class="span9" id="content">
    		{% if messages %}
    		<div id="alertas">
    		    {% for message in messages %}
    				<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">
    				  <a class="close" data-dismiss="alert">×</a>
                      {% if message.tags == "error" %}
    				  <i class="fa fa-warning-sign"></i>
                      {% endif %}
                      {% if message.tags == "info" %}
    				  <i class="fa fa-comment"></i>
                      {% endif %}
                      {% if message.tags == "success" %}
    				  <i class="fa fa-ok-sign"></i>
                      {% endif %}
                      {% if message.tags == "warning" %}
    				  <i class="fa fa-warning-sign"></i>
                      {% endif %}
                      
                       {{ message|safe }}
    				</div>
    		    {% endfor %}
    		</div>
    		{% endif %}
            
            {% block content %}
          <div class="row-fluid">
            <div class="span4">

              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>Powered by MicroERP</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-button.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-typeahead.js"></script>
    {% render_block "js" %}
    <script>
    $(document).ready(function() {
        $('.tooltip-items').tooltip()
        $('textarea').focus();
        $(".select2").select2();
    });
    </script>
    
  </body>
</html>
