{% load thumbnail %}
{% load check_installed %}

<ul class="nav">
  <li id="top-menu-home"><a href="{% url "home" %}" class="tooltip-items" data-placement="bottom" data-toggle="tooltip" title="Principal"><i class="icon-white icon icon-home icon-2x"><span class="visible-phone">Principal</span></i></a></li>
  
  {# LINKS DOS MODULOS #}
  

  {% if request.user.perfilacessorecepcao%}
  <li id="top-menu-cadastro"><a class="tooltip-items" data-placement="bottom" data-toggle="tooltip" title="Recepção" href="{% url "cadastro:home" %}"><i class="icon-white icon icon-download-alt icon-2x"><span class="visible-phone">Recepção</span></i></a></li>
  {% endif %}
  
  {% if request.user.perfilacessorh %}
  <li id="top-menu-rh"><a class="tooltip-items" data-placement="bottom" data-toggle="tooltip" title="Recursos Humanos" href="{% url "rh:home" %}"><i class="icon-white icon icon-group icon-2x"><span class="visible-phone">RH</span></i></a></li>
  {% endif %}

  {% if request.user.perfilacessocomercial and "comercial"|is_installed_app %}
  <li id="top-menu-comercial"><a class="tooltip-items" data-placement="bottom" data-toggle="tooltip" title="Comercial" href="{% url "comercial:home" %}"><i class="icon-white icon icon-briefcase icon-2x"><span class="visible-phone">Comercial</span></i></a></li>
  {% endif %}
  
  {% if request.user.perfilacessosolicitacao and  "solicitacao"|is_installed_app %}
  <li id="top-menu-solicitacao"><a class="tooltip-items" data-placement="bottom" data-toggle="tooltip" title="Solicitações" href="{% url "solicitacao:home" %}"><i class="icon-white icon icon-bell-alt icon-2x"><span class="visible-phone">Solicitações</span></i></a></li>
  {% endif %}
  
</ul>

  {# Outros tipos de Links #}
  
  
  {% if request.user.is_authenticated %}
  <ul class="nav ace-nav pull-right">

      {% if request.user.funcionario.solicitacoes_total %}
			<li class="purple">
				<a href="{% url "minhas_solicitacoes" %}">
					<i class="icon-bell-alt icon-animated-bell icon-only"></i>
					<span class="badge badge-important">{{request.user.funcionario.solicitacoes_total}}</span>
				</a>
			</li>
    {% endif %}


            {% if  request.user.funcionario.recados_nao_lidos.count %}
			<li class="green">
				<a href="{% url "meus_recados" %}">
					<i class="icon-envelope-alt icon-animated-vertical icon-only"></i>
					<span class="badge badge-success">{{request.user.funcionario.recados_nao_lidos.count}}</span>
				</a>
			</li>
            {% endif %}

			<li class="">
				<a class="user-menu dropdown-toggle" href="#" data-toggle="dropdown">
                    {% thumbnail request.user.funcionario.foto "30x30" crop="center" as im %}
                       <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                   {% endthumbnail %}
					
					<span id="user_info">
						<small>{% if request.user.funcionario %}{{request.user.funcionario}}{% endif %} (<em>{{request.user}}</em>)</small>
					</span>
					<i class="icon-caret-down"></i>
				</a>
				<ul id="user_menu" class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                    {% if request.user.is_staff %}
					<li><a href="{% url "admin:index" %}"><i class="icon-cog"></i> Administração</a></li>
					<li class="divider"></li>
                    {% endif %}
                    
                    
                      <li><a href="{% url "logout" %}?next=/" ><i class="icon-off"></i> Sair </a></li>
                    
                    
				</ul>
			</li>

    </ul>
    {% endif %}