{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Início{% endblock %}</title>

{% block content %}
    <h1>Olá {{request.user.funcionario}}</h1>
    <h2>Meus Recados</h2>

    {% if nao_lidos %}
    <div class="well">
        <h3 class="alert alert-info">Não lidos</h3>
        {% for recado in nao_lidos %}
        <div class="well well-small">
            
            
            <div class="row-fluid">
              <div class="span7">
                  <h4>Recado ID#{{recado.id}}</h4>
                  <p class="alert alert-success"><strong>De:</strong> {{recado.remetente}} || <strong>Para</strong>: {{recado.destinatario}}
                  </p>
                  <p>
                      <strong><i class="icon icon-time"></i> Data:</strong> {{recado.criado}}, há <i>{{recado.criado|timesince}}</i>
                  </p>
                      {% if recado.cliente %}
                      <p class="alert alert-warning">
                          <i class="icon icon-briefcase"></i> {{recado.cliente}}
                      </p>
                      {% endif %}
                  
                  
              </div>
              <div class="span5">
                  <p><strong><i class="icon icon-comment"></i>  Texto</strong>: {{recado.texto}}<p>
                  
                  <h4>Ações</h4>
                  <a href="{% url "meus_recados_marcar_lido" recado.id %}" class="btn btn-large"><i class="icon icon-eye-open"></i> Lido</a>
                  
                  
              </div>
            </div>
            
            

        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if lidos %}
    <div class="well">
        <h3 class="alert alert-danger">Lidos</h3>
            {% for recado in lidos %}
            <div class="well well-small">
                <span class="label">ID#{{recado.id}}</span>
                <strong>De:</strong> {{recado.remetente}} <strong>Para:</strong> {{recado.destinatario}} <strong>Data</strong>: {{recado.criado}}<br />
                <i class="icon icon-eye-open"></i> Lido em: {{recado.lido_em}}
                <p class="alert alert-info"><i class="icon icon-comment"></i> {{recado.texto}}</p>
                {% if recado.cliente %}
                <p class="alert alert-warnign"><i class="icon icon-briefcase"></i> {{recado.cliente}}</p>
                
                {% endif %}
            </div>
            {% endfor %}
    </div>
    {% endif %}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#main-home-meus-recados, #top-menu-home").addClass("active");
});
</script>
{% endaddtoblock %}


{% endblock %}
