{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Apagar Componente{% endblock %}</title>

{% block content %}
<h1>{{componente.part_number}} - {{componente.descricao}}</h1>

{% if not pode %}
<p class="alert alert-info">
Quantidade Total de Participações: {{componente.total_unico_participacoes}} <a class="btn btn-primary" href="{% url "producao:ver_componente" componente.id %}#participacao">Ver Participações</a><br
</p>

<p class="alert alert-danger">
	<i class="fa fa-warning"></i> <strong>Não é possível inativar este Componente nesta situação</strong>.
</p>
{% else %}
<p class="alert alert-danger">Este componente pode ser inativado.</p>
<a href="?confirmar=sim" class="btn btn-danger">Confirmar Inativação deste Componente.</a>
{% endif %}


{% endblock %}

	{% block auxiliar-menu %}
	{% addtoblock "js" %}
	<script>
	$(document).ready(function() {
		$("#menu-producao-componentes, #top-menu-producao").addClass("active");
	});
	</script>



	{% endaddtoblock %}
	{% include "frontend/producao/producao-menu.html" %}
	{% endblock%}