{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Produção - Rastreabilidade da Produção{% endblock %}</title>

{% block content %}
	<h1><i class="fa fa-th"></i> <i class="fa fa-barcode"></i> Rastreabilidade de Produção</h1>

	<ul class="nav nav-tabs">
		<li class="active"><a href="#associar-dados" id="menu-associar-dados" data-toggle="tab"><i class="fa fa-asterisk"></i> Associar Dados</a></li>
		<li><a href="#lancamentos-disponiveis" data-toggle="tab"><i class="fa fa-arrow-right"></i> Disponíveis para Venda</a></li>
		<li class=""><a href="#lancamentos-vendidos" data-toggle="tab"><i class="fa fa-dollar"></i> Vendidos</a></li>
		<li class=""><a href="#lancamentos-apagados" data-toggle="tab"> <i class="fa fa-trash-o"></i> Apagados</a></li>
	  <li class=""><a href="#configurar" data-toggle="tab"><i class="fa fa-cogs"></i> Configurar Testes</a></li>
		<li class=""><a href="#checar-quantitativos" data-toggle="tab" class="ajaxtab" data-url="{% url "producao:rastreabilidade_de_producao_checar_quantitativos" %}"><i class="fa fa-search"></i> Checar Quantitativos</a></li>

	</ul>

	<div id="myTabContent" class="tab-content">

		<div class="tab-pane fade in active" id="associar-dados">
			<div class="row-fluid">
				<div class="span6">
					<h2>Associar Dados</h2>
				</div>

				<div class="span6">
					<p class="btn-group">
					<a href="{% url "producao:rastreabilidade_de_producao_adicionar" %}" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar</a>
					<a role="button" href="#modal-apagar-lancamento" class="btn btn-danger" data-toggle="modal"><i class="fa fa-minus"></i> Apagar</a>
					</p>
				</div>
			</div>

				{% regroup lancamentos_associar_valores by produto__part_number as lancamentos_group_list %}
				{% for lancamento in lancamentos_group_list %}
				<h4>{{ lancamento.grouper }} - {{lancamento.list.0.produto__nome}}</h4>
				<div id="lancamento-produtos-associar">
					<table class="table table-condensed table-hover table-rounded">
						<thead>
							<tr>
								<th>ID</th>
								<th>Testes</th>
								<th>Manual / Ordem de Produção</th>
								<th>Criado</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							{% for lancamento in lancamento.list %}
							<tr {% if lancamento.adicionado_manualmente %}data-toggle="tooltip" title="Justificativa: {{lancamento.justificativa_adicionado}}" class="tooltip_item"{% endif %}>
								<td>{{lancamento.id}}</td>
								<td><span class="badge badge-success">{{lancamento.linhatestelancamentoprodproduto__lancamento_de_producao__id__count}}</span></td>
								<td>{% if lancamento.adicionado_manualmente %}Manual: {{lancamento.funcionario_adicionou__nome}}{% else %}Ordem de Produção: #{{lancamento.ordem_de_producao__id}}{% endif %}</td>
								<td>{{lancamento.criado|date:"SHORT_DATETIME_FORMAT"}}</td>
								<td>
									<a data-toggle="tooltip" title="Associar a Serial Number" href="{% url "producao:rastreabilidade_de_producao_associar_lancamento" lancamento.id %}" class="btn btn-primary tooltip_item" data-direction="left"><i class="fa fa-barcode"></i></a>
								</td>
							</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
				{% empty %}
					<div class="alert alert-warning">
					<i class="fa fa-exclamation fa-2x fa-left"></i> Nenhum Lançamento de Produção Disponível.<br />
					Execute uma <a href="{% url "producao:ordem_de_producao" %}">Ordem de Produção</a> de um Produto<br />
				</div>
				{% endfor %}
		</div>

		<div class="tab-pane fade in" id="lancamentos-disponiveis">
			<div class="row-fluid">
				<div class="span6">
					<h2>Lançamentos Disponíveis</h2>
				</div>

				<div class="span6">
					<p class="btn-group">
					<button form="vender_selecionados" type="submit"  class="btn btn-primary"><i class="fa fa-dollar"></i> Vender Selecionados</button>
					<a role="button" href="#modal-apagar-lancamento" class="btn btn-danger" data-toggle="modal"><i class="fa fa-minus"></i> Apagar</a>
				</p>
				</div>
			</div>

			{% regroup lancamentos_disponiveis_valores by produto__part_number as lancamentos_disponiveis_group_list %}
			<form method="GET" action="{% url "producao:registrar_nota_fiscal_emitida_adicionar" %}" name="vender_selecionados" id="vender_selecionados">
			{% for lancamento in lancamentos_disponiveis_group_list %}
				<h4>{{ lancamento.grouper }} - {{lancamento.list.0.produto__nome}}</h4>
				<div id="lancamentos-disponiveis-venda">
					<table class="table table-condensed table-hover table-rounded">
						<thead>
							<tr>
								<th>ID</th>
								<th>Serial {{nome_empresa}}</th>
								<th>Manual / Ordem de Produção</th>
								<th>Criado</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							{% for lancamento in lancamento.list %}
							<tr {% if lancamento.adicionado_manualmente %}data-toggle="tooltip" title="Justificativa: {{lancamento.justificativa_adicionado}}" class="tooltip_item"{% endif %}>
								<td><input id="lancamento-{{lancamento.id}}" type="checkbox" name="lancamento" value="{{lancamento.id}}"><label for="lancamento-{{lancamento.id}}">{{lancamento.id}}</label></td>
								<td><label for="lancamento-{{lancamento.id}}"><span class="badge badge-warning">{{lancamento.serial_number}}</span></label></td>
								<td><label for="lancamento-{{lancamento.id}}">{% if lancamento.adicionado_manualmente %}Manual: {{lancamento.funcionario_adicionou__nome}}{% else %}Ordem de Produção: #{{lancamento.ordem_de_producao__id}}{% endif %}</label></td>
								<td><label for="lancamento-{{lancamento.id}}">{{lancamento.criado|date:"SHORT_DATETIME_FORMAT"}}</label></td>
								<td><a data-toggle="tooltip" title="Alterar Dados" href="{% url "producao:rastreabilidade_de_producao_associar_lancamento" lancamento.id %}" class="btn btn-primary tooltip_item" data-direction="left"><i class="fa fa-barcode"></i></a></td>
							</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			{% empty %}
			<p class="alert alert-warning">
				<i class="fa fa-exclamation fa-2x fa-left"></i> Nenhum Lançamento de Produção Disponível.<br />
				Execute uma <a href="{% url "producao:ordem_de_producao" %}">Ordem de Produção</a> de um Produto,<br />
				Depois Associe Dados a estas produções para poder realizar a venda.
			</p>
			{% endfor %}
			</form>

		</div>

		<div class="tab-pane fade in" id="lancamentos-vendidos">

			<div class="row-fluid">
				<div class="span6">
					<h2>Lançamentos Vendidos</h2>
					{% if not vendidos_filtro %}
					* mostrando os Lançamentos de {{inicio_range|date:"SHORT_DATE_FORMAT"}} a {{fim_range|date:"SHORT_DATE_FORMAT"}}
					{% endif %}
				</div>
				<div class="span6">
					<p class="btn-group">
					<a role="button" href="#modal-apagar-lancamento" class="btn btn-danger" data-toggle="modal"><i class="fa fa-minus"></i> Apagar</a>
				</p>
				</div>
			</div>
			<form method="POST">
				{% csrf_token %}
				<div class="row-fluid">

					<div class="span3">
					{{form_filtrar_lancamentos_vendidos.serial_number.label}}<br />
					{{form_filtrar_lancamentos_vendidos.serial_number.errors}}
					{{form_filtrar_lancamentos_vendidos.serial_number}}
					</div>

					<div class="span3">
						{{form_filtrar_lancamentos_vendidos.nota_fiscal.label}}<br />
						{{form_filtrar_lancamentos_vendidos.nota_fiscal.errors}}
						{{form_filtrar_lancamentos_vendidos.nota_fiscal}}

					</div>

					<div class="span2">
						{{form_filtrar_lancamentos_vendidos.cliente.label}}<br />
						{{form_filtrar_lancamentos_vendidos.cliente.errors}}
						{{form_filtrar_lancamentos_vendidos.cliente}}

					</div>

					<div class="span2">
						{{form_filtrar_lancamentos_vendidos.data_de_venda_inicio.label}}<br />
						{{form_filtrar_lancamentos_vendidos.data_de_venda_inicio.errors}}
						{{form_filtrar_lancamentos_vendidos.data_de_venda_inicio}}

					</div>

					<div class="span2">
						{{form_filtrar_lancamentos_vendidos.data_de_venda_fim.label}}<br />
						{{form_filtrar_lancamentos_vendidos.data_de_venda_fim.errors}}
						{{form_filtrar_lancamentos_vendidos.data_de_venda_fim}}

					</div>

				</div>

				<button type="submit" class="btn btn-primary" name="filtra-lancamentos-vendidos-btn" name="filtra-lancamentos-vendidos-btn" value="filtrar" >Filtrar</button>
			</form>

			{% regroup lancamentos_vendidos_valores by produto__part_number as lancamentos_vendidos_group_list %}
			{% for lancamento in lancamentos_vendidos_group_list %}
			<h4>{{ lancamento.grouper }} - {{lancamento.list.0.produto__nome}}</h4>
			<div id="lancamento-produtos-vendidos">
				<table class="table table-condensed table-hover table-rounded">
					<thead>
						<tr>
							<th>ID</th>
							<th>Serial {{nome_empresa}}</th>
							<th>Nota Fiscal</th>
							<th>Cliente</th>
							<th>Data de Venda</th>
							<th>Usuário</th>
							<th>Observações</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for lancamento in lancamento.list %}
						<tr>
							<td>{{lancamento.id}}</td>
							<td><span class="badge badge-warning">{{lancamento.serial_number}}</span></td>
							<td><span class="badge badge-info">{{lancamento.nota_fiscal__notafiscal}}</span></td>
							<td>{{lancamento.cliente_associado}}</td>
							<td>{{lancamento.data_vendido|date:"SHORT_DATE_FORMAT"}}</td>
							<td>{{lancamento.funcionario_vendeu__nome}}</td>
							<td>{{lancamento.observacoes}}</td>
							<td>
								<a data-toggle="tooltip" title="Alterar dados" href="{% url "producao:rastreabilidade_de_producao_associar_lancamento" lancamento.id %}" class="btn btn-primary tooltip_item" data-direction="left"><i class="fa fa-barcode"></i></a>
							</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
			{% empty %}
				<div class="alert alert-warning">
				<i class="fa fa-exclamation fa-2x fa-left"></i> Nenhum Lançamento de Produção Disponível.<br />
				Execute uma <a href="{% url "producao:ordem_de_producao" %}">Ordem de Produção</a> de um Produto<br />
			</div>
			{% endfor %}


		</div>

		<div class="tab-pane fade in" id="lancamentos-apagados">
			<h2>Lançamentos Apagados</h2>
			{% if not apagados_filtro %}
					* mostrando os Lançamentos de {{inicio_range|date:"SHORT_DATE_FORMAT"}} a {{fim_range|date:"SHORT_DATE_FORMAT"}}
			{% endif %}


			<form method="POST">
				{% csrf_token %}
				<div class="row-fluid">

					<div class="span3">
					{{form_filtrar_lancamentos_apagados.serial_number.label}}<br />
					{{form_filtrar_lancamentos_apagados.serial_number.errors}}
					{{form_filtrar_lancamentos_apagados.serial_number}}
					</div>

					<div class="span3">
						{{form_filtrar_lancamentos_apagados.nota_fiscal.label}}<br />
						{{form_filtrar_lancamentos_apagados.nota_fiscal.errors}}
						{{form_filtrar_lancamentos_apagados.nota_fiscal}}

						</div>

					<div class="span2">
						{{form_filtrar_lancamentos_apagados.cliente.label}}<br />
						{{form_filtrar_lancamentos_apagados.cliente.errors}}
						{{form_filtrar_lancamentos_apagados.cliente}}

					</div>

					<div class="span2">
						{{form_filtrar_lancamentos_apagados.data_de_apagado_inicio.label}}<br />
						{{form_filtrar_lancamentos_apagados.data_de_apagado_inicio.errors}}
						{{form_filtrar_lancamentos_apagados.data_de_apagado_inicio}}

					</div>

					<div class="span2">
						{{form_filtrar_lancamentos_apagados.data_de_apagado_fim.label}}<br />
						{{form_filtrar_lancamentos_apagados.data_de_apagado_fim.errors}}
						{{form_filtrar_lancamentos_apagados.data_de_apagado_fim}}
					</div>
				</div>

				<button type="submit" class="btn btn-primary" name="filtra-lancamentos-apagados-btn" name="filtra-lancamentos-apagados-btn" value="filtrar" >Filtrar</button>
			</form>

			{% regroup lancamentos_apagados_valores by produto__part_number as lancamentos_apagados_group_list %}
			{% for lancamento in lancamentos_apagados_group_list %}
			<h4>{{ lancamento.grouper }} - {{lancamento.list.0.produto__nome}}</h4>
			<div id="lancamento-produtos-apagados">
				<table class="table table-condensed table-hover table-rounded">
					<thead>
						<tr>
							<th>ID</th>
							<th>Serial {{nome_empresa}}</th>
							<th>Nota Fiscal</th>
							<th>Cliente</th>
							<th>Data Apagado</th>
							<th>Usuário</th>
							<th>Observações</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for lancamento in lancamento.list %}
						<tr data-toggle="tooltip" title="Justificativa: {{lancamento.justificativa_apagado}}" class="tooltip_item">
							<td>{{lancamento.id}}</td>
							<td><span class="badge badge-warning">{{lancamento.serial_number}}</span></td>
							<td><span class="badge badge-info">{{lancamento.nota_fiscal__notafiscal}}</span></td>
							<td>{{lancamento.cliente_associado}}</td>
							<td>{{lancamento.data_apagado|date:"SHORT_DATETIME_FORMAT"}}</td>
							<td>{{lancamento.funcionario_apagou__nome}}</td>
							<td>{{lancamento.observacoes}}</td>
							<td>
								<a data-toggle="tooltip" title="Associar a Serial Number" href="{% url "producao:rastreabilidade_de_producao_associar_lancamento" lancamento.id %}" class="btn btn-primary tooltip_item" data-direction="left"><i class="fa fa-barcode"></i></a>
							</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
			{% endfor %}

		</div>

		<div class="tab-pane fade in" id="configurar">
			<h2>Configurar Testes</h2>
				{% for produto in produtos_ativos %}
				<p>{% if produto.subprodutos_testaveis.count %}<span class="badge badge badge-success">Configurado</span>{% else %}<span class="badge badge badge-important">Não Configurado</span>{% endif %} <a href="{% url "producao:rastreabilidade_de_producao_configurar" produto.id %}"><i class="fa fa-windows"></i> {{produto}}</a></p>

				{% endfor %}
		</div>

		<div class="tab-pane fade in" id="checar-quantitativos">
		</div>

	</div>

	<!-- Modal -->
	<div id="modal-apagar-lancamento" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Apagar Lançamentos</h3>
	  </div>
	  <div class="modal-body">
			<form method="POST" name="remover_lancamentos" id="remover_lancamentos">
				{% csrf_token %}
	    {{form_remover_lancamentos}}
			</form>
	  </div>
	  <div class="modal-footer">
	    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">X Fechar</button>
	    <button class="btn btn-danger" type="submit" form="remover_lancamentos" name="apagar-lancamentos-btn" value="apagar"><i class="fa fa-minus"></i> Apagar</button>
	  </div>
	</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />

<link href="{% static "frontend/css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "frontend/js/jquery-ui-datepicker.js" %}"></script>

<script>
$(document).ready(function() {
    $("#menu-producao-rastreabilidade-de-producao, #top-menu-producao").addClass("active");


		$('.datepicker').each(function() {
		   $(this).datepicker({
			inline: true,
	        dateFormat: "dd/mm/yy"

				});
		});

});

$(document).on("click", "#imprimir", function(e){
	e.preventDefault();
	$(this).hide();
	$("#menu-lateral").hide();
	$("#global-top-menu").hide();
	$("#main-content").css("padding-top", 0);
	$("#content").removeClass('span9').addClass('span11');

});

$('.nav-tabs').on("click", '.ajaxtab', function(e){
	e.preventDefault();

	var href = this.hash;
	window.location.hash = this.hash;
	var pane = $(this);
	// ajax load from data-url
	var url = $(this).attr("data-url");
	if (url){
		$(href).load(url);
		$(href).html("<i class='fa fa-spinner fa fa-spin fa fa-large fa fa-3x'></i>");
	}
	pane.tab('show');
})

// Javascript to enable link to tab
var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
}

// Change hash for page-reload
$('.nav-tabs a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});

$('.nav-tabs').on("click", 'ul.nav.nav-tabs li a', function(e){
	e.preventDefault();
	var href = this.hash;
	window.location.hash = href.replace("#", "#" + "tab_");
	var pane = $(this);
	pane.tab('show');
})
$('.tooltip_item').tooltip()

//check on div click
$("input[type='checkbox']").change(function() {
	if (this.checked){
		$(this).closest("tr").attr('class', 'alert alert-info');
	}else{
		$(this).closest("tr").attr('class', '');
	}
});

{% if form_remover_lancamentos.errors %}
	$('#modal-apagar-lancamento').modal('show');
{% endif %}


</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}
