{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Produção - Inativar Produto{% endblock %}</title>

{% block content %}
<h1>{{produto.part_number}} - {{produto.nome}}</h1>

<h3>Confirmar a Inativação do Produto abaixo?</h3>

<h4>{{produto}}</h4>

<div class="alert alert-danger"><strong>Atenção</strong>: Ao invativar um produto, ele será desconsiderado nos cálculos de 	Relatório de Compras, Produção Combinada, Preparação de Produção Semanal dentre outros.</div>

{% if produto.total_produzido %}

<div class="alert alert-info"><strong>Atenção</strong>: Existem <strong>{{produto.total_produzido}}</strong> unidades produzidas de {{produto.part_number}} em estoque.</div>

{% endif %}

<a href="?confirmar=Sim" class="btn btn-danger">Confirmar</a>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-producao-produtos, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}
