{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Ver Fabricante Fornecedor{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-building"></i> Fabricantes e Fornecedores</h1>
       
        <h2>{{fabricante_fornecedor}}</h2>
        {% if request.user.perfilacessoproducao.gerente %}
        <a class="btn btn-primary" href="{% url "producao:editar_fabricantes_fornecedores" fabricante_fornecedor.id %}"><i class="fa fa-pencil"></i> Editar</a>
        {% endif %}
    
    

  <h2><i class="fa fa-envelope"></i> Contatos</h2>
  {{fabricante_fornecedor.contatos|linebreaks|safe}}

<h4>Memória de Relacionamento Neste Fornecedor</h4>
<div id="memoria-de-relacionamento">
<table class="table table-condensed table-hover table-rounded">
	<thead>
		<tr>
			<th>Componente</th>
			<th>PN Fornecedor *</th>
			<th>Fabricante</th>
			<th>PN Fabricante **</th>
		</tr>
	</thead>
	<tbody>
		{% for memoria in memorias %}
		<tr>
			<td>
				<a class="" href="{% url "producao:ver_componente" memoria.componente.id %}">{{memoria.componente.part_number}}</a>
			</td>
			<td>{{memoria.part_number_fornecedor}}</td>
			<td>FAB: {{memoria.fabricante.nome}}</td>
			<td>{{memoria.part_number_fabricante}}</td>
		</tr>
		{% endfor %}

	</tbody>
</table>
<p>
	<small>* Part Number Fornecedor<br />
		* * Part Number Fabricante
	</small> 
</p>
</div>

<h3>Componentes Já Fornecidos</h3>
<div id="componentes-fornecidos" class="well well-small">
	{% regroup linhas_de_nota_do_fornecedor by componente as linhas_por_componente %}
	{% for linha in linhas_por_componente %}
	<h4>{{linha.grouper}} <a href="{% url "producao:ver_componente" linha.grouper.id %}" class="btn btn-primary"><i class="fa fa-eye"></i></a></h4>
	<table class="table table-condensed table-hover table-rounded">
		<thead>
			<tr>
				<th>Quantidade</th>
				<th>Valor Unitário</th>
				<th>Valor Total S/Impostos</th>
				<th>Valor Total C/Impostos</th>
				<th>Data de Entrada</th>
				<th>Número da Nota / Série</th>
			</tr>
		</thead>
		<tbody>
			{% for linha_item in linha.list %}
			<tr>
				<td>
					{{linha_item.quantidade}} 
					{{linha_item.componente.get_medida_display}}{{linha_item.quantidade|pluralize}}
				</td>
				<td>
					R$ {{linha_item.valor_unitario|floatformat:2}}
				</td>
				<td>
					R$ {{linha_item.valor_total_sem_imposto|floatformat:2}}
				</td>
				<td>
					R$ {{linha_item.valor_total_com_imposto|floatformat:2}}
				</td>
				<td>
					{{linha_item.nota.data_entrada|date:"SHORT_DATE_FORMAT"}}
				</td>
				<td>
					<a href="{% url "producao:ver_nota" linha_item.nota.id %}">{{linha_item.nota.numero_identificador}}{% if linha_item.nota.numero_de_serie %} / {{linha_item.nota.numero_de_serie}}{% endif %}</a>
				</td>
				
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endfor %}
</div>

<h3>Componentes Já Fabricados</h3>
<div id="componentes-fabricados" class="well well-small">
	{% regroup linhas_de_nota_do_fabricante by componente as linhas_por_componente %}
	{% for linha in linhas_por_componente %}
	<h4>{{linha.grouper}} <a href="{% url "producao:ver_componente" linha.grouper.id %}" class="btn btn-primary"><i class="fa fa-eye"></i></a></h4>
	<table class="table table-condensed table-hover table-rounded">
		<thead>
			<tr>
				<th>Quantidade</th>
				<th>Valor Unitário</th>
				<th>Valor Total S/Impostos</th>
				<th>Valor Total C/Impostos</th>
				<th>Data de Entrada</th>
				<th>Número da Nota / Série</th>
			</tr>
		</thead>
		<tbody>
			{% for linha_item in linha.list %}
			<tr>
				<td>
					{{linha_item.quantidade}}
					{{linha_item.componente.get_medida_display}}{{linha_item.quantidade|pluralize}}
				</td>
				<td>
					R$ {{linha_item.valor_unitario|floatformat:2}}
				</td>
				<td>
					R$ {{linha_item.valor_total_sem_imposto|floatformat:2}}
				</td>
				<td>
					R$ {{linha_item.valor_total_com_imposto|floatformat:2}}
				</td>
				<td>
					{{linha_item.nota.data_entrada|date:"SHORT_DATE_FORMAT"}}
				</td>
				<td>
					<a href="{% url "producao:ver_nota" linha_item.nota.id %}">{{linha_item.nota.numero_identificador}}{% if linha_item.nota.numero_de_serie %} / {{linha_item.nota.numero_de_serie}}{% endif %}</a>
				</td>
				
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endfor %}
</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-fabricantes-fornecedores, #top-menu-producao").addClass("active");
    $("#busca_fab_for").focus()
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}