{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load staticfiles %}

{% block content %}

<h5>{{atividade}}</h5>
<form id="form-reagendar-atividade" class="form form-inline" method="POST" action="{% url "producao:ordem_de_compra_atividade_reagendar" atividade.controle_de_compra.id atividade.id %}" id="reagendar_atividade_form">
	{% csrf_token %}
{{form}}
<button type="submit" class="btn btn-primary"><i class="fa fa-refresh"></i> Reagendar</button>
</form>

{% endblock %}

{% block auxiliar-menu %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />

<link href="{% static "frontend/css/ui-lightness/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "frontend/js/jquery-ui.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/js/jquery-ui-timepicker-addon.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/js/jquery-ui-sliderAccess.js" %}"></script>

<script>

$(document).ready(function() {
	$("#menu-producao-ordem-de-compra, #top-menu-producao").addClass("active");


	$(".datetimepicker").datetimepicker({ // Default regional settings
		dateFormat: "dd/mm/yy",
		minuteGrid: 15,
		stepMinute: 5,
		hourGrid: 3,
		timeFormat: "HH:mm:ss",
		parse: "loose",
		separator: ' ',
		currentText: 'Agora',
		closeText: 'Fim',
		amNames: ['AM', 'A'],
		pmNames: ['PM', 'P'],
		timeFormat: 'HH:mm',
		timeSuffix: '',
		timeOnlyTitle: 'Escolher Horário',
		timeText: 'Horário',
		hourText: 'Hora',
		minuteText: 'Minuto',
		secondText: 'Segundos',
		millisecText: 'Millisecond',
		microsecText: 'Microsecond',
		timezoneText: 'Fuso Horário',
		isRTL: false,
	});

});

</script>
{% endaddtoblock %}

{% include "frontend/producao/producao-menu.html" %}
{% endblock %}
