{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Apagar Componente{% endblock %}</title>

{% block content %}
<h1>{{componente.part_number}} - {{componente.descricao}}</h1>


<a href="?confirmar=sim" class="btn btn-success">Confirmar Ativação</a>


{% endblock %}

	{% block auxiliar-menu %}
	{% addtoblock "js" %}
	<script>
	$(document).ready(function() {
		$("#menu-producao-componentes, #top-menu-producao").addClass("active");
	});
	</script>



	{% endaddtoblock %}
	{% include "frontend/producao/producao-menu.html" %}
	{% endblock%}