{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Editar Nota Fiscal{% endblock %}</title>

{% block content %}
<div class="row-fluid">
    <div class="span5">
        
        <h1><i class="fa fa-th"></i> <i class="fa fa-paste"></i> Ver Nota</h1>

        <h4>NFe Série {{notafiscal.numero_de_serie}}, Número {{notafiscal.numero_identificador}}</h4> 
				
				<p>
					<a href="{% url "producao:lancar_nota" %}"><i class="fa fa-arrow-left"></i> Ver Lista de Notas</a>
				</p>
				
		    {% if request.user.perfilacessoproducao.gerente %}
		    <p class="btn-group">
					{% ifequal notafiscal.status "a" %}
		            <a href="{% url "producao:adicionar_lancamento" notafiscal.id %}" class="btn btn-medium btn-primary"><i class="fa fa-plus"></i> Lançamento</a>
		    
		    <a class="btn btn-success" href="{% url "producao:editar_nota" notafiscal.id %}"><i class="fa fa-pencil"></i> Nota</a>

		    {# <a class="btn btn-warning" href="{% url "producao:calcular_nota" notafiscal.id %}"><i class="fa fa-refresh"></i> Calcular</a> #}


		    <a class="btn btn-danger" onclick="return confirm('Tem certeza que quer Lançar essa Nota Fiscal?')"  href="{% url "producao:lancar_nota_fechar" notafiscal.id %}"><i class="fa fa-paste"></i> Lançar em Estoque</a>
		    {% endifequal %}
		    </p>
		    {% endif %}
        
    </div>
    
    <div class="span7 well well-small">
        <strong>Status</strong>: {{notafiscal.get_status_display}}<br />
				<strong>Tipo</strong>: {{notafiscal.get_tipo_display}}<br />
        <strong>Fornecedor</strong>: {{notafiscal.fabricante_fornecedor.nome}}<br />
        <strong>Data de Entrada</strong>: {{notafiscal.data_entrada|date:"SHORT_DATETIME_FORMAT"}} <em> <small>(há {{notafiscal.data_entrada|timesince}})</small></em><br />
        <strong>Taxas Diversas</strong>: R$ {{notafiscal.taxas_diversas}}<br />
        <strong>Total da Nota Sem Imposto</strong>: R$ {{notafiscal.total_sem_imposto}}<br />
        <strong>Total da Nota Com Imposto</strong>: R$ {{notafiscal.total_com_imposto}}<br />
        {% if notafiscal.tipo == 'i' %}
        <h6>Nota Internacional</h6>
        <strong>Total da Nota em Dólar (sem impostos)</strong>: USD {{notafiscal.total_da_nota_em_dolar}}<br />
        <strong>Cotação do Dolar</strong>: R$ {{notafiscal.cotacao_dolar}}
        {% endif %}        
    </div>
    
    
</div>

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
          <th>Item / #ID</th>
          <th>Part Number Fornecedor</th>
          <th>Qtd</th>
          <th>Vlr Unit.</th>
          <th>Imp</th>
          <th>Tot Unit + Imp + Tx</th>
          <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for lancamento in notafiscal.lancamentocomponente_set.all %}
        <tr {% if not lancamento.componente %}class="alert-danger"{%else%}class="alert-success"{%endif%}>
            <td>{% if lancamento.peso %}{{lancamento.peso}}{% else %}{{forloop.counter}}{%endif%} / #{{lancamento.id}}</td>
            <td>{{lancamento.part_number_fornecedor}}
                {% if lancamento.componente %}
                (<strong>{{lancamento.componente.part_number}}</strong>)
                    {% if lancamento.componente.descricao %}
                    <br /><small><strong>Descrição</strong>: {{lancamento.componente.descricao}}</small>
                    
                    {% endif %}
                    {% if lancamento.fabricante %}
                    <br /><small><strong>Fabricante</strong>: {{lancamento.fabricante.nome}}</small>
                    {% endif %}
                    {% if lancamento.part_number_fabricante %}
                    <br /><small><strong>PN Fabricante</strong>: {{lancamento.part_number_fabricante}}</small>
                    {% endif %}
                    
                {% endif %}</td>
            <td>{{lancamento.quantidade}}</td>
            <td>{% if lancamento.nota.tipo == 'n' %}R${%else%}USD{%endif%} {{lancamento.valor_unitario}}</td>
            <td>{{lancamento.impostos}}%</td>
            <td>R$ {{lancamento.valor_unitario_final}}</td>
            <td>
                {% if request.user.perfilacessoproducao.gerente %}
									{% ifequal notafiscal.status "a" %}
                <a href="{% url "producao:editar_lancamento" notafiscal.id lancamento.id %}" class="btn"><i class="fa fa-pencil"></i></a>
								{% endifequal %}
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if request.user.perfilacessoproducao.gerente %}
	{% ifequal notafiscal.status "a" %}
<p>
<a onclick="return confirm('Tem certeza que Quer Apagar?')" href="{% url "producao:apagar_nota" notafiscal.id %}" class="btn btn-danger"><i class="fa fa-trash-o"></i> Apagar Nota</a>
</p>
	{% endifequal %}
{% endif %}


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-lancar-nota, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}