{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Produção - Ver Sub Produtos{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-list-ul"></i>  Sub Produto {{subproduto}}</h1>

<form method="POST" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}

    {{form.as_p}}
    <button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i> Editar SubProduto</button>
</form>




{% endblock %}

{% block auxiliar-menu %}

{% addtoblock "js" %}
<script src="{% static "frontend/js/jquery.limit.js" %}"></script>
<script>
$(document).ready(function() {
	$("#menu-producao-subprodutos, #top-menu-producao").addClass("active");
    $("#id_descricao").after('<div id="limite_id_descricao"></div>')
    $('#id_descricao').limit('140',"#limite_id_descricao");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}
