{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Editar Componente{% endblock %}</title>

{% block content %}
<h1>Componente {{componente.part_number}}</h1>
<form method="POST">
	{% csrf_token %}
{{editar_componente_form.as_p}}
<button type="submit" class="btn btn-primary"><i class="icon-pencil"></i> Editar</button>
</form>

	{% endblock %}

	{% block auxiliar-menu %}
	{% addtoblock "js" %}
	<script src="{{STATIC_URL}}frontend/js/Chart.min.js"></script>

	<script>
	$(document).ready(function() {
		$("#menu-producao-componentes, #top-menu-producao").addClass("active");
    
	});
	</script>


	<script>

	var lineChartData = {
		labels : [{% for lancamento in lancamentos %}"{{lancamento.criado|date:"SHORT_DATE_FORMAT"}}",{% endfor %}
		],
		datasets : [
		{
			fillColor : "rgba(53,150,159,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			pointColor : "rgba(220,220,220,1)",
			pointStrokeColor : "#fff",
			data : [{% for lancamento in lancamentos %}{{lancamento.valor_unitario_final}},{% endfor %}
			]
		},
		]
		
	}

	var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);

	</script>

	{% endaddtoblock %}
	{% include "frontend/producao/producao-menu.html" %}
	{% endblock%}