
<table class="table table-condensed table-hover table-rounded">
	<thead>
		<tr>
			<th>Sub Produto</th>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Quantidade</th>
		</tr>
	</thead>
	<tbody>
		{% for participacao in componente.matriz_subproduto_participacao %}
		<tr>
			<td><a href="{% url "producao:ver_subproduto" participacao.0.id %}#linhas-componente">{{participacao.0.part_number}}</a></td>
			<td>{{participacao.0.nome}}</td>
			<td>{{participacao.0.descricao}}</td>
			
			<td><span class="badge badge-warning">{{participacao.1|floatformat:2}}</span></td>
		</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td><span class="badge badge-success">Total: <strong>{{componente.total_participacao_padrao_subproduto}}</span></strong>
			</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>