{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Produção - Ordem de Compra{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i>  Ordem de Compra</h1>
<a href="{% url "producao:ordem_de_compra" %}"><i class="fa fa-arrow-left"></i> Retornar à listagem de Ordens de Compra</a>
<h2>Ordem de Compra #{{ordem.id}}</h2>

<p>
{% if ordem.data_fechado %}
												<span class="badge badge-success">Fechado</span>
												{% else %}
												<span class="badge badge-important">Aberto</span>
												{% if ordem.atrasada %}
													<span class="badge badge-important">Atrasada</span>
												{% else %}
													<span class="badge badge-success">Em dia</span>
												{% endif %}

												{% endif %}

												{% ifequal ordem.criticidade 0 %}
													<span class="badge badge-success">
												{% endifequal %}
												{% ifequal ordem.criticidade 1 %}
													<span class="badge badge-warning">
												{% endifequal %}
												{% ifequal ordem.criticidade 2 %}
														<span class="badge badge-important">
												{% endifequal %}
															{{ordem.get_criticidade_display}}
													</span>
												</p>


<p class="btn-group">
<a href="		{% url "producao:ordem_de_compra_fechar" ordem.id %}" class="btn btn-success"><i class="fa fa-check"></i> Controle Completo</a>

<!-- Botao Modal Editar Ordem de Compra -->
<a href="#EditarModal" role="button" class="btn btn-primary" data-toggle="modal"><i class="fa fa-pencil"></i> Editar Ordem de Compra</a>

<!-- Botao Modal Add Atividade -->
<a href="#FormAddAtividade" role="button" class="btn" data-toggle="modal"><i class="fa fa-plus"></i> Adicionar Atividade</a>

</p>

<table class="table table-condensed table-striped table-rounded nomargin">
    <thead>
        <tr>
            <th>ID</th>
						<th>Valor</th>
						<th>Descrição</th>
						<th>Fornecedor</th>
						<th>Nota Fiscal</th>
						<th>Data de Abertura</th>
        </tr>
    </thead>
    <tbody>
			<tr>
				<td>{{ordem.id}}</td>
				<td>R${{ordem.valor|floatformat:2}}</td>
				<td>{{ordem.descricao}}</td>
				<td>{{ordem.fornecedor}}</td>
				<td>{{ordem.notafiscal}}</td>
				<td>{{ordem.data_aberto|date:"SHORT_DATE_FORMAT"}}</td>
			</tr>
		</tbody>
</table>


<div class="row-fluid">
	<div class="span12">


		<h5>Atividades</h5>
		<ul>
			{% for atividade in ordem.atividadedeordemdecompra_set.all %}
			{% if atividade.data_fechado %}
			<li><span class="badge badge-success">{{atividade.data|date:"SHORT_DATETIME_FORMAT"}}</span> - {{atividade.descricao}}, <small>fechado em {{atividade.data_fechado|date:"SHORT_DATETIME_FORMAT"}} por {{atividade.fechado_por.funcionario}}</small></li>
			{% else %}
			<li><span class="badge badge-important">{{atividade.data|date:"SHORT_DATETIME_FORMAT"}}</span>

			{% if atividade.atrasada %}
				<span class="badge badge-important">Atrasada</span>
			{% else %}
				<span class="badge badge-success">Em dia</span>
			{% endif %}
											- <strong>{{atividade.descricao}}</strong>, <small>aberto há {{atividade.data|timesince}}</small> 									<a href="{% url "producao:ordem_de_compra_atividade_reagendar" atividade.ordem_de_compra.id atividade.id %}" class="btn btn-info btn-reagendar-atividade"><i class="fa fa-refresh"></i></a>
 <a href="{% url "producao:ordem_de_compra_atividade_fechar" atividade.ordem_de_compra.id atividade.id %}" class="btn btn-success"><i class="fa fa-check"></i></a> <a href="{% url "producao:ordem_de_compra_atividade_remover" atividade.ordem_de_compra.id atividade.id %}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a></li>
			{% endif %}

			{% empty %}
			<small>Nenhum Atividade. Adicione abaixo</small>

			{% endfor %}
		</ul>

	</div>
</div>

<h5>Componentes Vinculados</h5>

<table class="table table-condensed table-striped table-hover table-rounded nomargin table-bordered">
	<thead>
		<tr>
			<th>Componente</th>
			<th>Descrição</th>
			<th>Quantidade</th>
			<th>Valor (Unitário)</th>
			<th>Valor (Total)</th>
		</tr>
	</thead>
	<tbody>
		{% for vinculado in ordem.componentesdaordemdecompra_set.all %}
		<tr>
			<td>{{vinculado.componente_comprado.part_number}}</td>
			<td>{{vinculado.componente_comprado.descricao}}</td>
			<td>{{vinculado.quantidade_comprada}} {{vinculado.componente_comprado.medida}}</td>
			<td>R$ {{vinculado.valor|floatformat:2}}</td>
			<td>R$ {{vinculado.valor_total|floatformat:2}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


<!-- Modal Editar Ordem de Compra -->
<div id="EditarModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Editar Ordem de Compra</h3>
  </div>
  <div class="modal-body">

		<form method="POST" id="form-editar-ordem">
			{% csrf_token %}
			{{form_editar_ordem.as_p}}
		</form>


  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
    			<button type="submit" form="form-editar-ordem" name="editar-ordem" value="editar" class="btn btn-primary"><i class="fa fa-pencil"></i> Editar</button>
  </div>
</div>

<!-- Modal Add Atividade-->
<div id="FormAddAtividade" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Adicionar Nova Atividade</h3>
  </div>
  <div class="modal-body">
		<form method="POST" id="form-add-atividade">
			{% csrf_token %}
			{{form_add_atividade.as_p}}
		</form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
		<button form="form-add-atividade" type="submit" name="adicionar-atividade" value="adicionar" class="btn btn-success"><i class="fa fa-plus"></i> Adicionar Atividade</button>
  </div>
</div>


{% endblock %}

{% block auxiliar-menu %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />


<link href="{% static "frontend/css/ui-lightness/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "frontend/js/jquery-ui.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/js/jquery-ui-timepicker-addon.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/js/jquery-ui-sliderAccess.js" %}"></script>

<script>

$(document).ready(function() {
	$("#menu-producao-ordem-de-compra, #top-menu-producao").addClass("active");


	$(".datetimepicker").datetimepicker({ // Default regional settings
		dateFormat: "dd/mm/yy",
		minuteGrid: 15,
		stepMinute: 5,
		hourGrid: 3,
		timeFormat: "HH:mm:ss",
		parse: "loose",
		separator: ' ',
		currentText: 'Agora',
		closeText: 'Fim',
		amNames: ['AM', 'A'],
		pmNames: ['PM', 'P'],
		timeFormat: 'HH:mm',
		timeSuffix: '',
		timeOnlyTitle: 'Escolher Horário',
		timeText: 'Horário',
		hourText: 'Hora',
		minuteText: 'Minuto',
		secondText: 'Segundos',
		millisecText: 'Millisecond',
		microsecText: 'Microsecond',
		timezoneText: 'Fuso Horário',
		isRTL: false,
	});



	$(".nopoint").keyup(function() {
		$(this).val($(this).val().replace(/[.]/g, ""));
	});

  {% if form_add_atividade.errors %}
  $('#FormAddAtividade').modal('show');
  {% endif %}

  {% if form_editar_ordem.errors %}
  $('#EditarModal').modal('show');
  {% endif %}


});

</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}
