{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Produção - Ativar Produto{% endblock %}</title>

{% block content %}
<h1>{{produto.part_number}} - {{produto.nome}}</h1>

<h3>Confirmar a Ativação do Produto abaixo?</h3>

<h4>{{produto}}</h4>

<div class="alert alert-success"><strong>Atenção</strong>: Ao ATIVAR um produto, ele será considerado nos cálculos de 	Relatório de Compras, Produção Combinada, Preparação de Produção Semanal dentre outros.</div>

<a href="?confirmar=Sim" class="btn btn-success">Confirmar</a>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-producao-produtos, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}
