{% extends "<link href="{% static "frontend/css/jquery-ui.min.css" %}" rel="stylesheet">/<link href="{% static "frontend/css/jquery-ui.min.css" %}" rel="stylesheet">-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Produção - Requisição de Compra{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-credit-card"></i> Requisição de Compra</h1>


<ul class="nav nav-tabs">
		<li class="active"><a href="#solicitar-compra-tab" data-toggle="tab">Solicitar Compra</a></li>
		{% if request.user.perfilacessoproducao.gerente %}
	    <li><a href="#abertos" data-toggle="tab">Requisições Abertas</a></li>
			<li><a href="#fechados" data-toggle="tab">Requisições Atendidas</a></li>
			{% endif %}
</ul>

<div id="myTabContent" class="tab-content">

		<div class="tab-pane fade in active" id="solicitar-compra-tab">

			<form method="POST" id="form-solicitar-compra" name="btn-solicitar-compra">
				{% csrf_token %}
				{{form_add_requisicao_de_compra.as_p}}
				<input type="hidden" name="btn-solicitar-compra" value="solicitar">
				<button type="submit" onclick="this.disabled=true,this.form.submit();" class="btn btn-primary"><i class="fa fa-credit-card"></i> Solicitar Compra</button>
			</form>


		</div>

    <div class="tab-pane fade" id="abertos">
			<p class="btn-group">
				<a href="?#abertos" class="btn">Todos</a>
				<a class="btn btn-success" href="?criticidade=0#abertos">Criticidade Baixa</a>
			<a class="btn btn-warning"  href="?criticidade=1#abertos">Criticidade Média</a>
			<a class="btn btn-danger"  href="?criticidade=2#abertos">Criticidade Urgente</a>
		</p>
			<table class="table table-condensed table-rounded table-hover">
				<thead>
					<tr>
						<th>Usuário</th>
						<th>Solicitante</th>
						<th>Criado em</th>
						<th>Data para Atender</th>
						<th>Início do Atendimento</th>
						<th>Descrição</th>
						<th>Criticidade</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tbody>
					{% for solicitacao in abertos %}
					<tr>
						<td>{{solicitacao.solicitante}}</td>
						<td>
							{{solicitacao.solicitado}}


							{% if request.user.perfilacessoproducao.gerente_de_compras %}
							<!-- Button to trigger modal de nova designacao -->
							<a href="#modal-novo-designado" data-requisicao-id="{{solicitacao.id}}" data-title="Solicitação ID#{{solicitacao.id}}: {{solicitacao.descricao}}. {{solicitacao.solicitante}}" role="button" class="btn btn-modal-novo-designado" data-toggle="modal"><i class="fa fa-hand-o-right"></i> <i class="fa fa-user"></i></a>
							{% endif %}


						</td>
						<td>{{solicitacao.criado|date:"SHORT_DATETIME_FORMAT"}}</td>
						<td>{{solicitacao.data_solicitado|date:"SHORT_DATE_FORMAT"}}</td>
						<td>{{solicitacao.inicio_atendimento|date:"SHORT_DATE_FORMAT"}}</td>
						<td>
						<a href="#modal-follow-up-exibir"
						role="button"
						data-toggle="modal"
						data-exibir-modal-title="Follow Ups da Requisição #{{solicitacao.id}}"
						data-follow-ups="
						{% if solicitacao.followuprequisicaocompra_set.count %}

						{% for fup in solicitacao.followuprequisicaocompra_set.all %}
							<strong>{{fup.criado_por.funcionario}}</strong>: {{fup.texto}}
							<small class='badge badge-info'>{{fup.data|date:"SHORT_DATE_FORMAT"}} (há {{fup.data|timesince}})</small>
							<hr />
						{% endfor %}
						{% else %}
							Nenhum Follow Up.
						{% endif %}"

						class="btn {% if solicitacao.followuprequisicaocompra_set.all %}popover-items{% endif %} carregar_follow_ups_modal"
						data-trigger="hover"
						data-placement="top"
						data-title="<b>Follow Up <small>(há {{solicitacao.ultimo_followup.data|timesince}})</small></b>" data-html=True data-content="<strong>{{solicitacao.ultimo_followup.criado_por.funcionario}}</strong> : {{solicitacao.ultimo_followup.texto}}<br />
						<p class='alert alert-info'>{{solicitacao.ultimo_followup.data|date:"SHORT_DATETIME_FORMAT"}} </p>
						"
						>	<i class="fa fa-comment"> {{solicitacao.followuprequisicaocompra_set.count}}</i></a> {{solicitacao.descricao}}
						</td>

						<td>
							{% ifequal solicitacao.criticidade 0 %}
								<span class="badge badge-success">
							{% endifequal %}
							{% ifequal solicitacao.criticidade 1 %}
								<span class="badge badge-warning">
							{% endifequal %}
							{% ifequal solicitacao.criticidade 2 %}
								<span class="badge badge-important">
							{% endifequal %}
							{{solicitacao.get_criticidade_display}}
								</span>

						</td>

						<td class="btn-group">
							<a href="{% url "producao:requisicao_de_compra_atendido" solicitacao.id %}" class="btn btn-success"><i class="fa fa-check"></i></a>

							<!-- Button to trigger modal de follow up -->
							<a href="#modal-follow-up-add" data-requisicao-id="{{solicitacao.id}}" data-probabilidade="{{solicitacao.probabilidade}}" data-action-url=""  data-title="Solicitação ID#{{solicitacao.id}}: {{solicitacao.descricao}}. {{solicitacao.solicitante}}" role="button" class="btn btn-modal-add-follow-up" data-toggle="modal"><i class="fa fa-plus"></i> <i class="fa fa-comment"></i></a>



						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

    <div class="tab-pane fade" id="fechados">

			<table class="table table-condensed table-rounded table-hover">
				<thead>
					<tr>
						<th>Usuário</th>
						<th>Solicitante</th>
						<th>Criado em</th>
						<th>Data para Atender</th>
						<th>Atendido</th>
						<th>Descrição</th>
						<th>Criticidade</th>
					</tr>
				</thead>
				<tbody>
					{% for solicitacao in fechados %}
					<tr>
						<td>{{solicitacao.solicitante}}</td>
						<td>{{solicitacao.solicitado}}</td>
						<td>{{solicitacao.criado|date:"SHORT_DATETIME_FORMAT"}}</td>
						<td>{{solicitacao.data_solicitado|date:"SHORT_DATE_FORMAT"}}</td>
						<td>{{solicitacao.atendido_em|date:"SHORT_DATETIME_FORMAT"}}</td>
						<td><i class="fa fa-comment">solicitacao.followupderequisicao_set.count</i> {{solicitacao.descricao}}</td>
						<td>
							{% ifequal solicitacao.criticidade 0 %}
								<span class="badge badge-success">
							{% endifequal %}
							{% ifequal solicitacao.criticidade 1 %}
								<span class="badge badge-warning">
							{% endifequal %}
							{% ifequal solicitacao.criticidade 2 %}
								<span class="badge badge-important">
							{% endifequal %}
							{{solicitacao.get_criticidade_display}}
								</span>

						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

</div>

<!-- Modal Exibe FollowUps -->
<div id="modal-follow-up-exibir" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalExibirFollowUpsLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="ModalExibirFollowUpsLabel"></h3>
  </div>
  <div class="modal-body" id="ModalExibirFollowUpsBody">
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
  </div>
</div>


<!-- Modal Adiciona FollowUp -->
<div id="modal-follow-up-add" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Adicionar Follow Up</h3>
  </div>
  <div class="modal-body">
		<p class="alert alert-info" id="descricao-modal-add-follow-up"></p>
		<form method="POST" id="form-adicionar-follow-up" action="">
			{% csrf_token %}
			{{form_adicionar_follow_up.requisicao}}
			<table>
				<tr>
					<td>
						{{form_adicionar_follow_up.texto.label}}
						{{form_adicionar_follow_up.texto}}
						{{form_adicionar_follow_up.texto.errors}}
					</td>
				</tr>
			</table>
		</form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" form="form-adicionar-follow-up" id="btn-adicionar-follow-up" name="btn-adicionar-follow-up"><i class="fa fa-plus"></i> Adicionar Follow Up</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
  </div>
</div>


<!-- Modal Novo Designado -->
<div id="modal-novo-designado" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Designar Requisição</h3>
  </div>
  <div class="modal-body">
		<p class="alert alert-info" id="descricao-modal-novo-designado"></p>
		<form method="POST" id="form-novo-designado" action="">
			{% csrf_token %}
			{{form_novo_designado.requisicao}}
			<table>
				<tr>
					<td>
						{{form_novo_designado.novo_designado.label}}
						{{form_novo_designado.novo_designado}}
						{{form_novo_designado.novo_designado.errors}}
					</td>
				</tr>
			</table>
		</form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" form="form-novo-designado" id="btn-novo-designado" name="btn-novo-designado"><i class="fa fa-hand-o-right"></i> Novo Designado</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
  </div>
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script src="{% static "js/jquery-ui-datepicker.js" %}"></script>
<link href="{% static "css/ui-lightness/jquery-ui-date-picker.min.css" %}" rel="stylesheet">

<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />


<script>
$(document).ready(function() {
    $("#menu-producao-requisicao-de-compra, #top-menu-producao").addClass("active");
		$( ".datepicker" ).datepicker({
			inline: true,
	        dateFormat: "dd/mm/yy"

		});

});


$(".tab-content").on("click", ".carregar_follow_ups_modal", function (e){
	$("#ModalExibirFollowUpsLabel").html($(this).data('exibir-modal-title'));
	$("#ModalExibirFollowUpsBody").html($(this).data('follow-ups'));
});

$(".tab-content").on("click", ".btn-modal-add-follow-up", function (e){
	$("#descricao-modal-add-follow-up").html( $(this).data('title') );
	$("#form-adicionar-follow-up #id_requisicao").val($(this).data('requisicao-id'));
	$("#id_texto").val('');
	$("#form-adicionar-follow-up").attr('action', $(this).data('action-url'))
});


$(".tab-content").on("click", ".btn-modal-novo-designado", function (e){
	$("#descricao-modal-novo-designado").html( $(this).data('title') );
	$("#form-novo-designado #id_requisicao").val($(this).data('requisicao-id'));
	$("#id_texto").val('');
	$("#form-adicionar-follow-up").attr('action', $(this).data('action-url'))
});



$('#id_texto').on("keyup change", function(){
    if( $.trim($(this).val()) ){

    	$("#btn-adicionar-follow-up").show()
    }else{
    	$("#btn-adicionar-follow-up").hide()
    }
});


$('.tab-content').on("hover", ".popover-items", function (e) {
	$(this).popover("show");
});


$('.tab-content').on("hover", ".tooltip-items", function (e) {
	$(this).tooltip("show");
});


// Javascript to enable link to tab
var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
}

// Change hash for page-reload
$('.nav-tabs a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});

$('.nav-tabs').on("click", 'ul.nav.nav-tabs li a', function(e){
	e.preventDefault();
	var href = this.hash;
	window.location.hash = href.replace("#", "#" + "tab_");
	var pane = $(this);
	pane.tab('show');
})

{% if form_adicionar_follow_up.errors %}
$('#modal-follow-up-add').modal('show');
{% endif %}



</script>
{% endaddtoblock %}
{% include "<link href="{% static "frontend/css/jquery-ui.min.css" %}" rel="stylesheet">/producao/producao-menu.html" %}
{% endblock%}
