Django==1.7
MySQL-python==1.2.5
Pillow==2.5.3
Werkzeug==0.9.6
django-admin-bootstrapped==2.0.1
django-classy-tags==0.5.1
django-debug-toolbar==1.2.1
django-extensions==1.4.0
django-localflavor==1.0
django-sekizai==0.7
ipython==1.1.0
python-dateutil==2.2
reportlab==3.1.8
six==1.8.0
sorl-thumbnail==11.12
sqlparse==0.1.11
stevedore==0.13
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
workdays==1.0
wsgiref==0.1.2
xlrd==0.9.2
