{% load phonenumber_br %}
<a class="btn popover-items" href="{% url "comercial:precliente_ver" precliente.id %}" cliente.id %}" data-trigger="hover" data-title="{{precliente.nome}}" data-html="true" data-content='
			<span class="label label-warning">Pré Cliente</span>
			{% if precliente.contato %}
                <small class="label label-info"><i class="fa fa-phone"></i> {{precliente.contato}}</small>
            {% endif %}
			{% if precliente.dados %}
				<p>
                <i class="fa fa-comment"></i> {{precliente.dados}}
				</p>
            {% endif %}
			{% if precliente.designado %}
			<span class="label label-important"><i class="fa fa-hand-o-right"></i> {{precliente.designado}}</span>
			{% endif %}			
			'>

		<span class="label label-warning">PC</span>
		{{precliente.nome}}
</a>