{% load check_installed %}
<div class="well sidebar-nav">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header"><i class="fa fa-briefcase fa-2x"></i> Comercial {% if request.user.perfilacessocomercial.super_gerente %}
      <span class="label label-info">Super Gerente</span>{% endif %}
    </li>
    <li id="menu-comercial-home"><a href="{% url "comercial:home" %}"><i class="fa fa-th"></i> Início</a></li>
		
    <li id="menu-comercial-clientes"><a href="{% url "comercial:clientes" %}"><i class="fa fa-group"></i> Pré / Clientes</a></li>

    <li id="menu-comercial-propostas-minhas"><a href="{% url "comercial:propostas_comerciais_minhas" %}"><i class="fa fa-file-o"></i> Propostas Comerciais</a></li>
	
    <li id="menu-comercial-meus-contratos"><a href="{% url "comercial:contratos_meus" %}"><i class="fa fa-book"></i> Meus Contratos</a></li>

    {% if request.user.perfilacessocomercial.empresa.principal %}
    <li id="menu-comercial-tabela-de-precos"><a href="{% url "comercial:tabela_de_precos" %}"><i class="fa fa-usd"></i> Tabela de Preços</a></li>
    {% endif %}

	{% if "solicitacao"|is_installed_app %}
    <li id="menu-comercial-adicionar-solicitacao"><a href="{% url "comercial:solicitacao_adicionar" %}"><i class="fa fa-bell"></i> Adicionar Solicitação</a></li>
	{% endif %}
	
	{% if user.perfilacessocomercial.gerente %}	
	<h5>Gerência:</h5>
    
	<li id="menu-comercial-analise-de-contratos"><a href="{% url "comercial:analise_de_contratos" %}"><i class="fa fa-search-plus"></i> Análise de Contratos</a></li>
	
	<li id="menu-comercial-aprovar-fechamentos"><a href="{% url "comercial:gerencia_aprovar_fechamentos" %}"><i class="fa fa-thumbs-down"></i> Aprovar Fechamentos</a></li>

    {% if user.perfilacessocomercial.super_gerente %}
    <li id="menu-comercial-gerencia-comissoes"><a href="{% url "comercial:gerencia_comissoes" %}"><i class="fa fa-ticket"></i> Comissões</a></li>
    <li id="menu-comercial-gerenciar-designacoes"><a href="{% url "comercial:designacoes" %}"><i class="fa fa-hand-o-right"></i> Designações</a></li>
    <li id="menu-comercial-gerencia-modelo-orcamento"><a href="{% url "comercial:orcamentos_modelo" %}"><i class="fa fa-quote-right"></i> Modelos de Orçamento</a></li>
    {% endif %}
    <li id="menu-comercial-indicadores"><a href="{% url "comercial:indicadores_do_comercial" %}"><i class="fa fa-bar-chart-o"></i> Indicadores</a></li>
    <li id="menu-comercial-relatorios"><a href="{% url "comercial:relatorios_comercial" %}"><i class="fa fa-tachometer"></i> Relatórios</a></li>
	
	{% endif %}
	
  </ul>
</div><!--/.well -->
