<div class="row-fluid">
    
    <div class="span2">
        {% if not cliente %}
        {% if proposta.cliente %}
            <strong>{{proposta.cliente}}</strong>
        {% endif %}
        {% if proposta.precliente %}
            <strong>{{proposta.precliente}}</strong>
        {% endif %}
        
        {% endif %}
        <div class="alert-info">
        <h6 class="pagination-centered">#{{proposta.id}}</h6>
        </div>
        <span class="label label-important">Expira: {{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}</span>
        <small>em: {{proposta.data_expiracao|timeuntil}}</small>
        
    </div>

    <div class="span7">
        <p>
					<span class="label label-success"> 
            R${{proposta.valor_proposto}}
					</span>
					<span class="label label-info">
            {{proposta.probabilidade}}%
					</span>
					<a href="" class="btn btn-info"><i class="fa fa-compress"></i> 0 Follow-up's</a> <a href="" class="btn btn-primary"><i class="fa fa-plus"></i> Novo</a>
					
        </p>
        <div class="progress progress-striped active" style="width:100%px">
          <div class="bar" style="width: {{proposta.probabilidade}}%;"></div>
        </div>
        
        <p><i class="fa fa-file-o"></i> {{proposta.observacoes}}</p>
    </div>
 
    <div class="span3">
        <div class="btn-group">
        <a href="" class="btn btn-large btn-success"><i class="fa fa-thumbs-up"></i></a>
        <a href="" class="btn btn-large btn-danger"><i class="fa fa-thumbs-down"></i></a>
        <a href="" class="btn btn-large btn-warning"><i class="fa fa-pencil"></i></a>
        <a href="" class="btn btn-large"><i class="fa fa-print"></i></a>
        </div>
        {% ifnotequal proposta.adicionado_por request.user %}
        <small>Criado por: {{proposta.adicionado_por.funcionario}}</small>
        {% endifnotequal %}
    </div>

</div>