{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load bootstrap %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> <i class="fa fa-file-alt"></i> Adicionar Proposta Comercial</h1>

{% if precliente.propostas_abertas %}
	<div class="alert alert-warning">
		<h2>Atenção! Existem propostas abertas para este Pre Cliente</h2>
	</div>
{% endif %}

{% if request.user.perfilacessocomercial.gerente %}
<h4>Como Gerente</h4>
{% endif %}

<h3>Pré Cliente: {{precliente}}</h3>
<form method="post">
    {% csrf_token %}
{{form|bootstrap}}
<div id="form_complementar">

</div>
<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar</button>

</form>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<link href="{% static "frontend/css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "frontend/js/jquery-ui-datepicker.js" %}"></script>

<script>
$(document).ready(function() {
	$("#menu-comercial-home, #top-menu-comercial").addClass("active");
	$("#id_tipo").val(null);
	$("#id_tipo").on('change', function(){
		if(this.value){
			$("#form_complementar").load('{% url "comercial:adicionar_proposta_form_complementar" %}'+'?tipo='+this.value);
		}else{
			$("#form_complementar").html('');
		}
	})
});


$( ".datepicker" ).datepicker({
	inline: true,
      dateFormat: "dd/mm/yy"
});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}
