{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load bootstrap %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> Adicionar Pré Cliente</h1>
<form method="post" class="form-horizontal">
{% csrf_token %}
{{form_add_precliente|bootstrap}}
<button type="submit" class="btn btn-large btn-primary" value="Adicionar"><i class="fa fa-plus"></i> Adicionar</button>
</form>
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{% static "js/jquery.cep.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.mask.js" %}"></script>

<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />

<script>

var grupo_pj = ['id_cnpj',]
var grupo_pf = ['id_cpf',]

function esconde_lista(lista){
	lista.forEach(function(entry){
		$('label[for='+entry+'], #'+entry+'').hide();
	});
}
function mostra_lista(lista){
	lista.forEach(function(entry){
		$('label[for='+entry+'], #'+entry+'').show();
	})
}

$(document).ready(function() {
    $("#menu-comercial-cliente-pre-cliente, #top-menu-comercial").addClass("active");
    $('#id_cpf').mask('000.000.000-00');
    $('#id_cnpj').mask('00.000.000/0000-00');
	$("#menu-comercial-propostas-minhas, #top-menu-comercial").addClass("active");
	var SPMaskBehavior = function (val) {
		return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
	}
	spOptions = {
		onKeyPress: function(val, e, field, options) {
			field.mask(SPMaskBehavior.apply({}, arguments), options);
		}
	};

	$('#id_telefone_fixo').mask('(00) 0000-0000');
	$('#id_telefone_celular').mask(SPMaskBehavior, spOptions);

    esconde_lista(grupo_pj);
    esconde_lista(grupo_pf);
    {% if form_add_precliente.errors %}
		checa_exibicao_por_tipo($("#id_tipo").val());
	{% endif %}
	$("#id_cep").parent().append('<br /><a id="buscar-cep" class="btn btn-small btn-primary"><i class="icon-refresh icon-white"></i> Buscar CEP</a><div id="loading" style="display:none">carregando...</div>');
	$('#buscar-cep').click(function (e) {
		$('#id_cep').cep({
			load: function () {
				$('#result').empty();
				$('#loading').show();
			},
			complete: function () {
				$('#loading').hide();
			},
			error: function (msg) {
				$('#result').html(msg);
			},
			success: function (data) {
				console.log(data);
				$('#id_rua').val(data.tipoLogradouro + ' ' + data.logradouro)
				$('#id_bairro_texto').val(data.bairro)
				$('#id_cidade_texto').val(data.cidade)
				$('#id_uf_texto').val(data.estado)
			}
		});

	});

});

function checa_exibicao_por_tipo(valor){
	if (valor == "pf"){
		esconde_lista(grupo_pj);
		mostra_lista(grupo_pf);

	}else if(valor == "pj"){
		esconde_lista(grupo_pf);
		mostra_lista(grupo_pj);

	}else{
		esconde_lista(grupo_pj);
		esconde_lista(grupo_pf);
	}

}

$("#id_tipo").on("change", function(){
	checa_exibicao_por_tipo($(this).val());
});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}
