{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load bootstrap %}
{% load humanize %}
{% load bootstrap %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}

<div class="row">
	<div class="col-md-6">
		<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> <i class="fa fa-file-o"></i> Editar Proposta</h1>
	</div>
	<div class="col-md-6">
		{% if request.user.perfilacessocomercial.gerente %}
		<h4>Como Gerente</h4>
		<span class="label label-info">Valor Mínimo: R$ {{proposta.consolidado|intcomma}}</span>
		Lucro {{proposta.lucro}}%, Impostos: {{proposta.impostos}}%, Administrativo: {{proposta.administrativo}}%</small>
		{% endif %}
	</div>
</div>

<div class="row">

	<div class="col-md-6">

		<h3>#{{proposta.id|intcomma}}</h3> 			{% if proposta.cliente %}

				{% include "frontend/comercial/botao-cliente.html" with cliente=proposta.cliente %}
			{% else %}
				{% include "frontend/comercial/botao-precliente.html" with precliente=proposta.precliente %}
			{% endif %}
</h3>
		<h4>Orçamentos à partir de Modelos</h4>
		<form method="POST" class="form form-inline">
		{% csrf_token %}
		{{seleciona_modelos_proposta.modelo}}
		<p class="btn-group">
			<button type="submit" class="btn btn-info" name="adicionar-modelos" value="adicionar"><i class="fa fa-plus"></i> Modelos</button>
		</p>
		</form>
	</div>

	<div class="col-md-6">

		<div class="well well-small">
			<form method="POST" class="form form-inline " id="form-editar-proposta">
			{% csrf_token %}
			{{form_editar_proposta.as_p}}
			{% if proposta.parcelamentos_possiveis.all %}
			<h6>Parcelamentos Configurados</h6>
			<ul>
			{% for parcelamento in proposta.parcelamentos_aplicados %}
					<li>{{parcelamento.0}} = R$ {{parcelamento.1|floatformat:2}}</li>
			{% endfor %}
			</ul>
			{% endif %}
			</form>




			<p class="btn-group">
				<button data-toggle="tooltip" title="Alterar" data-placement="top" type="submit" class="btn btn-danger btn-large tooltip-items" name="alterar-proposta" value="alterar" form="form-editar-proposta"><i class="fa fa-save"></i></button>
				{% if proposta.orcamentos_ativos %}
				<a data-toggle="tooltip" title="Imprimir" data-placement="top" href="{% url "comercial:editar_proposta_imprimir_orcamentos_da_proposta" proposta.id %}" class="btn btn-info btn-large tooltip-items"><i class="fa fa-print"></i></a>
				{% endif %}
				<a data-toggle="modal" data-target="#ModalMemoriaDeCalculo" title="Memória de Cálculo" data-placement="top" href="" class="tooltip-items btn btn-warning btn-large"><i class="fa fa-dollar"></i></a>

				<a title="Configurar Impressão" data-placement="top" href="{% url "comercial:proposta_comercial_imprimir" proposta.id %}" class="tooltip-items btn btn-primary btn-large"><i class="fa fa-file"></i><i class="fa fa-arrow-right"></i><i class="fa fa-print"></i></a>


			</p>
		</div>


	</div>
</div>
		<a href="" class="btn btn-primary" data-toggle="modal" data-target="#ModalAdicionaNovoOrcamento"><i class="fa fa-plus"></i> Adicionar Orçamento</a>

{% if proposta.orcamentos_ativos %}

		<h3>Orçamentos Ativos</h3>

{% for orcamento_ativo in proposta.orcamentos_ativos %}
<div class="row">
	<div class="col-md-8">

		<div class="row-fluid">
			<div class="col-md-10">
				<div class="alert alert-success">
					{{orcamento_ativo}}<br />
					{% if orcamento_ativo.promocao %}
					<small class="label label-info"><i class="fa fa-clock-o"></i> <strong>De</strong> {{orcamento_ativo.inicio_promocao|date:"SHORT_DATE_FORMAT"}} <strong>a</strong> {{orcamento_ativo.fim_promocao|date:"SHORT_DATE_FORMAT"}} </small>
					{% endif %}

				</div>

			</div>

			<div class="col-md-2">
				{% if orcamento_ativo.promocao %}
				<i class="fa fa-asterisk fa-2x"></i>
				<small>promoção</small>

				{% else %}

					{% if orcamento_ativo.tabelado %}
					<i class="fa fa-table fa-2x"></i>
					<small>tabelado</small>
					{% else %}
					<i class="fa fa-clipboard fa-2x"></i>
					<small>avulso</small>
					{% endif %}

				{% endif %}
			</div>

		</div>


	</div>
	<div class="col-md-4">
		<p class="btn-group">
			{% if orcamento_ativo.promocao or orcamento_ativo.tabelado %}

				<a data-toggle="tooltip" title="Ver" data-placement="top" href="{% url "comercial:editar_proposta_editar_orcamento" orcamento_ativo.proposta.id orcamento_ativo.id %}" class="btn btn-primary tooltip-items"><i class="fa fa-eye"></i></a>

			{% else %}
			<a data-toggle="tooltip" title="Editar" data-placement="top" href="{% url "comercial:editar_proposta_editar_orcamento" orcamento_ativo.proposta.id orcamento_ativo.id %}" class="btn btn-warning tooltip-items"><i class="fa fa-pencil"></i></a>
			{% endif %}

			<a data-toggle="tooltip" title="Inativar" data-placement="top" href="{% url "comercial:editar_proposta_inativar_orcamento" orcamento_ativo.proposta.id orcamento_ativo.id %}" class="btn btn-danger tooltip-items"><i class="fa fa-thumbs-down"></i></a>
			{% if not orcamento_ativo.promocao  %}
			<a data-toggle="tooltip" title="Reajustar" data-placement="top" href="{% url "comercial:editar_proposta_reajustar_orcamento" orcamento_ativo.proposta.id orcamento_ativo.id %}" class="btn btn-success tooltip-items"><i class="fa fa-refresh"></i></a>
			{% endif %}
			<a data-toggle="tooltip" title="Imprimir" data-placement="top"  href="{% url "comercial:editar_proposta_imprimir_orcamento" orcamento_ativo.proposta.id orcamento_ativo.id %}" class="btn btn-info tooltip-items"><i class="fa fa-print"></i></a>

		</p>
	</div>
</div>
{% endfor %}

{% endif %}

{% if proposta.orcamentos_inativos %}
<h3>Orçamentos Inativos</h3>
{% for orcamento_inativo in proposta.orcamentos_inativos %}
<div class="row-fluid">
	<div class="col-md-8">
		<div class="alert alert-danger">
			{{orcamento_inativo}}
		</div>
	</div>
	<div class="col-md-4">
		<p class="btn-group">
			<a data-toggle="tooltip" title="Reativar" data-placement="top" href="{% url "comercial:editar_proposta_ativar_orcamento" orcamento_inativo.proposta.id orcamento_inativo.id %}" class="btn btn-success tooltip-items"><i class="fa fa-thumbs-up"></i></a>
		</p>
	</div>
</div>
{% endfor %}
{% endif %}


<h3>Custos de Logística</h3>
	<form class="form form-inline well well-small" method="POST">
		{% csrf_token %}
		{{form_editar_linhas_logistica.management_form}}
	{% for form in form_editar_linhas_logistica %}
		{{form.errors}}
		<div class="row">
			<div class="col-md-1">
				{{form.DELETE}} <i class="fa fa-trash-o"></i>
			</div>
			<div class="col-md-3">
				<b>Tipo</b><br />
				{{form.tipo}}
			</div>

			<div class="col-md-4">
				<b>Custo</b><br />
				{{form.custo_total}}
			</div>

			<div class="col-md-4">
				<b>Descrição</b><br />
				{{form.descricao}}
				{{form.id}}
			</div>

		</div>
		<hr />
	{% endfor %}
	<button type="submit" class="btn btn-danger" name="salva-recursos-logisticos" value="salvar"><i class="fa fa-truck"></i> Salvar Custos de Logística</button>
	</form>



<!-- Modal -->
<div class="modal fade" id="ModalAdicionaNovoOrcamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Descrição do Novo Orçamento</h4>
      </div>
      <div class="modal-body">
		  <form method="POST" id="form_adicionar_orcamento" name="form_adicionar_orcamento">
			  {% csrf_token %}
			  {{adicionar_orcamento_form|bootstrap}}
		  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary" form="form_adicionar_orcamento" name="adicionar-orcamento-btn" value="adicionar"><i class="fa fa-plus"></i> Adicionar Orçamento</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- Modal Memória de Calculo-->
<div class="modal fade" id="ModalMemoriaDeCalculo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Memória de Cálculo</h4>
      </div>

	  <table class="table table-bordered">
	        <thead>
	          <tr>
	            <th>Natureza</th>
	            <th>Valor Líquido</th>
				<th>Valor Bruto	</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>Custo de Logística</td>
				<td>R$ {{proposta.custo_logistica|floatformat:2}}</td>
				<td>R$ {{proposta.custo_logistica_com_margem|floatformat:2}}</td>
	          </tr>
	          <tr>
	            <td>Orçamentos</td>
				<td>R$ {{proposta.custo_orcamentos|floatformat:2}}</td>
				<td>R$ {{proposta.custo_orcamentos_com_margem|floatformat:2}}</td>
	          </tr>
	          <tr>
	            <td>Promoções</td>
				<td>R$ {{proposta.custo_promocional|floatformat:2}}</td>
				<td>R$ {{proposta.custo_promocional|floatformat:2}}</td>
	          </tr>
	          <tr>
	            <td>Kits Tabelados</td>
				<td>R$ {{proposta.custo_tabelados|floatformat:2}}</td>
				<td>R$ {{proposta.custo_tabelados|floatformat:2}}</td>
	          </tr>

			  <tr class="alert-info">
				  <td>Consolidado</td>
				  <td>R$ {{proposta.consolidado_liquido|floatformat:2}}</td>
				  <td><strong>R$  {{proposta.consolidado|floatformat:2}}</strong></td>
			  </tr>



	        </tbody>
	      </table>



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<link href="{% static "frontend/css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "frontend/js/jquery-ui-datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />


<script>
$(document).ready(function() {

	$("#menu-comercial-propostas-minhas, #top-menu-comercial").addClass("active");
	$( ".datepicker" ).datepicker({
		inline: true,
		 dateFormat: "dd/mm/yy"
	 });

	{% if adicionar_orcamento_form.errors %}
		$('#ModalAdicionaNovoOrcamento').modal('show');
	{% endif %}

	$('.popover-items').popover();



});
</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}
