{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load bootstrap %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Comercial - Meus Contratos - Revalidar{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-book"></i> Meus Contratos - Revalidar</h1>
{{contrato}}

{% include "frontend/comercial/botao-cliente.html" with cliente=contrato.cliente %}

<div class="alert alert-danger"><strong>Motivo da Invalidez</strong>: {{contrato.motivo_invalido}}</div>

<form method="post" class="form">
<h2>Textos Editáveis do Contrato</h2>
<div class="">
	{{form_textos_editaveis|bootstrap}}
</div>

<h2>Informações do Contrato</h2>

{{form_contrato|bootstrap}}

<h2>Lançamentos Vinculados</h2>

	{% csrf_token %}
	{{form_configurar_contrato.management_form}}
	{%for form in form_configurar_contrato %}

	<h4>Parcela {{forloop.counter}} <small class="label label-danger" >{{form.DELETE}} Apagar</small></h4>
	<div class="row well well-sm">
		<div class="col-md-4">

			{{form.data_cobranca|bootstrap}}
		</div>

		<div class="col-md-4">
			{{form.valor_cobrado|bootstrap}}
		</div>

		<div class="col-md-4">
			{{form.modo_recebido|bootstrap}}
		</div>


			{{form.id}}

	</div>
	<hr />
	{% endfor %}
	<hr />
	<p>
		<button type="submit" class="btn btn-success" name="converter-contrato" value="converter"><i class="fa fa-arrow-right"></i> Revalidar Contrato</button>

	</p>


</form>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />


<link href="{% static "frontend/css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "frontend/js/jquery-ui-datepicker.js" %}"></script>
<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>



<script>
$(document).ready(function() {
    $("#menu-comercial-meus-contratos, #top-menu-comercial").addClass("active");

	$('.popover-items').popover({
			trigger: "hover",
			placement: 'bottom'
	});


	$( ".datepicker" ).datepicker({
		inline: true,
	      dateFormat: "dd/mm/yy"
	});

	tinymce.init({
		selector:'textarea',
		menubar: false,
		toolbar1: 'bold  italic',
		statusbar: true,
		height : 250,

	});

});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}
