{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load soma_valor_propostas_lista %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Comercial - Relatórios{% endblock %}</title>

{% block content %}
<div class="row">
	<div class="col-md-8">
		<h1><i class="fa fa-th"></i> <i class="fa fa-tachometer"></i> Relatórios</h1>
		<h3>Propostas Abertas e {% if not followup_n %}Sem{% else %}com {{followup_n}}{%endif%} Follow Ups</h3>
	</div>
	<div class="col-md-4" id="filtro-relatorios">
		<form class="form form-inline">

		<input type="integer" name="followup_n" value="{{followup_n}}"><br />


		Agrupar por:
		 <input type="radio" name="agrupador" value="tipo" id="agrupador" {% if agrupador == "tipo" %}checked{% endif %}> <label for="agrupador">Tipo</label>
		 <input type="radio" name="agrupador" value="funcionario" id="funcionario" {% if agrupador == "funcionario" %}checked{% endif %}> <label for="funcionario">Funcionário</label><br />
		<button type="submit" value="70">Filtrar</button>
		</form>
	</div>
</div>

{% if agrupador == "funcionario" %}
	{% regroup propostas by designado as propostas_agrupadas %}
{% else %}
	{% regroup propostas by tipo as propostas_agrupadas %}
{% endif %}

{% for lista in propostas_agrupadas %}
	<h2>{% if lista.grouper == None %}Não Definido{% else %}{{lista.grouper}}{% endif %} - Total: {{lista.list|total_propostas}}</h2>

	{% for proposta in lista.list %}
	<div class="well well-small">
		<span class="alert alert-info">#{{proposta.id}}</span> <span class="label label-success">R$ {{proposta.valor_proposto}}</span>, criado em {{proposta.criado|date:"SHORT_DATETIME_FORMAT"}} {% if proposta.cliente %}

				{% include "frontend/comercial/botao-cliente.html" with cliente=proposta.cliente %}
			{% else %}
				{% include "frontend/comercial/botao-precliente.html" with precliente=proposta.precliente %}
			{% endif %}

		<!-- Button trigger modal -->
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalFollowUps-{{proposta.id}}">
			Visualizar Follow Ups ({{proposta.followupdepropostacomercial_set.all.count}})
		</button>

		<!-- Modal -->
		<div class="modal fade" id="ModalFollowUps-{{proposta.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Follow Ups Proposta #{{proposta.id}}</h4>
					</div>
					<div class="modal-body">
						{% for fup in proposta.followupdepropostacomercial_set.all %}
						<strong>{{fup.criado_por.funcionario}}</strong>: {{fup.texto}} <small class='label label-warning'>{{fup.probabilidade}}%</small>
						<small class='label label-info'>{{fup.data|date:"SHORT_DATE_FORMAT"}} (há {{fup.data|timesince}})</small> {% if fup.reagenda_data_expiracao %}<br /><small class='label label-danger'>Nova Expiração: {{fup.data|date:"SHORT_DATE_FORMAT"}} </small>{% endif %}
						<hr />
						{% endfor %}

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">X Fechar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}


{% endfor %}



{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<link href="{% static "frontend/css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "frontend/js/jquery-ui-datepicker.js" %}"></script>

<script>
$(document).ready(function() {
	$("#menu-comercial-relatorios, #top-menu-comercial").addClass("active");
	$('.popover-items').popover({placement:'top'})
	$( ".datepicker" ).datepicker({
		inline: true,
		dateFormat: "dd/mm/yy"
	});

});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}
