{% for dado in tipo.tipodepropostadadovariavel_set.all %}
<div class="form-group">
        <label for="id_chave_{{dado.chave}}" class="control-label  ">{{dado.label}}</label>
        <div class=" ">
            {% if dado.tipo == 'inteiro' %}
                <input type="number" name="chave_{{dado.chave}}" id="chave_{{dado.chave}}" class=" form-control">
            {% else %}
                {% if dado.tipo == 'decimal' %}
                    <input type="number" name="chave_{{dado.chave}}" id="chave_{{dado.chave}}" class=" form-control" step="0.01">
                {% else %}
                    <input type="text" name="chave_{{dado.chave}}" id="chave_{{dado.chave}}" class=" form-control">
                {% endif %}
            {% endif %}
        </div>
</div>
{% endfor  %}
