{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load humanize %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> Comercial</h1>

{% if request.user.perfilacessocomercial.gerente %}
<h4>Como Gerente</h4>

{% endif %}

<div class="well well-small">
    <h2><i class="fa fa-briefcase"></i> Buscar Pré / Cliente</h2>

    <form class="form-search" action="{% url "comercial:clientes" %}">
        <input tabindex="1" type="text" class="input-medium search-query" name="cliente" id="cliente_busca" value="{% if cliente_q %}{{cliente_q}}{%endif%}">
        <button type="submit" class="btn btn-info"><i class="fa fa-search"></i> Buscar</button>
        {% if cliente_q %}
        <a href="."><i class="fa fa-trash-o"></i> Limpar</a>
        {% else %}
        <a href="{% url "comercial:precliente_adicionar" %}" class="btn btn-large btn-success"><i class="fa fa-plus"></i> Adicionar</a>
        {% endif %}
    </form>
</div>

<div class="">
    <ul class="timeline">
		{% for followup in ultimos_followups %}
        <li>
            <div class="timeline-badge">
                <div class=" image-cropper">

                {% if followup.criado_por.funcionario.foto %}
                    {% thumbnail followup.criado_por.funcionario.foto "100x100" format="PNG" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"><br />

                    {% endthumbnail %}
                {% else %}
                    <img src="{{ STATIC_URL }}funcionario_generico.png" width="100" height="100">

                {% endif %}

            </div>
            <div class="badge-title">
                {{followup.criado_por.nome_reduzido}}
            </div>
            </div>


          <div class="timeline-panel">
              <div class="timeline-heading">
                  <h4 class="timeline-title">
                      {% if followup.proposta.cliente %}

                      {% include "frontend/comercial/botao-cliente.html" with cliente=followup.proposta.cliente %}

                      {% else %}

                      {% include "frontend/comercial/botao-precliente.html" with precliente=followup.proposta.precliente %}

                      {% endif %}
                      <small class="text-muted">
                          {% if followup.probabilidade %}    <span class="label label-info">{{followup.probabilidade}}%</span> {% endif %}
                          <i class="glyphicon glyphicon-time"></i> {{followup.criado|date:"SHORT_DATETIME_FORMAT"}}
                          {% if followup.proposta.designado %}
                          <span class="label label-danger"><i class="fa fa-hand-o-right"></i> {{followup.proposta.designado}}</span>
                          {% else %}
                          <span class="label label-danger"><i class="fa fa-hand-o-right"></i> Nenhum Responsável</span>
                          {% endif %}
                      </small>
                  </h4>
              </div>
            <div class="timeline-body">
              <p><i class="fa fa-comment"></i> {{followup.texto}}</p>
            </div>
          </div>
        </li>
		{% endfor %}
    </ul>
</div>





{% endblock %}


{% addtoblock "css" %}
<link href="/media/css/stylesheet.css" media="screen" rel="stylesheet" type="text/css" />
{% endaddtoblock %}



{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-comercial-home, #top-menu-comercial").addClass("active");
    $("#cliente_busca").focus()
	$('.popover-items').popover()
});
</script>
{% endaddtoblock %}

{% addtoblock "css" %}
<style>
	.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 80%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #999999;
            font-size: 1em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 90%;
            margin-left: -25px;
            z-index: 100;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}
.image-cropper {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 90%;
}

.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.badge-title{
    width:80px;
}
</style>

{% endaddtoblock %}


{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}