{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load bootstrap %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> Comercial</h1>
<div class="well well-small">
    <h2>Pré Cliente: {{precliente}}</h2>
    <h3>Converter em Cliente</h3>
    <form id="converter-precliente" method="post">
        {% csrf_token %}
    {{form|bootstrap}}
	<h6>Responsável: {{precliente.designado}}<h6>
    <button type="submit" value="Converter" class="btn btn-primary"><i class="fa fa-magic"></i> Converter</button>
    </form>
</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cep.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/select2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mask.js"></script>

<link href="{{ STATIC_URL }}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>


<script>

var SPMaskBehavior = function (val) {
  return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
},
spOptions = {
  onKeyPress: function(val, e, field, options) {
	  field.mask(SPMaskBehavior.apply({}, arguments), options);
	}
};

$('#id_telefone_fixo').mask(SPMaskBehavior, spOptions);
$('#id_telefone_celular').mask(SPMaskBehavior, spOptions);
$('#id_cep').mask('00.000-000');

$( ".datepicker" ).datepicker({
	inline: true,
      dateFormat: "dd/mm/yy"
});


var grupo_pj = ['id_fantasia', 'id_cnpj', 'id_inscricao_estadual',]
var grupo_pf = ['id_cpf', 'id_rg']

function esconde_lista(lista){
	lista.forEach(function(entry){
		$('label[for='+entry+'], #'+entry+'').hide();
	});
}
function mostra_lista(lista){
	lista.forEach(function(entry){
		$('label[for='+entry+'], #'+entry+'').show();
	})
}

$(document).ready(function() {
	$("#id_cep").parent().append('<br /><a id="buscar-cep" class="btn btn-small btn-primary"><i class="icon-refresh icon-white"></i> Buscar CEP</a><div id="loading" style="display:none">carregando...</div>');
	$('#buscar-cep').click(function (e) {
		$('#id_cep').cep({
			load: function () {
				$('#result').empty();
				$('#loading').show();
			},
			complete: function () {
				$('#loading').hide();
			},
			error: function (msg) {
				$('#result').html(msg);
			},
			success: function (data) {
				console.log(data);
				$('#id_rua').val(data.tipoLogradouro + ' ' + data.logradouro)
				$('#id_bairro_texto').val(data.bairro)
				$('#id_cidade_texto').val(data.cidade)
				$('#id_uf_texto').val(data.estado)
			}
		});

	});
	$("#menu-comercial-home, #top-menu-comercial").addClass("active");
	esconde_lista(grupo_pj);
	esconde_lista(grupo_pf);

	checa_exibicao_por_tipo($("#id_tipo").val());

});
function checa_exibicao_por_tipo(valor){
	if (valor == "pf"){
		esconde_lista(grupo_pj);
		mostra_lista(grupo_pf);

	}else if(valor == "pj"){
		esconde_lista(grupo_pf);
		mostra_lista(grupo_pj);

	}else{
		esconde_lista(grupo_pj);
		esconde_lista(grupo_pf);
	}

}

$("#id_tipo").on("change", function(){
	checa_exibicao_por_tipo($(this).val());
});


</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}