{% extends "frontend/frontend-base-angular.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load staticfiles %}
<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> <span ng-model="app">Comercial</span></h1>

<div ng-app="ComercialApp">
	<div ng-view autoscroll="true"></div>
</div>


{% endblock %}

{% block auxiliar-menu %}

{% addtoblock "js" %}
<script src="{% static "js/angular-filter.min.js" %}"></script>
<script src="{% static "comercial/app.js" %}"></script>
<script src="{% static "comercial/controllers.js" %}"></script>
<script src="{% static "comercial/routeConfig.js" %}"></script>
<script src="{% static "comercial/services.js" %}"></script>
<script src="{% static "js/ui-bootstrap.min.js" %}"></script>
{% endaddtoblock %}

{% include "frontend/comercial/comercial-angular_menu.html" %}

{% endblock%}
