{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load l10n %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}


<h1><i class="fa fa-th"></i> <i class="fa fa-thumbs-down"></i> <i class="fa fa-file-alt"></i> Aprovar Fechamento de Propostas</h1>
{% if propostas_fechadas %}

<form method="POST">
{% csrf_token %}
<div>
      <table class="table">
		  <thead>
		  <tr>
			  <th><input type="checkbox" id="checkAll" checked/>
				  ID </th>
			  <th width="10%">Pré/Cliente</th>
			  <th>Valor</th>
			  <th>Follow Ups</th>
			  <th>Ver Resumo</th>
			  <th>Motivo</th>
			  <th>Expiração</th>
		  </tr>
		  </thead>
        <tbody>
		{% for proposta in propostas_fechadas %}
		<tr>
			<th scope="row">
				<input type="checkbox" name="seleciona_propostas_fechar" class="seleciona_propostas_fechar" value={{proposta.id|unlocalize}} id="check-{{proposta.id|unlocalize}}" checked>
				<label for="check-{{proposta.id}}">
					#{{proposta.id}}
				</label>
			</th>
			<td>
				{% if proposta.cliente %}

				{% include "frontend/comercial/botao-cliente.html" with cliente=proposta.cliente %}
			{% else %}
				{% include "frontend/comercial/botao-precliente.html" with precliente=proposta.precliente %}
			{% endif %}
			</td>
			<td>
				R$ {{proposta.valor_proposto}}
			</td>
			<td>

				{% if proposta.followupdepropostacomercial_set.count %}
				<!-- Button to trigger modal -->
				<a href="#followups-proposta-{{proposta.id|unlocalize}}" role="button" class="btn btn-primary" data-toggle="modal"><i class="fa fa-exchange"></i> {{proposta.followupdepropostacomercial_set.count}}</a>
				{% endif %}
				<!-- Modal -->
				<div id="followups-proposta-{{proposta.id|unlocalize}}" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Follow Ups Proposta #{{proposta.id}}</h4>
							</div>
							<div class="modal-body">
								{% for fup in proposta.followupdepropostacomercial_set.all %}
								<strong>{{fup.criado_por.funcionario}}</strong>: {{fup.texto}} <small class='label label'>{{fup.probabilidade}}%</small>
								<small class='label label'>{{fup.data|date:"SHORT_DATE_FORMAT"}} (há {{fup.data|timesince}})</small> {% if fup.reagenda_data_expiracao %}<br /><small class='label label-danger'>Nova Expiração: {{fup.proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}} </small>{% endif %}
								<hr />
								{% endfor %}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
							</div>
						</div>
					</div>
				</div>

			</td>
			<td><a class="btn btn-primary" href="{% url "comercial:propostas_comerciais_ver" proposta.id %}"><i class="fa fa-arrow-right"></a></td>
			<td>
				<!-- Button to trigger modal -->
				<a href="#motivo-proposta-{{proposta.id|unlocalize}}" role="button" class="btn btn-primary" data-toggle="modal"><i class="fa fa-info"></i></a>

				<!-- Modal -->
				<div id="motivo-proposta-{{proposta.id|unlocalize}}" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Motivo de fechamento da Proposta #{{proposta.id}}</h4>
							</div>
							<div class="modal-body">
								{{proposta.definido_perdido_motivo}}. por <i class='fa fa-user'></i>{{proposta.definido_perdido_por}} em <i class="fa fa-clock"></i> {{proposta.definido_perdido_em|date:"SHORT_DATETIME_FORMAT"}}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
							</div>
						</div>
					</div>
				</div>

			</td>
			<td>{{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}</td>
		</tr>
		{% endfor %}
        </tbody>
      </table>
    </div>




	<p class="btn-group">
	<button type="submit" class="btn btn-danger" name="aprovar-fechamento" value="fechar"><i class="fa fa-thumbs-down"></i> Fechar Propostas</button>

	<button type="submit" class="btn btn-success" name="reabrir-proposta" value="reabrir"><i class="fa fa-refresh"></i> Reabrir Propostas</button>
</p>
</form>
{% else %}

	<h2>Nenhuma Proposta para Aprovar Fechamento</h2>

{% endif %}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}

<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>


<script>

$(document).ready(function() {
	$("#menu-comercial-aprovar-fechamentos, #top-menu-comercial").addClass("active");
	$("#checkAll").change(function () {
		$("input:checkbox").prop('checked', $(this).prop("checked"));
	});
	
});

$('.popover-items').popover()




</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}