{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load soma_valor_propostas_lista %}
{% load static %}
<title>{%block title %}{{block.super}} - Comercial - Relatórios{% endblock %}</title>

{% block content %}
<div class="row-fluid">
	<div class="col-md-8">
		<h1><i class="fa fa-th"></i> <i class="fa fa-tachometer"></i> Relatórios</h1>
		<h1>FollowUps Com Visita</h1>

		{% if de and ate %}
			Entre <strong>{{de|date:"SHORT_DATE_FORMAT"}}</strong> e <strong>{{ate|date:"SHORT_DATE_FORMAT"}}</strong>
		{% endif %}

		{% if de and not ate %}
			À partir de <strong>{{de|date:"SHORT_DATE_FORMAT"}}</strong>
		{% endif %}

		{% if ate and not de %}
			Até <strong>{{ate|date:"SHORT_DATE_FORMAT"}}</strong>
		{% endif %}


	</div>
	<div class="col-md-4" id="filtro-relatorios">
		<form class="form form-inline">

		De <input type="text" name="de" value="{{de|date:"SHORT_DATE_FORMAT"}}" class="datepicker"><br /> a <br /><input type="text" name="ate" value="{{ate|date:"SHORT_DATE_FORMAT"}}" class="datepicker"><br />

		<button type="submit" value="70">Filtrar</button>
		</form>
	</div>
</div>

	{% regroup fups by visita_por as fups_agregados %}

{% for lista in fups_agregados %}
	<h2>{% if lista.grouper == None %}Não Definido{% else %}{{lista.grouper}} - {{ lista.list|length }} Visita{{lista.list|length|pluralize:"s"}}{% endif %}</h2>

	{% for fup in lista.list %}
	<div class="well well-small">
		<span class="alert alert-info">#{{fup.proposta.id}}</span> <span class="label label-success">R$ {{fup.proposta.valor_proposto}}</span>, registrado em {{fup.criado|date:"SHORT_DATETIME_FORMAT"}} {% if fup.proposta.cliente %}

				{% include "frontend/comercial/botao-cliente.html" with cliente=fup.proposta.cliente %}
			{% else %}
				{% include "frontend/comercial/botao-precliente.html" with precliente=fup.proposta.precliente %}
			{% endif %}

		<i class="fa fa-comment"></i> {{fup.texto}}<br />
		<small class='label label-info'>{{fup.data|date:"SHORT_DATE_FORMAT"}} (há {{fup.data|timesince}})</small> {% if fup.reagenda_data_expiracao %} <small class='label label-danger'>Nova Expiração: {{fup.data_expiracao|date:"SHORT_DATE_FORMAT"}} </small>{% endif %} <small class='label label-warning'>{{fup.probabilidade}}%</small>


		{% if fup.proposta.definido_perdido_em %}
		<div class="alert alert-danger">
			<strong>Motivo</strong>: {{fup.proposta.definido_perdido_motivo}}, <strong>Data</strong>: {{proposta.definido_perdido_em|date:"SHORT_DATETIME_FORMAT"}}, <strong>Por</strong>: {{fup.proposta.definido_perdido_por}}. <span class="label label-important">{{fup.proposta.get_status_display}}</span>
		</div>
		{% endif %}

		{% if fup.proposta.definido_convertido_em %}
		<div class="alert alert-success">
			<strong>Convertido por</strong>: {{fup.proposta.definido_convertido_por}}, <strong>Data</strong>: {{fup.proposta.definido_convertido_em|date:"SHORT_DATETIME_FORMAT"}},  <span class="label label-success">{{fup.proposta.get_status_display}}</span>
		</div>
		{% endif %}


	</div>
	{% endfor %}


{% endfor %}



{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<link href="{% static "frontend/css/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "frontend/js/jquery-ui-datepicker.js" %}"></script>

<script>
$(document).ready(function() {
	$("#menu-comercial-relatorios, #top-menu-comercial").addClass("active");
	$('.popover-items').popover({placement:'top'})
	$( ".datepicker" ).datepicker({
		inline: true,
		dateFormat: "dd/mm/yy"
	});

});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}
