{% load sekizai_tags %}
{% load check_installed %}


{% if request.user.perfilacessocomercial.gerente %}
<div class="well well-small">
	<div class="row">
		<div class="col-md-4">
			<h4>Como Gerente</h4>
		</div>
		
		<div class="col-md-4">
			<strong>Consultores com Propostas Expiradas:</strong>
			<select id="filtro-designado-expiradas">
				<option value="todos">Todos</option>
				{% for designado in designados_propostas_expiradas %}
				<option value="{{designado.designado__id}}">{{designado.designado__nome}} ({{designado.designado__nome__count}})</option>
				{% endfor %}
			</select>
			
		</div>
	</div>
</div>
{% endif %}

{% regroup propostas_abertas_expiradas by dono as propostas_expiradas_por_cliente %}

{% for proposta_list in propostas_expiradas_por_cliente %}
	<div class="dono-proposta-expirada-group">
		<p>
			{% if proposta_list.list.0.cliente %}

			{% include "frontend/comercial/botao-cliente.html" with cliente=proposta_list.grouper %}
			{% else %}
			{% include "frontend/comercial/botao-precliente.html" with precliente=proposta_list.list.0.precliente %}
			{% endif %}
		</p>
	
		<table class="table table-condensed table.stripped table-expirada">
			<thread>
				<tr>
					<th class="alert alert-danger">ID</th>
					<th>Expiração</th>
					<th>Valor</th>
					<th>Probabilidade</th>
					<th>Follow Up</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				{% for proposta in proposta_list.list %}
				<tr class="propostas-expiradas {% if proposta.designado %}propostas-expiradas-{{proposta.designado.id}}{% else %}propostas-expiradas-None{% endif %}">
					<td class="alert alert-danger"><h6>#{{proposta.id}}</h6></td>
					<td><span class="label label-danger"> {{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}</span><Br />
						<small>{{proposta.data_expiracao|timesince}}</small></td>
						<td>R$ {{proposta.valor_proposto|floatformat:2}}</td>
						<td>
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{proposta.probabilidade}}" aria-valuemin="0" aria-valuemax="100" style="width: {{proposta.probabilidade}}%">
									<span class="">{{proposta.probabilidade}}%</span>
								</div>
							</div>
						</td>
						<td>
							{% if proposta.ultimo_followup %}
							<a href="#modal-follow-up-exibir"
							role="button" 
							data-toggle="modal"
							data-exibir-modal-title="Follow Ups da Proposta #{{proposta.id}}"
							data-follow-ups="
					
							{% for fup in proposta.followupdepropostacomercial_set.all %}
							<strong>{{fup.criado_por.funcionario}}</strong>: {{fup.texto}} <small class='label label-warning'>{{fup.probabilidade}}%</small>
							<small class='label label-info'>{{fup.data|date:"SHORT_DATE_FORMAT"}} (há {{fup.data|timesince}})</small> {% if fup.reagenda_data_expiracao %}<br /><small class='label label-danger'>Nova Expiração: {{fup.data|date:"SHORT_DATE_FORMAT"}} </small>{% endif %}
							<hr />
							{% endfor %}
							"
							class="btn btn-default popover-items carregar_follow_ups_modal"
							data-trigger="hover"
							data-title="<b>Follow Up <small>(há {{proposta.ultimo_followup.data|timesince}})</small></b>" data-html=True data-content="<strong>{{proposta.ultimo_followup.criado_por.funcionario}}</strong> : {{proposta.ultimo_followup.texto}}<br />
							<p class='alert alert-info'>{{proposta.ultimo_followup.data|date:"SHORT_DATETIME_FORMAT"}} </p>
							">
							{{proposta.followupdepropostacomercial_set.count}}
						</a> <i class="fa fa-exchange"></i>
						{%endif %}


						<!-- Button to trigger modal de follow up -->
						<a href="#modal-follow-up-add" data-proposta-id="{{proposta.id}}" data-probabilidade="{{proposta.probabilidade}}" data-action-url="{% url "comercial:adicionar_follow_up" proposta.id %}" data-nova-data-reagendamento={{proposta.sugere_data_reagendamento_expiracao|date:"SHORT_DATE_FORMAT"}} data-title="Cliente: {{proposta.cliente.nome}}. Valor: R$ {{proposta.valor_proposto|floatformat:2}}. Expira: {{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}" role="button" class="btn btn-default btn-modal-add-follow-up" data-toggle="modal"><i class="fa fa-plus"></i></a>
					</td>
					<td>
						<div class="btn-group">
							{% if request.user.perfilacessocomercial.gerente %}
					
							<a href="{% url "comercial:editar_proposta_converter" proposta.id %}" class="btn btn-success tooltip-items"
							data-placement="top" data-toggle="tooltip" title="Converter Proposta em Contrato"
							><i class="fa fa-thumbs-up"></i></a>


							<a href="{% url "comercial:editar_proposta" proposta.id %}" class="btn btn-warning tooltip-items"
							data-placement="top" data-toggle="tooltip" title="Composição de Preço"
							><i class="fa fa-dollar"></i></a>


							<a href="{% url "comercial:proposta_comercial_imprimir" proposta.id %}" class="btn btn-default tooltip-items"
							data-placement="top" data-toggle="tooltip" title="Configurar Impressão"
							><i class="fa fa-print"></i></a>



							{% endif %}
							<a href="{% url "comercial:editar_proposta_fechar" proposta.id %}" class="btn btn-danger tooltip-items"
							data-placement="top" data-toggle="tooltip" title="Proposta Perdida" ><i class="fa fa-thumbs-down"></i></a>
				
			
						</td>
					</tr>
					{% empty %}
					{% endfor %}
			</tbody>
		</table>
	</div>
{% endfor %}
		
