{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load bootstrap %}
{% load thumbnail %}


<title>{%block title %}{{block.super}} - Comercial - Configurar Impressão de Proposta{% endblock %}</title>

{% block content %}

<div>

	<!-- Nav tabs -->
	<h1>
		{{proposta.documento_gerado}}
		<small>Versão: {{proposta.documento_gerado.versao}}</small>
	</h1>

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#ver" aria-controls="ver" role="tab" data-toggle="tab"><i class="fa fa-eye"></i> Visualizar</a></li>
		<li role="presentation"><a href="#alterar" aria-controls="alterar" role="tab" data-toggle="tab"><i class="fa fa-pencil"></i> Alterar </a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="ver">

			<div class="btn-group">
				<a class="btn btn-primary" href="?imprimir=sim"><i class="fa fa-print"></i> Gerar Impressão</a>
				<!--<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#ModalEnviarPorEmail"><i class="fa fa-envelope"></i> Enviar por Email</button> -->
			</div>


			<!-- Modal -->
			<div class="modal fade" id="ModalEnviarPorEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Enviar por Email</h4>
						</div>
						<div class="modal-body">
							{% csrf_token %}
							{{enviar_proposta_email.as_p}}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
							<button type="submit" class="btn btn-success" form="configurar-form" name="enviar-por-email" id="enviar-por-email" value="enviar-por-email" id="enviar-por-email"><i class="fa fa-envelope"></i> Enviar por Email</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			{% if proposta.documento_gerado %}
			<div id="com-documento-gerado">

				{% for grupo in proposta.documento_gerado.grupodocumento_set.all %}
				<div id="grupo-{{grupo.id}}">

					{% for item in grupo.itemgrupodocumento_set.all %}
					<div id="itemgrupo-{{item.chave_identificadora}}" class="well well-sm">
						<p>
							<span class="label label-info">{{item.titulo_label}}</span>
							{% if item.texto_editavel %}
								<span class="label label-danger"><i class="fa fa-file-text"></i> texto editável</span>
							{% endif %}
							{% if item.imagem_editavel %}
								<span class="label label-warning"><i class="fa fa-file-image-o"></i> imagem editável</span>
							{% endif %}


						</p>


						{% if item.titulo %}
						<h2>{{item.titulo}}</h2>
						{% endif %}
						{% if item.texto %}
						<p>{{item.texto|safe|linebreaks}}</p>
						{% endif %}
						{% if item.imagem %}
						{% thumbnail item.imagem "100x100" format="PNG" as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
						{% endthumbnail %}
						{% endif %}
						{% if item.quebra_pagina %}
						<hr />
						<small>Quebra de página</small>
						{% endif %}
					</div>
					{% endfor %}

				</div>
				{% endfor %}

			</div>
			{% else %}
			<div id="sem-documento-gerado">
				<h2>Escolha um Modelo de Proposta</h2>
				<ul>
					{% for modelo in modelos_proposta %}
					<li>{{modelo.nome}} <a href="" class="btn btn-success">importar dados</a> <a href="{% url "comercial:proposta_comercial_imprimir_gerar_documento" proposta.id modelo.id %}" class="btn btn-info">criar documento zerado</a></li>
					{% endfor %}
				</ul>

			</div>
			{% endif %}
		</div>
		<div role="tabpanel" class="tab-pane" id="alterar">
			<form method="post" id="form_textos_editaveis" enctype="multipart/form-data">
				{{ form_textos_editaveis.management_form }}
				<p><button type="submit" class="btn btn-danger" form="form_textos_editaveis" name="alterar-proposta" value="sim">Salvar</button> </p>
				{% for form in form_textos_editaveis %}
					<div class="well well-sm">
						{{form.id}}
					{% if form.instance.imagem_editavel %}
							{{form.imagem|bootstrap}}
					{% endif %}
					{% if form.instance.texto_editavel %}
						{{form.texto|bootstrap}}
					{% endif %}
					</div>

				{% endfor %}
				{% csrf_token %}
			</form>

		</div>
	</div>

</div>




{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script>tinymce.init({
		selector:'textarea',
		menubar: false,
		toolbar1: 'bold  italic',
		statusbar: true,
		height : 250,

});</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cep.min.js"></script>
<script>
	$(document).ready(function() {

		$("#menu-comercial-propostas-minhas, #top-menu-comercial").addClass("active");
	});





</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}