/* Landscape phone to portrait tablet */
@media (min-width: 480px) {
    #main-content{
      padding-top: 60px;  
    } 
}

.sidebar-nav {
  padding: 9px 0;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}