{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Estoque{% endblock %}</title>

{% block content %}

<h1><i class="icon-th"></i> <i class="icon-shopping-cart"></i> <i class="icon-barcode"></i> Etiquetas Selecionadas</h1>
<h2>Com as Etiquetas Selecionadas:</h2>


<h2>Configurar a Impressão:</h2>

{% if todos %}
Todos os produtos
{% endif %}

<a href="">Gerar Arquivo</a>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-estoque-etiquetas, #top-menu-estoque").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/estoque/estoque-menu.html" %}
{% endblock%}