<div class="well sidebar-nav">
  <ul class="nav nav-list">

    <li class="nav-header"><i class="fa  fa-shopping-cart fa-2x"></i> Estoque</li>

    <li id="menu-estoque-home"><a href="{% url "estoque:home" %}"><i class="fa fa-th"></i> Início</a></li>

    <li id="menu-estoque-etiquetas"><a href="{% url "estoque:etiquetas" %}"><i class="fa fa-barcode"></i> Etiquetas</a></li>

    <li id="menu-estoque-importacao"><a href="{% url "estoque:importacao_ver" %}"><i class="fa fa-arrow-left"></i> Importação</a></li>
	
	    <li id="menu-estoque-lista-materiais"><a href="{% url "estoque:listas_materiais_ver" %}"><i class="fa fa-arrow-left"></i> Lista de Materiais</a></li>


    
  </ul>
</div><!--/.well -->
