{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Estoque{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-arrow-left"></i>  Importação de Estoque</h1>

<div class="tabbable"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Disponíveis</a></li>
		<li><a href="#tab2" data-toggle="tab">Já Importados</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
      
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#ID</th>
						<th>Enviado Em</th>
						<th>Enviado Por</th>
						<th>Apagar</th>
					</tr>
				</thead>
				<tbody>
					{% for arquivo in disponiveis %}
					<tr>
						<td>{{arquivo.id}} (<a href="{{arquivo.arquivo.url}}">arquivo</a>)</td>
						<td>{{arquivo.criado|date:"SHORT_DATETIME_FORMAT"}}</td>
						<td>{{arquivo.enviado_por}}</td>
						<td><a href="{% url "estoque:importacao_apagar_arquivo" arquivo.id %}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a></td>
					</tr>
					{% empty %}
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
	  
		</div>
		<div class="tab-pane" id="tab2">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#ID</th>
						<th>Enviado Em</th>
						<th>Enviado Por</th>
						<th>Importado Em</th>
					</tr>
				</thead>
				<tbody>
					{% for arquivo in importados %}
					<tr>
						<td>{{arquivo.id}} (<a href="{{arquivo.arquivo.url}}">arquivo</a>)</td>
						<td>{{arquivo.criado|date:"SHORT_DATETIME_FORMAT"}}</td>
						<td>{{arquivo.enviado_por}}</td>
						<td>{{arquivo.importado_em|date:"SHORT_DATETIME_FORMAT"}}</td>
					</tr>
					{% empty %}
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="">

		<div class="span6">
			{% if not disponiveis %}
			<div class="well well-small">
				<h2>Enviar novo Arquivo para Importação</h2>
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{form.as_p}}
					<button type="submit" class="btn btn-primary">Enviar</button>
				</form>
			</div>
			{% endif %}
		</div>

		<div class="span6">
			{% if disponiveis %}
				<a href="{% url "estoque:importacao_importar" %}" class="btn btn-primary"><i class="fa fa-arrow-right fa-1x"></i> importar</a>
				<br />
				<small>Antenção: Esse processo pode ser demorado.</small>
			{% endif %}
		</div>
	

	</div>
	
	
</div>



{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-estoque-importacao, #top-menu-estoque").addClass("active");
	$(".select2-multiple").select2({
	});
});
</script>
<script type="text/javascript" src="/static/js/select2.js"></script>
<link href="/static/css/select2.css" type="text/css" media="screen" rel="stylesheet" />
{% endaddtoblock %}
{% include "frontend/estoque/estoque-menu.html" %}
{% endblock%}