{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Estoque{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-shopping-cart"></i> <i class="fa fa-barcode"></i> Etiquetas</h1>
<h2>Selecionar</h2>
<p>
    <form action="{% url "estoque:etiquetas_gerar" %}">
    <button class="btn btn-primary">Selecionar todos</button>
    </form>
</p>
<h3>Buscar Produtos</h3>
<form method="get" action="{%url "estoque:etiquetas_gerar" %}">
{{form.as_p}}

<h4>Configurar Impressão</h4>
<p><input type="checkbox" name="show_border" id="show_border" value="1"> <label for="show_border">Mostrar bordas</label></p>

<p><input type="text" name="pular_espacos" id="pular_espacos" value="0"> <label for="pular_espacos">Pular Espaços</label></p>

<h6>Modelo</h6>
<select name="formato">
{% for formato in formatos %}
    <option value="{{formato.0}}">#{{formato.0}} - {{formato.1}}</option>
{% endfor %}
</select>

<button type="submit">Enviar</button>
</form>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-estoque-etiquetas, #top-menu-estoque").addClass("active");
    $(".select2-multiple").select2({
    });
});
</script>
<script type="text/javascript" src="/static/js/select2.js"></script>
<link href="/static/css/select2.css" type="text/css" media="screen" rel="stylesheet" />
{% endaddtoblock %}
{% include "frontend/estoque/estoque-menu.html" %}
{% endblock%}