<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Informações do Pagamento</h3>
</div>
<div class="modal-body">
    <form method="POST" id="form-informacoes-pagamento" action="{% url "financeiro:ajax_lancamento_informacao_pagamento" lancamento.id %}">
        {% csrf_token %}
        <textarea name="informacoes-pagamento">{{lancamento.informacoes_pagamento}}</textarea>
		  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
  <button form="form-informacoes-pagamento" class="btn btn-primary" id="btn-submit-info-pagamento" type="submit" ><i class="icon-info"> </i>Informações do Pagamentos</button>

</div>
