<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Comentários do Lançamneto #{{lancamento.id}}</h3>
</div>
<div class="modal-body">
    {% for comentario in lancamento.observacaolancamento_set.all %}
    <div class="well well-small">
        <div class="row-fluid">
                
          <div class="span5">
                  <strong><i class="icon-user"></i> Funcionário</strong>: {{comentario.criado_por.funcionario}}<br />
                  <strong><i class="icon-calendar"></i>  Data</strong>: {{comentario.criado|date:"SHORT_DATETIME_FORMAT"}}
                    
              </div>
          <div class="span7">
                  <i class="icon-comment"></i> {{comentario.texto}}
              </div>

        </div>
    </div>
    {% endfor %}
</div>
<div class="modal-footer">
  <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
</div>
