<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><i class="icon icon-briefcase icon-3x"></i> Comercial</li>
    <li id="menu-comercial-home"><a href="{% url "comercial:home" %}"><i class="icon-th"></i> Início</a></li>
    
    <li id="menu-comercial-adicionar-solicitacao"><a href="{% url "comercial:solicitacao_adicionar" %}"><i class="icon-bell"></i> Adicionar Solicitação</a></li>
    <li id="menu-comercial-propostas-minhas"><a href="{% url "comercial:propostas_comerciais_minhas" %}"><i class="icon-file-alt"></i> Minhas Propostas</a></li>
    
  </ul>
</div><!--/.well -->
