{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial - Gerencia: Comissões{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-ticket"></i> Gerência: Comissões</h1>

<p><a class="btn btn-primary" href="{% url "comercial:gerencia_comissoes_novo_fechamento" %}">Novo Fechamento</a></p>
<h2>Fechamentos com Lançamentos Não Pagos </h2>
{% if fechamentos_com_lancamentos_abertos %}

{{fechamentos_com_lancamentos_abertos}}
{% else %}

<em><small>Nenhum A Exibir</small></em>
{% endif %}

<h2>Fechamento sem Lançamentos</h2>
{% if fechamentos_sem_lancamentos %}
<ul>
{% for fechamento in fechamentos_sem_lancamentos %}
	<li>#{{fechamento.id}} - <strong>Comissionado</strong>: {{fechamento.comissionado}} - <strong>Total</strong>: R$ {{fechamento.valor_total|floatformat:2}}, <strong>Comissão</strong>: R$ {{fechamento.comissao_calculada|floatformat:2}} ({{fechamento.comissao_tabelada}}%)</li>
{% endfor %}
</ul>
{% else %}
<em><small>Nenhum A Exibir</small></em>
{% endif %}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-comercial-gerencia-comissoes, #top-menu-comercial").addClass("active");
});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}