{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial - Meus Contratos{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-book"></i> Meus Contratos</h1>

{% regroup meus_contratos by get_status_display as meus_contratos_por_status %}
{% for lista in meus_contratos_por_status %}
<h4>{{lista.grouper}}</h4>
<ul>
{% for contrato in lista.list %}
	<li>{{contrato}}</li>
{% endfor %}
</ul>

{% endfor %}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-comercial-meus-contratos, #top-menu-comercial").addClass("active");
});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}