{% extends "frontend/base.html" %}
{% load sekizai_tags %}
{% block content %}
<title>{%block title %}{{block.super}} - Comercial -> Imprimir Orçamento{% endblock %}</title>
<div class="container">
<div class="row-fluid">
	<div class="span4">
		<img src="{{logo_empresa}}">
		<h1>Proposta #{{orcamento.proposta.id}}</h1>
	</div>
	<div class="span8">
		<h2>Orçamento (#{{orcamento.id}}): {{orcamento.descricao}}</h2>
		<h3>{% if orcamento.proposta.precliente %}{{orcamento.proposta.precliente}}{% else %}{{orcamento.proposta.cliente}}{% endif %}</h3>
	</div>
</div>
	
	<h4>Recurso Material</h4>
	<table class="table table-condensed table-bordered table-rounded">
		<thead>
			<tr>
				<th>ID</th>
				<th>Produto</th>
				<th>Und</th>
				<th>QTD</th>
				<th>Valor Unit</th>
				<th>Total</th>
			</tr>
		</thead>
		</tbody>
		{% for linha in orcamento.linharecursomaterial_set.all %}
			<tr>
				<td>{{linha.produto.codigo}}</td>
				<td>{{linha.produto.nome}}</td>
				<td>{{linha.produto.unidade}}</td>
				<td>{{linha.quantidade}}</td>
				<td>R$ {{linha.custo_unitario}}</td>
				<td>R$ {{linha.custo_total}}</td>
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><strong>R$ {{orcamento.custo_total}}</strong></td>
		</tr>
		</tbody>
	</table>

	<h4>Recurso Humano</h4>
	<table class="table table-condensed table-bordered table-rounded">
		<thead>
			<tr>
				<th>Cargo</th>
				<th>Valor/H</th>
				<th>Quantidade</th>
				<th>Total</th>
			</tr>
		</thead>
		</tbody>
		{% for linha in orcamento.linharecursohumano_set.all %}
			<tr>
				<td>{{linha.cargo.nome}}</td>
				<td>{{linha.cargo.fracao_hora_referencia}}</td>
				<td>{{linha.quantidade}}</td>
				<td>R$ {{linha.custo_total}}</td>
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><strong>R$ {{orcamento.custo_total}}</strong></td>
		</tr>
		</tbody>
	</table>
	
</div>

	

	
</div>
	

	
	

{% endblock %}