{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}

<h1><i class="icon-th"></i> <i class="icon-briefcase"></i> <i class="icon-file-alt"></i> Adicionar Proposta Comercial</h1>

{% if request.user.perfilacessocomercial.gerente %}
<h4>Como Gerente</h4>
{% endif %}

<h3>Pré Cliente: {{precliente}}</h3>
<form method="post">
    {% csrf_token %}
{{form.as_p}}
<button type="submit" class="btn btn-primary">Enviar</button>
</form>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>

<script>
$(document).ready(function() {
$("#menu-comercial-home, #top-menu-comercial").addClass("active");
});
$( ".datepicker" ).datepicker({
	inline: true,
      dateFormat: "dd/mm/yy"
});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}