{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial - Meus Contratos{% endblock %}</title>

{% block content %}

{# PARA FUNCIONARIOS NORMAIS #}

{% if not request.user.perfilacessocomercial.gerente %}

<h1><i class="fa fa-th"></i> <i class="fa fa-book"></i> Meus Contratos</h1>
{% regroup meus_contratos by get_status_display as meus_contratos_por_status %}
{% for lista in meus_contratos_por_status %}
<h4>{{lista.grouper}}</h4>
<ul>
{% for contrato in lista.list %}
	{% if contrato.status == "invalido" %}
	<li> 
		<a href="{% url "comercial:contratos_meus_revalidar" contrato.id %}">{{contrato}}</a>
	</li>
	{% else %}
		{% if contrato.status == "assinatura" %}
		<li> 
			{{contrato}} - <a href="{% url "comercial:contratos_gerar_impressao" contrato.id %}" class="btn btn-info">Gerar Contrato para impressão</a> <a href="{% url "comercial:contratos_meus_definir_assinado" contrato.id %}" class="btn btn-success">Marcar como assinado</a>
		</li>
		{% else %}
		<li> 
			{{contrato}}
		</li>
		
		{% endif %}
	{% endif %}
{% endfor %}
</ul>
{% endfor %}

{% else %}

{# PARA FUNCIONARIOS GERENTES #}


<h1><i class="fa fa-th"></i> <i class="fa fa-book"></i> Meus Contratos</h1>
{% regroup meus_contratos by responsavel as meus_contratos_por_responsavel %}
{% for lista in meus_contratos_por_responsavel %}
<h4>{{lista.grouper}}</h4>
<ul>
{% for contrato in lista.list %}
	{% if contrato.status == "invalido" %}
	<li> 
		<span class="badge badge-important">{{contrato.get_status_display}}</span> <a href="{% url "comercial:contratos_meus_revalidar" contrato.id %}">{{contrato}}</a>
	</li>
	{% else %}
		{% if contrato.status == "assinatura" %}
		<li> 
			<span class="badge">{{contrato.get_status_display}}</span> {{contrato}} - <a href="{% url "comercial:contratos_gerar_impressao" contrato.id %}" class="btn btn-info">Gerar Contrato para impressão</a> <a href="{% url "comercial:contratos_meus_definir_assinado" contrato.id %}" class="btn btn-success">Marcar como assinado</a>
		</li>
		{% else %}
		<li> 
			<span class="badge">{{contrato.get_status_display}}</span> {{contrato}}
		</li>
		
		{% endif %}
	{% endif %}
{% endfor %}
</ul>
{% endfor %}



{% endif %}





{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-comercial-meus-contratos, #top-menu-comercial").addClass("active");
});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}