{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> <i class="fa fa-file-alt"></i> Propostas Comerciais</h1>


<ul class="nav nav-tabs normargin" id="navtab-propostas-minhas">
    <li class="active"><a href="#propostas-abertas-validas" class="ajaxtab" data-toggle="tab"><span class="badge badge-success">{{propostas_abertas_validas.count}}</span> Válidas</a></li>
	<li> <a href="#propostas-abertas-expiradas" data-toggle="tab">Expiradas <span class="badge badge-important">{{propostas_abertas_expiradas.count}}</span></a></li>
</ul>

<div id="tab-content-comercial-clientes" class="tab-content">

	<div class="tab-pane fade in active" id="propostas-abertas-validas">
	
	
		{% if request.user.perfilacessocomercial.gerente %}
		<div class="well well-small">
			<div class="row-fluid">
			<div class="span4">
				<h4>Como Gerente</h4>
			</div>
			
			<div class="span8">
				<strong>Consultores com Propostas Válidas:</strong>
				<select id="filtro-designado-validas">
					<option value="todos">Todos</option>
				{% for designado in designados_propostas_validas %}
					<option value="{{designado.0}}">{{designado.1}}</option>
				{% endfor %}
				</select>
				
			</div>
		</div>
		</div>
		{% endif %}
	
	

		
		
		{% regroup propostas_abertas_validas by dono as propostas_abertas_validas_por_cliente %}
		
		{% for proposta_list in propostas_abertas_validas_por_cliente %}
		<div class="dono-proposta-valida-group">
			<p>
			{% if proposta_list.list.0.cliente %}

				{% include "frontend/comercial/botao-cliente.html" with cliente=proposta_list.grouper %}
			{% else %}
				{% include "frontend/comercial/botao-precliente.html" with precliente=proposta_list.list.0.precliente %}
			{% endif %}
			</p>
		
		<table class="table table-condensed table.stripped">
			<thread>
					<tr>
						<th class="alert alert-success">ID</th>
						<th>Expiração</th>
						<th>Valor</th>
						<th>Probabilidade</th>
						<th>Follow Up</th>
						<th>Descrição</th>
						<th>Ações</th>
					</tr>
			</thead>
			{% for proposta in proposta_list.list %}
			<tr class="propostas-validas {% if proposta.designado %}propostas-validas-{{proposta.designado.id}}{% else %}propostas-validas-None{% endif %}">
				<td class="alert alert-success"><h6>#{{proposta.id}}</h6></td>
				<td><span class="label label-success"> {{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}</span><Br />
        <small>{{proposta.data_expiracao|timeuntil}}</small></td>
				<td>R$ {{proposta.valor_proposto|floatformat:2}}</td>
				<td>
					<div class="progress progress-striped active" style="width:100%px;">
						<div class="bar" style="width: {{proposta.probabilidade}}%;">
							<strong>{{proposta.probabilidade}}%</strong>
						</div>
					</div>
				</td>
				<td>
					{% if proposta.ultimo_followup %}
					<a href="#modal-follow-up-exibir"
						role="button" 
						data-toggle="modal"
						data-exibir-modal-title="Follow Ups da Proposta #{{proposta.id}}"
						data-follow-ups="
						
						{% for fup in proposta.followupdepropostacomercial_set.all %}
							<strong>{{fup.criado_por.funcionario}}</strong>: {{fup.texto}} <small class='badge badge-warning'>{{fup.probabilidade}}%</small>
							<small class='badge badge-info'>{{fup.data|date:"SHORT_DATE_FORMAT"}} (há {{fup.data|timesince}})</small> {% if fup.reagenda_data_expiracao %}<br /><small class='badge badge-important'>Nova Expiração: {{fup.data|date:"SHORT_DATE_FORMAT"}} </small>{% endif %}
							<hr />
						{% endfor %}
						"
						class="btn popover_item carregar_follow_ups_modal"
						data-toggle="popover"
						data-title="<b>Follow Up <small>(há {{proposta.ultimo_followup.data|timesince}})</small></b>" data-html=True data-content="<strong>{{proposta.ultimo_followup.criado_por.funcionario}}</strong> : {{proposta.ultimo_followup.texto}}<br />
						<p class='alert alert-info'>{{proposta.ultimo_followup.data|date:"SHORT_DATETIME_FORMAT"}} </p>
						">
						{{proposta.followupdepropostacomercial_set.count}}
					</a> <i class="fa fa-exchange"></i>
					{%endif %}
					<!-- Button to trigger modal de follow up -->
					<a href="#modal-follow-up-add" data-proposta-id="{{proposta.id}}" data-probabilidade={{proposta.probabilidade}} data-nova-data-reagendamento={{proposta.sugere_data_reagendamento_expiracao|date:"SHORT_DATE_FORMAT"}} data-title="Cliente: {{proposta.cliente.nome}}. Valor: R$ {{proposta.valor_proposto|floatformat:2}}. Expira: {{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}" data-action-url="{% url "comercial:adicionar_follow_up" proposta.id %}" role="button" class="btn btn-modal-add-follow-up" data-toggle="modal"><i class="fa fa-plus"></i></a>
				</td>
				<td>{{proposta.observacoes}}</td>
						<td>
							<div class="btn-group">
	        <a href="{% url "comercial:editar_proposta_converter" proposta.id %}" class="btn btn-success"><i class="fa fa-thumbs-up"></i></a>
	        <a href="{% url "comercial:editar_proposta_fechar" proposta.id %}" class="btn btn-danger"><i class="fa fa-thumbs-down"></i></a>
	        <a href="{% url "comercial:editar_proposta" proposta.id %}" class="btn btn-warning"><i class="fa fa-dollar"></i></a>
	        <a href="{% url "comercial:proposta_comercial_imprimir" proposta.id %}" class="btn "><i class="fa fa-print"></i></a>
						</div>
				</td>
			</tr>
   		 	{% empty %}
			{% endfor %}
		</table>
		</div>
		{% endfor %}

	</div>
	
	<div class="tab-pane fade in" id="propostas-abertas-expiradas">

		{% if request.user.perfilacessocomercial.gerente %}
		<div class="well well-small">
			<div class="row-fluid">
			<div class="span4">
				<h4>Como Gerente</h4>
			</div>
			
			<div class="span8">
				<strong>Consultores com Propostas Expiradas:</strong>
				<select id="filtro-designado-expiradas">
					<option value="todos">Todos</option>
				{% for designado in designados_propostas_expiradas %}
					<option value="{{designado.0}}">{{designado.1}}</option>
				{% endfor %}
				</select>
				
			</div>
		</div>
		</div>
		{% endif %}

		{% regroup propostas_abertas_expiradas by dono as propostas_expiradas_por_cliente %}
		
		{% for proposta_list in propostas_expiradas_por_cliente %}
			<p>
			{% if proposta_list.list.0.cliente %}

				{% include "frontend/comercial/botao-cliente.html" with cliente=proposta_list.grouper %}
			{% else %}
				{% include "frontend/comercial/botao-precliente.html" with precliente=proposta_list.list.0.precliente %}
			{% endif %}
			</p>

		
		<table class="table table-condensed table.stripped table-expirada">
			<thread>
					<tr>
						<th class="alert alert-danger">ID</th>
						<th>Expiração</th>
						<th>Valor</th>
						<th>Probabilidade</th>
						<th>Follow Up</th>
						<th>Descrição</th>
						<th>Ações</th>
					</tr>
			</thead>
			<tbody>
				{% for proposta in proposta_list.list %}
				<tr class="propostas-expiradas {% if proposta.designado %}propostas-expiradas-{{proposta.designado.id}}{% else %}propostas-expiradas-None{% endif %}">
				<td class="alert alert-danger"><h6>#{{proposta.id}}</h6></td>
				<td><span class="label label-important"> {{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}</span><Br />
        <small>{{proposta.data_expiracao|timesince}}</small></td>
				<td>R$ {{proposta.valor_proposto|floatformat:2}}</td>
				<td>
					<div class="progress progress-striped active" style="width:100%px;">
						<div class="bar" style="width: {{proposta.probabilidade}}%;">
							<strong>{{proposta.probabilidade}}%</strong>
						</div>
					</div>
				</td>
				<td>
					{% if proposta.ultimo_followup %}
					<a href="#modal-follow-up-exibir"
						role="button" 
						data-toggle="modal"
						data-exibir-modal-title="Follow Ups da Proposta #{{proposta.id}}"
						data-follow-ups="
						
						{% for fup in proposta.followupdepropostacomercial_set.all %}
							<strong>{{fup.criado_por.funcionario}}</strong>: {{fup.texto}} <small class='badge badge-warning'>{{fup.probabilidade}}%</small>
							<small class='badge badge-info'>{{fup.data|date:"SHORT_DATE_FORMAT"}} (há {{fup.data|timesince}})</small> {% if fup.reagenda_data_expiracao %}<br /><small class='badge badge-important'>Nova Expiração: {{fup.data|date:"SHORT_DATE_FORMAT"}} </small>{% endif %}
							<hr />
						{% endfor %}
						"
						class="btn popover_item carregar_follow_ups_modal"
						data-toggle="popover"
						data-title="<b>Follow Up <small>(há {{proposta.ultimo_followup.data|timesince}})</small></b>" data-html=True data-content="<strong>{{proposta.ultimo_followup.criado_por.funcionario}}</strong> : {{proposta.ultimo_followup.texto}}<br />
						<p class='alert alert-info'>{{proposta.ultimo_followup.data|date:"SHORT_DATETIME_FORMAT"}} </p>
						">
						{{proposta.followupdepropostacomercial_set.count}}
					</a> <i class="fa fa-exchange"></i>
					{%endif %}
					{% if request.user.perfilacessocomercial.gerente %}
					<!-- Button to trigger modal de follow up -->
					<a href="#modal-follow-up-add" data-proposta-id="{{proposta.id}}" data-probabilidade="{{proposta.probabilidade}}" data-action-url="{% url "comercial:adicionar_follow_up" proposta.id %}" data-nova-data-reagendamento={{proposta.sugere_data_reagendamento_expiracao|date:"SHORT_DATE_FORMAT"}} data-title="Cliente: {{proposta.cliente.nome}}. Valor: R$ {{proposta.valor_proposto|floatformat:2}}. Expira: {{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}" role="button" class="btn btn-modal-add-follow-up" data-toggle="modal"><i class="fa fa-plus"></i></a>
					{% else %}
					<small><i>solicite ao gerente</i></small>
					{% endif %}
				</td>
				<td>{{proposta.observacoes}}</td>
				<td>
					{% if request.user.perfilacessocomercial.gerente %}
						<div class="btn-group">
    <a href="{% url "comercial:editar_proposta_converter" proposta.id %}" class="btn btn-success"><i class="fa fa-thumbs-up"></i></a>
    <a href="{% url "comercial:editar_proposta_fechar" proposta.id %}" class="btn btn-danger"><i class="fa fa-thumbs-down"></i></a>
    <a href="{% url "comercial:editar_proposta" proposta.id %}" class="btn btn-warning"><i class="fa fa-dollar"></i></a>
    <a href="{% url "comercial:proposta_comercial_imprimir" proposta.id %}" class="btn "><i class="fa fa-print"></i></a>
				</div>
					{% else %}
							<small><i>solicite ao gerente</i></small>
					{% endif %}
				
				</td>
			</tr>
				{% empty %}
				{% endfor %}
			</tbody>
		</table>
		{% endfor %}
		
	</div>
</div>


<!-- Modal Adiciona FollowUp -->
<div id="modal-follow-up-add" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Adicionar Follow Up</h3>
  </div>
  <div class="modal-body">
		<p class="alert alert-info" id="descricao-modal-add-follow-up"></p>
		<form method="POST" id="form-adicionar-follow-up" action="">
			{% csrf_token %}
			{{form_adicionar_follow_up.proposta}}
			<table>
				<tr>
					<td>
						{{form_adicionar_follow_up.texto.label}}
						{{form_adicionar_follow_up.texto}}
						{{form_adicionar_follow_up.texto.errors}}
					</td>
					<td>
						{{form_adicionar_follow_up.probabilidade.label}}
						{{form_adicionar_follow_up.probabilidade}}
						{{form_adicionar_follow_up.probabilidade.errors}}
						<br />
						{{form_adicionar_follow_up.reagenda_data_expiracao.label}}
						{{form_adicionar_follow_up.reagenda_data_expiracao}}
						{{form_adicionar_follow_up.reagenda_data_expiracao.errors}}						
						<br />
						<div id="data-expiracao-modal-container">
						{{form_adicionar_follow_up.data_expiracao.label}}
						{{form_adicionar_follow_up.data_expiracao}}
						{{form_adicionar_follow_up.data_expiracao.errors}}						
						</div>
					</td>
				</tr>
			</table>
		</form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
    <button class="btn btn-primary" form="form-adicionar-follow-up" id="btn-adicionar-follow-up"><i class="fa fa-plus"></i> Adicionar Follow Up</button>
  </div>
</div>

<!-- Modal Exibe FollowUps -->
<div id="modal-follow-up-exibir" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalExibirFollowUpsLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="ModalExibirFollowUpsLabel"></h3>
  </div>
  <div class="modal-body" id="ModalExibirFollowUpsBody">
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
  </div>
</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}

<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>


<script>

$( ".datepicker" ).datepicker({
	inline: true,
      dateFormat: "dd/mm/yy"
});


$('#id_texto').on("keyup change", function(){
    if( $.trim($(this).val()) ){
		
    	$("#btn-adicionar-follow-up").show()
    }else{
    	$("#btn-adicionar-follow-up").hide()
    }
});

$(document).ready(function() {
	$("#menu-comercial-propostas-minhas, #top-menu-comercial").addClass("active");
	$('.popover_item').popover({
			trigger: "hover",
			placement: 'top'
	});

    {% if form_adicionar_follow_up.errors %}
		$('#modal-follow-up-add').modal('show');
    {% endif %}	

	$('.popover-items').popover()
});


$('.btn-modal-add-follow-up').click(function(e){
		
		$("#descricao-modal-add-follow-up").html( $(this).data('title') );
		$("#id_proposta").val($(this).data('proposta-id'));
		$("#id_texto").val('');
		$("#id_probabilidade").val($(this).data('probabilidade'));
		$("#id_data_expiracao").val($(this).data('nova-data-reagendamento'));
		$("#btn-adicionar-follow-up").hide();			
	    $("#data-expiracao-modal-container").hide();
		$("#modal-follow-up-add .errorlist").hide();
		$("#id_reagenda_data_expiracao").attr('checked', false);	
		$("#form-adicionar-follow-up").attr('action', $(this).data('action-url'))
});
	
$('.carregar_follow_ups_modal').click(function(e){
		$("#ModalExibirFollowUpsLabel").html($(this).data('exibir-modal-title'));
		$("#ModalExibirFollowUpsBody").html($(this).data('follow-ups'))
});

$("#id_reagenda_data_expiracao").on("change", function(e){
	if($(this).is(':checked'))
	    $("#data-expiracao-modal-container").show();  // checked
	else
	    $("#data-expiracao-modal-container").hide();
})

$("#filtro-designado-validas").on("change", function(e){
	$(".dono-proposta-valida-group").show();
	if ($(this).val() == "todos"){
		
		$(".propostas-validas").show();
	}else{
		$(".propostas-validas").hide();
		$(".propostas-validas-" + $(this).val()).show();
		$(".dono-proposta-valida-group").each(function(){
			if($(this).find("tr:visible.propostas-validas").length == 0){
				$(this).hide();
			}
		})
		
	}
	
});

$("#filtro-designado-expiradas").on("change", function(e){

	if ($(this).val() == "todos"){
		$(".propostas-expiradas").show();
	}else{
		$(".propostas-expiradas").hide();
		$(".propostas-expiradas-" + $(this).val()).show();
	}
			
});






// Javascript to enable link to tab
var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
} 

// Change hash for page-reload
$('.nav-tabs a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});

$('#navtab-propostas-minhas').on("click", 'ul.nav.nav-tabs li a', function(e){
	e.preventDefault();	
	var href = this.hash;
	window.location.hash = href.replace("#", "#" + "tab_");
	var pane = $(this);
	pane.tab('show');		
})

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}