{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial - Gerencia: Análises de Contrato{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-search-plus"></i> Análises de Contrato</h1>
	{% regroup contratos_em_analise by responsavel as contratos_em_analise_por_responsavel %}
	
	
{% for lista in contratos_em_analise_por_responsavel %}
	<h3>{{lista.grouper}}</h3>
	{% for contrato in lista.list %}
	<div class="well well-small"><a href="{% url "comercial:analise_de_contratos_analisar" contrato.id %}">{{contrato}}. Responsável: {{contrato.responsavel}}, Comissionado: {{contrato.responsavel_comissionado}}. <span class="label label-info">Criado em: {{contrato.criado|date:"SHORT_DATETIME_FORMAT"}}</span></a></div>
	{% endfor %}
{% endfor %}


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-comercial-analise-de-contratos, #top-menu-comercial").addClass("active");
});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}