{% extends "frontend/base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Comercial - Contrato{% endblock %}</title>

{% block content %}
<div class="container">
	<div class="row-fluid">
		<div class="span9">
		    {% if logo_empresa %}
			<img src="{{logo_empresa}}">
		    {% endif %}
			
		</div>
		
		<div class="span3">
			<h3>Contrato #{{contrato.id}}</h3>
		</div>
		
	</div>
	
	<h1 class="text-center">Contrato de Prestação de Serviços <small>(originado da proposta #{{contrato.propostacomercial.id}})</small></h1>
	
	<p>
		<strong>Contratante</strong>: {{contrato.cliente}}<br />

		{% if contrato.cliente.cnpj %}
		<strong>CNPJ</strong>: {{contrato.cliente.cnpj}}<Br />
		{% endif %}


		{% if contrato.cliente.inscricao_estadual %}
		<strong>Inscrição Estadual</strong>: {{contrato.cliente.inscricao_estadual}}<Br />
		{% endif %}
		
		
		{% if contrato.cliente.cpf %}
		<strong>CPF</strong>: {{contrato.cliente.cpf}}<Br />
		{% endif %}
		
		{% if contrato.cliente.rg %}
		<strong>RG</strong>: {{contrato.cliente.rg}}<Br />
		{% endif %}
		
		{% if contrato.propostacomercial.endereco_obra_proposto %}
			<strong>Endereço</strong>: {{proposta.endereco_obra_proposto}} <br />		
		{% endif %}
		
		{% if contrato.propostacomercial.representante_legal_proposto %}
		<strong>por seu representante</strong> {{contrato.propostacomercial.representante_legal_proposto}}, <strong>Documento</strong>: {{contrato.propostacomercial.documento_do_proposto}}, <strong>Contato Telefônico</strong>: {{contrato.propostacomercial.telefone_contato_proposto}}, <strong>Email</strong>: {{contrato.propostacomercial.email_proposto}}
		{% endif %}
		
		
		<p>
			<strong>CONTRATADA</strong>: {{texto_contratada}}
		</p>


		<h2>CLÁSULA 1ª – DO OBJETO</h2>
		<p>{{contrato.objeto}}</p>
		
		<h2>CLÁUSULA 2ª - NORMAS DE EXECUÇÃO</h2>
		<p>
			<strong>Parágrafo primeiro</strong> – A conferência do material descrito na cláusula 1ª é de responsabilidade da Contratante, a qual deverá verificar o material no ato da entrega pela contratada. E será de responsabilidade da Contratada a aplicação dos mesmos.
		</p>

		<p>
			<strong>Parágrafo segundo</strong> – Os atrasos que por ventura vierem a ocorrer por culpa exclusiva da Contratante, os quais comprometerem o andamento dos trabalhos poderá causar, dias sem produção da equipe da {{nome_empresa}}, fato que gerará custos adicionais à proposta. Tais gastos serão analisados e comprovados caso a caso.
		</p>
		<p>
			<strong>Parágrafo terceiro</strong> – A Contratante deverá disponibilizar local seguro para acomodação e guarda dos materiais que serão utilizados na obra.
		</p>
		
		<h2>CLÁUSULA 3ª – DO VALOR E FORMA DE PAGAMENTO</h2>
		
		<h5>Valor Total do Contrato R${{contrato.valor}}</h5>
		
		{% for lancamento in contrato.lancamentofinanceiroreceber_set.all %}
			<div class="well well-small">
				<strong>Parcela {{lancamento.peso}}</strong> - R${{lancamento.valor_cobrado}} em {{lancamento.data_cobranca|date:"SHORT_DATE_FORMAT"}} sob a forma de {{lancamento.get_modo_recebido_display}}
			</div>
		{% endfor %}

		<small>{{texto_juros_valor_contrato}}</small>

	<h2>CLÁUSULA 4ª – DOS PRAZOS</h2>
	{{texto_contrato_dos_prazos|safe}}
	
	<h2>CLÁUSULA 5ª – DA RESCISÃO</h2>
	{{texto_contrato_rescisao|safe}}
	
	<h2>CLÁUSULA 6ª – DA GARANTIA</h2>
	{{contrato.propostacomercial.garantia_proposto}}
	
	
	<h2>CLÁUSULA 7ª – DO FORO</h2>
	{{texto_contrato_foro|safe}}
	
	<p>Por estarem de pleno acordo em tudo o que se encontra disposto neste contrato particular, assinam o presente em duas vias de igual teor.</p>
	
	
</div>

{% endblock %}

