{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> <i class="fa fa-file-alt"></i> Consulta Tabela de Preços</h1>

<form method="POST" class="form form-search">
{% csrf_token %}
	<div class="input-append">
	{{form_filtra_tabela}}
	<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
	</div>
</form>
{% if produtos %}
<div id="produtos-encontrados">
	<h2>Total de: {{produtos.count}} encontrados</h2>
	<table class="table table-condensed table-hover table-rounded ">
		<thead>
			<tr>
				<th>Código</th>
				<th>Nome</th>
				<th>Preço de Venda</th>
				<th>Descrição</th>
				<th>Estoque</th>
			</tr>
		</thead>
		<tbody>
			{% for produto in produtos %}
			<tr>
				<td class="alert alert-info"><strong>{{produto.codigo}}</strong></td>
				<td>{{produto.nome}}</td>
				<td class="alert alert-success"><strong>R$ {{produto.preco_consumo}}</strong></td>
				<td>{{produto.descricao}}</td>
				<td class="alert alert-warning">{{produto.quantidade_em_estoque}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
$("#menu-comercial-tabela-de-precos, #top-menu-comercial").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}