{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load phonenumber_br %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}

<div class="row-fluid">
	
	<div class="span6">
		<h1><i class="fa fa-th"></i> <i class="fa fa-user"></i> Ficha do Pré Cliente</h1>
	</div>
	
	<div class="span6">
		<h1>{{precliente.nome}}</h1> 
	</div>

</div>


<ul class="nav nav-tabs">
    <li class="active"><a href="#informacoes-gerais" data-toggle="tab"><i class="fa fa-info"></i> Informações</a></li>

    <li class=""><a href="#propostas" data-toggle="tab"><i class="fa fa-file-o"></i> Propostas <span class="badge badge-warning">{{precliente.propostas_abertas.count}}</span> <span class="badge badge-success">{{precliente.propostas_convertidas.count}}</span> <span class="badge badge-important">{{precliente.propostas_perdidas.count}}</span>
		<span class="badge badge-default">{{precliente.propostas_expiradas.count}}</span>
	</a></li>
	

</ul>

<div id="ficha-funcionario" class="tab-content">
	<p class="text-right btn-group">
	<a href="{% url "comercial:propostas_comerciais_precliente_adicionar" precliente.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> Nova Proposta</a>
    <a class="btn btn-info tooltip-items" data-placement="right" data-toggle="tooltip" title="Converter"  href="{% url "comercial:precliente_converter" precliente.id %}"><i class='fa fa-magic'></i> Converter</a>

	</p>
	
	<div class="tab-pane fade in active" id="informacoes-gerais">
		<strong>Nome:</strong> {{precliente.nome}}<br />
		<strong>Dados:</strong> {{precliente.dados}}<br />
		<strong>Contato:</strong> {{precliente.contato}}<br />
		<strong>Designado:</strong> {{precliente.designado}}<br />
		<hr />
		
		
		<div class="row-fluid">
			
			<div class="span6">
				
				<div class="well well-small">
					<h3>Vincular a Cliente</h3>
					<form method="POST">
					{% csrf_token %}
					{{form_vincular_a_cliente.as_p}}
					<button type="submit" class="btn btn-primary"><i class="fa fa-link"></i>  Vincular</button>
					</form>
				</div>
				
			
			</div>


			<div class="span6">
				
				
				<div class="well well-small">
					<h3>Vincular a Pré Cliente</h3>
					<form method="POST">
					{% csrf_token %}
					{{form_vincular_a_precliente.as_p}}
					<button type="submit" class="btn btn-primary"><i class="fa fa-link"></i> Vincular</button>
					</form>
				</div>
			
			</div>
	
		</div>
		
		
	</div>
		
	
	<div class="tab-pane fade in" id="propostas">
		
		{% with precliente as cliente %}
		{% if cliente.propostas_abertas.count %}
		<h4 class="alert">Propostas Abertas: {{cliente.propostas_abertas.count}}</h4>
		<table class="table table-condensed table.stripped">
			<thread>
					<tr>
						<th class="alert">ID</th>
						<th>Expiração</th>
						<th>Valor</th>
						<th>Probabilidade</th>
						<th>Follow Up</th>
						<th>Ações</th>
					</tr>
			</thead>
			{% for proposta in cliente.propostas_abertas %}
			<tr>
				<td class="alert"><h6>#{{proposta.id}}</h6></td>
				<td><span class="label label-important"> {{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}</span><Br />
        <small>{{proposta.data_expiracao|timeuntil}}</small></td>
				<td>R$ {{proposta.valor_proposto|floatformat:2}}</td>
				<td>
					<div class="progress progress-striped active" style="width:100%px;">
						<div class="bar" style="width: {{proposta.probabilidade}}%;">
							<strong>{{proposta.probabilidade}}%</strong>
						</div>
					</div>
				</td>
				<td>
					{% if proposta.ultimo_followup %}
					<a href="#modal-follow-up-exibir"
						role="button" 
						data-toggle="modal"
						data-exibir-modal-title="Follow Ups da Proposta #{{proposta.id}}"
						data-follow-ups="
						
						{% for fup in proposta.followupdepropostacomercial_set.all %}
							<strong>{{fup.criado_por.funcionario}}</strong>: <i class='fa fa-comment'></i> {{fup.texto}} <small class='badge badge-warning'>{{fup.probabilidade}}%</small>
							<small class='badge badge-info'>{{fup.data|date:"SHORT_DATE_FORMAT"}} (há {{fup.data|timesince}})</small> {% if fup.reagenda_data_expiracao %}<small class='badge badge-important'>Nova Expiração: {{fup.proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}} </small>{% endif %} {% if fup.visita %}<small class='badge badge-success'><i class='fa fa-child'></i> Visita: {{fup.visita_por}} </small>{% endif %}
							<hr />
						{% endfor %}
						"
						class="btn popover_item carregar_follow_ups_modal"
						data-toggle="popover"
						data-title="<b>Follow Up <small>(há {{proposta.ultimo_followup.data|timesince}})</small></b>" data-html=True data-content="<strong>{{proposta.ultimo_followup.criado_por.funcionario}}</strong> : {{proposta.ultimo_followup.texto}}<br />
						<p class='alert alert-info'>{{proposta.ultimo_followup.data|date:"SHORT_DATETIME_FORMAT"}} </p>
						">
						{{proposta.followupdepropostacomercial_set.count}}
					</a> <i class="fa fa-exchange"></i>
					{%endif %}
					
					<!-- Button to trigger modal de follow up -->
					<a href="#modal-follow-up-add" data-proposta-id="{{proposta.id}}" data-probabilidade="{{proposta.probabilidade}}" data-probabilidade="{{proposta.probabilidade}}" 						data-nova-data-reagendamento="{{proposta.sugere_data_reagendamento_expiracao|date:"SHORT_DATE_FORMAT"}}"  data-title="Cliente: {{proposta.precliente.nome}}. Valor: R$ {{proposta.valor_proposto|floatformat:2}}. Criado em {{proposta.criado|date:"SHORT_DATE_FORMAT"}}" data-action-url="{% url "comercial:adicionar_follow_up" proposta.id %}" role="button" class="btn btn-modal-add-follow-up" data-toggle="modal"><i class="fa fa-plus"></i></a>
					
				</td>
						<td>
							<div class="btn-group">
								
								{% if request.user.perfilacessocomercial.gerente or cliente.designado == request.user.funcionario or cliente.designado == None %}
								{# MENU DO GERENTE#}
								
				   							<div class="btn-group">
				   	        <a href="{% url "comercial:editar_proposta_converter" proposta.id %}" class="btn btn-success tooltip-items"
				   			data-placement="top" data-toggle="tooltip" title="Converter Proposta em Contrato"
				   			><i class="fa fa-thumbs-up"></i></a>

				   	        <a href="{% url "comercial:editar_proposta_fechar" proposta.id %}" class="btn btn-danger tooltip-items"
				   			data-placement="top" data-toggle="tooltip" title="Proposta Perdida" ><i class="fa fa-thumbs-down"></i></a>

				   	        <a href="{% url "comercial:editar_proposta" proposta.id %}" class="btn btn-warning tooltip-items"
				   			data-placement="top" data-toggle="tooltip" title="Composição de Preço"
				   			><i class="fa fa-dollar"></i></a>
				   	        <a href="{% url "comercial:proposta_comercial_imprimir" proposta.id %}" class="btn tooltip-items"
				   			data-placement="top" data-toggle="tooltip" title="Configurar Impressão"
				   			><i class="fa fa-print"></i></a>
				   						</div>
								{% else %}
								
								{% endif %}

								
							</div>
			
								

				</td>
			</tr>
   		 	{% empty %}
			{% endfor %}
		</table>
		{% endif %}
		
		{% if cliente.propostas_expiradas.count %}
		<h4 class="well well-small">Propostas Expiradas: {{cliente.propostas_expiradas.count}}</h4>
		<table class="table table-condensed table.stripped">
			<thread>
					<tr>
						<th class="well well-small">ID</th>
						<th>Expiração</th>
						<th>Valor</th>
						<th>Probabilidade</th>
						<th>Follow Up</th>
						<th>Ações</th>
					</tr>
			</thead>
			{% for proposta in cliente.propostas_expiradas %}
			<tr>
				<td class="well well-small"><h6>#{{proposta.id}}</h6></td>
				<td><span class="label label-important"> {{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}</span><Br />
        <small>{{proposta.data_expiracao|timesince}}</small></td>
				<td>R$ {{proposta.valor_proposto|floatformat:2}}</td>
				<td>
					<div class="progress progress-striped active" style="width:100%px;">
						<div class="bar" style="width: {{proposta.probabilidade}}%;">
							<strong>{{proposta.probabilidade}}%</strong>
						</div>
					</div>
				</td>
				<td>
					{% if proposta.ultimo_followup %}
					<a href="#modal-follow-up-exibir"
						role="button" 
						data-toggle="modal"
						data-exibir-modal-title="Follow Ups da Proposta #{{proposta.id}}"
						data-follow-ups="
						
						{% for fup in proposta.followupdepropostacomercial_set.all %}
							<strong>{{fup.criado_por.funcionario}}</strong>: <i class='fa fa-comment'></i> {{fup.texto}} <small class='badge badge-warning'>{{fup.probabilidade}}%</small>
							<small class='badge badge-info'>{{fup.data|date:"SHORT_DATE_FORMAT"}} (há {{fup.data|timesince}})</small> {% if fup.reagenda_data_expiracao %}<small class='badge badge-important'>Nova Expiração: {{fup.proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}} </small>{% endif %} {% if fup.visita %}<small class='badge badge-success'><i class='fa fa-child'></i> Visita: {{fup.visita_por}} </small>{% endif %}
							<hr />
						{% endfor %}
						"
						class="btn popover_item carregar_follow_ups_modal"
						data-toggle="popover"
						data-title="<b>Follow Up <small>(há {{proposta.ultimo_followup.data|timesince}})</small></b>" data-html=True data-content="<strong>{{proposta.ultimo_followup.criado_por.funcionario}}</strong> : {{proposta.ultimo_followup.texto}}<br />
						<p class='alert alert-info'>{{proposta.ultimo_followup.data|date:"SHORT_DATETIME_FORMAT"}} </p>
						">
						{{proposta.followupdepropostacomercial_set.count}}
					</a> <i class="fa fa-exchange"></i>

					
					{%endif %}
					<!-- Button to trigger modal de follow up -->
					<a href="#modal-follow-up-add" data-proposta-id="{{proposta.id}}" data-title="Cliente: {{proposta.cliente.nome}}. Valor: R$ {{proposta.valor_proposto|floatformat:2}}. Criado em {{proposta.criado|date:"SHORT_DATE_FORMAT"}}" data-probabilidade="{{proposta.probabilidade}}" data-nova-data-reagendamento="{{proposta.sugere_data_reagendamento_expiracao|date:"SHORT_DATE_FORMAT"}}" data-action-url="{% url "comercial:adicionar_follow_up" proposta.id %}" role="button" class="btn btn-modal-add-follow-up" data-toggle="modal"><i class="fa fa-plus"></i></a>
					
				</td>
						<td>
								
								{% if request.user.perfilacessocomercial.gerente %}
								{# MENU DO GERENTE#}
									<div class="btn-group">
						        <a href="" class="btn btn-success"><i class="fa fa-thumbs-up"></i></a>

							        <a href="{% url "comercial:editar_proposta_fechar" proposta.id %}" class="btn btn-danger"><i class="fa fa-thumbs-down"></i></a>

									
							        <a href="{% url "comercial:editar_proposta" proposta.id%}" class="btn btn-warning"><i class="fa fa-dollar"></i></a>
									
									<a href="" class="btn "><i class="fa fa-print"></i></a>
								</div>
								{% else %}
								<small><i>solicite ao gerente</i></small>
								{% endif %}								

				</td>
			</tr>
   		 	{% empty %}
			{% endfor %}
		</table>
		{% endif %}
		{% if cliente.propostas_convertidas.count %}
		<h4 class="alert alert-success">Propostas Convertidas {{cliente.propostas_convertidas.count}}</h4>
		<ul>
		{% for proposta in cliente.propostas_convertidas %}
			<li><strong>Proposta #{{proposta.id}}</strong> <i class="fa fa-arrow-right"></i> <strong>Contrato #{{proposta.contrato_vinculado.id}}</strong> - R${{proposta.contrato_vinculado.valor}} - Responsável: {{proposta.contrato_vinculado.responsavel}}, Comissionado: {{proposta.contrato_vinculado.responsavel_comissionado}}</li>
		{% endfor %}
		</ul>
		{% endif %}
		
		{% if cliente.propostas_perdidas.count %}
		<h4 class="alert alert-danger">Propostas Perdidas: {{cliente.propostas_perdidas.count}}</h4>
		<table class="table table-condensed table.stripped">
			<thread>
					<tr>
						<th class="alert alert-danger">ID</th>
						<th>Expiração</th>
						<th>Valor</th>
						<th>Probabilidade</th>
						<th>Follow Up</th>
					</tr>
			</thead>
			{% for proposta in cliente.propostas_perdidas %}
			<tr>
				<td class="alert alert-danger"><h6>#{{proposta.id}}</h6></td>
				<td><span class="label label-important"> {{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}</span><Br />
        <small>{{proposta.data_expiracao|timeuntil}}</small></td>
				<td>R$ {{proposta.valor_proposto|floatformat:2}}</td>
				<td>
					<div class="progress progress-striped active" style="width:100%px;">
						<div class="bar" style="width: {{proposta.probabilidade}}%;">
							<strong>{{proposta.probabilidade}}%</strong>
						</div>
					</div>
				</td>
				<td>
					{% if proposta.ultimo_followup %}
					<a href="#modal-follow-up-exibir"
						role="button" 
						data-toggle="modal"
						data-exibir-modal-title="Follow Ups da Proposta #{{proposta.id}}"
						data-follow-ups="
						{% for fup in proposta.followupdepropostacomercial_set.all %}
							<strong>{{fup.criado_por.funcionario}}</strong>: <i class='fa fa-comment'></i> {{fup.texto}} <small class='badge badge-warning'>{{fup.probabilidade}}%</small>
							<small class='badge badge-info'>{{fup.data|date:"SHORT_DATE_FORMAT"}} (há {{fup.data|timesince}})</small> {% if fup.reagenda_data_expiracao %}<small class='badge badge-important'>Nova Expiração: {{fup.proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}} </small>{% endif %} {% if fup.visita %}<small class='badge badge-success'><i class='fa fa-child'></i> Visita: {{fup.visita_por}} </small>{% endif %}
							<hr />
						{% endfor %}
						"
						class="btn popover_item carregar_follow_ups_modal"
						data-toggle="popover"
						data-title="<b>Follow Up <small>(há {{proposta.ultimo_followup.data|timesince}})</small></b>" data-html=True data-content="<strong>{{proposta.ultimo_followup.criado_por.funcionario}}</strong> : {{proposta.ultimo_followup.texto}}<br />
						<p class='alert alert-info'>{{proposta.ultimo_followup.data|date:"SHORT_DATETIME_FORMAT"}} </p>
						">
						 <i class="fa fa-exchange"></i> {{proposta.followupdepropostacomercial_set.count}}
					</a>
					{%endif %}
					
					
						<a data-placement="top" data-toggle="tooltip" title="Reabrir Proposta" class="btn btn-warning tooltip-items" href="{% url "comercial:proposta_comercial_reabrir" proposta.id %}?next={{ request.get_full_path|urlencode }}#tab_propostas"><i class="fa fa-unlock-alt"></i></a> <a class="btn btn-primary" href="{% url "comercial:propostas_comerciais_ver" proposta.id %}">Ver Proposta <i class="fa fa-arrow-right"></i></a>
					
				</td>
			</tr>
   		 	{% empty %}
			{% endfor %}
		</table>
		{% endif %}
		
		{% endwith %}
		
		
		
	</div>
	
	{% if precliente.sem_interesse %}
	<hr />
	<div class="alert alert-danger">Marcado como Sem Interesse em {{precliente.sem_interesse_data|date:"SHORT_DATETIME_FORMAT"}} {% if precliente.sem_interesse_opcao %}<strong>Opção</strong> {{precliente.sem_interesse_opcao}}{% endif %} {% if precliente.sem_interesse_motivo %}<strong>Motivo</strong> {{precliente.sem_interesse_motivo}}{% endif %}</div>
	{% endif %}
	
	
</div>


<!-- Modal Adiciona FollowUp -->
<div id="modal-follow-up-add" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Adicionar Follow Up</h3>
  </div>
  <div class="modal-body">
		<p class="alert alert-info" id="descricao-modal-add-follow-up"></p>
		<form method="POST" id="form-adicionar-follow-up">
			{% csrf_token %}
			
			{{form_adicionar_follow_up.proposta}}
			<table>
				<tr>
					<td>
						{{form_adicionar_follow_up.texto.label}}
						{{form_adicionar_follow_up.texto}}
						{{form_adicionar_follow_up.texto.errors}}
					</td>
					
					<td>
						{% if request.user.perfilacessocomercial.gerente or cliente.designado == request.user.funcionario or cliente.designado == None %}
						
						{{form_adicionar_follow_up.probabilidade.label}}
						{{form_adicionar_follow_up.probabilidade}}
						{{form_adicionar_follow_up.probabilidade.errors}}
						<br />
						{{form_adicionar_follow_up.reagenda_data_expiracao.label}}
						{{form_adicionar_follow_up.reagenda_data_expiracao}}
						{{form_adicionar_follow_up.reagenda_data_expiracao.errors}}						
						<br />
						<div id="data-expiracao-modal-container">
						{{form_adicionar_follow_up.data_expiracao.label}}
						{{form_adicionar_follow_up.data_expiracao}}
						{{form_adicionar_follow_up.data_expiracao.errors}}						
						</div>
						<br />
						{{form_adicionar_follow_up.visita.label}}
						{{form_adicionar_follow_up.visita}}
						{{form_adicionar_follow_up.visita.errors}}
						<div id="visita-por-modal-container">
						<br />
						{{form_adicionar_follow_up.visita_por.label}}
						{{form_adicionar_follow_up.visita_por}}
						{{form_adicionar_follow_up.visita_por.errors}}
						</div>

						{% else %}
						<input type="hidden" name="somente-texto" value="sim">
						
						{% endif %}
						</div>
					</td>
				</tr>
			</table>
		</form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
    <button class="btn btn-primary" form="form-adicionar-follow-up" id="btn-adicionar-follow-up"><i class="fa fa-plus"></i> Adicionar Follow Up</button>
  </div>
</div>

<!-- Modal Exibe FollowUps -->
<div id="modal-follow-up-exibir" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalExibirFollowUpsLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="ModalExibirFollowUpsLabel"></h3>
  </div>
  <div class="modal-body" id="ModalExibirFollowUpsBody">
	  
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
  </div>
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />


<script>

$( ".datepicker" ).datepicker({
	inline: true,
      dateFormat: "dd/mm/yy"
});


$(document).ready(function() {
	$("#menu-comercial-clientes, #top-menu-comercial").addClass("active");
	$("#btn-adicionar-follow-up").hide();
	$("#data-expiracao-modal-container").hide();
	
    {% if form_adicionar_follow_up.errors %}
		$('#modal-follow-up-add').modal('show');
    {% endif %}	
	
	{% if form_adicionar_endereco.errors %}
		$('#ModalAdicionarEndereco').modal('show');
	{% endif %}	
	
	
	$('.popover_item').popover({
			trigger: "hover",
			placement: 'top'
		});
});


$('.btn-modal-add-follow-up').click(function(e){
		$("#descricao-modal-add-follow-up").html( $(this).data('title') );
		$("#id_proposta").val($(this).data('proposta-id'));
		$("#id_texto").val('');
		$("#id_probabilidade").val($(this).data('probabilidade'));
		$("#id_data_expiracao").val($(this).data('nova-data-reagendamento'));
		$("#btn-adicionar-follow-up").hide();			
	    $("#data-expiracao-modal-container").hide();
		$("#visita-por-modal-container").hide();
		$("#modal-follow-up-add .errorlist").hide();
		$("#id_reagenda_data_expiracao").attr('checked', false);
		$("#id_visita").attr('checked', false);
		$("#form-adicionar-follow-up").attr('action', $(this).data('action-url'))
});

$('.carregar_follow_ups_modal').click(function(e){
		$("#ModalExibirFollowUpsLabel").html($(this).data('exibir-modal-title'));
		$("#ModalExibirFollowUpsBody").html($(this).data('follow-ups'))
});


// Javascript to enable link to tab
var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
} 

// Change hash for page-reload
$('.nav-tabs a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});

$('#sub-menu-banco-de-horas').on("click", 'ul.nav.nav-tabs li a', function(e){
	e.preventDefault();	
	var href = this.hash;
	window.location.hash = href.replace("#", "#" + "tab_");
	var pane = $(this);
	pane.tab('show');		
})

$('#id_texto').on("keyup change", function(){
    if( $.trim($(this).val()) ){
		
    	$("#btn-adicionar-follow-up").show()
    }else{
    	$("#btn-adicionar-follow-up").hide()
    }
});

$("#id_reagenda_data_expiracao").on("change", function(e){
	if($(this).is(':checked'))
	    $("#data-expiracao-modal-container").show();  // checked
	else
	    $("#data-expiracao-modal-container").hide();
})

$("#id_visita").on("change", function(e){
	if($(this).is(':checked'))
	    $("#visita-por-modal-container").show();  // checked
	else
	    $("#visita-por-modal-container").hide();
})


</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}