{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial - Configurar Impressão de Proposta{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> <i class="fa fa-file-alt"></i> Propostas Comerciais</h1>
<h2><i class="fa fa-print"></i> Configurar Impressão de Proposta</h2>

<h4>Cliente: {{proposta.dono}}</h4>
<h5>{{proposta}}</h5>

{{proposta.texto_descricao_items}}

<form method="POST" id="configurar-form" name="configurar-form">
{%csrf_token %}
{{form_configura.as_p}}

<div class="btn-group">
	<button type="submit" class="btn btn-primary"><i class="fa fa-print"></i> Gerar Impressão</button>
	<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#ModalEnviarPorEmail"><i class="fa fa-envelope"></i> Enviar por Email</button>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalEnviarPorEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Enviar por Email</h4>
      </div>
      <div class="modal-body">
			  {% csrf_token %}
			  {{enviar_proposta_email.as_p}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-success" form="configurar-form" name="enviar-por-email" value="enviar-por-email"><i class="fa fa-envelope"></i> Enviar por Email</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</form>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-comercial-propostas-minhas, #top-menu-comercial").addClass("active");
	$('.popover_item').popover({
			trigger: "hover",
			placement: 'top'
		});
	$('.btn-modal-add-follow-up').click(function(e){
			
			$("#descricao-modal-add-follow-up").html( $(this).data('title') )
			$("#id_proposta").val($(this).data('proposta-id'))
		});
		
	$('.carregar_follow_ups_modal').click(function(e){
			$("#ModalExibirFollowUpsLabel").html($(this).data('exibir-modal-title'));
			$("#ModalExibirFollowUpsBody").html($(this).data('follow-ups'))
		});
	
});
</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}