{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial - Gerencia: Gerenciar Modelo de Orçamento{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-quote-right"></i> Gerenciar Modelos de Orçamento</h1>
<h2>{{modelo.descricao}} <small>Valor Atual R$ {{modelo.custo_total}}</small></h2>


{% if modelo.tabelado %}
<h3>Orçamentos Vinculados Como Tabelado</h3>
{% for orcamento in modelo.tabelados_originados.all %}
	<hr/>
	<p>{{orcamento}} na proposta {{orcamento.proposta}}. Situação da Proposta: {{orcamento.proposta.get_status_display}}</p>
{% endfor %}

{% endif %}

{% if modelo.promocao %}
<h3>Orçamentos Vinculados Como Promoção</h3>
{% for orcamento in modelo.promocoes_originadas.all %}
	<hr/>
	<p>{{orcamento}} na proposta {{orcamento.proposta}}. Situação da Proposta: {{orcamento.proposta.get_status_display}}</p>
{% endfor %}

{% endif %}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}


<script>

$(document).ready(function() {
    $("#menu-comercial-gerencia-modelo-orcamento, #top-menu-comercial").addClass("active");
	$("#id_descricao").focus();
	total = $(".select2-ajax").length - 1;
	$("#s2id_id_orcamento-"+total+"-produto").select2('focus').select2('open');
	$( ":checkbox" ).attr('tabindex', -1);
	
});


</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}