{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> <i class="fa fa-file-alt"></i> Converter Proposta  Comercial (#{{proposta.id}}) em Contrato</h1>

<div class="well well-small">
	<div class="row-fluid">
		<div class="span4">
			<h5>Forma de Pagamento Proposto:</h5>
			<p>{{proposta.forma_pagamento_proposto}}</p>
		</div>
		
		<div class="span4">
			<h4>Total Proposto</h4>
			R$ <span id="total_proposto">{{proposta.valor_proposto}}</span>
		</div>
		
		<div class="span4">
		</div>
		
	</div>
</div>

<form method="post" class="form form-inline" id="form-converter" name="form-converter">
	
	{% csrf_token %}
	
	<div class="well well-small" id="configurar-contrato">
		<h4>Configurações do Contrato</h4>
		{% for item in configurar_contrato_form %}
			<hr />
			{{item.errors}}
			{{item.label}}
			{{item}}
		{% endfor %}

	</div>
	
	<div class="well well-small">
		<h4>Configurações de Parcelas</h4>
	
		{{form_configurar_contrato.management_form}}
		{% with form_configurar_contrato.empty_form as form %}
		<div id="empty-form-model" style="display:none;" class="well">
			<div class="row-fluid ">
				<div class="span6">
					<h4>Parcela</h4>
				</div>
				<div class="span6">
					{{form.observacao_recebido.errors}}
					{{form.observacao_recebido.label}}
					{{form.observacao_recebido}}
				</div>
			</div>
		
			<div class="row-fluid">

				<div class="span4">
				{{form.data_cobranca.errors}}
				{{form.data_cobranca.label}}
				{{form.data_cobranca}}
				</div>
		
				<div class="span4">
					{{form.valor_cobrado.errors}}
					{{form.valor_cobrado.label}}
					{{form.valor_cobrado}}			
				</div>
	
				<div class="span4">
					{{form.modo_recebido.errors}}
					{{form.modo_recebido.label}}
					{{form.modo_recebido}}
				</div>
		
			</div>
		</div>
			
		{% endwith %}
		<div class="parcela-formset">
			
			{% for form in form_configurar_contrato.forms %}
			<div class="well">
				<div class="row-fluid ">
					<div class="span6">
						<h4>Parcela</h4>
					</div>
					<div class="span6">
						{{form.observacao_recebido.errors}}
						{{form.observacao_recebido.label}}
						{{form.observacao_recebido}}
					</div>
				</div>
		
				<div class="row-fluid">

					<div class="span4">
					{{form.data_cobranca.errors}}
					{{form.data_cobranca.label}}
					{{form.data_cobranca}}
					</div>
		
					<div class="span4">
						{{form.valor_cobrado.errors}}
						{{form.valor_cobrado.label}}
						{{form.valor_cobrado}}			
					</div>
	
					<div class="span4">
						{{form.modo_recebido.errors}}
						{{form.modo_recebido.label}}
						{{form.modo_recebido}}
					</div>
		
				</div>
			</div>
			{% endfor %}

		</div>

	</div>
	<hr />
	<div class="btn-group">
		<a type="submit" class="btn btn-info" name="Usar Parcelamento" data-toggle="modal" data-target="#ModalCredito"><i class="fa fa-credit-card"></i> Usar Parcelamento</a>
		<button type="submit" class="btn btn-success" name="converter-contrato" value="converter"><i class="fa fa-arrow-right"></i> Converter em Contrato</button> 
	</div>
	
	
	<!-- Modal -->
	<div class="modal fade" id="ModalCredito" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Usar Parcelamento</h4>
	      </div>
	      <div class="modal-body">
				  {% csrf_token %}
				  {{usar_cartao_credito.as_p}}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			<button form="form-converter" type="submit" class="btn btn-primary" name="usar-cartao" value="usar_cartao">Parcelar</button>
	        
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


</form>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>


$(document).ready(function() {
	$("#menu-comercial-propostas-minhas, #top-menu-comercial").addClass("active");
	{% if modelo_objeto.items %}
	$("#id_objeto").after('<div style="float:right"><select id="opcao_modelo_objeto">{% for k,v in modelo_objeto.items %}<option value="{{v}}">{{k}}</option>{% endfor %}</select><br /><button class="modelo_objeto" data-target="id_objeto">Substituir</button> <button class="modelo_objeto" data-target="id_objeto" data-adicionar="True">Acrescentar</button></div>');
	{% endif %}
	
	{% if modelo_garantia.items %}
	$("#id_garantia").after('<div style="float:right"><select id="opcao_modelo_garantia">{% for k,v in modelo_garantia.items %}<option value="{{v}}">{{k}}</option>{% endfor %}</select><br /><button class="modelo_garantia" data-target="id_garantia">Substituir</button> <button class="modelo_garantia" data-target="id_garantia" data-adicionar="True">Acrescentar</button></div>');	{% endif %}
	
});

$( "#configurar-contrato" ).on( "click", ".modelo_objeto", function(e) {
	e.preventDefault();
	if ($(this).data('adicionar')){
		$('#'+$(this).data('target')).val($('#'+$(this).data('target')).val() + '\n' + $("#opcao_modelo_objeto").val());
	}else{
		$('#'+$(this).data('target')).val($("#opcao_modelo_objeto").val());
	}
});

$( "#configurar-contrato" ).on( "click", ".modelo_garantia", function(e) {
	e.preventDefault();
	if ($(this).data('adicionar')){
		$('#'+$(this).data('target')).val($('#'+$(this).data('target')).val() + '\n' + $("#opcao_modelo_garantia").val());
	}else{
		$('#'+$(this).data('target')).val($("#opcao_modelo_garantia").val());
	}	
});


$( ".datepicker" ).datepicker({
	inline: true,
    dateFormat: "dd/mm/yy",
});

$(".disableall :input").attr("disabled", true);

$(document).ready(function() {
    $('.tooltip-items').tooltip();
});

$('.parcela-formset').formset({
	addText: 'Adicionar Parcela',
	deleteText: 'Remover Parcela',
	formTemplate: '#empty-form-model',
	prefix: 'configurar_contrato',

  });

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}