{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> <i class="fa fa-file-o"></i> Adicionar Proposta Comercial</h1>

{% if request.user.perfilacessocomercial.gerente %}
<h4>Como Gerente</h4>
{% endif %}

<h3>{{cliente}}</h3>
<form method="post">
    {% csrf_token %}
{{form.as_p}}
<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Criar Proposta Comercial</button>
</form>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>

<script>
$( ".datepicker" ).datepicker({
	inline: true,
      dateFormat: "dd/mm/yy"
});


$(document).ready(function() {
$("#menu-comercial-home, #top-menu-comercial").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}