{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial - Gerencia: Análises de Contrato {{contrato.id}}{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-search-plus"></i> Análises de Contrato #{{contrato.id}}</h1>
<h4>{{contrato}}</h4>

<div class="row-fluid">
	
	<div class="span6">
		
		<form method="post">
		{% csrf_token %}

		{{form_analisar_contrato.as_p}}
		<button type="submit" class="btn btn-primary" name="aterar-contrato" value="sim">Alterar</button>
		<button type="submit" class="btn btn-success" name="contrato-analisado" value="sim">Contrato Analisado</button>
		</form>
	
	</div>
	
	<div class="span6">
		<h2>Lançamentos Configurados</h2>
		<ul>
			{% for lancamento in contrato.lancamentofinanceiroreceber_set.all %}
				<li><strong>{{lancamento.data_cobranca|date:"SHORT_DATE_FORMAT"}}</strong> - R${{lancamento.valor_cobrado}} <em><small>{{lancamento.modo_recebido}}</small></em></li>
			{% endfor %}
		</ul>
	</div>
	
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-comercial-analise-de-contratos, #top-menu-comercial").addClass("active");
});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}