{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial - Gerencia: Modelos de Orçamento{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-quote-right"></i> Modelos de Orçamento</h1>
<p>
<a href="{% url "comercial:orcamentos_modelo_novo" %}" class="btn btn-primary"><i class="fa fa-plus"></i> Novo Modelo</a>
</p>

	<hr />
	{% for modelo in modelos %}
		<h4>{{modelo.descricao}} - R${{modelo.custo_total}} <small>{% if modelo.tabelado%}tabelado{%else%}promoção{% endif%}</small></h4>
			<a href="{% url "comercial:orcamentos_modelo_editar" modelo.id %}" class="btn btn-success"><i class="fa fa-pencil"></i> editar</a>
			<a href="{% url "comercial:orcamentos_modelo_reajustar" modelo.id %}" class="btn btn-info"><i class="fa fa-refresh"></i> reajustar</a>
			<a href="{% url "comercial:orcamentos_modelo_gerenciar" modelo.id %}" class="btn btn-primary"><i class="fa fa-gear"></i> gerenciar</a>
			<a href="{% url "comercial:orcamentos_modelo_apagar" modelo.id %}" class="btn btn-danger"><i class="fa fa-trash-o"></i> apagar</a>
			
		<hr />
	{% endfor %}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-comercial-gerencia-modelo-orcamento, #top-menu-comercial").addClass("active");
});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}