{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> <i class="fa fa-file-alt"></i> Converter Proposta  Comercial (#{{proposta.id}}) em Contrato</h1>

<div class="well well-small">
	<div class="row-fluid">
		<div class="span4">
			<h5>Forma de Pagamento Proposto:</h5>
			<p>{{proposta.forma_pagamento_proposto}}</p>
		</div>
		
		<div class="span4">
			<h4>Total Proposto</h4>
			R$ <span id="total_proposto">{{proposta.valor_proposto}}</span>
		</div>
		
		<div class="span4">
		</div>
		
	</div>
</div>

<form method="post" class="form form-inline">
	
	{% csrf_token %}
	
	<div class="well well-small">
		<h4>Configurações do Contrato</h4>
		{{configurar_contrato_form.as_p}}
	</div>
	
	
	<div class="well well-small">
		<h4>Configurações de Parcelas</h4>
	
		{{form_configurar_contrato.management_form}}
		{%for form in form_configurar_contrato %}
		<h4>Parcela {{forloop.counter}}</h4>
		<div class="row-fluid">
		<div class="span4">
			{{form.data_cobranca.errors}}
			{{form.data_cobranca.label}}
			{{form.data_cobranca}}
		</div>
		
		<div class="span4">
			{{form.valor_cobrado.errors}}
			{{form.valor_cobrado.label}}
			{{form.valor_cobrado}}			
		</div>
		
		
		<div class="span4">
			{{form.modo_recebido.errors}}
			{{form.modo_recebido.label}}
			{{form.modo_recebido}}
		</div>
		
	</div>
		{% endfor %}
	</div>
	<hr />
	<p>
		<button type="submit" class="btn btn-primary" name="adicionar-parcela" value="adicionar"><i class="fa fa-plus"></i> Adicionar Parcela</button>
		<button type="submit" class="btn btn-success" name="converter-contrato" value="converter"><i class="fa fa-arrow-right"></i> Converter em Contrato</button> 
	</p>


</form>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>

<script>


$(document).ready(function() {
	$("#menu-comercial-propostas-minhas, #top-menu-comercial").addClass("active");
	calcula_total_parcelas();
});

$( ".datepicker" ).datepicker({
	inline: true,
      dateFormat: "dd/mm/yy"
});

</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}