{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-briefcase"></i> Comercial</h1>

{% if request.user.perfilacessocomercial.gerente %}
<h4>Como Gerente</h4>

{% endif %}

<div class="well well-small">
    <h2><i class="fa fa-briefcase"></i> Buscar Pré / Cliente</h2>

    <form class="form-search" action="{% url "comercial:clientes" %}">
        <input tabindex="1" type="text" class="input-medium search-query" name="cliente" id="cliente_busca" value="{% if cliente_q %}{{cliente_q}}{%endif%}">
        <button type="submit" class="btn btn-info"><i class="fa fa-search"></i> Buscar</button>
        {% if cliente_q %}
        <a href="."><i class="fa fa-trash-o"></i> Limpar</a>
        {% else %}
        <a href="{% url "cadastro:preclientes_adicionar" %}" class="btn btn-large btn-success"><i class="fa fa-plus"></i> Adicionar</a>
        {% endif %}
        
    </form>
</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-comercial-home, #top-menu-comercial").addClass("active");
    $("#cliente_busca").focus()
});
</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}