{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load phonenumber_br %}

<title>{%block title %}{{block.super}} - Comercial{% endblock %}</title>

{% block content %}

<div class="row-fluid">
	
	<div class="span6">
		<h1><i class="fa fa-th"></i> <i class="fa fa-user"></i> Ficha do Cliente</h1>
	</div>
	
	<div class="span6">
		<h1>{{cliente.nome}} <span class="label label-info">{{cliente.get_tipo_display|upper}}</span></h1> 
	</div>

</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#informacoes-gerais" data-toggle="tab"><i class="fa fa-info"></i> Informações</a></li>

    <li class=""><a href="#propostas" data-toggle="tab"><i class="fa fa-file-o"></i> Propostas <span class="badge badge-warning">{{cliente.propostas_abertas.count}}</span> <span class="badge badge-success">{{cliente.propostas_convertidas.count}}</span> <span class="badge badge-important">{{cliente.propostas_fechadas.count}}</span></a></li>
	
	<li class=""><a href="#requisicao-de-proposta" data-toggle="tab">Requisições <span class="badge badge-important">{{cliente.requisicao_proposta_abertas.count}}</span> <span class="badge badge-success">{{cliente.requisicao_proposta_atendidas.count}}</span></a></li>

</ul>


<div class="row-fluid" id="sub-menu-ficha-cliente">
	
	<div class="span4">
		 		<a href="{% url "comercial:clientes" %}?cliente={{cliente_q}}"><i class="fa fa-arrow-left"></i> Retornar </a>
	</div>
	
	<div class="span4">
				 <span class="label label-success">Responsável: {{cliente.designado}}</span><br />
	</div>
	
	<div class="span4">
		
		<a href="{% url "comercial:propostas_comerciais_cliente_adicionar" cliente.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> Nova Proposta</a>

		 
	</div>

</div>


<div id="ficha-funcionario" class="tab-content">
	
	<div class="tab-pane fade in active" id="informacoes-gerais">
		<div class="row-fluid">
	
			<div class="span6">
		
				<h4>Geral</h4>
				<div class="well well-small">
				{% ifequal cliente.tipo "pf" %}
				<strong>Nome</strong>: {{cliente.nome}}<br />
				<strong>CPF</strong>: {{cliente.cpf}}<br />
				<strong>RG</strong>: {{cliente.rg}}<br />
				<strong>Nascimento</strong>: {{cliente.nascimento|date:"SHORT_DATE_FORMAT"}} (<small>{{cliente.nascimento|timesince}}</small>)<br />
				<strong>Ramo</strong>: {{cliente.ramo}}<br />
				<strong>Observação</strong>: {{cliente.observacao}}<br />
				<strong>Origem</strong>: {{cliente.origem}}<br />
				{% endifequal %}

				{% ifequal cliente.tipo "pj" %}
					<strong>Nome</strong>: {{cliente.nome}}<br />
					<strong>Fantasia</strong>: {{cliente.fantasia}}<br />
					<strong>Inscrição Estadual</strong>: {{cliente.inscricao_estadual}}<br />
					<strong>Ramo</strong>: {{cliente.ramo}}<br />
					<strong>Observação</strong>: {{cliente.observacao}}<br />
					<strong>Origem</strong>: {{cliente.origem}}<br />
				{% endifequal %}
				</div>
		
			</div>
	
			<div class="span6">
				<h4>Contatos</h4>
				<div class="well well-small">
					<strong>Contato</strong>: {{cliente.contato}}<br />
					<strong>Email</strong>: {{cliente.email}}<br />
					<strong>Fixo</strong>: {{cliente.telefone_fixo}}<br />
					<strong>Celular</strong>: {{cliente.telefone_celular}}<br />
					<strong>Fax</strong>: {{cliente.fax}}<br />
				</div>
		
			</div>
	
	
		</div>

		<h4>Endereços</h4>
		<div id="enderecos">
			{% for endereco in cliente.enderecocliente_set.all %}
				<div class="well well-small {% if endereco.principal %}alert alert-success{%endif%}">
			<strong>#{{endereco.id}}</strong>
		{% if endereco.principal %}<span class="badge badge-info"><i class="fa fa-check fa-1x"></i> Principal</span>{%endif%} {{endereco.rua}}, {{endereco.numero}}, {{endereco.bairro}} - {{endereco.complemento}} - {{endereco.cep}}
				</div>
			{% endfor %}
		</div>
		
	</div>

	<div class="tab-pane fade in" id="propostas">

		<h4 class="alert">Propostas Abertas: {{cliente.propostas_abertas.count}}</h4>
		<table class="table table-condensed table.stripped">
			<thread>
					<tr>
						<th class="alert">ID</th>
						<th>Expiração</th>
						<th>Valor</th>
						<th>Probabilidade</th>
						<th>Follow Up</th>
						<th>Descrição</th>
						<th>Ações</th>
					</tr>
			</thead>
			{% for proposta in cliente.propostas_abertas %}
			<tr>
				<td class="alert"><h6>#{{proposta.id}}</h6></td>
				<td><span class="label label-important"> {{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}</span><Br />
        <small>{{proposta.data_expiracao|timeuntil}}</small></td>
				<td>R$ {{proposta.valor_proposto|floatformat:2}}</td>
				<td>
					<div class="progress progress-striped active" style="width:100%px;">
						<div class="bar" style="width: {{proposta.probabilidade}}%;">
							<strong>{{proposta.probabilidade}}%</strong>
						</div>
					</div>
				</td>
				<td>
					{% if proposta.ultimo_followup %}
					<a href="#modal-follow-up-exibir"
						role="button" 
						data-toggle="modal"
						data-exibir-modal-title="Follow Ups da Proposta #{{proposta.id}}"
						data-follow-ups="
						
						{% for fup in proposta.followupdepropostacomercial_set.all %}
							<strong>{{fup.criado_por.funcionario}}</strong>: {{fup.texto}}
							<small class='badge badge-info'>{{fup.data|date:"SHORT_DATE_FORMAT"}} (há {{fup.data|timesince}})</small>
							<hr />
						{% endfor %}
						"
						class="btn popover_item carregar_follow_ups_modal"
						data-toggle="popover"
						data-title="<b>Follow Up <small>(há {{proposta.ultimo_followup.data|timesince}})</small></b>" data-html=True data-content="<strong>{{proposta.ultimo_followup.criado_por.funcionario}}</strong> : {{proposta.ultimo_followup.texto}}<br />
						<p class='alert alert-info'>{{proposta.ultimo_followup.data|date:"SHORT_DATETIME_FORMAT"}} </p>
						">
						{{proposta.followupdepropostacomercial_set.count}}
					</a> <i class="fa fa-exchange"></i>
					{%endif %}
					<!-- Button to trigger modal de follow up -->
					<a href="#modal-follow-up-add" data-proposta-id="{{proposta.id}}" data-title="Cliente: {{proposta.cliente.nome}}. Valor: R$ {{proposta.valor_proposto|floatformat:2}}. Expira: {{proposta.data_expiracao|date:"SHORT_DATE_FORMAT"}}" role="button" class="btn btn-modal-add-follow-up" data-toggle="modal"><i class="fa fa-plus"></i></a>
					
				</td>
				<td>{{proposta.observacoes}}</td>
						<td>        <div class="btn-group">
	        <a href="" class="btn btn-success"><i class="fa fa-thumbs-up"></i></a>
	        <a href="" class="btn btn-danger"><i class="fa fa-thumbs-down"></i></a>
	        <a href="{% url "comercial:editar_proposta" proposta.id%}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
	        <a href="" class="btn "><i class="fa fa-print"></i></a>

				</td>
			</tr>
   		 	{% empty %}
			{% endfor %}
		</table>
		
		<h2 class="alert alert-success">Propostas Convertidas</h2>
		
		<h2 class="alert alert-danger">Propostas Perdidas</h2>
		
	</div>

	<div class="tab-pane fade in" id="requisicao-de-proposta">
		
	    <div class="tabela-preclientes-sem-proposta" id="tabela-precliente">
	        <table class="table table-hover table-condensed">
	            <thead>
	                <caption><h4 class="alert alert-danger">Requisições de Propostas Em Aberto</h4></caption>
	                <tr>
						<th>Data</th>
						<th>Descrição</th>
	                    <th>Ações</th>
	                </tr>
	            </thead>
	            <tbody>
	                {% for requisicao in cliente.requisicao_proposta_abertas %}
	                <tr>
						<td>{{requisicao.criado|date:"SHORT_DATETIME_FORMAT"}}</td>
						<td class="alert alert-info"><i>{{requisicao.descricao}}, <small>{{requisicao.criado_por}}</small></i></td>
						<td>
						<p class="btn-group">

						<a href="{% url "comercial:propostas_comerciais_cliente_adicionar" requisicao.cliente.id %}?requisicao_origem={{requisicao.id}}" class="btn btn-success"><i class="fa fa-check"></i> Atender</a>						
						
						
						</p>
						</td>
						

	                </tr>
	                {% empty %}

	                <tr>
	                    <td class="alert alert-info"><strong>Nenhum  Encontrado!</strong></td>
	                    <td>{% if cliente_q %}
	                        <a href="."><i class="fa fa-trash-o"></i> Limpar Busca</a>
	                        {% endif %}
	                    </td>
	                </tr>

	                {% endfor %}


	            </tbody>
	        </table>
	    </div>
		
		
		
	    <div class="tabela-preclientes-sem-proposta" id="tabela-precliente">
	        <table class="table table-hover table-condensed">
	            <thead>
	                <caption><h4 class="alert alert-sucess">Requisições de Propostas Atendidas</h4></caption>
	                <tr>
						<th>Criação</th>
						<th>Atendimento</th>
	                    <th>Proposta Vinculada</th>
	                </tr>
	            </thead>
	            <tbody>
	                {% for requisicao in cliente.requisicao_proposta_atendidas %}
	                <tr>
						<td>{{requisicao.criado|date:"SHORT_DATETIME_FORMAT"}} por {{requisicao.criado_por}}</td>
						<td>{{requisicao.atendido_data|date:"SHORT_DATETIME_FORMAT"}} por {{requisicao.atendido_por}}</td>
						<td>Proposta: #{{requisicao.proposta_vinculada.id}}, <strong>{{requisicao.proposta_vinculada.get_status_display}}</strong>, <strong>{{requisicao.proposta_vinculada.probabilidade}}%</strong> de <strong>R${{requisicao.proposta_vinculada.valor_proposto}}</strong></td>

	                </tr>
	                {% empty %}

	                <tr>
	                    <td class="alert alert-info"><strong>Nenhum  Encontrado!</strong></td>
	                    <td>{% if cliente_q %}
	                        <a href="."><i class="fa fa-trash-o"></i> Limpar Busca</a>
	                        {% endif %}
	                    </td>
	                </tr>

	                {% endfor %}


	            </tbody>
	        </table>
	    </div>
		
	
	</div>

</div>

<!-- Modal Adiciona FollowUp -->
<div id="modal-follow-up-add" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Adicionar Follow Up</h3>
  </div>
  <div class="modal-body">
		<p class="alert alert-info" id="descricao-modal-add-follow-up"></p>
		<form method="POST" id="form-adicionar-follow-up">
			{% csrf_token %}
			{{form_adicionar_follow_up.as_p}}
		</form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
    <button class="btn btn-primary" form="form-adicionar-follow-up"><i class="fa fa-plus"></i> Adicionar Follow Up</button>
  </div>
</div>


<!-- Modal Exibe FollowUps -->
<div id="modal-follow-up-exibir" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalExibirFollowUpsLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="ModalExibirFollowUpsLabel"></h3>
  </div>
  <div class="modal-body" id="ModalExibirFollowUpsBody">
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
  </div>
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-comercial-clientes, #top-menu-comercial").addClass("active");
	$('.popover_item').popover({
			trigger: "hover",
			placement: 'top'
		});
	$('.btn-modal-add-follow-up').click(function(e){
			
			$("#descricao-modal-add-follow-up").html( $(this).data('title') )
			$("#id_proposta").val($(this).data('proposta-id'))
		});
		
	$('.carregar_follow_ups_modal').click(function(e){
			$("#ModalExibirFollowUpsLabel").html($(this).data('exibir-modal-title'));
			$("#ModalExibirFollowUpsBody").html($(this).data('follow-ups'))
		});
});

// Javascript to enable link to tab
var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
} 

// Change hash for page-reload
$('.nav-tabs a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});

$('#sub-menu-banco-de-horas').on("click", 'ul.nav.nav-tabs li a', function(e){
	e.preventDefault();	
	var href = this.hash;
	window.location.hash = href.replace("#", "#" + "tab_");
	var pane = $(this);
	pane.tab('show');		
})


</script>
{% endaddtoblock %}
{% include "frontend/comercial/comercial-menu.html" %}
{% endblock%}