<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><i class="fa fa-briefcase fa-2x"></i> Comercial</li>
    <li id="menu-comercial-home"><a href="{% url "comercial:home" %}"><i class="fa fa-th"></i> Início</a></li>
		
    <li id="menu-comercial-clientes"><a href="{% url "comercial:clientes" %}"><i class="fa fa-group"></i> Pré / Clientes</a></li>

    <li id="menu-comercial-propostas-minhas"><a href="{% url "comercial:propostas_comerciais_minhas" %}"><i class="fa fa-file-o"></i> Propostas Comerciais</a></li>
		
    <li id="menu-comercial-tabela-de-precos"><a href="{% url "comercial:tabela_de_precos" %}"><i class="fa fa-usd"></i> Tabela de Preços</a></li>
		
    <li id="menu-comercial-adicionar-solicitacao"><a href="{% url "comercial:solicitacao_adicionar" %}"><i class="fa fa-bell"></i> Adicionar Solicitação</a></li>
	{% if user.perfilacessocomercial.gerente %}	
	<h5>Gerência:</h5>
    <li id="menu-comercial-gerenciar-designacoes"><a href="{% url "comercial:designacoes" %}"><i class="fa fa-hand-o-right"></i> Designações</a></li>
	{% endif %}
	
  </ul>
</div><!--/.well -->
