<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><i class="icon icon-dropbox icon-3x"></i>Produção</li>
    <li id="menu-producao-home"><a href="{% url "producao:home" %}"><i class="icon-th"></i> Início > Produção</a></li>
    <li id="menu-producao-componentes"><a href="{% url "producao:listar_componentes" %}">
            {% if componente %}
                <i class="icon-stop"></i>
                Componente > {{componente}}
            {%else%}
                <i class="icon-stop"></i>
                Componentes
            {%endif%}
    </a></li>
    
    <li id="menu-producao-subprodutos">
        <a href="{% url "producao:listar_subprodutos" %}">
            <i class="icon-list-ul"></i>
            Sub Produtos
        </a>
    </li>
    
    <li id="menu-producao-produtos">
        <a href="{% url "producao:home" %}">
            <i class="icon-windows"></i>
            Produtos
        </a>
    </li>
    
    <li id="menu-producao-estoque">
        <a href="{% url "producao:listar_estoque" %}">
            <i class="icon-archive"></i>
            Estoque
        </a>
    </li>
    
    
    <li id="menu-producao-lancar-nota">
        <a href="{% url "producao:lancar_nota" %}">
            <i class="icon-paste"></i>
            Lançar Nota Fiscal
        </a>
    </li>
    
    <li id="menu-producao-capacidade">
        <a href="{% url "producao:home" %}">
            <i class="icon-truck"></i>
            Capacidade de Produção
        </a>
    </li>
    
    <li id="menu-producao-fabricantes-fornecedores">
        <a href="{% url "producao:listar_fabricantes_fornecedores" %}">
            {% if fabricante_fornecedor %}
                <i class="icon-building"></i>
                Fabricante / Fornecedor > {{fabricante_fornecedor}}
            {%else%}
                <i class="icon-building"></i>
                Fabricante / Fornecedor
            {%endif%}
        </a>
    </li>
    
    
    
    
    
    
    
    
    
  </ul>
</div><!--/.well -->
