<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><i class="icon icon-dropbox icon-3x"></i>Produção</li>
    <li id="menu-producao-home"><a href="{% url "producao:home" %}"><i class="icon-th"></i> Início > Produção</a></li>
    <li id="menu-producao-componentes"><a href="{% url "producao:listar_componentes" %}">
                <i class="icon-stop"></i>
                Componentes
    </a></li>
    
    <li id="menu-producao-subprodutos">
        <a href="{% url "producao:listar_subprodutos" %}">
            <i class="icon-list-ul"></i>
            Sub Produtos
        </a>
    </li>
    
    <li id="menu-producao-produtos">
        <a href="{% url "producao:listar_produtos" %}">
            <i class="icon-windows"></i>
            Produtos
        </a>
    </li>
    
    <li id="menu-producao-estoque">
        <a href="{% url "producao:listar_estoque" %}">
            <i class="icon-archive"></i>
            Estoque
        </a>
    </li>
    
    <li id="menu-producao-lancar-nota">
        <a href="{% url "producao:lancar_nota" %}">
            <i class="icon-paste"></i>
            Lançar Nota Fiscal
        </a>
    </li>
    
    <li id="menu-producao-ordem-de-producao">
        <a href="{% url "producao:ordem_de_producao" %}">
            <i class="icon-truck"></i>
            Ordem de Produção
        </a>
    </li>
    <li id="menu-producao-totalizador-producao">
        <a href="{% url "producao:totalizador_de_producao" %}">
            <i class="icon-gears"></i>
            Totalizador de Produção
        </a>
    </li>
		
    <li id="menu-producao-arvore-de-produto">
        <a href="{% url "producao:arvore_de_produto" %}">
            <i class="icon-code-fork"></i>
            Árvore de Produtos
        </a>
    </li>
		
    <li id="menu-producao-fabricantes-fornecedores">
        <a href="{% url "producao:listar_fabricantes_fornecedores" %}">
					<i class="icon-building"></i> Fabricante / Fornecedor
				</a>
    </li>
    <li id="menu-producao-ordem-de-compra">
        <a href="{% url "producao:ordem_de_compra" %}">
					<i class="icon-briefcase"></i> 
					Ordem de Compra
        </a>
    </li>
    <li id="menu-producao-requisicao-de-compra">
        <a href="{% url "producao:requisicao_de_compra" %}">
					<i class="icon-credit-card"></i> 
					Requisição de Compra
        </a>
    </li>
		
		
    
    
    
    
    
    
    
    
    
  </ul>
</div><!--/.well -->
