{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Editar Nota Fiscal{% endblock %}</title>

{% block content %}
<h1>{{componente.part_number}} - {{componente.descricao}} {% if componente.ativo %}<span class="label label-success">Ativo</span>{% else %}<span class="label label-important">Inativo</span>{% endif %}</h1>
<p class="btn-group">
<a href="{% url "producao:editar_componente" componente.id %}" class="btn btn-primary"><i class="fa fa-pencil"></i> Editar </a>

{% if componente.ativo %}
<a href="{% url "producao:inativar_componente" componente.id %}" class="btn btn-danger"><i class="fa fa-thumbs-down"></i> Inativar</a>

{% else %}
<a href="{% url "producao:ativar_componente" componente.id %}" class="btn btn-success"><i class="fa fa-thumbs-up"></i> Ativar</a>
{% endif %}



</p>


<ul class="nav nav-tabs">
	<li class="active"><a href="#valores" data-toggle="tab">Informações</a></li>
	<li><a href="#participacao" data-toggle="tab">Participações
        
		{% if componente.total_unico_participacoes %}
		<span class="badge badge-important">{{componente.total_unico_participacoes}}</span>
		{% endif %}

	</a></li>
	<li><a href="#fornecimento" data-toggle="tab">Fornecedores
		{% if fornecedores.count %}
		<span class="badge badge-success">{{fornecedores.count}}</span>
		{% endif %}
      
	</a></li>
	<li><a href="#fabricacao" data-toggle="tab">Fabricantes
		{% if fabricantes.count %}
		<span class="badge badge-info">{{fabricantes.count}}</span>
		{% endif %}

	</a></li>
	<li><a href="#memoria" data-toggle="tab">Memória
		{% if componente.linhafornecedorfabricantecomponente_set.count %}
		<span class="badge badge-warning">{{componente.linhafornecedorfabricantecomponente_set.count}}</span>
		{% endif %}
      
	</a></li>
	<li><a href="#arquivos" data-toggle="tab">Documentos Técnicos 
		{% if componente.arquivoanexocomponente_set.count %}
		<span class="badge">{{componente.arquivoanexocomponente_set.count}}</span>
		{% endif %}
	</a></li> 
</ul>

<div id="myTabContent" class="tab-content">
    
	<div class="tab-pane fade in active" id="valores">
            
		<div class="row-fluid">
                
			<div class="span6">
                    
				<div class="well well-small">
					<h4>Geral</h4>
					<strong>Descrição:</strong> {{componente.descricao}}<br />
					<strong>Nacionalidade:</strong> {{componente.get_nacionalidade_display}}<br />
					<strong>NCM: </strong>{{componente.ncm}}<br />
					<strong>Lead Time (Semanas):</strong> {{componente.lead_time}}<br />
					<strong>Medida:</strong> {{componente.get_medida_display}}<br />
					{% if componente.preco_liquido_unitario_dolar %}
					<strong>Preço Líquido Unitário em Dólar</strong>: USD {{componente.preco_liquido_unitario_dolar}}<br />
					{% endif %}
					{% if componente.preco_liquido_unitario_real %}
					<strong>Preço Líquido Unitário (Valor da Última Compra)</strong>: R$ {{componente.preco_liquido_unitario_real}}<br />
					{% endif %}
					{% if componente.preco_medio_unitario %}
					<strong>Preço Médio Bruto Unitário</strong>: R$ {{componente.preco_medio_unitario}}
					{% endif %}        
				</div>
        

                    
			</div>
			<div class="span6">
				<div class="well well-small">
					<h4>Posições em Estoque</h4>
					<table class="table table-condensed table-striped table-rounded">
						<thead>
							<tr>
								<th>Estoque</th>
								<th>Quantidade</th>
								<th>Valor</th>
								<th>Última Alteração</th>
							</tr>
						</thead>
					</tbody>
					{% for posicao in posicoes_estoque %}
					<tr>
						<td>{% if posicao.0.estoque.nome %}{{posicao.0.estoque.nome}}{% else %}{{posicao.0.estoque.identificacao|capfirst}}{% endif %}</td>
						<td>{{posicao.0.quantidade}} {{posicao.0.componente.medida}}</td>
						<td>R$ {{posicao.1|floatformat:2}}
							<td>{{posicao.0.criado|date:"SHORT_DATE_FORMAT"}}</td>

						</tr>
						{% endfor %}

					</tbody>
				</table>
				<p>
					<form method="POST" action="{% url "producao:listar_estoque" %}">
						{% csrf_token %}
						<input type="hidden" name="componente" value="{{componente.id}}">
						<input type="hidden" name="estoque" value="">
            
						<button type="submit" name="consulta-estoque" value="consultar" class="btn btn-primary"><i class="fa fa-search"> Consultar</i> </button>
            

					</form>
				</p>    
                        
			</div>
		</div>
		
		<h4>Histórico de Valores Lançados</h4>
		<div class="row-fluid">
			<div class="span12">
				<h6>Gráfico R$ X Lançamento
					<canvas id="canvas" height="300px" width=""></canvas>
				</div>
    
			</div>
            
            
		</div>
		
	</div>
        
	<div class="tab-pane fade in" id="fornecimento">
		<h2>Fornecedores - Somatória Unidades Fornecidas</h2>
		{% for fornecedor in fornecedores %}
		<span class="badge badge-success"> {{forloop.counter}} </span> <strong>{{fornecedor.nota__fabricante_fornecedor__nome}}</strong>: {{fornecedor.total}} {{componente.get_medida_display}}{{fornecedor.total|pluralize}}<br />
		{% empty %}
		Nenhum Item Fornecido
		{% endfor %}
            
		<h2>Lançamentos Fornecidos</h2>
		
		
		
		<table class="table table-condensed table-hover table-striped table-rounded">
			<thead>
				<tr>
					<th>Data</th>
					<th>Nota Fiscal</th>
					<th>Fornecedor</th>
					<th>Fabricante</th>
					<th>Qtd.</th>
					<th>Unit S/ Imp.</th>
					<th>Unit C/ Imp.</th>
					<th>Responsável</th>
				</tr>
			</thead>
			<tbody>
				{% for lancamento in lancamentos %}
					<tr>
						<td>{{lancamento.nota.data_lancado_estoque|date:"d/m/y"}}</td>
						<td>{{lancamento.nota.numero}}</td>
						<td>{{lancamento.nota.fabricante_fornecedor.nome}}</td>
						<td>{{lancamento.fabricante.nome}}</td>
						<td>{{lancamento.quantidade}} {{lancamento.componente.medida}}</td>
						<td>{% ifequal lancamento.nota.tipo "i" %}USD {{lancamento.valor_unitario}}{% else %}R$ {{lancamento.valor_unitario}}{% endifequal %}</td>
						<td>{% ifequal lancamento.nota.tipo "i" %}USD {{lancamento.valor_unitario_final}}{% else %}R$ {{lancamento.valor_unitario_final}}{% endifequal %}</td>
						<td>{{lancamento.nota.lancado_por.funcionario}}</td>
						
					</tr>
					
					
				{% endfor %}
			</tbody>
		</table>
		
		
		

            
	</div>
        
	<div class="tab-pane fade in" id="fabricacao">
		<h2>Fabricantes - Unidades fabricadas</h2>
		{% for fabricante in fabricantes %}
		<span class="badge badge-info"> {{forloop.counter}} </span> <strong>{% if fabricante.fabricante__nome %}{{fabricante.fabricante__nome}}{% else %}Desconhecido{% endif %}</strong>: {{fabricante.total}} {{componente.get_medida_display}}{{fabricante.total|pluralize}}<br />
		{% empty %}
		Nenhuma Fabricação Indicada em Lançamento
            
		{% endfor %}
            
	</div>
        
	<div class="tab-pane fade in" id="participacao">
		<h2>Participação como Componente de Produtos</h2>
		<table class="table table-condensed table-hover table-rounded">
			<thead>
				<tr>
					<th>Item</th>
					<th>Produto</th>
					<th>Quantidade</th>
					<th>Nome</th>
					<th>Descrição</th>
				</tr>
			</thead>
			<tbody>
				{% for participacao in componente.linhacomponenteavulsodoproduto_set.all %}
				<tr>
					<td>            <span class="badge badge-important"> {{forloop.counter}} </span>
					</td>
					<td><a href="{% url "producao:ver_produto" participacao.produto.id %}#componentes-avulsos">{{participacao.produto.part_number}}</a></td>
					<td><span class="badge badge-warning">{{participacao.quantidade}} {{participacao.componente.medida}}</span></td>
					<td>{{participacao.produto.nome}}</td>
					<td>{{participacao.produto.descricao}}</td>

				</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td><span class="badge badge-success">Total: <strong>{{componente.total_participacao_avulsa_produto}}</span></strong>
					</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
            
			<h2>Participação como PADRÃO em Linha de Sub Produto</h2>
			<table class="table table-condensed table-hover table-rounded">
				<thead>
					<tr>
						<th>Item</th>
						<th>SubProduto</th>
						<th>Quantidade</th>
						<th>Nome</th>
						<th>Descrição</th>
						<th># Linha</th>
						<th>Padrão</th>
					</tr>
				</thead>
				<tbody>
					{% for participacao in participacoes_linha_componente_padrao %}
					<tr>
						<td>            <span class="badge badge-important"> {{forloop.counter}} </span>
						</td>
						<td><a href="{% url "producao:ver_subproduto" participacao.linha.subproduto.id %}#linhas-componente">{{participacao.linha.subproduto.part_number}}</a></td>
						<td><span class="badge badge-warning">{{participacao.quantidade}} {{participacao.componente.medida}}</span></td>
												
						<td>{{participacao.linha.subproduto.nome}}</td>
						<td>{{participacao.linha.subproduto.descricao}}</td>
												
						<td><a href="{% url "producao:editar_linha_subproduto"  participacao.linha.subproduto.id participacao.linha.id %}">#{{participacao.linha.id}}</a></td>
						<td>{% if participacao.padrao %}
							<span class="badge badge-success"><i class="fa fa-check"></i> Padrão</span>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td></td>
						<td></td>
						<td><span class="badge badge-success">Total: <strong>{{componente.total_participacao_padrao_subproduto}}</span></strong>
						</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
            

			<h2>Participação como ALTERNATIVO em Linha de Sub Produto</h2>
			<table class="table table-condensed table-hover table-rounded">
				<thead>
					<tr>
						<th>Item</th>
						<th>SubProduto</th>
						<th>Quantidade</th>
						<th>Nome</th>
						<th>Descrição</th>
						<th># Linha</th>
						<th>Padrão</th>
					</tr>
				</thead>
				<tbody>
					{% for participacao in participacoes_linha_componente_alternativo %}
					<tr>
						<td>            <span class="badge badge-important"> {{forloop.counter}} </span>
						</td>
						<td><a href="{% url "producao:ver_subproduto" participacao.linha.subproduto.id %}#linhas-componente">{{participacao.linha.subproduto.part_number}}</a></td>
						<td><span class="badge badge-warning">{{participacao.quantidade}} {{participacao.componente.medida}}</span></td>
												
						<td>{{participacao.linha.subproduto.nome}}</td>
						<td>{{participacao.linha.subproduto.descricao}}</td>
												
						<td><a href="{% url "producao:editar_linha_subproduto"  participacao.linha.subproduto.id participacao.linha.id %}">#{{participacao.linha.id}}</a></td>
						<td>{% if participacao.padrao %}
							<span class="badge badge-success"><i class="fa fa-check"></i> Padrão</span>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td></td>
						<td></td>
						<td><span class="badge badge-success">Total: <strong>{{componente.total_participacao_alternativo_subproduto}}</span></strong>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
            

            
            
	</div>
        
	<div class="tab-pane fade in" id="memoria">


			<h2>Memória de Relacionamento com Fornecedores</h2>
			
			<div class="row-fluid">
				<div class="span6">
					
			{% if request.user.perfilacessoproducao.gerente %}
			<p>
				<a href="{% url "producao:adicionar_memoria_componente" componente.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar à Memória</a>
			</p>
			{% endif %}
			
				</div>
				
				<div class="span6">
					<p>
						<small>* Part Number Fornecedor<br />
							* * Part Number Fabricante
						</small> 
					</p>
				</div>
				
			
			
		</div>
			
			
			
			<table class="table table-condensed table-hover table-rounded">
				<thead>
					<tr>
						<th>Fornecedor</th>
						<th>PN Fornecedor *</th>
						<th>Fabricante</th>
						<th>PN Fabricante **</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tbody>
					{% for memoria in memorias %}
					<tr>
						<td>
							<a class="" href="{% url "producao:ver_fabricantes_fornecedores" memoria.fornecedor.id %}">{{memoria.fornecedor.nome_curto}}</a>
						</td>
						<td>{{memoria.part_number_fornecedor}}</td>
						<td>FAB: {{memoria.fabricante.nome}}</td>
						<td>{{memoria.part_number_fabricante}}</td>
						<td>						{% if request.user.perfilacessoproducao.gerente %}
						<a href="{% url "producao:apagar_memoria_componente" memoria.componente.pk memoria.pk %}" class="btn btn-danger" onclick="return confirm('Tem certeza que Quer Apagar?')">
							<i class="fa fa-trash-o"></i> Apagar
						</a>{% endif %}
					</td>
					</tr>
					{% endfor %}
		
				</tbody>
			</table>

        
	</div>
        
	<div class="tab-pane fade in" id="arquivos">
            
			<h2>Imagem</h2>
			<div class="row-fluid">
				<div class="span6">
					{% if componente.imagem %}
					<a href="{{componente.imagem.url}}">
						{% thumbnail componente.imagem "400x400" crop="center" as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
						{% endthumbnail %}
					</a>
					{% endif %}
				</div>
                
				<div class="span6">
					{% if request.user.perfilacessoproducao.gerente %}
					<form method="POST" class="well form-horizontal" action="#arquivos" enctype="multipart/form-data">
						{% csrf_token %}
						{{form_imagem.as_p}}
						<button class="btn btn-primary" name="anexar-imagem" value="anexar" type="submit"><i class="fa fa-paperclip"></i> Alterar / Anexar Imagem</button>
                
					</form>
					{% endif %}
                    
                    
				</div>
			</div>
            
            
			<h2>Documentos Técnicos</h2>

			{% if request.user.perfilacessoproducao.gerente %}
			<form method="POST" class="form form-inline" action="#arquivos" enctype="multipart/form-data">
				{% csrf_token %}
				{{form_anexos.as_p}}
				<button class="btn btn-primary" name="anexar-documento" value="anexar" type="submit"><i class="fa fa-paperclip"></i> Anexar Arquivo</button>
                
			</form>
			{% endif %}
			<hr />
			{% for anexo in componente.arquivoanexocomponente_set.all %}
			<p><span class="label"> {{forloop.counter}}</span> - <a href="{{anexo.arquivo.url}}">{{anexo.nome}}</a> {% if request.user.perfilacessoproducao.gerente %}<a href="{% url "producao:ver_componente_apagar_anexo" componente.id anexo.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza que Quer Apagar?')" ><i class="fa fa-trash-o"></i></a>{% endif %}</p>
			{% empty %}
			Nenhum arquivo anexo.
			{% endfor %}
		</div>
        
	</div>

	{% endblock %}

	{% block auxiliar-menu %}
	{% addtoblock "js" %}
	<script src="{{STATIC_URL}}frontend/js/Chart.min.js"></script>

	<script>
	$(document).ready(function() {
		$("#menu-producao-componentes, #top-menu-producao").addClass("active");
		$("#busca_componente").focus()
		var activeTab = $('[href=' + location.hash + ']');
		activeTab && activeTab.tab('show');
    
	});
	</script>


	<script>

	var lineChartData = {
		labels : [{% for lancamento in lancamentos %}"{{lancamento.criado|date:"SHORT_DATE_FORMAT"}}",{% endfor %}
		],
		datasets : [
		{
			fillColor : "rgba(53,150,159,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			pointColor : "rgba(220,220,220,1)",
			pointStrokeColor : "#fff",
			data : [{% for lancamento in lancamentos %}{{lancamento.valor_unitario_final}},{% endfor %}
			]
		},
		]
		
	}

	var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);

	</script>

	{% endaddtoblock %}
	{% include "frontend/producao/producao-menu.html" %}
	{% endblock%}