{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Lançar Nota{% endblock %}</title>

{% block content %}

<h1><i class="icon-th"></i> <i class="icon-paste"></i> Lançar Nota</h1>
{% if request.user.perfilacessoproducao.gerente %}
    {% if not tipo %}

    <h2>Escolha o tipo de nota</h2>
    <p>
    <a href="?tipo=nfe" class="btn btn-success">Nota Fiscal Eletrônica (ARQUIVO XML)</a>
    </p>

    <p>
        <a href="{% url "producao:adicionar_nota" %}" class="btn btn-info">Nota Manual</a>
    </p>
    {% else %}
        <h2>Tipo Escolhido {{tipo}}</h2>
        {% ifequal tipo 'nfe' %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{upload_form}}
                <input type="submit" name="arquivo_nfe" class="btn btn-success" value="Enviar">
            </form>
        {% endifequal %}

    {% endif %}
{% endif %}
<h2>Notas Abertas</h2>
<ul>
{% for nota in notas_abertas %}
    <li><a href="{% url "producao:ver_nota" nota.id %}"><strong>{{nota.fabricante_fornecedor}}</strong>: {{nota}}</a></li>
{% endfor %}
</ul>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-lancar-nota, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}