{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Ordem de Produção{% endblock %}</title>

{% block content %}
<h1><i class="icon-th"></i> <i class="icon-truck"></i>  Ordem de Produção</h1>
	
	<ul class="nav nav-tabs normargin" id="navtab-ordem-producao">
	    <li class="active"><a href="#produzir" data-toggle="tab">Produzir</a></li>
	    <li>
	        <a href="#producao-combinada" data-toggle="tab" class="ajaxtab" data-url="{% url "producao:producao_combinada" %}">
	            Produção Combinada
	        </a>
	    </li>
	    <li>
	        <a href="#preparar-producao-semanal" data-toggle="tab" class="ajaxtab" data-url="{% url "producao:preparar_producao_semanal" %}">
	            Preparar Produção Semanal
	        </a>
	    </li>
	    <li>
	        <a href="#qeps-componente" data-toggle="tab" class="ajaxtab" data-url="{% url "producao:qeps_componentes" %}">
	            Relatório de Compras
	        </a>
	    </li>
	</ul>
	
	<div id="tab-content-ordem-producao" class="tab-content">
		
		<div class="tab-pane fade in active" id="produzir">
			<h3><i class="icon-list-ul"></i> Produzir Sub Produto</h3>
				<form method="post">
					{% csrf_token %}
					
					<div class="row-fluid">
						<div class="span2">
							Quantidade:<br />
							{{form_subproduto.quantidade.errors}}
							{{form_subproduto.quantidade}}
						</div>
							
						<div class="span10">
							Subproduto<br/>
							{{form_subproduto.subproduto.errors}}
							{{form_subproduto.subproduto}}
						</div>
						<p>
				</p>
					</div>
					<button class="btn btn-primary" type="submit" name="bt-form-subproduto" value="Produzir"><i class="icon-truck"></i> <i class="icon-list-ul"></i> Produzir Sub Produto</button>
					
				</form>
	
			<h3><i class="icon-windows"></i> Produzir Produto</h3>
			
				<form method="post">
					{% csrf_token %}
					<div class="row-fluid">
						<div class="span2">
							Quantidade:<br />
							{{ form_produto.quantidade.errors }}
							{{form_produto.quantidade}}
						</div>
						<div class="span10">
							Produto:<br />
							{{form_produto.produto.errors}}
							{{form_produto.produto}}
						</div>
					</div>
					<button class="btn btn-primary" type="submit" name="bt-form-produto" value="Produzir"><i class="icon-truck"></i> <i class="icon-windows"></i> Produzir  Produto</button>
			
				</form>
							
		</div>
		
	
		<div class="tab-pane fade in" id="producao-combinada">
			producao
		</div>
		
		<div class="tab-pane fade in" id="qeps-componente">
			QEPS X Componente
		</div>
		
		<div class="tab-pane fade in" id="preparar-producao-semanal">
			Preparar Produção Semanal
		</div>
		
		
		
	</div>
	
	

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-producao-ordem-de-producao, #top-menu-producao").addClass("active");
    var activeTab = $('[href=' + location.hash + ']');
    activeTab && activeTab.click();
		
});

$('.nav-tabs').on("click", '.ajaxtab', function(e){
	e.preventDefault();
	var url = $(this).attr("data-url");
	var href = this.hash;
	window.location.hash = this.hash;
	var pane = $(this);
	// ajax load from data-url
	$(href).load(url)
	$(href).html("<i class='icon-spinner icon-spin icon-large icon-3x'></i>");
	pane.tab('show');		
})




</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}