{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Ordem de Produção{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-truck"></i>  Ordem de Produção</h1>
	
	<ul class="nav nav-tabs normargin" id="navtab-ordem-producao">
	    <li class="active"><a href="#produzir" class="ajaxtab" data-toggle="tab">Produzir</a></li>
			<li> <a class="ajaxtab" href="#converter" data-toggle="tab">Converter</a></li>
	    <li>
	        <a href="#producao-combinada" data-toggle="tab" class="ajaxtab" data-url="{% url "producao:producao_combinada" %}">
	            Produção Combinada
	        </a>
	    </li>
	    <li>
	        <a href="#relatorio-de-compras" data-toggle="tab" class="ajaxtab" data-url="{% url "producao:relatorio_compras" %}">
	            Relatório de Compras ou Produção Semanal
	        </a>
	    </li>
	    <li>
	        <a href="#relatorio-de-compras-automatico" data-toggle="tab" class="ajaxtab" data-url="{% url "producao:relatorio_compras_automatico" %}">
	            Relatório de Compras Automático
	        </a>
	    </li>

	</ul>
	
	<div id="tab-content-ordem-producao" class="tab-content">
		
		<div class="tab-pane fade in active" id="produzir">
			<h3><i class="fa fa-list-ul"></i> Produzir Sub Produto</h3>
				<form method="post">
					{% csrf_token %}
					
					<div class="row-fluid">
						<div class="span2">
							Quantidade:<br />
							{{form_subproduto.quantidade.errors}}
							{{form_subproduto.quantidade}}
						</div>
							
						<div class="span6">
							{{form_subproduto.subproduto.label}}<br/>
							{{form_subproduto.subproduto.errors}}
							{{form_subproduto.subproduto}}
						</div>
						
						<div class="span4">
							<br />
							<button class="btn btn-primary" type="submit" name="bt-form-subproduto" value="Produzir"><i class="fa fa-truck"></i> <i class="fa fa-list-ul"></i> Produzir Sub Produto</button>
						</div>
						
					</div>
				
				</form>
			<h3><i class="fa fa-windows"></i> Produzir Produto</h3>
			
				<form method="post">
					{% csrf_token %}
					<div class="row-fluid">
						<div class="span2">
							Quantidade:<br />
							{{ form_produto.quantidade.errors }}
							{{form_produto.quantidade}}
						</div>
						<div class="span6">
							Produto:<br />
							{{form_produto.produto.errors}}
							{{form_produto.produto}}
						</div>
						
						<div class="span4">
							<br />
							<button class="btn btn-primary" type="submit" name="bt-form-produto" value="Produzir"><i class="fa fa-truck"></i> <i class="fa fa-windows"></i> Produzir  Produto</button>
						</div>
					</div>
			
				</form>
							
		</div>
			
		<div class="tab-pane fade in" id="producao-combinada">
			producao
		</div>
		
		<div class="tab-pane fade in" id="relatorio-de-compras-automatico">
			QEPS X Componente
		</div>
		
		<div class="tab-pane fade in" id="relatorio-de-compras">
			Preparar Produção Semanal
		</div>
		
		<div class="tab-pane fade in" id="converter">
			<h4>Converter Sub Produto</h4>
			<form method="POST">
				{% csrf_token %}
			{{form_converter_subproduto.as_p}}
			<button type="submit" class="btn btn-primary" name="bt-form-converter" value="converter"><i class="fa fa-refresh"></i> Converter</button>
			</form>
		</div>
		
		
		
	</div>
	
	

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-producao-ordem-de-producao, #top-menu-producao").addClass("active");
	// Javascript to enable link to tab
	var hash = document.location.hash;
	var prefix = "tab_";
	if (hash) {
	    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').click();
	} 

		
});




$('.nav-tabs').on("click", '.ajaxtab', function(e){
	e.preventDefault();
	
	var href = this.hash;
	window.location.hash = href.replace("#", "#" + "tab_");
	var pane = $(this);
	// ajax load from data-url
	var url = $(this).attr("data-url");
	if (url){
		$(href).load(url);
		$(href).html("<i class='fa fa-spinner fa fa-spin fa fa-large fa fa-3x'></i>");
	}
	pane.tab('show');		
})




</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}