{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Movimento de Produção{% endblock %}</title>

{% block content %}
	<h1><i class="fa fa-th"></i> <i class="fa fa-retweet"></i>  Movimento de Produção</h1>

	<ul class="nav nav-tabs">
    <li class="active"><a href="#producao-produto" data-toggle="tab">Produção de Produto</a></li>
		<li class=""><a href="#producao-sub-produto" data-toggle="tab">Produção de Sub Produto</a></li>
		<li class=""><a href="#conversao-sub-produto" data-toggle="tab">Conversão de Sub Produto</a></li>
		<li class=""><a href="#movimentacao-produto" data-toggle="tab">Movimentação de Produto</a></li>
    <li class=""><a href="#movimentacao-sub-produto" data-toggle="tab">Movimentação de Sub Produtos</a></li>
	</ul>	
	
	
	<form method="POST" class="filtra-produto form form-inline">
		{% csrf_token %}
		<div class="row-fluid">
			<div class="span2">
				{{form_filtro_movimento.inicio.label}}:<br />{{form_filtro_movimento.inicio}}
			</div>

			<div class="span2">
				{{form_filtro_movimento.fim.label}}:<br />{{form_filtro_movimento.fim}}
			</div>
			
			<div class="span4">
				{{form_filtro_movimento.registros.label}}:<br />{{form_filtro_movimento.registros}}
			</div>
			

			<div class="span4">
					{{form_filtro_movimento.funcionario.errors}}
				{{form_filtro_movimento.funcionario.label}}:<br />{{form_filtro_movimento.funcionario}}
			</div>
		</div>
		<div class="row-fluid">

			<div class="span6">
					{{form_filtro_movimento.subproduto.errors}}
				{{form_filtro_movimento.subproduto.label}}:<br />{{form_filtro_movimento.subproduto}}
			</div>
			
			<div class="span6">
					{{form_filtro_movimento.produto.errors}}
				{{form_filtro_movimento.produto.label}}:<br />{{form_filtro_movimento.produto}}
			</div>
		</div>
			
		<button type="submit" class="btn btn-primary" name="filtrar-movimento-produtos-btn" value="filtrar"><i class="fa fa-filter"></i> Filtrar</button> <button name="clear"  value="clear" href="." class="btn btn-info">Limpar Filtro</button>

	</form>
	
	
	<div id="myTabContent" class="tab-content">

			<div class="tab-pane fade in active" id="producao-produto">
				<h2>Ordem de Produção do Produto *</h2>
				
				<small>* Registros gerados somente através do processo de <a href="{% url "producao:ordem_de_producao" %}">Ordem de Produção</a>.</small>
				
				
				<div id="ordem-de-producao-produto">
					<table class="table table-condensed table-hover table-rounded">
						<thead>
							<tr>
								<th>ID</th>
								<th>Produto</th>
								<th>Nome</th>
								<th>Quant</th>
								<th>Func. Produtor</th>
								<th>Data Produção</th>
							</tr>
						</thead>
						<tbody>
							{% for ordem in ordens_de_producao_produto %}
							<tr>
								<td>{{ordem.id}}</td>
								<td><a href="{% url "producao:ver_produto" ordem.produto.id %}">{{ordem.produto.part_number}}</a></td>
								<td>{{ordem.produto.nome}}</td>
								<td><span class="badge badge-warning">{{ordem.quantidade}} und</span></td>
								<td>{{ordem.criado_por.funcionario}}</td>
								<td>{{ordem.criado|date:"SHORT_DATE_FORMAT"}}</td>
							</tr>
							{% endfor %}
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td><strong><small>Total: {{total_ordem_producao_produto.quantidade__sum}}</small></strong></td>
								<td></td>
								<td></td>
							</tr>
						
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="tab-pane fade in" id="producao-sub-produto">
				<h2>Ordem de Produção Sub Produto *</h2>
				
				<small>* Registros gerados somente através do processo de <a href="{% url "producao:ordem_de_producao" %}">Ordem de Produção</a>.</small>
				
		
				
				<div id="ordem-de-producao-sub-produto">
					<table class="table table-condensed table-hover table-rounded">
						<thead>
							<tr>
								<th>ID</th>
								<th>Sub Produto</th>
								<th>Nome</th>
								<th>Quant</th>
								<th>Func. Produtor</th>
								<th>Data Produção</th>
							</tr>
						</thead>
						<tbody>
							{% for ordem in ordens_de_producao_subproduto %}
							<tr>
								<td>{{ordem.id}}</td>
								<td><a href="{% url "producao:ver_produto" ordem.subproduto.id %}">{{ordem.subproduto.part_number}}</a></td>
								<td>{{ordem.subproduto.nome}}</td>
								<td><span class="badge badge-warning">{{ordem.quantidade}} und</span></td>
								<td>{{ordem.funcionario_produtor}}</td>
								<td>{{ordem.data_producao|date:"SHORT_DATE_FORMAT"}}</td>
							</tr>
							{% endfor %}
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td><strong><small>Total: {{total_ordem_producao_sub_produto.quantidade__sum}}</small></strong></td>
								<td></td>
								<td></td>
							</tr>
						
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="tab-pane fade in" id="conversao-sub-produto">
				<h2>Conversão de Sub Produto*</h2>
				<small>* Conversão de Sub Produto A para Sub Produto B</small>
				
				<div id="ordem-de-producao-sub-produto">
					<table class="table table-condensed table-hover table-rounded">
						<thead>
							<tr>
								<th>ID</th>
								<th>Sub Produto A</th>
								<th>Nome A</th>
								<th>Sub Produto B</th>
								<th>Nome B</th>
								<th>Quant.</th>
								<th>Func. Produtor</th>
								<th>Data Conversão</th>
							</tr>
						</thead>
						<tbody>
							{% for ordem in ordens_conversao_subproduto %}
							<tr>
								<td>{{ordem.id}}</td>
								<td><a href="{% url "producao:ver_produto" ordem.subproduto_original.id %}">{{ordem.subproduto_original.part_number}}</a></td>
								<td><a href="{% url "producao:ver_produto" ordem.subproduto_original.id %}">{{ordem.subproduto_original.nome}}</a></td>
								<td><a href="{% url "producao:ver_produto" ordem.subproduto_destino.id %}">{{ordem.subproduto_destino.part_number}}</a></td>
								<td><a href="{% url "producao:ver_produto" ordem.subproduto_destino.id %}">{{ordem.subproduto_destino.nome}}</a></td>
								
								<td><span class="badge badge-warning">{{ordem.quantidade}} und</span></td>
								<td>{{ordem.criado_por.funcionario}}</td>
								<td>{{ordem.criado|date:"SHORT_DATE_FORMAT"}}</td>
							</tr>
							{% endfor %}
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><strong><small>Total: {{total_ordem_conversao_subproduto.quantidade__sum}}</small></strong></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						
						</tbody>
					</table>
				</div>
				
			</div>
			
			
			<div class="tab-pane fade in" id="movimentacao-produto">
				<h2>Movimentação de Produto*</h2>
				
				<small>* Registros gerados através dos processos de movimentações manuais dos produtos.</small>
				
			
				
				<div id="movimentacao-produto">
					<table class="table table-condensed table-hover table-rounded">
						<thead>
							<tr>
								<th>ID</th>
								<th>Produto</th>
								<th>Nome</th>
								<th>Quant</th>
								<th>Operação</th>
								<th>Antes / Depois</th>
								<th>Data de Alteração</th>
								<th>Func. Produtor</th>
							</tr>
						</thead>
						<tbody>
							{% for movimento in movimento_estoque_produto %}
							<tr data-toggle="tooltip" title="Justificativa: {{movimento.justificativa}}" class="tooltip_item">
								<td>{{movimento.id}}</td>
								<td><a href="{% url "producao:ver_produto" movimento.produto.id %}">{{movimento.produto.part_number}}</a></td>
								<td>{{movimento.produto.nome}}</td>
								<td><span class="badge badge-warning">{{movimento.quantidade_movimentada}} und</span></td>
								<td>{{movimento.get_operacao_display}}</td>
								<td>{{movimento.quantidade_anterior}} -> {{movimento.quantidade_nova}}</td>
								<td>{{movimento.criado|date:"SHORT_DATE_FORMAT"}}</td>
								<td>{{movimento.criado_por.funcionario}}</td>
							</tr>
							{% endfor %}
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td><strong><small>Total: {{total_movimento_estoque_produto.quantidade_movimentada__sum}}</small></strong></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						
						</tbody>
					</table>
				</div>
			</div>
	
	    <div class="tab-pane fade in" id="movimentacao-sub-produto">
        
				<h2>Envio de Sub Produto Montado para Teste</h2>
				<div id="envio-de-subproduto-montado-para-teste">
					
					<table class="table table-condensed table-hover table-rounded">
						<thead>
							<tr>
								<th>ID</th>
								<th>Sub Produto</th>
								<th>Nome</th>
								<th>Quant</th>
								<th>Func. Produtor</th>
								<th>Data de Envio</th>
							</tr>
						</thead>
						<tbody>
							{% for registro in registros_envio_de_teste %}
							<tr>
								<td>{{registro.id}}</td>
								<td><a href="{% url "producao:ver_subproduto" registro.subproduto.id %}">{{registro.subproduto.part_number}}</a></td>
								<td>{{registro.subproduto.nome}}</td>
								<td><span class="badge badge-warning">{{registro.quantidade}} und</span></td>
								<td>{{registro.funcionario}}</td>
								<td>{{registro.data_envio|date:"SHORT_DATE_FORMAT"}}</td>
							</tr>
							{% endfor %}
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td><strong><small>Total: {{total_registro_envio_de_testes.quantidade__sum}}</small></strong></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						
						</tbody>
					</table>
					
				</div>
				
				<h2>Envio de Sub Produto Testado para Funcional</h2>
				<div id="envio-de-subproduto-testado-para-funcional">
					<table class="table table-condensed table-hover table-rounded">
						<thead>
							<tr>
								<th>ID</th>
								<th>Sub Produto</th>
								<th>Nome</th>
								<th>Quant</th>
								<th>Func. Produtor</th>
								<th>Data de Envio</th>
							</tr>
						</thead>
						<tbody>
							{% for registro in registros_saida_de_teste %}
							<tr>
								<td>{{registro.id}}</td>
								<td><a href="{% url "producao:ver_subproduto" registro.subproduto.id %}">{{registro.subproduto.part_number}}</a></td>
								<td>{{registro.subproduto.nome}}</td>
								<td><span class="badge badge-warning">{{registro.quantidade}} und</span></td>
								<td>{{registro.funcionario}}</td>
								<td>{{registro.data_envio|date:"SHORT_DATE_FORMAT"}}</td>
							</tr>
							{% endfor %}
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td><strong><small>Total: {{total_registro_saida_de_testes.quantidade__sum}}</small></strong></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						
						</tbody>
					</table>
					
				</div>
				
				<h2>Movimentação de Sub Produto</h2>
				<small>* Registros gerados através dos processos de movimentações manuais dos sub produtos.</small>
				
				<div id="envio-de-subproduto-testado-para-funcional">
					<table class="table table-condensed table-hover table-rounded">
						<thead>
							<tr>
								<th>ID</th>
								<th>Sub Produto</th>
								<th>Nome</th>
								<th>Quant</th>
								<th>Operação</th>
								<th>Antes / Depois</th>
								<th>Situação</th>
								<th>Data de Alteração</th>
								<th>Func. Produtor</th>
							</tr>
						</thead>
						<tbody>
							{% for movimento in movimento_estoque_subproduto %}
							<tr data-toggle="tooltip" title="Justificativa: {{movimento.justificativa}}" class="tooltip_item">
								<td>{{movimento.id}}</td>
								<td><a data-toggle="tooltip" title="first tooltip" href="{% url "producao:ver_subproduto" movimento.subproduto.id %}">{{movimento.subproduto.part_number}}</a></td>
								<td>{{movimento.subproduto.nome}}</td>
								<td><span class="badge badge-warning" >{{movimento.quantidade_movimentada}} und</span></td>
								<td>{{movimento.get_operacao_display}}</td>
								
								<td>{{movimento.quantidade_anterior}} -> {{movimento.quantidade_nova}}</td>
								<td>{{movimento.get_situacao_display}}</td>
								<td>{{movimento.criado|date:"SHORT_DATE_FORMAT"}}</td>
								<td>{{movimento.criado_por.funcionario}}</td>
							</tr>
							{% endfor %}
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td><strong><small>Total: {{total_movimento_estoque_subproduto.quantidade_movimentada__sum}}</small></strong></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						
						</tbody>
					</table>
					
				</div>

	    </div>
		</div>
	

	
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />
<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>

<script>
$(document).ready(function() {
	
		var activeTab = $('[href=' + location.hash + ']');
		activeTab && activeTab.click();
	
    $("#menu-producao-movimento-de-producao, #top-menu-producao").addClass("active");
		
				
		$('.datepicker').each(function() {
		   $(this).datepicker({
			inline: true,
	        dateFormat: "dd/mm/yy"
        
				});
		});
		
		$('.tooltip_item').tooltip()
		
});

$(document).on("click", "#imprimir", function(e){
	e.preventDefault();
	$(this).hide();
	$("#menu-lateral").hide();
	$("#global-top-menu").hide();
	$("#main-content").css("padding-top", 0);
	$("#content").removeClass('span9').addClass('span11');
});

$('.nav-tabs').on("click", '.nav-tabs li a', function(e){
	e.preventDefault();

	var href = this.hash;
	window.location.hash = this.hash;
	var pane = $(this);
	// ajax load from data-url
	pane.tab('show');		
})


</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}