<div id="qeps-container">
<p class="btn-group">
<button id="esconder-linhas-ok" class="btn btn-success">Mostra/Esconder Linhas OK</button>

	<button href="" id="imprimir" class="btn btn-primary"><i class="icon-print"></i> imprimir</button>
	</p>
	<div id="form-margem-fornecida">
		<form method="get">
		<input type="text" name="margem" id="margem-qeps" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,''); handleChange(this);" value="{% if margem_fornecida %}{{margem_fornecida}}{% else %}0{%endif%}" class="input-mini"><strong>%</strong> Margem de Segurança de Componentes
		<button type="submit" class="btn btn-primary" id="calcular-magem">Calcular com Margem</button>
		</form>
	</div>
<small>* Relatório leva em consideração Quantidade de Estoque de Produção Semanal (QEPS) X Lead Time de Cada Componente</small><br />
<small>** Não está levando em consideração a quantidade de Sub Produtos funcionais e Produtos produzidos</small>
	
	

<table class="table table-condensed table-hover table-rounded">
	<thead>
		<tr>
			<th>Componente</th>
			<th>Descrição</th>
			<th>R$ Médio</th>
			<th>Ult R$</th>
			<th>Ult USD</th>
			<th>Tot Estoq</th>
			<th>Qtd Nec.</th>
			<th>Faltante</th>
			<th>Valor</th>
		</tr>
	</thead>
	<tbody>
		{% for linha in tabela_items %}
		<tr class="alert alert-{% if linha.4 %}success linhaok{% else %}danger{% endif %}">
			<td><a href="{{linha.5}}"><i class="icon-stop"></i> {{linha.0.part_number}}</a></td>
			<td>{{linha.0.descricao}}</td>
			<td>R$ {{linha.0.preco_medio_unitario|floatformat:2}}</td>
			
			
			<td>{% if linha.0.preco_liquido_unitario_real %}R$ {{linha.0.preco_liquido_unitario_real|floatformat:2}}{% else %}-{%endif%}</td>
			<td>{% if linha.0.preco_liquido_unitario_dolar %} USD {{linha.0.preco_liquido_unitario_dolar|floatformat:2}}{% else %}-{% endif %}</td>
			
			<td>{{linha.0.total_em_estoques}} {{linha.0.medida}}</td>
			<td>{{linha.2}} {{linha.0.medida}}</td>
			<td>{{linha.3}} {{linha.0.medida}}</td>
			<td>R${{linha.6|floatformat:2}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div class="row-fluid">
	
	<div class="span8">
		
		<h6>Legenda da Tabela</h6>
		<p>
				<small>
	
				* <strong>R$ Médio</strong> = Preço Médio Unitário	<br />
				* <strong>Ult R$</strong> = Última Compra em Real	Sem Impostos<br />
				* <strong>Ult USD</strong> = Última Compra em Dolar	Sem Impostos<br />
				* <strong>Qtd Nec.</strong> = Quantidade Necessária para Produção	<br />
				* <strong>Tot Estoq.</strong> = Total em TODOS os estoques<br />
			</small>
		</p>
		
	</div>
	
	<divl class="span4">
		<h4>Valor Total da Compra: R${{valor_total_compra|floatformat:2}}</h4>
		{% if margem_fornecida %}
		<small>Margem de Segurança de Componentes: <strong>{{margem_fornecida}}%</strong></small>
		{% endif %}
		
	</div>



<script>
$(document).ready(function() {
		$("#esconder-linhas-ok").click(function(e){
			e.preventDefault();
			$(".linhaok").toggle();
		});
		
		$(".linhaok").toggle();
		$('#calcular-magem').click(function(e){
			e.preventDefault();
			//alert($("#margem-qeps")[0].value);
			$("#qeps-container").load("{% url "producao:qeps_componentes" %}"+"?margem=" +$("#margem-qeps")[0].value)
		});
});


$(document).on("click", "#imprimir", function(e){
	e.preventDefault();
	$(this).hide();
	$("#navtab-ordem-producao").hide();
	$('#esconder-linhas-ok').hide()
	$("#menu-lateral").hide();
	$("#global-top-menu").hide();
	$("#main-content").css("padding-top", 0);
	$("#content").removeClass('span9').addClass('span11');
	$("#form-margem-fornecida").hide();
	
});


  function handleChange(input) {
    if (input.value < 0) input.value = 0;
    if (input.value > 100) input.value = 100;
  }

</script>
</div>