{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Ordem de Produção de SubProduto{% endblock %}</title>

{% block content %}
	<h1><i class="icon-th"></i> <i class="icon-truck"></i>  Ordem de Produção</h1>
	<h2><i class="icon-list-ul"></i> Sub Produto {{subproduto.part_number}}</h2>
	<div class="row-fluid">
		
		<div class="span7">
			{% if subproduto.tipo_de_teste %}
			<strong>Total Montado</strong>: <span class="badge">{{subproduto.total_montado}}</span><br />
			<strong>Total Testando</strong>: <span class="badge badge-info">{{subproduto.total_testando}}</span><br />
			<strong>Total Funcional</strong>: <span class="badge badge-success">{{subproduto.total_funcional}}</span><br />
			{% endif %}
		</div>

		<div class="span5">
				<h2 class="alert alert-info">{{quantidade_solicitada}} Unidades</h2>
					<h4>Tipo de Teste: {{subproduto.get_tipo_de_teste_display}}</h4>
		</div>
	</div>

	
	{% if calculado %}
	<div id="calculado">
		<h2>Calculo de Produção</h2>
		<h3>Componentes</h3>
		<table class="table table-condensed table-hover table-rounded">
			<thead>
				<tr>
					<th>Componente</th>
					<th>Qtd Utilizada</th>
					<th>Qtd Consumida</th>
					<th>Disponível em Estoque</th>
				</tr>
			</thead>
			<tbody>
					{% for k,linha in quantidades_componente.items %}
					<tr class="
					{% if linha.3 %}
					alert alert-success
					{%else%}
					alert alert-danger
					{% endif %}
					">
						<td>
							{{linha.0.componente.part_number}} ({{linha.0.componente.id}})
						</td>
						<td>{{linha.0.quantidade}}</td>
						<td>
							{{linha.1}} {{linha.0.medida}}
						</td>
						<td>
							{{linha.2}} {{linha.0.medida}}
						</td>
					</tr>
			{% endfor %}				
			</tbody>	
		</table>
		 
		<h3>Sub Produtos Agregados</h3>
		
		<table class="table table-condensed table-hover table-rounded">
			<thead>
				<tr>
					<th>Sub Produto</th>
					<th>Qtd Utilizada</th>
					<th>Qtd Consumida</th>
					<th>Disponível em Estoque</th>
					<th>Tipo de Teste</th>
				</tr>
			</thead>		
			<tbody>
					{% for linha in quantidades_agregados %}
					{{subproduto_agregado.0}}
					<tr class="
					{% if linha.3 %}
					alert alert-success
					{%else%}
					alert alert-danger
					{% endif %}
					">
						<td>
							{{linha.0.subproduto_agregado.part_number}}
							{{linha.0.subproduto_agregado.get_componentes}}
						</td>
						<td>{{linha.0.quantidade}}</td>
						<td>
							{{linha.1}} unidades
						</td>
						<td>
							{{linha.2}}
						</td>
						<td>
							{{linha.0.subproduto_agregado.get_tipo_de_teste_display}}
						</td>
					</tr>
			{% endfor %}				
			</tbody>	
		</table>

		{% if producao_liberada %}
		
		<h2>Produção Liberada</h2>
		{% if request.user.perfilacessoproducao.gerente %}
		<form method="POST" name="confirmar-produto" action="{% url "producao:ordem_de_producao_subproduto_confirmar" subproduto.id quantidade_solicitada %}">
			{% csrf_token %}

			<input type="hidden" name="configuracao" value="{{conf}}">
			<button class="btn btn-danger" type="submit">Confirmar Produção!</button>
		</form>
		{% else %}
		<h1>Somente o gerente pode ordenar produção!</h1>
		{% endif %}
		
		{% endif %}

	</div>		
	{% else %}
		<div id="configurar">
			
			<button class="btn btn-primary" form="configurador_produto">
				<i class="icon-search"></i> Verificar Disponibilidade para Produção
			</button>
			
			
			<h2>SubProdutos Agregados</h2>
		  <table class="table table-condensed table-hover table-rounded">
		      <thead>
		          <tr>
		              <th>Item Agregado</th>
		              <th>SubProduto</th>
									<th>Quantidade Utilizada</th>
		              <th>Disponível em Estoque</th>
									<th>Tipo de Teste</th>
		          </tr>
		      </thead>
		      <tbody>
				
				
						{% for linha in subproduto.linhasubprodutos_agregados.all %}
						<tr class="{% if linha.quantidade > linha.subproduto_agregado.total_disponivel %}
						
								alert alert-danger
								{% else %}
								alert alert-info
								{% endif %}"
		>
							<td>
						
								{{forloop.counter}}</td>
							<td>{{linha.subproduto_agregado.part_number}}</td>
							<td>{{linha.quantidade}}</td>
							<td>{{linha.subproduto_agregado.total_disponivel}}</td>
							<td>{{linha.subproduto_agregado.get_tipo_de_teste_display}}</td>
						</tr>
						{% endfor %}
				
					</tbody>
			</table>
	
			<h2>Linhas de Componentes</h2>
			<form method="post" name="configurador_produto" id="configurador_produto">
				{% csrf_token %}
				{{form_configurador_subproduto}}
			</form>
	
	
	
		</div>
	{% endif %}
	{% if get_componentes %}
	<strong>Notação de Produção Abreviada</strong>: {{get_componentes}}<br />
	<strong>Notação de Produção Completa Não Agrupada</strong>: {{get_componentes_nao_agrupados}}<br />
	{% endif %}
	
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-producao-ordem-de-producao, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}