{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Listar Estoques{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-archive"></i> Estoque</h1>

<ul class="nav nav-tabs">
  <li class="active"><a href="#consultar" data-toggle="tab">Consultar</a></li>
  {% if request.user.perfilacessoproducao.gerente %}
  <li><a href="#movimentar" data-toggle="tab">Movimentar</a></li>
  <li><a href="#alterar" data-toggle="tab">Alterar</a></li>
  {% endif %}
  <li><a href="#historico" data-toggle="tab">Histórico de Movimentação</a></li>
	<li><a href="#historico-totalizador" data-toggle="tab">Histórico de Totalizador</a></li>
</ul>

<div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="consultar">
        
        <div id="consultar">
            {% if consultado %}

                {% if consulta_dupla %}
                 <div id="consulta dupla">
         
                     <h3>Componente {{componente_consultado.part_number}}</h3>
                     <h4>No Estoque: {{estoque_consultado}}</h4>
                     <div class="well">
                         <strong>Quantidade</strong>: {{posicaoestoque}} ({{componente_consultado.get_medida_display}})<br />
                         <strong>Valor</strong>: R$ {{valor_no_estoque|floatformat:2}}
                     </div>
                     <a href="{% url "producao:listar_estoque" %}" class="btn btn-primary"><i class="fa fa-search"></i> Nova Consulta / Movimentação</a>
                 </div>
                {% endif %}
    
                {% if consulta_componente %}
                <div id="consulta_componente">
                    <h3>Consultando Componente {{componente_consultado.part_number}} - {{componente_consultado.descricao}}</h3>


                    <table class="table table-condensed table-striped table-rounded table-bordered">
                        <thead>
                            <tr>
                                <th>Estoque</th>
                                <th>Quantidade</th>
                                <th>Valor</th>
                                <th>Data da Última Alteração</th>
                            </tr>
                        </thead>
                        </tbody>
                        {% for posicao in posicoes_estoque %}
                        <tr>
                            <td>{% if posicao.0.estoque.nome %}{{posicao.0.estoque.nome}}{% else %}{{posicao.0.estoque}}{% endif %}</td>
                            <td>{{posicao.0.quantidade}} ({{posicao.0.componente.get_medida_display}})</td>
                            <td>R$ {{posicao.1|floatformat:2}}</td>
                            <td>{{posicao.criado|date:"SHORT_DATE_FORMAT"}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

										<h5>Total em Estoque: {{componente_consultado.total_em_estoques}} {{componente_consultado.medida}}</h5>
    
                    <a href="{% url "producao:listar_estoque" %}" class="btn btn-primary"><i class="fa fa-search"></i> Nova Consulta / Movimentação</a>
                </div>
                {% endif %}
    
                {% if consulta_estoque %}
                <div id="consulta_estoque">
                    <h3>Consultando Estoque {{estoque_consultado}}</h3>

                    <table class="table table-condensed table-striped table-rounded table-bordered">
                        <thead>
                            <tr>
                                <th>Componente</th>
                                <th>Descrição</th>
                                <th>Quantidade</th>
                                <th>Valor</th>
                                <th>Data da Última Alteração</th>
                            </tr>
                        </thead>
                        </tbody>
                        {% for posicao in posicoes_estoque %}
                        <tr>
                            <td>{{posicao.0.componente.part_number}}</td>
                                                            
                            <td>{{posicao.0.componente.descricao}}</td>
                            <td>{{posicao.0.quantidade}} ({{posicao.0.componente.get_medida_display}})</td>
                            <td>R$ {{posicao.1|floatformat:2}}</td>
                            <td>{{posicao.0.criado|date:"SHORT_DATE_FORMAT"}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="badge badge-success">R$ {{total_geral|floatformat:2}}</span>
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>

    
                    <a href="{% url "producao:listar_estoque" %}" class="btn btn-primary"><i class="fa fa-search"></i> Nova Consulta / Movimentação</a>
                </div>
                {% endif %}
    
            {% else %}
                <form method="POST" action="#consultar">
                    {% csrf_token %}
                {{form_consulta_estoque.as_p}}
                <p>
                    <button type="submit" name="consulta-estoque" value="consultar" class="btn btn-primary"><i class="fa fa-search"> Consultar</i> </button>
                </p>
                </form>
            {% endif %}
        </div>
        
        
    </div>

    {% if request.user.perfilacessoproducao.gerente %}
    <div class="tab-pane fade in" id="movimentar">
        
        <div id="movimentar">
            <h4>Mover <strong>X Quantidade</strong> do <strong>Componente Y</strong> de <strong>Estoque A</strong> para <strong>Estoque B</strong></h4>
            <form method="POST" class="form-inline" action="#movimentar">
                {% csrf_token %}
                {{form_mover_estoque.as_p}}
                <button type='submit' class="btn btn-primary" name='movimentar-estoque' value="movimentar"><i class="fa fa-arrow-right"></i> Movimentar Estoque</button>
            </form>
        </div>
        <hr />
        
    </div>
    
    <div class="tab-pane fade in" id="alterar">
        <h4>Alterar (<strong>Adicionar ou Remover</strong>) <strong>X Quantidade</strong> do <strong>Componente Y</strong> ao <strong>Estoque A</strong></h4>
        <div id="alterar">
            <form method="POST" action="#alterar">
                {% csrf_token %}
            {{form_alterar_estoque.as_p}}
            <button type="submit" name='alterar-estoque' value="alterar" class="btn btn-primary"><i class="fa fa-wrench"></i> Alterar Estoque</button>
            </form>
        </div>
        
    </div>
    {% endif %}
    
    <div class="tab-pane fade in" id="historico">
        {% if consultado %}
            {% if componente_consultado %}
            <h4>Consultando Componente: {{componente_consultado}}</h4>
            {% endif %}
            {% if estoque_consultado %}
            <h4>Consultando Estoque: {{estoque_consultado}}</h4>
            {% endif %}
        {% endif %}
				
				<form method="POST" action="#historico" class="form form-inline" id="form-historico-movimentos">
					{% csrf_token %}
					{% if not filtro_historico %}
					<p><strong>Mostrando últimos 10</strong></p>
					{% else %}
					<p><strong>Filtro ativo. Exibindo <span class="badge badge-success">{{historicos.count}}</span> movimentos </strong></p>
					{% endif %}
					
				{{form_filtra_historico_movimentos}}
				<button type="submit" class="btn btn-primary" name="filtrar-historico-movimentos" value="filtrar">Filtrar</button>
			</form>
				
				
        
        <table class="table table-condensed table-striped table-rounded">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Estoque</th>
                    <th>Componente</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Alteração</th>
                    <th>Por</th>
                </tr>
            </thead>
            <tbody>
            {% for historico in historicos %}
                <tr>
 <td>{{historico.data_entrada|date:"SHORT_DATETIME_FORMAT"}}</td>
                    <td>{{historico.estoque.identificacao}}</td>
                    <td><a href="{% url "producao:ver_componente"  historico.componente.id %}">{{historico.componente.part_number}}</a></td>
                    <td>{{historico.componente.descricao}}</td>
                    <td>{{historico.quantidade}} ({{historico.componente.medida}})</td>
                    <td>{{historico.quantidade_alterada}}</td>
                    <td>{{historico.criado_por.funcionario}}
                        {% if historico.justificativa %}
                        <br />
                        <small class="label label-info">
                            Justificativa: {{historico.justificativa}}
                        </small>
                        {% endif %}
                        {% if historico.nota_referencia %}
                        <br />
                        <small class="label label-warning">
                            Nota Fiscal: {{historico.nota_referencia.numero}}
                        </small>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>
    
		<div class="tab-pane fade in" id="historico-totalizador">
			
			{% if not filtro_totalizador %}
			<p><strong>Mostrando últimos 10</strong></p>
			{% else %}
			<p><strong>Filtro ativo. Exibindo <span class="badge badge-success">{{totalizadores.count}}</span> Históricos de Totalizador </strong></p>
			{% endif %}
			
			<form method="POST" id="form-historico-totalizador"  action="#historico-totalizador" class="form form-inline">
				{% csrf_token %}
			{{form_filtra_historico_totalizador}}
			<button type="submit" class="btn btn-primary" name="filtrar-historico-estoque" value="filtrar">Filtrar</button>
			</form>
			
			<small>* Soma o valor total de todos os estoques e armazena o valor em relação a uma data/hora.</small>


      <table class="table table-condensed table-striped table-rounded">
          <thead>
              <tr>
                  <th>Data</th>
									<th>Valor</th>
              </tr>
          </thead>
          <tbody>
						{% for totalizador in totalizadores %}
						<tr>
							<td>{{totalizador.data}}</td>
							<td>R$ {{totalizador.valor|floatformat:2}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				
				<h6>Total Estoque X Data</h6>	
					<canvas id="myChart" width="800" height="400"></canvas>
				</div>
				
			
			
		</div>
		
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />
<link href="{{ STATIC_URL }}frontend/css/ui-lightness/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}frontend/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}frontend/js/jquery-ui-sliderAccess.js"></script>

<script src="{{STATIC_URL}}frontend/js/Chart.min.js"></script>
<script>
$(document).ready(function() {
	$("#menu-producao-estoque, #top-menu-producao").addClass("active");
	var activeTab = $('[href=' + location.hash + ']');
	activeTab && activeTab.tab('show');
		
	$( ".datepicker" ).datepicker({
		inline: true,
		dateFormat: "dd/mm/yy"
	});
	createChart();
});
</script>


<script>
        function createChart()
        {
            //Get the context of the canvas element we want to select
            var ctx = document.getElementById("myChart").getContext("2d");
 
            //Create the data object to pass to the chart
            var data = {
                labels : [{% for totalizador in totalizadores %}"{{totalizador.data|date:'SHORT_DATE_FORMAT'}}",{%endfor%}],
                datasets : [
                            {
                                fillColor : "rgba(151,187,205,0.5)",
                                strokeColor : "rgba(151,187,205,1)",
                                data : [{% for totalizador in totalizadores %}{{totalizador.valor|floatformat:0}},{%endfor%}]
                            }
                           ]
                      };
 
            //The options we are going to pass to the chart
            options = {
                barDatasetSpacing : 10,
                barValueSpacing: 5
            };
 
            //Create the chart
            new Chart(ctx).Line(data, options);
        }
        </script>


{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}