{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Arvore de Produto{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-code-fork"></i>  Árvore de Produtos</h1>

<p>
	<a href="" id="imprimir" class="btn btn-primary"><i class="fa fa-print"></i> imprimir</a>
</p>
<form method="GET" class="form-inline well well-small" id="selecionar-produto-form">
{{seleciona_produto.as_p}}
<p class="btn-group">
	<button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> Escolher somente este produto</button>
	{% if filtro %}
	<a href="{% url "producao:arvore_de_produto" %}" class="btn btn-success">Mostrar todos</a>
	{% endif %}
</p>
</form>

<div class="accordion" id="arvore-de-produtos">
	{% for produto in produtos %}
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse"  href="#collapse{{produto.id}}">
				<i class="fa fa-windows"></i> {{produto}} - R$ {{produto.custo|floatformat:2}}
			</a>
		</div>
		<div id="collapse{{produto.id}}" class="accordion-body collapse">
			<div class="accordion-inner">
				
				{% if produto.linhacomponenteavulsodoproduto_set.all %}
				<table class="table table-condensed table-hover table-rounded">
					<thead>
						<tr>
							<th>TAG</th>
							<th>Componente</th>
							<th>Descrição</th>
							<th>Quantidade</th>
							<th>Preço Unit.</th>
							<th>Preço Total</th>
							<th>I/N</th>
							<th>LT</th>
							<th>IPP</th>
						</tr>
					</thead>
					<tbody>
						{% for linha in produto.linhacomponenteavulsodoproduto_set.all %}
						<tr>
							<td>{{linha.componente.tag|upper}}</td>
							<td><i class="fa fa-stop"></i> {{linha.componente.part_number}}</td>
							<td>{{linha.componente.descricao}}</td>
							<td><span class="badge badge-warning">{{linha.quantidade}} {{linha.componente.medida|upper}}</span></td>
							<td>R$ {{linha.componente.preco_medio_unitario|floatformat:2}}</td>
							<td>R$ {{linha.custo|floatformat:2}}</td>
							<td>{{linha.componente.nacionalidade|upper}}</td>
							<td>{{linha.componente.lead_time}}</td>
							<td>{{linha.ipp|floatformat:2}} %</td>
						</tr>
						{% endfor %}
												
					</tbody>
				</table>
				{% else %}
				<i>Nenhum Componente</i>
				{% endif %}
				
				<div class="accordion" id="accordion-subproduto-{{produto.id}}">
					{% for linha in produto.linhasubprodutodoproduto_set.all %}
					<div class="accordion-group">
						<div class="accordion-heading">
							<a data-target="#collapse-produto{{produto.id}}-linha{{linha.id}}" class="accordion-toggle" data-toggle="collapse"  href="#collapse-produto{{produto.id}}-linha{{linha.id}}" data-href="{% url "producao:arvore_de_produto_ajax_subproduto" linha.subproduto.id produto.id %}?parent=produto{{produto.id}}-linha{{linha.id}}-forloop-{{forloop.counter}}-{{linha.subproduto.id}}">
								<i class="fa fa-list-ul"></i> <span class="badge badge-warning">{{linha.quantidade}} UND</span> {{linha.subproduto}} - R${{linha.subproduto.custo|floatformat:2}} - IPP: {{linha.ipp|floatformat:2}} %
							</a>
						</div>

						<div id="collapse-produto{{produto.id}}-linha{{linha.id}}" class="accordion-body collapse">
							<div class="accordion-inner">
								<i class='fa fa-spinner fa-spin fa-large fa-3x'></i>
							</div>
						</div>
					</div>
					{% empty %}
					<i>Nenhum Sub Produto</i>
					{% endfor %}
					
				</div>
				
      	
				

			</div>
		</div>
	</div>
	<hr />
	{% endfor %}
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
	$("#menu-producao-arvore-de-produto, #top-menu-producao").addClass("active");
});
	

$(document).on("click", ".accordion-toggle", function(e){
	e.preventDefault();
	var $this = $(this);
	if($this.attr('data-href'));
	{
		$($this.attr('data-target')).load($this.attr('data-href'));
		//alert($this.attr('data-target'));
	}
	
});

$(document).on("click", "#imprimir", function(e){
	e.preventDefault();
	$(this).hide();
	$("#selecionar-produto-form").hide();
	$("#menu-lateral").hide();
	$("#global-top-menu").hide();
	$("#main-content").css("padding-top", 0);
	$("#content").removeClass('span9').addClass('span11');
	
});


</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}