{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Editar Nota Fiscal{% endblock %}</title>

{% block content %}
<h1>Fabricantes e Fornecedores</h1>

{% if request.user.perfilacessoproducao.gerente %}
<p>
    <a href="{% url "producao:adicionar_fabricantes_fornecedores" %}" class="btn btn-primary"><i class="icon-plus"></i> Adicionar Novo Fabricante / Fornecedor</a>
</p>
{% endif %}
<div class="">
    <form class="form-search">
      <input type="text" class="input-medium search-query" name="q_fab_for", id="busca_fab_for" {% if q_fab_for %}value="{{q_fab_for}}"{% endif %}>

      <button type="submit" class="btn btn-primary"><i class="icon-search"></i> Buscar Fabricantes / Fornecedor</button>
      <a class="btn btn-success" href="?q_fab_for=todos">Listar Todos</a>
    </form>
</div>

{% if fab_for_encontrados %}
<p>
<strong>Listar Somente:</strong> {% for tipo in tipos_possiveis %}{% if not forloop.first %} | {% endif %}{% ifnotequal tipo.0 q_tipo %}<a href="?q_fab_for={{q_fab_for}}&q_tipo={{tipo.0}}">{% endifnotequal %}{{tipo.1}}{% ifnotequal tipo.0 q_tipo %}</a>{% endifnotequal %}{% endfor %}
</p>
{% for fab_for in fab_for_encontrados %}
    <p><a href="{% url "producao:ver_fabricantes_fornecedores" fab_for.id %}"><i class="icon-building"></i> {{fab_for}}, Tipo: {{fab_for.tipo}}</a></p>
{% endfor %}
{% endif %}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-fabricantes-fornecedores, #top-menu-producao").addClass("active");
    $("#busca_fab_for").focus()
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}