{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Adicionar Opção à Linha do Sub Produto{% endblock %}</title>

{% block content %}
<h3><i class="icon-th"></i> <i class="icon-list-ul"></i> Adicionando Opção Linha {{linha.peso}} do SubProduto {{subproduto}}</h3>

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary"><i class="icon-plus"></i> Adicionar Opção à  Linha {{linha}}</button>
</form>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-subprodutos, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}