{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Lançar Nota{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-paste"></i> Lançar Nota</h1>
{% if request.user.perfilacessoproducao.gerente %}
    {% if not tipo %}

    <h2>Escolha o tipo de nota</h2>
    <p class="btn-group">
    <a href="?tipo=nfe" class="btn btn-success"><i class="fa fa-attach"></i> Nota Fiscal Eletrônica (ARQUIVO XML)</a>
		<a href="{% url "producao:adicionar_nota" %}" class="btn btn-info"><i class="fa fa-user"></i> Nota Manual</a>
    </p>
    {% else %}
        <h2>Tipo Escolhido {{tipo}}</h2>
        {% ifequal tipo 'nfe' %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{upload_form}}
                <input type="submit" name="arquivo_nfe" class="btn btn-success" value="Enviar">
            </form>
        {% endifequal %}

    {% endif %}
{% endif %}

<form method="POST" class="form form-inline">
	{% csrf_token %}
	<div class="row-fluid">
		<div class="span3">
			Status:<br/>
			{{filtro_notas_form.status}}
			
		</div>
		<div class="span9">
			Fornecedor:<br/>
			{{filtro_notas_form.fornecedor}}
		</div>
	
	</div>
	<button type="submit" class="btn btn-primary">Filtrar</button>
</form>

{% if notas_exibir %}
<table class="table table-condensed table-hover table-rounded">
    <thead>
        <tr>
            <th>Fornecedor</th>
            <th>Série / # Nota</th>
						<th>Tipo</th>
						<th>Total S/ Imp.</th>
						<th>Total C/ Imp.</th>
						<th>Ação</th>
        </tr>
    </thead>
    <tbody>

			{% for nota in notas_exibir %}
				<tr>
					<td><a href="{% url "producao:ver_fabricantes_fornecedores" nota.fabricante_fornecedor.id  %}">{{nota.fabricante_fornecedor.nome}}</a></td>
					<td>{{nota.numero_de_serie}} / {{nota.numero_identificador}}</td>
					<td>{{nota.get_tipo_display}}</td>
					<td>R$ {{nota.total_sem_imposto|floatformat:2}}</td>
					<td>R$ {{nota.total_com_imposto|floatformat:2}}</td>
					<td>
						{% ifequal nota.status "a" %}
							<a class="btn btn-primary" href="{% url "producao:ver_nota" nota.id %}"><i class="fa fa-pencil"></i></a>
						{% else %}
						<a class="btn btn-success" href="{% url "producao:ver_nota" nota.id %}"><i class="fa fa-eye-open"></i></a>
							{% endifequal %}
					</td>
				</tr>
			{% endfor %}			
			
		</tbody>
	</thead>
</table>
{% else %}
<small>Nenhuma Nota a Exibir</small>
{% endif %}

{% endblock %}

{% block auxiliar-menu %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-lancar-nota, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}