{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-dropbox"></i> Produção</h1>

<div class="row-fluid">
    <div class="span2">
      <h6>Produtos</h6>
      <div class="alert alert-danger">
        <h5>{{produtos_total}}</h5>
		<span class="badge badge-success">{{produtos_ativos}} Ativo{{produtos_ativos|pluralize}}</span>
		<span class="badge badge-important">{{produtos_inativos}} Inativo{{produtos_inativos|pluralize}}</span>
      </div>
			
    </div>
    <div class="span2">
      <h6>Componentes</h6>
      <div class="alert alert-success">
          <h5>{{componentes_total}}</h5>
  		<span class="badge badge-success">{{componentes_ativos}} Ativo{{componentes_ativos|pluralize}}</span>
  		<span class="badge badge-important">{{componentes_inativos}} Inativo{{componentes_inativos|pluralize}}</span>
		  
      </div>
    </div>
    <div class="span2">
      <h6>Sub Produtos</h6>
      <div class="alert alert-warning">
          <h5>{{subprodutos_total}}</h5>
    		<span class="badge badge-success">{{subprodutos_ativos}} Ativo{{subprodutos_ativos|pluralize}}</span>
    		<span class="badge badge-important">{{subprodutos_inativos}} Inativo{{subprodutos_inativos|pluralize}}</span>
		  
      </div>
			
    </div>
    <div class="span2">
        <h6>Notas Fiscais</h6>
        <div class="well well-small">
            <h5>{{notas_total}}</h5>
    		<span class="badge badge-success">{{notas_abertas}} Aberta{{notas_abertas|pluralize}}</span>
    		<span class="badge badge-important">{{notas_lancadas}} Lançada{{notas_lancadas|pluralize}}</span>
			
        </div>
    </div>
    <div class="span3">
        <h6>Fornecedores e Fabricantes</h6>
        <div class="alert alert-info">
            <h5>Total: {{fornecedores_total}}</h5>
        </div>
    </div>    
</div>

<h4>Estoque</h4>

<div class="row-fluid">
    

    
    {% for estoque in estoques %}
    <div class="span2">
        <h6>{% if estoque.nome %}
        {{estoque.nome}}
        {% else %}
        {{estoque.identificacao|capfirst}}
        {% endif %}</h6>
        <form method="POST" action="{% url "producao:listar_estoque" %}">
            {% csrf_token %}
            <input type="hidden" name="componente" value="">
            <input type="hidden" name="estoque" value="{{estoque.id}}">
            
            <button type="submit" name="consulta-estoque" value="consultar" class="btn btn-primary"><i class="fa fa-search"> Consultar</i> </button>
            

        </form>

        
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-home, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}