{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Produto{% endblock %}</title>

{% block content %}
<h1><i class="icon-th"></i> <i class="icon-windows"></i>   Produtos</h1>

{% if request.user.perfilacessoproducao.gerente %}
<p>
    <a href="{% url "producao:adicionar_produto" %}" class="btn btn-primary"><i class="icon-plus"></i> Adicionar Novo Produto</a>
</p>
{% endif %}
<div class="well well-small">
    <h2>Buscar</h2>
    
    <form class="form-search">
      <input type="text" class="input-medium search-query" name="q_produto", id="busca_produto" {% if q_produto %}value="{{q_produto}}"{% endif %}>

      <button type="submit" class="btn btn-primary"><i class="icon-search"></i> Buscar Produto</button>
      <a class="btn btn-success" href="?q_produto=todos">Listar Todos</a>
    </form>
</div>

{% for produto in produtos_encontrados %}
    <a href="{% url "producao:ver_produto" produto.id %}"><i class="icon-windows"></i> {{produto}}</a>
    <hr />
{% endfor %}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-produtos, #top-menu-producao").addClass("active");
    $("#busca_produto").focus()
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}