{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Editar Nota Fiscal{% endblock %}</title>

{% block content %}

<h1><i class="icon-th"></i> <i class="icon-paste"></i> Ver Nota</h1>

<h3>Nota Fiscal número {{notafiscal.numero}}, {{notafiscal.get_tipo_display}}</h3>

<div class="row-fluid">
    <div class="span6 well">
        <strong>Status</strong>: {{notafiscal.get_status_display}}<br />
        <strong>Fabricante / Fornecedor</strong>: {{notafiscal.fabricante_fornecedor}}<br />
        <strong>Data de Entrada</strong>: {{notafiscal.data_entrada}}<br />
        {% ifequal notafiscal.tipo 'i' %}
        <strong>Cotação do Dolar</strong>: {{notafiscal.cotacao_dolar}}
        {% endifequal %}
    </div>
    
    
    <div class="span6 well">
        <h3>Totais</h3>
        <strong>Taxas Diversas</strong>: {{notafiscal.taxas_diversas}}<br />
        <strong>Total da Nota Sem Imposto</strong>: {{notafiscal.total_sem_imposto}}<br />
        <strong>Total da Nota Com Imposto</strong>: {{notafiscal.total_com_imposto}}<br />
        
        
    </div>
</div>

<p class="btn-group">
{% ifequal notafiscal.status "a" %}
<a class="btn btn-success" href="{% url "producao:editar_nota" notafiscal.id %}"><i class="icon-pencil"></i> Alterar Nota</a>

<a class="btn btn-warning" href="{% url "producao:calcular_nota" notafiscal.id %}"><i class="icon-refresh"></i> Calcular totais e impostos</a>


<a class="btn btn-danger" href="{% url "producao:editar_nota" notafiscal.id %}"><i class="icon-paste"></i> Lançar Nota no Estoque</a>
{% endifequal %}
</p>


<h2>Lançamentos dessa nota</h2>
<p>
    <a href="{% url "producao:adicionar_lancamento" notafiscal.id %}" class="btn btn-medium btn-info"><i class="icon-plus"></i> Novo Lançamento</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
          <th>#</th>
          <th>PART NUMBER</th>
          <th>QTD</th>
          <th>VALOR UNITÁRIO</th>
          <th>IMPOSTOS</th>
          <th>TX DIVERSA PROP.</th>
          <th>TOTAL UNITÁRIO</th>
          <th>EDITAR</th>
        </tr>
    </thead>
    <tbody>
        {% for lancamento in notafiscal.lancamentocomponente_set.all %}
        <tr>
            <td>{{lancamento.id}}</td>
            <td>{{lancamento.part_number_fornecedor}} {% if lancamento.componente %}(<strong>{{lancamento.componente.part_number}}</strong>){% endif %}</td>
            <td>{{lancamento.quantidade}}</td>
            <td>{{lancamento.valor_unitario}}</td>
            <td>{{lancamento.impostos}}%</td>
            <td>{{lancamento.valor_taxa_diversa_proporcional}} / {{lancamento.quantidade}}</td>
            <td>{{lancamento.valor_unitario_final}}</td>
            <td><a href="{% url "producao:editar_lancamento" notafiscal.id lancamento.id %}" class="btn"><i class="icon-pencil"></i></a>
        </tr>
        {% endfor %}
    </tbody>
</table>


<p>
<a href="{% url "producao:apagar_nota" notafiscal.id %}" class="btn btn-danger btn-large"><i class="icon-trash"></i> Apagar esta Nota</a>
</p>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-lancar-nota, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}