{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Editar Nota Fiscal{% endblock %}</title>

{% block content %}
<h1>Nota Fiscal {{lancamento.nota.numero}}</h1>
<h2>Editando Lançamento: {{lancamento.id}}</h2>
<form method="POST" class="form-horizontal">
    {% csrf_token %}
    {{lancamento_form.as_p}}
    <p>
        <button type="submit" class='btn btn-primary'><i class="icon-pencil"></i> Alterar este Lançamento</button>
    </p>
</form>
    

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
	$("#menu-producao-lancar-nota, #top-menu-producao").addClass("active");
    $(".nopoint").keyup(function() {
            $(this).val($(this).val().replace(/[.]/g, ""));
      });
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}