{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Controle de Testes - Lançar Falha{% endblock %}</title>

{% block content %}
	<h1><i class="fa fa-th"></i> <i class="fa fa-umbrella"></i>  Controle de Testes da Produção - Lançar Falha</h1>
	<h2>Resultados do Teste</h2>
	<form method="POST">
		{% csrf_token %}

		
		{{ lancamento_teste_form.non_field_errors }}
		<p>		
    {{ lancamento_teste_form.subproduto.errors }}
    <label for="id_subject">Sub Produto <i class="fa fa-list-ul"></i></label>
    {{ lancamento_teste_form.subproduto }}
		</p>
		
		<div id="linha1" class="well well-small">
			<div class="row-fluid ">
		    <div class="span3">
		        {{ lancamento_teste_form.quantidade_total_testada.errors }}
		        <label for="id_subject">Total Testado</label>
		        {{ lancamento_teste_form.quantidade_total_testada }}
		    </div>
				<div class="span1">
					<h1>=</h1>
				</div>
		    <div class="span3">
		        {{ lancamento_teste_form.quantidade_funcional.errors }}
		        <label for="id_subject">Total Funcional</label>
		        {{ lancamento_teste_form.quantidade_funcional }}
		    </div>
				<div class="span1">
					<h1>+</h1>
				</div>
		    <div class="span4">
		        {{ lancamento_teste_form.quantidade_perdida.errors }}
		        <label for="id_quantidade_perdida">Total de Perda</label>
						<h1 id="resultado-quantidade-perdida">0</h1>
		        {{ lancamento_teste_form.quantidade_perdida }}
		    </div>
			</div>
		</div>

		<div id="linha2" class="well well-small">
			<div class="row-fluid">
		    <div class="span3">
					<label>Total Funcional</label>
					<h1 id="resultado-total-funcional">0</h1>
		    </div>
				<div class="span1">
					<h1>=</h1>
				</div>
		    <div class="span3">
		        {{ lancamento_teste_form.quantidade_reparada_funcional.errors }}
		        <label for="id_quantidade_reparada_funcional">Total Reparado</label>
		        {{ lancamento_teste_form.quantidade_reparada_funcional }}
		    </div>
				<div class="span1">
					<h1>+</h1>
				</div>
		    <div class="span4">
		        {{ lancamento_teste_form.quantidade_funcional_direta.errors }}
		        <label for="quantidade_funcional_direta">Total Funcionando Sem Reparar</label>
		        {{ lancamento_teste_form.quantidade_funcional_direta }}
						<h1 id="resultado-total-funcionando-sem-parar">0</h1>
		    </div>
			</div>
		</div>

		
		<div class="row-fluid">
			
			<div class="span6">
				
        {{ lancamento_teste_form.data_lancamento.errors }}
        <label for="id_data_lancamento">{{lancamento_teste_form.data_lancamento.label}}</i></label>
        {{ lancamento_teste_form.data_lancamento }}
				
			</div>
			
			<div class="span6">
				
        {{ lancamento_teste_form.funcionario_testador.errors }}
        <label for="id_data_lancamento">{{lancamento_teste_form.funcionario_testador.label}}</label>
        {{ lancamento_teste_form.funcionario_testador }}
				
				
			</div>
		</div>
		
		<hr />
		<div class="row-fluid">
			<div class="span6">
				<h2>Falhas de Reparo</h2>
				<button class="btn btn-primary" name="adicionar_falha_reparo">Adicionar Falha de Reparo</button>
				<div id="alerta-falhas-reparo">
					
				</div>
				{{lancamentos_falhas_reparo_form.management_form}}
				{% for form in lancamentos_falhas_reparo_form %}
				<div class="" id="form-reparo-{{forloop.counter}}">
					<div class="row-fluid">
						<div class="span3">
			        {{ form.quantidade.errors }}
			        <label for="quantidade_funcional_direta">Quantidade</label>
			        {{ form.quantidade }}
						</div>
						
						<div class="span9">
							
			        {{ form.falha.errors }}
			        <label for="quantidade_funcional_direta">Falha</label>
			        {{ form.falha }}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			
			<div class="span6">
				<h2>Falhas de Perda</h2>
				<button class="btn btn-primary" name="adicionar_falha_perda">Adicionar Falha de Perda</button>
				
				<div id="alerta-falhas-perda">
				
				</div>
				
				{{lancamentos_falhas_perda_form.management_form}}
				{% for form in lancamentos_falhas_perda_form %}
				<div class="" id="form-perda-{{forloop.counter}}">
					<div class="row-fluid">
						<div class="span3">
			        {{ form.quantidade.errors }}
			        <label for="quantidade_funcional_direta">Quantidade</label>
			        {{ form.quantidade }}
						</div>
						
						<div class="span9">
							
			        {{ form.falha.errors }}
			        <label for="quantidade_funcional_direta">Falha</label>
			        {{ form.falha }}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			
		</div>
		<hr />
		<p class="btn-group">
			<button type="submit" id="lancar_testes" class="btn btn-danger" name="lancar_testes" value="lanca"><i class="fa fa-launch"></i> Lançar Falhas</button>
		</p>
		
	</form>
	
{% endblock %}

{% block auxiliar-menu %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />
<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>

{% addtoblock "js" %}

<script>

$('#lancar_testes').click(function(e){
	// checa quantidade perdida
	var soma = 0
	$('.checa_quantidade_perda').each(function(){
		soma += Number($(this).val());
	});
	perda = $('#id_quantidade_perdida').val()
	if ( perda != soma){
		alert('Erro! Quantidade de Perda (' + perda +') deve ser igual à quantidade de falhas lançadas! ('+ soma +')')
		$("#alerta-falhas-perda").html('<div class="alert alert-danger">Atenção! Preencha o formulário abaixo identificando a(s) ' + perda + ' falhas apontada</div>');
		e.preventDefault();
	}
	// checa quantidade de reparo
	var soma = 0
	$('.checa_quantidade_reparo').each(function(){
		soma += Number($(this).val());
	});
	reparo = $('#id_quantidade_reparada_funcional').val()
	if ( reparo != soma){
		alert('Erro! Quantidade de Reparo (' + reparo +') deve ser igual à quantidade de falhas lançadas! ('+ soma +')')
		$("#alerta-falhas-reparo").html('<div class="alert alert-danger">Atenção! Preencha o formulário abaixo identificando a(s) ' + reparo + ' falhas apontada</div>');
		e.preventDefault();
	}
});

$(document).ready(function() {
    $("#menu-producao-controle-de-testes, #top-menu-producao").addClass("active");
		calcula_tabela();
		$('.datepicker').each(function() {
		   $(this).datepicker({
			inline: true,
	        dateFormat: "dd/mm/yy"
        
				});
		});
		
		
});

$( "#id_quantidade_funcional, #id_quantidade_total_testada, #id_quantidade_reparada_funcional" ).change(function() {
	calcula_tabela();
});

function calcula_tabela(){
	// calc 1 - quantidade_perdida
	calculo = $('#id_quantidade_total_testada').val() - $('#id_quantidade_funcional').val();
	$('#resultado-quantidade-perdida').html(calculo);
	$("#resultado-total-funcional").html($('#id_quantidade_funcional').val());
	$('#id_quantidade_perdida').val(calculo)
	// calc 2	
	calculo2 = $('#id_quantidade_funcional').val() - $('#id_quantidade_reparada_funcional').val();
	$("#resultado-total-funcionando-sem-parar").html(calculo2);
	$('#id_quantidade_funcional_direta').val(calculo2)
}

</script>

{% endaddtoblock %}

{% include "frontend/producao/producao-menu.html" %}

{% endblock%}