{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Ver Sub Produtos{% endblock %}</title>

{% block content %}
<h1><i class="icon-th"></i> <i class="icon-list-ul"></i>  Sub Produto {{subproduto}}</h1>

{% if request.user.perfilacessoproducao.gerente %}
<p>
    <a class="btn btn-primary" href="{% url "producao:editar_subproduto" subproduto.id %}"><i class="icon-pencil"></i> Editar SubProduto</a>
</p>
{% endif %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#informacoes" data-toggle="tab">Informações</a></li>
    <li>
        <a href="#linhas-componente" data-toggle="tab">
            Linhas de Componentes 
            {% if subproduto.linhasubproduto_set.count %}
            <span class="badge badge-info">{{subproduto.linhasubproduto_set.count}}</span>
        
            {% endif %}
        </a>
    </li>
    <li>
        <a href="#sub-produtos-agregados" data-toggle="tab">
            Sub Produtos Agregados
            {% if subproduto.linhasubprodutos_agregados.count %}
            <span class="badge badge-success">{{subproduto.linhasubprodutos_agregados.count}}</span>
            {% endif %}
            
        </a>
    </li>
    <li><a href="#arquivos" data-toggle="tab">Documentos Técnicos
        {% if subproduto.documentotecnicosubproduto_set.count %}
        <span class="badge badge">{{subproduto.documentotecnicosubproduto_set.count}}</span>
        {% endif %}
        
    
    
    </a></li>
    <li><a href="#relatórios" data-toggle="tab">Relatórios</a></li>
    
</ul>

<div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="informacoes">
        
        <div class="row-fluid">
            <div class="span6">
                <h2>Geral</h2>
                <strong>Nome</strong>: {{subproduto.nome}}<br />
                <strong>Descrição</strong>: {{subproduto.descricao}}<br />
                <h2>Custos Totais</h2>
                <span class="label label-info">Linhas de Componente:</span> R$ {{subproduto.custo_total_linhas|floatformat:2}}<br />
                <span class="label label-success">SubProdutos Agregados:</span> R$ {{subproduto.custo_total_dos_sub_produtos_agregados|floatformat:2}}<br />
                <span class="badge">R$ {{subproduto.custo|floatformat:2}}</span><br />
                <h3>Custo Internacional</h3>
                <strong>Total dos Componentes Internacionais em Dólar</strong>: USD {{subproduto.custo_dolar_componentes_internacionais|floatformat:2}}
                
                <h2>Produção</h2>
                <h3>Situação de Testes</h3>
                <strong>Montado:</strong><br />
                <strong>Testando:</strong><br />
                <strong>Funcionando:</strong><br />
                <h3>Quantidades de Produção</h3>
                <strong>Quantidade Máxima de Produção:</strong><br />
                <strong>Quantidade Estimada de Produção Semanal:</strong><br />
                
            </div>

            <div clas="span6">
                {% if subproduto.imagem %}
                <a href="{{subproduto.imagem.url}}">
                    
                    {% thumbnail subproduto.imagem "200" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                   {% endthumbnail %}

                </a>
                {% endif %}
                
            </div>
            
        </div>

    </div>
    
    <div class="tab-pane fade in" id="linhas-componente">
        
        <h2>Linhas do Sub Produto</h2>
        
        {% if request.user.perfilacessoproducao.gerente %}
        
        <a href="{% url "producao:adicionar_linha_subproduto" subproduto.id %}" class="btn btn-primary"><i class="icon-plus"></i> Adicionar Linha de Componente</a>
        
        {% endif %}

        <table class="table table-condensed table-hover table-rounded">
            <thead>
                       <tr>
                           <th>Item</th>
                           <th>TAG</th>
                           <th>Opções</th>
                           <th>Padrão:COMPONENTE</th>
                           <th>Padrão:QTD</th>
                           <th>Padrão:DESCRIÇÃO</th>
                           <th>Custo</th>
                           <th>Ação</th>
                       </tr>
                   </thead>
            <tbody>
               {% for linha in subproduto.linhasubproduto_set.all %}
               <tr>
                   <td class="alert-info" id="linha-id-{{linha.id}}">{{forloop.counter}}</td>
                   <td>{{linha.tag}}</td>
                   <td><span class="badge badge-warning">{{linha.opcaolinhasubproduto_set.count}}</span></td>
                   <td>{{linha.opcao_padrao.componente.part_number}}</td>
                   <td>{{linha.opcao_padrao.quantidade}} {{linha.opcao_padrao.componente.get_medida_display}}</td>
                    
                    <td>{{linha.opcao_padrao.componente.descricao}}</td>
                    <td><span class="label">R$ {{linha.custo|floatformat:2}}</span>
                   <td>
                       {% if request.user.perfilacessoproducao.gerente %}
                       <a href="{% url "producao:editar_linha_subproduto" subproduto.id linha.id %}" class="btn"><i class="icon-pencil"></i></a>
                       <a class="btn btn-danger" onclick="return confirm('Tem certeza que Quer Apagar?')" href="{% url "producao:apagar_linha_subproduto" subproduto.id linha.id %}"><i class="icon-trash"></i></a>
                       {% else %}
                       <a href="{% url "producao:editar_linha_subproduto" subproduto.id linha.id %}" class="btn"><i class="icon-eye-open"></i></a>
                       
                       {% endif %}
                   </td>
               </tr>
           
               {% empty %}
               <tr>
                   <td>
                       Nenhuma Linha Encontrada.
                   </td>
               </tr>
               {% endfor %}
               <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td>
                       <span class="badge badge-success">Total: R$ {{subproduto.custo_total_linhas|floatformat:2}}</span>
                   </td>
                   <td></td>
               </tr>

            </tbody>
        </table>
        
        
    
    </div>
    
    <div class="tab-pane fade in" id="sub-produtos-agregados">
        
        <div id="modal-agregar-subproduto" class="modal hide fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Agregar um Sub produto</h3>
          </div>
          <div class="modal-body">
              <form method="POST" action="#sub-produtos-agregados">
                  {% csrf_token %}
                  {{form_agregar_subproduto.as_p}}              
            
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Fechar</a>
            <button class="btn btn-success" name='agregar-subproduto-btn' value="agregar">Agregar Sub Produto</button>
            </form>
          </div>
        </div>
        
        
        <button type="button" data-toggle="modal" data-target="#modal-agregar-subproduto" class="btn btn-success"><i class="icon-plus"></i> Agregar Sub Produto</button>
        
        <h2>Sub Produtos Agregados</h2>            
        <table class="table table-condensed table-hover table-rounded">
            <thead>
                       <tr>
                           <th>Item</th>
                           <th>SubProduto</th>
                           <th>Quantidade</th>
                           <th>Descrição</th>
                           <th>Custo</th>
                           <th>Ações</th>
                       </tr>
                   </thead>
            <tbody>
                {% for linha in subproduto.linhasubprodutos_agregados.all %}
                <tr>
                    <td id="linha-id-{{linha.id}}" class="alert-success">{{forloop.counter}}</td>
                    <td><a href={% url "producao:ver_subproduto" linha.subproduto_agregado.id %} %}"">{{linha.subproduto_agregado}}</a></td>
                    <td>{{linha.quantidade}}</td>
                    <td>{{linha.descricao}}</td>
                    <td><span class="label">R$ {{linha.custo|floatformat:2}}</span ></td>
                    <td>
                        {% if request.user.perfilacessoproducao.gerente %}
                        <a href="{% url "producao:subproduto_apagar_linha_subproduto_agregado" subproduto.id linha.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza que Quer Apagar?')"><i class="icon-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="badge badge-success">Total: R$ {{subproduto.custo_total_dos_sub_produtos_agregados|floatformat:2}}</span></td>
                </tr>
                
            </tbody>
        </table>
        
    </div>
    
    <div class="tab-pane fade in" id="arquivos">
        
        <h2>Imagem</h2>
        <div class="row-fluid">
            <div class="span6">
                {% if subproduto.imagem %}
                    <a href="{{subproduto.imagem.url}}">
                        {% thumbnail subproduto.imagem "400" crop="center" as im %}
                              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                       {% endthumbnail %}
                    </a>
                {% endif %}
            </div>
            
            <div class="span6">
                {% if request.user.perfilacessoproducao.gerente %}
                <form method="POST" class="form-horizontal well" action="#arquivos" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form_imagem.as_p}}
                    <button class="btn btn-primary" name="anexar-imagem" value="anexar" type="submit"><i class="icon-paperclip"></i> Alterar / Anexar Imagem</button>
            
                </form>
                {% endif %}
            </div>
        </div>
        
        
        <h2>Documentos Técnicos</h2>

        {% if request.user.perfilacessoproducao.gerente %}
        <form method="POST" class="form-horizontal well" action="#arquivos" enctype="multipart/form-data">
            {% csrf_token %}
            {{form_anexos}}
            <button class="btn btn-primary" name="anexar-documento" value="anexar" type="submit"><i class="icon-paperclip"></i> Anexar Arquivo</button>
            
        </form>
        {% endif %}
        <hr />
        {% for anexo in subproduto.documentotecnicosubproduto_set.all %}
        <span class="label">{{forloop.counter}}</span> - <a href="{{anexo.arquivo.url}}">{{anexo.arquivo}}</a>
        {% if request.user.perfilacessoproducao.gerente %}
        <a href="{% url "producao:ver_subproduto_apagar_anexo" subproduto.id anexo.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza que Quer Apagar?')"><i class="icon-trash"></i></a>
        {% endif %}
        <hr />
        {% empty %}
        Nenhum arquivo anexo.
        {% endfor %}
        
    </div>
    
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
	$("#menu-producao-subprodutos, #top-menu-producao").addClass("active");
    var activeTab = $('[href=' + location.hash + ']');
    activeTab && activeTab.tab('show');
    {% if form_agregar_subproduto.errors %}
        $('#modal-agregar-subproduto').modal('show')
    {% endif %}
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}