{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Editar Linha {{subproduto.part_number}}{% endblock %}</title>

{% block content %}
<h1><i class="icon-th"></i> <i class="icon-list-ul"></i> Linha #{{linha.id}} de {{subproduto.part_number}}</h1>
<p>
    <a href="{% url "producao:ver_subproduto" subproduto.id %}#linhas-componente"><i class="icon-arrow-left"></i> Voltar ao SubProduto {{subproduto.part_number}}</a>
</p>
{% if request.user.perfilacessoproducao.gerente %}
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary"><i class="icon-pencil"></i> Salvar Linha</button>
</form>
{% endif %}
<h2>Opções dessa Linha (#{{linha.id}})</h2>

{% if request.user.perfilacessoproducao.gerente %}
<a href="{% url "producao:editar_linha_subproduto_adicionar_opcao" subproduto.id linha.id %}" class="btn btn-primary"><i class="icon-plus"></i> Adicionar Opção</a>
{% endif %}

<table class="table table-condensed table-striped table-rounded">
           <thead>
               <tr>
                   <th>#ID / Padrão</th>
                   <th>Componente</th>
                   <th>Quantidade</th>
                   <th>Descrição</th>
                   <th>Custo</th>
                   <th>Ações</th>
               </tr>
           </thead>
           <tbody>
               {% for opcao in linha.opcaolinhasubproduto_set.all %}
               <tr>
                   <td>#{{opcao.id}} {% if opcao.padrao %}/ <span class="badge badge-success"> <i class="icon-check"></i> Padrão</span>{%endif%}</td>
                   <td>{{opcao.componente.part_number}}</td>
                   <td>{{opcao.quantidade}} {{opcao.componente.get_medida_display}}</td>
                   <td>{{opcao.componente.descricao}}</td>
                   <td>R$ {{opcao.custo|floatformat:2}}</td>
                   <td>
                       {% if request.user.perfilacessoproducao.gerente %}
                           
                           {% if not opcao.padrao %}
                           <a href="{% url "producao:tornar_padrao_opcao_linha_subproduto" subproduto.id linha.id opcao.id %}" class="btn btn-success">
                               <i class="icon-check"></i> padrão</a>
                               <a href="{% url "producao:apagar_opcao_linha_subproduto" opcao.linha.subproduto.id opcao.linha.id opcao.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza que Quer Apagar?')">
                                   <i class="icon-trash"></i> 
                               </a>
                            {% endif %}
                           
                       {% endif %}
               </tr>
               
               {% empty %}
               <tr>
                   <td>
                       Nenhuma Opção Encontrada.
                   </td>
               </tr>
               {% endfor %}

           </tbody>
       </table>

    {% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-subprodutos, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}