{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Editar Nota Fiscal{% endblock %}</title>

{% block content %}
<h1>Componente {{componente.part_number}}</h1>


<div class="row-fluid">
    <div class='span6'>
        <h3>Fornecedores - Unidades fornecidas</h3>
        {% for fornecedor in fornecedores %}
        <strong>{{fornecedor.nota__fabricante_fornecedor__nome}}</strong>: {{fornecedor.total}} {{componente.get_medida_display}}{{fornecedor.total|pluralize}}<br />
        {% endfor %}

        <h3>Fabricantes - Unidades fabricadas</h3>
        {% for fabricante in fabricantes %}
        <strong>{{fabricante.fabricante__nome}}</strong>: {{fabricante.total}} {{componente.get_medida_display}}{{fabricante.total|pluralize}}<br />
        {% endfor %}
        
    </div>
    
    <div class="span6">
        <div class="well well-small">
            <h6>Valores da última compra:</h6>
            {% if componente.preco_liquido_unitario_dolar %}
            <strong>Preço Líquido Unitário em Dólar</strong>: USD {{componente.preco_liquido_unitario_dolar}}<br />
            {% endif %}
            {% if componente.preco_liquido_unitario_real %}
            <strong>Preço Líquido Unitário em Real</strong>: R$ {{componente.preco_liquido_unitario_real}}<br />
            {% endif %}
            {% if componente.preco_medio_unitario %}
            <strong>Preço Médio Bruto Unitário</strong>: R$ {{componente.preco_medio_unitario}}
            {% endif %}        
        </div>
        
        <div class="well well-small">
            <h6>Posições em Estoque</h6>
            <table class="table table-condensed table-striped table-rounded">
                <thead>
                    <tr>
                        <th>Estoque</th>
                        <th>Quantidade</th>
                        <th>Data</th>
                    </tr>
                </thead>
                </tbody>
                {% for posicao in posicoes_estoque %}
                <tr>
                    <td>{% if posicao.estoque.nome %}{{posicao.estoque.nome}}{% else %}{{posicao.estoque}}{% endif %}</td>
                    <td>{{posicao.quantidade}}</td>
                    <td>{{posicao.criado|date:"SHORT_DATETIME_FORMAT"}}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        
    
    </div>
</div>

<h4>Memória de Relacionamento com Fornecedores</h4>
<p>
    <a href="" class="btn btn-primary"><i class="icon-plus"></i> Adicionar à Memória</a>
</p>
<div class="well well-small">
    <ul>
    {% for memoria in memorias %}
        <li><strong><a href="{% url "producao:ver_fabricantes_fornecedores" memoria.fornecedor.id %}">{{memoria.fornecedor.nome_curto}}</a>: {{memoria.part_number_fornecedor}}</a> -> <em>{{memoria.componente.part_number}}</em></strong> <p class="label label-info">FAB: {{memoria.fabricante.nome}}</p> <p class="label label-info">PNFAB: {{memoria.part_number_fabricante}}</p> <a href="" class="btn btn-danger"><i class="icon-trash"></i> Apagar</a></li>
        {% empty %}
        <p>Este Fornecedor Não possui memória de entrada de lançamentos de nota fiscal</p>
    {% endfor %}
    </ul>
    
</div>


<h4>Histórico de Valores Lançados</h4>
<div class="row-fluid">
    <div class="span12">
        <h6>Gráfico R$ X Lançamento
        <canvas id="canvas" height="300px" width=""></canvas>
    </div>
    
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script src="{{STATIC_URL}}frontend/js/Chart.min.js"></script>
<script>
$(document).ready(function() {
	$("#menu-producao-componentes, #top-menu-producao").addClass("active");
    $("#busca_componente").focus()
});
</script>


<script>

	var lineChartData = {
		labels : [{% for lancamento in lancamentos %}"{{lancamento.criado|date:"SHORT_DATE_FORMAT"}}",{% endfor %}
],
		datasets : [
			{
				fillColor : "rgba(53,150,159,0.5)",
				strokeColor : "rgba(220,220,220,1)",
				pointColor : "rgba(220,220,220,1)",
				pointStrokeColor : "#fff",
				data : [{% for lancamento in lancamentos %}{{lancamento.valor_unitario_final}},{% endfor %}
]
			},
		]
		
	}

var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);

</script>

{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}