{% comment %}
Status: {{status}}<br />
Fornecedor: {{fornecedor}}<br />
Inicio de Entrada: {{inicio}}<Br />
Fim de Entrada: {{fim}}<br />
Tipo: {{tipo}}<br />
Periodo: {{periodo}}
{% endcomment %}


{% if periodo == "dia" %}

{% if tipo == "tabela" %}

<table class="table table-bordered">
	<tr>
		{% for item in total_notas_por_dia %}
		<td>{{item.data_entrada|date:"SHORT_DATE_FORMAT"}}</td>
		{% endfor %}
	</tr>
	<tr>
		{% for item in total_notas_por_dia %}
		<td>R${{item.soma|floatformat:2}}</td>
		{% endfor %}
	</tr>
	
</table>
{% else %}

<div class="demo-container">
	<div id="placeholder-dia" class="demo-placeholder"></div>
</div>




<script>

function addCommas(nStr)
{
	nStr += '';
	x = nStr.split('.');
	x1 = x[0];
	x2 = x.length > 1 ? ',' + x[1] : '';
	var rgx = /(\d+)(\d{3})/;
	while (rgx.test(x1)) {
		x1 = x1.replace(rgx, '$1' + '.' + '$2');
	}
	return x1 + x2;
}

function formatter(val, axis) {
    return "<span style='font-weight: bold'>" + 'R$ '+  addCommas(val) + "</span>"; 
}

		var data = [ 
			{% for item in total_notas_por_dia %}
			["{{item.data_entrada|date:"SHORT_DATE_FORMAT"}}", {{item.soma|safe}}],
			{% endfor %}
		 ];
		 
		$.plot("#placeholder-dia", [ data ], {
			series: {
				bars: {
					show: true,
					barWidth: 0.6,
					align: "center"
				}
			},
			xaxis: {
				mode: "categories",
			},
			yaxis: {
				//ticks: ticks,
				tickFormatter: formatter
			}
			
			
		});
		

</script>


{% endif %}

{% endif %}


{% if periodo == "mes" %}

{% if tipo == "tabela" %}

<table class="table table-bordered">
	<tr>
		{% for item in total_notas_por_mes %}
		<td>{{item.month|date:"M/y"}}</td>
		{% endfor %}
	</tr>
	<tr>
		{% for item in total_notas_por_mes %}
		<td>R${{item.soma|safe}}</td>
		{% endfor %}
	</tr>
	
</table>


{% else %}


<div class="demo-container">
	<div id="placeholder-mes" class="demo-placeholder"></div>
</div>


<script>

		var data = [ 
			{% for item in total_notas_por_mes %}
			["{{item.month|date:"M/y"}}", {{item.soma|safe}}],
			{% endfor %}
		 ];
		 		 
		$.plot("#placeholder-mes", [ data ], {
			series: {
				bars: {
					show: true,
					barWidth: 0.6,
					align: "center"
				}
			},
			xaxis: {
				mode: "categories",
			},
			yaxis: {
				tickFormatter: formatter
			}
			
			
		});
		

</script>


{% endif %}

{% endif %}