{% comment %}
Status: {{status}}<br />
Fornecedor: {{fornecedor}}<br />
Inicio de Entrada: {{inicio}}<Br />
Fim de Entrada: {{fim}}<br />
Tipo: {{tipo}}<br />
Periodo: {{periodo}}
{% endcomment %}

{% if periodo == "dia" %}

{% if tipo == "tabela" %}

<table class="table table-bordered">
	<tr>
		{% for item in total_notas_por_dia %}
		<td>{{item.data_entrada|date:"SHORT_DATE_FORMAT"}}</td>
		{% endfor %}
	</tr>
	<tr>
		{% for item in total_notas_por_dia %}
		<td>{{item.soma}}</td>
		{% endfor %}
	</tr>
	
</table>
{% else %}

<canvas id="canvas-dia" height="300px" width="700px"></canvas>

<script src="{{STATIC_URL}}frontend/js/Chart.min.js"></script>
<script>

var lineChartData = {
	
	labels : [{% for item in total_notas_por_dia %}"{{item.data_entrada|date:"SHORT_DATE_FORMAT"}}",{% endfor %}
	],
	datasets : [
	{
		fillColor : "rgba(53,150,159,0.5)",
		strokeColor : "rgba(220,220,220,1)",
		pointColor : "rgba(220,220,220,1)",
		pointStrokeColor : "#fff",
		data : [{% for item in total_notas_por_dia %}{{item.soma|safe}},{% endfor %}
		]
	},
	]
	
}

var myLine = new Chart(document.getElementById("canvas-dia").getContext("2d")).Line(lineChartData);


{% endif %}

{% endif %}


{% if periodo == "mes" %}

{% if tipo == "tabela" %}

<table class="table table-bordered">
	<tr>
		{% for item in total_notas_por_mes %}
		<td>{{item.month|date:"M/y"}}</td>
		{% endfor %}
	</tr>
	<tr>
		{% for item in total_notas_por_mes %}
		<td>{{item.soma}}</td>
		{% endfor %}
	</tr>
	
</table>


{% else %}

<canvas id="canvas-mes" height="300px" width="700px"></canvas>

<script src="{{STATIC_URL}}frontend/js/Chart.min.js"></script>
<script>

var lineChartData = {
	
	labels : [{% for item in total_notas_por_mes %}"{{item.month|date:"M/y"}}",{% endfor %}
	],
	datasets : [
	{
		fillColor : "rgba(53,150,159,0.5)",
		strokeColor : "rgba(220,220,220,1)",
		pointColor : "rgba(220,220,220,1)",
		pointStrokeColor : "#fff",
		data : [{% for item in total_notas_por_mes %}{{item.soma|safe}},{% endfor %}
		]
	},
	]
	
}

var myLine = new Chart(document.getElementById("canvas-mes").getContext("2d")).Line(lineChartData);

</script>



{% endif %}

{% endif %}