{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Listar Estoques{% endblock %}</title>

{% block content %}
<h1><i class="icon-th"></i> <i class="icon-archive"></i> Estoque</h1>

<ul class="nav nav-tabs">
  <li class="active"><a href="#consultar" data-toggle="tab">Consultar</a></li>
  {% if request.user.perfilacessoproducao.gerente %}
  <li><a href="#movimentar" data-toggle="tab">Movimentar</a></li>
  <li><a href="#alterar" data-toggle="tab">Alterar</a></li>
  {% endif %}
  <li><a href="#historico" data-toggle="tab">Histórico</a></li>
</ul>

<div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="consultar">
        
        <div id="consultar">
            {% if consultado %}

                {% if consulta_dupla %}
                 <div id="consulta dupla">
         
                     <h3>Componente {{componente_consultado.part_number}}</h3>
                     <h4>No Estoque: {{estoque_consultado}}</h4>
                     <div class="well">
                         <strong>Quantidade</strong>: {{posicaoestoque}} ({{componente_consultado.get_medida_display}})<br />
                         <strong>Valor</strong>: R$ {{valor_no_estoque|floatformat:2}}
                     </div>
                     <a href="{% url "producao:listar_estoque" %}" class="btn btn-primary"><i class="icon-search"></i> Nova Consulta / Movimentação</a>
                 </div>
                {% endif %}
    
                {% if consulta_componente %}
                <div id="consulta_componente">
                    <h3>Consultando Componente {{componente_consultado.part_number}} - {{componente_consultado.descricao}}</h3>


                    <table class="table table-condensed table-striped table-rounded table-bordered">
                        <thead>
                            <tr>
                                <th>Estoque</th>
                                <th>Quantidade</th>
                                <th>Valor</th>
                                <th>Data da Última Alteração</th>
                            </tr>
                        </thead>
                        </tbody>
                        {% for posicao in posicoes_estoque %}
                        <tr>
                            <td>{% if posicao.0.estoque.nome %}{{posicao.0.estoque.nome}}{% else %}{{posicao.0.estoque}}{% endif %}</td>
                            <td>{{posicao.0.quantidade}} ({{posicao.0.componente.get_medida_display}})</td>
                            <td>R$ {{posicao.1|floatformat:2}}</td>
                            <td>{{posicao.criado|date:"SHORT_DATE_FORMAT"}}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

    
                    <a href="{% url "producao:listar_estoque" %}" class="btn btn-primary"><i class="icon-search"></i> Nova Consulta / Movimentação</a>
                </div>
                {% endif %}
    
                {% if consulta_estoque %}
                <div id="consulta_estoque">
                    <h3>Consultando Estoque {{estoque_consultado}}</h3>

                    <table class="table table-condensed table-striped table-rounded table-bordered">
                        <thead>
                            <tr>
                                <th>Componente</th>
                                <th>Descrição</th>
                                <th>Quantidade</th>
                                <th>Valor</th>
                                <th>Data da Última Alteração</th>
                            </tr>
                        </thead>
                        </tbody>
                        {% for posicao in posicoes_estoque %}
                        <tr>
                            <td>{{posicao.0.componente.part_number}}</td>
                                                            
                            <td>{{posicao.0.componente.descricao}}</td>
                            <td>{{posicao.0.quantidade}} ({{posicao.0.componente.get_medida_display}})</td>
                            <td>R$ {{posicao.1|floatformat:2}}</td>
                            <td>{{posicao.0.criado|date:"SHORT_DATE_FORMAT"}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="badge badge-success">R$ {{total_geral|floatformat:2}}</span>
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>

    
                    <a href="{% url "producao:listar_estoque" %}" class="btn btn-primary"><i class="icon-search"></i> Nova Consulta / Movimentação</a>
                </div>
                {% endif %}
    
            {% else %}
                <form method="POST" action="#consultar">
                    {% csrf_token %}
                {{form_consulta_estoque.as_p}}
                <p>
                    <button type="submit" name="consulta-estoque" value="consultar" class="btn btn-primary"><i class="icon-search"> Consultar</i> </button>
                </p>
                </form>
            {% endif %}
        </div>
        
        
    </div>

    {% if request.user.perfilacessoproducao.gerente %}
    <div class="tab-pane fade in" id="movimentar">
        
        <div id="movimentar">
            <h4>Mover <strong>X Quantidade</strong> do <strong>Componente Y</strong> de <strong>Estoque A</strong> para <strong>Estoque B</strong></h4>
            <form method="POST" class="form-inline" action="#movimentar">
                {% csrf_token %}
                {{form_mover_estoque.as_p}}
                <button type='submit' class="btn btn-primary" name='movimentar-estoque' value="movimentar"><i class="icon-arrow-right"></i> Movimentar Estoque</button>
            </form>
        </div>
        <hr />
        
    </div>
    
    <div class="tab-pane fade in" id="alterar">
        <h4>Alterar (<strong>Adicionar ou Remover</strong>) <strong>X Quantidade</strong> do <strong>Componente Y</strong> ao <strong>Estoque A</strong></h4>
        <div id="alterar">
            <form method="POST" action="#alterar">
                {% csrf_token %}
            {{form_alterar_estoque.as_p}}
            <button type="submit" name='alterar-estoque' value="alterar" class="btn btn-primary"><i class="icon-wrench"></i> Alterar Estoque</button>
            </form>
        </div>
        
    </div>
    {% endif %}
    
    <div class="tab-pane fade in" id="historico">
        
        <table class="table table-condensed table-striped table-rounded">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Estoque</th>
                    <th>Componente</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Alteração</th>
                    <th>Por</th>
                </tr>
            </thead>
            <tbody>
            {% for historico in historicos %}
                <tr>
 <td>{{historico.data_entrada|date:"SHORT_DATETIME_FORMAT"}}</td>
                    <td>{{historico.estoque.identificacao}}</td>
                    <td>{{historico.componente.part_number}}</td>
                    <td>{{historico.componente.descricao}}</td>
                    <td>{{historico.quantidade}} ({{historico.componente.medida}})</td>
                    <td>{{historico.quantidade_alterada}}</td>
                    <td>{{historico.criado_por.funcionario}}
                        {% if historico.justificativa %}
                        <br />
                        <small class="label label-info">
                            Justificativa: {{historico.justificativa}}
                        </small>
                        {% endif %}
                        {% if historico.nota_referencia %}
                        <br />
                        <small class="label label-warning">
                            Nota Fiscal: {{historico.nota_referencia.numero}}
                        </small>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>
    
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
	$("#menu-producao-estoque, #top-menu-producao").addClass("active");
    var activeTab = $('[href=' + location.hash + ']');
    activeTab && activeTab.tab('show');
    
    
});
</script>


{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}