{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Registrar Nota Fiscal Emitida - Adicionar{% endblock %}</title>

{% block content %}
	<h1><i class="fa fa-th"></i> <i class="fa fa-dollar"></i> Adicionar Nota Fiscal Emitida</h1>
	{% if lancamentos_selecionados %}
		<h2>Adicione a Nota</h2>
		<form method="post">
			{% csrf_token %}
			{{form_adiciona_nota.as_p}}
			<button type="submit" class="btn btn-primary"><i class="fa fa-dollar"></i> Registrar Nota Fiscal</button>
		</form>
	{% else %}
		<h2>Selecione os Lançamentos</h2>
		<div id="lancamentos-disponiveis">
			<div class="row-fluid">
				<div class="span6">
					<h2>Lançamentos Disponíveis</h2>
				</div>
			
				<div class="span6">
					<p class="btn-group">
					<button form="vender_selecionados" type="submit"  class="btn btn-primary"><i class="fa fa-dollar"></i> vender selecionados</button>
				</p>
				</div>
			</div>
			
			{% regroup lancamentos_disponiveis_valores by produto__part_number as lancamentos_disponiveis_group_list %}
			<form method="GET" action="{% url "producao:registrar_nota_fiscal_emitida_adicionar" %}" name="vender_selecionados" id="vender_selecionados">
			{% for lancamento in lancamentos_disponiveis_group_list %}
				<h3>{{ lancamento.grouper }} - {{lancamento.list.0.produto__nome}}</h3>
				<div id="lancamentos-disponiveis-venda">
					<table class="table table-condensed table-hover table-rounded">
						<thead>
							<tr>
								<th>ID</th>
								<th>Manual / Ordem de Produção</th>
								<th>Criado</th>
							</tr>
						</thead>
						<tbody>
							{% for lancamento in lancamento.list %}
							<tr {% if lancamento.adicionado_manualmente %}data-toggle="tooltip" title="Justificativa: {{lancamento.justificativa_adicionado}}" class="tooltip_item"{% endif %}>
								<td><input type="checkbox" name="lancamento" value="{{lancamento.id}}"><label for="lancamento-{{lancamento.id}}">{{lancamento.id}}</label></td>
								<td>{% if lancamento.adicionado_manualmente %}Manual: {{lancamento.funcionario_adicionou__nome}}{% else %}Ordem de Produção: #{{lancamento.ordem_de_producao.id}}{% endif %}</td>
								<td>{{lancamento.criado|date:"SHORT_DATETIME_FORMAT"}}</td>
							</tr>
							{% endfor %}
					
						</tbody>
					</table>
				</div>
				{% empty %}
				Nenhum a exibir
			{% endfor %}
			</form>

		</div>
	{% endif %}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />
<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>

<script>
$(document).ready(function() {
    $("#menu-producao-registrar-nota-emitida, #top-menu-producao").addClass("active");		
});
//check on div click
$("tr").click(function() {
    var checkbox = $(this).find("input[type='checkbox']");
		checkbox.attr('checked', !checkbox.attr('checked'));
		$(this).toggleClass('alert-info');
});

$('.tooltip_item').tooltip()


</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}