{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Ordem de Produção de SubProduto{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-gears"></i> Totalizador de Produção</h1>

<h2><i class="fa fa-windows"></i> Produtos</h2>
<table class="table table-condensed table-rounded table-hover">
	<thead>
		<tr>
			<th>Produto</th>
			<th>Nome</th>
			<th>Descrição</th>
			<th>QEPS *</th>
			<th>QMPE **</th>
			<th class="alert alert-success">Produzido</th>
			<th>Custo</th>
		</tr>
	</thead>
	<tbody>
			
		{% for produto in produtos %}
		<tr>
			<td><a href="{% url "producao:ver_produto" produto.id %}">{{produto.part_number}}</a></td>
			<td>{{produto.nome}}</td>
			<td>{{produto.descricao}}</td>
			<td>{{produto.quantidade_estimada_producao_semanal}}</td>			
			<td>{{produto.quantidade_maxima_estocavel}}</td>
			<td class="alert alert-success">{{produto.total_produzido}}</td>
			<td>R$ {{produto.custo|floatformat:2}}</td>
		</tr>

		{% endfor %}
			
	</tbody>
</table>

<small>* Quantidade Estimada de Produção Semanal</small><br />
<small>** Quantidade Máxima de Produto Estocável</small>



<h2><i class="fa fa-list-ul"></i> Sub Produtos</h2>

<table class="table table-condensed table-hover table-rounded">
	<thead>
		<tr>
			<th>Sub Produto</th>
			<th>Nome</th>
			<th class="alert">Total Mont.</th>
			<th class="alert alert-info">Total Test.</th>
			<th class="alert alert-success">Total Func.</th>
			<th>Max. Prod.*</th>
			<th>Teste</th>
			<th>Custo</th>
		</tr>
	</thead>
	<tbody>
			
		{% for subproduto in subprodutos %}
		<tr {% if not subproduto.tipo_de_teste %}class="alert alert-danger"{%endif%}>
			<td><a href="{% url "producao:ver_subproduto" subproduto.id %}">{{subproduto.part_number}}</a></td>
			<td>{{subproduto.nome}}</td>
			
			<td class="alert">
				{% if subproduto.tipo_de_teste %}
					{% ifequal subproduto.tipo_de_teste  2 %}
						{{subproduto.total_montado}}
					{% else %}
					-
					{% endifequal %}
				{% else %}
					-
				{% endif %}
			</td>
			

			<td class="alert alert-info">
				{% if subproduto.tipo_de_teste %}
					{% ifequal subproduto.tipo_de_teste  2 %}
					{{subproduto.total_testando}}
					{% else %}
					-
					{% endifequal %}
				{% else %}
					-
				{% endif %}
			</td>
			
			
			<td class="alert alert-success">
				{% if subproduto.tipo_de_teste %}
				{{subproduto.total_funcional}}
				{% else %}
					-
				{% endif %}
			</td>
			
			<td {% if not subproduto.tipo_de_teste %}class="alert-success alert"{%endif%}>{{subproduto.maximo_produzivel_agrupado}}</td>
			<td>{{subproduto.get_tipo_de_teste_display}}</td>
			<td>R$ {{subproduto.custo|floatformat:2}}</td>
		</tr>
		{% endfor %}
			
	</tbody>
</table>
<small>* Máximo de Produção: Máximo Possível de Produção Somente deste Produto</small>
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}

<script>
$(document).ready(function() {
    $("#menu-producao-totalizador-producao, #top-menu-producao").addClass("active");
		
});

</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}