{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Requisição de Compra{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-credit-card"></i> Requisição de Compra</h1>
	

<ul class="nav nav-tabs">
		<li class="active"><a href="#solicitar-compra-tab" data-toggle="tab">Solicitar Compra</a></li>
		{% if request.user.perfilacessoproducao.gerente %}
	    <li><a href="#abertos" data-toggle="tab">Requisições Abertas</a></li>
			<li><a href="#fechados" data-toggle="tab">Requisições Atendidas</a></li>
			{% endif %}
</ul>

<div id="myTabContent" class="tab-content">

		<div class="tab-pane fade in active" id="solicitar-compra-tab">
			
			<form method="POST">
				{% csrf_token %}
				{{form_add_requisicao_de_compra.as_p}}
				<button type="submit" name="solicitar-compra" value="solicitar" class="btn btn-primary"><i class="fa fa-credit-card"></i> Solicitar Compra</button>
			</form>
			
			
		</div>

    <div class="tab-pane fade" id="abertos">
			<p class="btn-group">
				<a href="?#abertos" class="btn">Todos</a>
				<a class="btn btn-success" href="?criticidade=0#abertos">Criticidade Baixa</a>
			<a class="btn btn-warning"  href="?criticidade=1#abertos">Criticidade Média</a>
			<a class="btn btn-danger"  href="?criticidade=2#abertos">Criticidade Urgente</a>
		</p>
			<table class="table table-condensed table-rounded table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Atendido</th>
						<th>Usuário</th>
						<th>Solicitante</th>
						<th>Criado em</th>
						<th>Data para Atender</th>
						<th>Descrição</th>
						<th>Criticidade</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tbody>
					{% for solicitacao in abertos %}
					<tr>
						<td>#{{solicitacao.id}}</td>
						<td>{{solicitacao.atendido|yesno|capfirst}}</td>
						<td>{{solicitacao.solicitante}}</td>
						<td>{{solicitacao.solicitado}}</td>
						<td>{{solicitacao.criado|date:"SHORT_DATETIME_FORMAT"}}</td>
						<td>{{solicitacao.data_solicitado|date:"SHORT_DATE_FORMAT"}}</td>			
						<td>{{solicitacao.descricao}}</td>
						
						<td>
							{% ifequal solicitacao.criticidade 0 %}
								<span class="badge badge-success">
							{% endifequal %}
							{% ifequal solicitacao.criticidade 1 %}
								<span class="badge badge-warning">
							{% endifequal %}
							{% ifequal solicitacao.criticidade 2 %}
								<span class="badge badge-important">
							{% endifequal %}
							{{solicitacao.get_criticidade_display}}
								</span>
						
						</td>
						
						<td><a href="{% url "producao:requisicao_de_compra_atendido" solicitacao.id %}" class="btn btn-success"><i class="fa fa-check"></i></a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			
		</div>
		
    <div class="tab-pane fade" id="fechados">
			
			<table class="table table-condensed table-rounded table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Usuário</th>
						<th>Solicitante</th>
						<th>Criado em</th>
						<th>Data para Atender</th>
						<th>Atendido</th>
						<th>Descrição</th>
						<th>Criticidade</th>
					</tr>
				</thead>
				<tbody>
					{% for solicitacao in fechados %}
					<tr>
						<td>#{{solicitacao.id}}</td>
						<td>{{solicitacao.solicitante}}</td>
						<td>{{solicitacao.solicitado}}</td>
						<td>{{solicitacao.criado|date:"SHORT_DATETIME_FORMAT"}}</td>
						<td>{{solicitacao.data_solicitado|date:"SHORT_DATE_FORMAT"}}</td>			
						<td>{{solicitacao.atendido_em|date:"SHORT_DATETIME_FORMAT"}}</td>
						<td>{{solicitacao.descricao}}</td>
						<td>
							{% ifequal solicitacao.criticidade 0 %}
								<span class="badge badge-success">
							{% endifequal %}
							{% ifequal solicitacao.criticidade 1 %}
								<span class="badge badge-warning">
							{% endifequal %}
							{% ifequal solicitacao.criticidade 2 %}
								<span class="badge badge-important">
							{% endifequal %}
							{{solicitacao.get_criticidade_display}}
								</span>
						
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			
		</div>
		
</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>
<link href="{{ STATIC_URL }}frontend/css/ui-lightness/jquery-ui-date-picker.min.css" rel="stylesheet">
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-producao-requisicao-de-compra, #top-menu-producao").addClass("active");
		$( ".datepicker" ).datepicker({
			inline: true,
	        dateFormat: "dd/mm/yy"
        
		});
    var activeTab = $('[href=' + location.hash + ']');
    activeTab && activeTab.tab('show');
		
		
});


</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}