<h2>Produção Combinada</h2>
<form method="POST" action="{% url "producao:producao_combinada_calcular" %}" class="form-inline">
	{% csrf_token %}

	<h5>Configurações</h5>
	<p>
	<input type="checkbox" name="conseridar_subprodutos_funcionais" id="conseridar_subprodutos_funcionais"> <label for="conseridar_subprodutos_funcionais">Considerar Sub Produtos Funcionais</label><br />
	<input type="checkbox" name="conseridar_produtos_produzidos" id="conseridar_produtos_produzidos"> <label for="conseridar_produtos_produzidos">Considerar Produtos Já Produzidos</label>
	</p>


<h2><i class="icon-windows"></i> Produtos</h2>

<ul>
{% for produto in produtos %}
	<li><input type="text" name="produto-{{produto.id}}" value="0" class="input-mini" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"> {{produto}}</li>
{% endfor %}
</ul>

<h2><i class="icon-list-ul"></i> Sub Produtos</h2>
<ul>
{% for subproduto in subprodutos %}
	<li><input type="text" name="subproduto-{{subproduto.id}}" value="0" class="input-mini"> {{subproduto}}</li>
{% endfor %}
</ul>

<button type="submit" class="btn btn-primary"><i class="icon-search"></i> Checar Produção Combinada</button>
</form>