{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Ver Sub Produtos{% endblock %}</title>

{% block content %}
<h1><i class="icon-th"></i> <i class="icon-list-ul"></i>  Sub Produto {{subproduto}}</h1>

<p>
    <a class="btn btn-primary" href="{% url "producao:editar_subproduto" subproduto.id %}"><i class="icon-pencil"></i> Editar SubProduto</a>
</p>

<ul class="nav nav-tabs">
    <li class="active"><a href="#informacoes" data-toggle="tab">Informações</a></li>
    <li><a href="#linhas-componente" data-toggle="tab">Linhas de Componente</a></li>
    <li><a href="#sub-produtos-agregados" data-toggle="tab">Sub Produtos Agregados</a></li>
    <li><a href="#documentos-tecnicos" data-toggle="tab">Documentos Técnicos</a></li>

    
</ul>

<div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="informacoes">
        
        <div class="row-fluid">
            <div class="span6">
                <strong>Nome</strong>: {{subproduto.nome}}<br />
                <strong>Descrição</strong>: {{subproduto.descricao}}
        
                <h2>Preço Total</h2>
                Preço
        
                <h2>Quantidades</h2>
            </div>
            
            <div clas="span6">
                {% if subproduto.imagem %}
                <a href="{{subproduto.imagem.url}}"><img src="{{subproduto.imagem.url}}"></a>
                {% endif %}
                
            </div>
            
        </div>

    </div>
    
    <div class="tab-pane fade in" id="linhas-componente">
        
        <h2>Linhas do Sub Produto</h2>
        <a href="{% url "producao:adicionar_linha_subproduto" subproduto.id %}" class="btn btn-primary"><i class="icon-plus"></i> Adicionar Linha de Componente</a>

        <table class="table table-condensed table-striped table-rounded">
            <thead>
                       <tr>
                           <th>Posição</th>
                           <th>TAG</th>
                           <th>Opções</th>
                           <th>Padrão</th>
                           <th>Ação</th>
                       </tr>
                   </thead>
            <tbody>
               {% for linha in subproduto.linhasubproduto_set.all %}
               <tr>
                   <td>{{linha.peso}}</td>
                   <td>{{linha.tag}}</td>
                   <td>{{linha.opcaolinhasubproduto_set.count}}</td>
                   <td>{{linha.opcao_padrao.quantidade}} {{linha.opcao_padrao.componente.get_medida_display}} {{linha.opcao_padrao.componente}}</td>
                   <td><a href="{% url "producao:editar_linha_subproduto" subproduto.id linha.id %}" class="btn"><i class="icon-pencil"></i></a></td>
               </tr>
           
               {% empty %}
               <tr>
                   <td>
                       Nenhuma Linha Encontrada.
                   </td>
               </tr>
               {% endfor %}

            </tbody>
        </table>
        
    
    </div>
    
    <div class="tab-pane fade in" id="sub-produtos-agregados">
        
    </div>
    
    <div class="tab-pane fade in" id="documentos-tecnicos">
        
    </div>
    
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-subprodutos, #top-menu-producao").addClass("active");
    var activeTab = $('[href=' + location.hash + ']');
    activeTab && activeTab.tab('show');
    
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}