{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Ordem de Produção de Produto{% endblock %}</title>

{% block content %}
	<h1><i class="icon-th"></i> <i class="icon-truck"></i>  Ordem de Produção</h1>
	<h2><i class="icon-windows"></i> Produto {{produto.part_number}}</h2>
	{% if calculado %}
		<p class="btn-group">
	<button id="esconder-linhas-ok" class="btn btn-success">Mostra/Esconder Linhas OK</button>

		<button href="" id="imprimir" class="btn btn-primary"><i class="icon-print"></i> imprimir</button>
		</p>
		{% endif %}
	
	
	<div class="row-fluid">
		
		<div class="span3">
			<strong>Total Produzido</strong>: <span class="badge badge-success">{{produto.total_produzido}}</span><br />
		</div>

		<div class="span3">
				<div class="alert alert-info nomargin">
					<h4>{{quantidade_solicitada}} Unidades</h4>
				</div>
		</div>

		<div class="span6">
			{% if producao_liberada %}	
			
			{% if request.user.perfilacessoproducao.gerente %}
			<a class="btn btn-danger" href="{% url "producao:ordem_de_producao_produto_confirmar" produto_id quantidade_solicitada %}">Confirmar Produção!</a>
			{% else %}
			<h1>Somente o Gerente pode ordenar a produção!</h1>
			{% endif %}
			
			{% else %}
			
			<form method="POST" class="nomargin">
				{% csrf_token %}
				<button class="btn btn-primary" name="verificar-producao" value="verificar">
					<i class="icon-search"></i> Verificar Disponibilidade para Produção
				</button>
			</form>
			
			{% endif %}
				
				
				
		</div>

		
	</div>

	
	{% if calculado %}
	<div id="calculado">
		<h2>Calculo de Produção</h2>
		<h3>Componentes</h3>
		<table class="table table-condensed table-hover table-rounded">
			<thead>
				<tr>
					<th>Componente</th>
					<th>Descrição</th>
					<th>Qtd Utilizada</th>
					<th>Qtd Consumida</th>
					<th>Disponível em Estoque</th>
				</tr>
			</thead>
			<tbody>
					{% for k,linha in quantidades_componente.items %}
					<tr class="
					{% if linha.3 %}
					alert alert-success linhaok
					{%else%}
					alert alert-danger
					{% endif %}
					">
						<td>
							{{linha.0.componente.part_number}} ({{linha.0.componente.id}})
						</td>
						<td>{{linha.0.componente.descricao}}</td>
						<td>{{linha.0.quantidade}}</td>
						<td>
							{{linha.1}} {{linha.0.medida}}
						</td>
						<td>
							{{linha.2}} {{linha.0.medida}}
						</td>
					</tr>
			{% endfor %}				
			</tbody>	
		</table>
		 
		<h3>Sub Produtos Agregados</h3>
		<table class="table table-condensed table-hover table-rounded">
			<thead>
				<tr>
					<th>Sub Produto</th>
					<th>Qtd Utilizada</th>
					<th>Qtd Consumida</th>
					<th>Disponível em Estoque</th>
					<th>Tipo de Teste</th>
				</tr>
			</thead>		
			<tbody>
					{% for linha in quantidades_agregados %}
					{{subproduto_agregado.0}}
					<tr class="
					{% if linha.3 %}
					alert alert-success linhaok
					{%else%}
					alert alert-danger
					{% endif %}
					">
						<td>
							{{linha.0.subproduto.part_number}}
							{% if not linha.0.subproduto.tipo_de_teste %} 				
							{{linha.0.subproduto.get_componentes}}
							{% endif %}
						</td>
						<td>{{linha.0.quantidade}}</td>
						<td>
							{{linha.1}} unidades
						</td>
						<td>
							{{linha.2}}
						</td>
						<td>
							{{linha.0.subproduto.get_tipo_de_teste_display}}
						</td>
					</tr>
			{% endfor %}				
			</tbody>	
		</table>


	</div>		
	{% else %}
		<div id="configurar">
			
			
			<h2>SubProdutos Agregados</h2>
		  <table class="table table-condensed table-hover table-rounded">
		      <thead>
		          <tr>
		              <th>Item Agregado</th>
		              <th>SubProduto</th>
									<th>Quantidade Utilizada</th>
		              <th>Disponível em Estoque</th>
									<th>Tipo de Teste</th>
		          </tr>
		      </thead>
		      <tbody>
				
				
						{% for linha in produto.linhasubprodutodoproduto_set.all %}
						<tr class="{% if linha.quantidade > linha.subproduto.total_disponivel %}
						
								alert alert-danger
								{% else %}
								alert alert-info
								{% endif %}">
							<td>
						
								{{forloop.counter}}</td>
							<td>{{linha.subproduto.part_number}} {{linha.subproduto.get_componentes}}</td>
							<td>{{linha.quantidade}}</td>
							<td>{{linha.subproduto.total_disponivel}}</td>
							<td>{{linha.subproduto.get_tipo_de_teste_display}}</td>
						</tr>
						{% endfor %}
				
					</tbody>
			</table>
	
			<h2>Linhas de Componentes</h2>
			
			<table class="table table-condensed table-hover table-rounded">
				<thead>
					<tr>
						<th>ID Linha</th>
						<th>Componente</th>
						<th>Descrição</th>
						<th>Quantidade</th>
						<th>Disponível em Estoque</th>
					</tr>
				</thead>
				<tbody>
					{% for linha in produto.linhacomponenteavulsodoproduto_set.all %}
					<tr>
						<td>#{{linha.id}}</td>
						<td>{{linha.componente.part_number}}</td>
						<td>{{linha.componente.descricao}}</td>
						<td>{{linha.quantidade}} {{linha.opcao_padrao.componente.medida}}</td>
						<td>{{linha.componente.posicao_no_estoque_produtor}} {{linha.componente.medida}}</td>
						
					</tr>
					{% empty %}
					<tr>Nenhum Componente</tr>
			
					{% endfor %}
				</tbody>
			</table>
			
			
	
	
	
		</div>
	{% endif %}
	
	{% if get_componentes %}<strong>Notação de Produção</strong>: {{get_componentes}}<br />{% endif %}
	
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-producao-ordem-de-producao, #top-menu-producao").addClass("active");
    var activeTab = $('[href=' + location.hash + ']');
    activeTab && activeTab.tab('show');
		
		$("#esconder-linhas-ok").click(function(e){
			e.preventDefault();
			$(".linhaok").toggle();
		});
		
		$(".linhaok").toggle();
		
		
});

$(document).on("click", "#imprimir", function(e){
	e.preventDefault();
	$(this).hide();
	$('#esconder-linhas-ok').hide()
	$("#menu-lateral").hide();
	$("#global-top-menu").hide();
	$("#main-content").css("padding-top", 0);
	$("#content").removeClass('span9').addClass('span11');
	
});


$('.nav-tabs').on("click", '.ajaxtab', function(e){
	e.preventDefault();
	var url = $(this).attr("data-url");
	var href = this.hash;
	window.location.hash = this.hash;
	var pane = $(this);
	// ajax load from data-url
	$(href).load(url)
	$(href).html("<i class='icon-spinner icon-spin icon-large icon-3x'></i>");
	pane.tab('show');		
	
})


</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}