<table class="table table-condensed table-hover table-rounded">
	<thead>
		<tr>
			<th>Componente</th>
			<th>Descrição</th>
			<th>Posição em Estoque Produtor</th>
			<th>Estoque Mínimo</th>
			<th>Diferença</th>
		</tr>
	</thead>
	<tbody>
		{% for linha in tabela_items %}
		<tr class="alert alert-{% if linha.4 %}success{% else %}danger{% endif %}">
			<td><i class="icon-stop"></i> {{linha.0.part_number}}</td>
			<td>{{linha.0.descricao}}</td>
			<td>{{linha.1}}</td>
			<td>{{linha.2}}</td>
			<td>{{linha.3}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>