{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Editar Nota Fiscal{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-paste"></i> Adicionar Nota</h1>

<form method="POST">
    {% csrf_token %}
    {{form_adicionar_notafiscal.as_p}}
    <button type="submit" class="btn btn-primary"><i class="fa fafa fa-plus"></i> Adicionar Nota</button>
</form>
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
  $(".nopoint").keyup(function() {
          $(this).val($(this).val().replace(/[.]/g, ""));
    });
	
	$("#menu-producao-lancar-nota, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}