<div class="accordion-inner">


	<h4 class="alert-info alert">Sub Produtos</h4>
	<div class="accordion" id="accordion2">
		{% for subproduto_agregado in subproduto.linhasubprodutos_agregados.all %}
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-target="#collapse-subproduto{{parente}}-subprodutoagregado-{{subproduto_agregado.id}}" data-href="{% url "producao:arvore_de_produto_ajax_subproduto" subproduto_agregado.subproduto_agregado.id subproduto.id %}" data-toggle="collapse"  href="#collapse-subproduto{{parente}}-subprodutoagregado-{{subproduto_agregado.id}}}">
					<span class="badge badge-warning">{{subproduto_agregado.quantidade}}</span> Unidade{{subproduto_agregado.quantidade|pluralize}} de {{subproduto_agregado.subproduto_agregado}}
				</a>
			</div>
			<div id="collapse-subproduto{{parente}}-subprodutoagregado-{{subproduto_agregado.id}}" class="accordion-body collapse">
				<div class="accordion-inner">
					
				</div>
			</div>
		</div>
		{% empty %}
		<i>Nenhum Sub Produto</i>
		{% endfor %}
		

	</div>
	
	<h4 class="alert alert-success">Componentes</h4>
	<table class="table table-condensed table-hover table-rounded">
		<thead>
			<tr>
				<th>Componente</th>
				<th>Quantidade</th>
				<th>Descrição</th>
				<th>Nacionalidade</th>
				<th>Lead Time (semanas)</th>
				<th>TAG</th>
				<th>Preço</th>
			</tr>
		</thead>
		<tbody>
			{% for linha in subproduto.linhasubproduto_set.all %}
			<tr>
				<td>{{linha.opcao_padrao.componente.part_number}}</td>
				<td><span class="badge badge-warning">{{linha.opcao_padrao.quantidade}} {{linha.opcao_padrao.componente.get_medida_display}}</span></td>
				<td>{{linha.opcao_padrao.componente.descricao}}</td>
				<td>{{linha.opcao_padrao.componente.get_nacionalidade_display}}</td>
				<td>{{linha.opcao_padrao.componente.lead_time}}</td>
				<td>{{linha.tag|upper}}</td>
				<td>R$  {{linha.opcao_padrao.componente.preco_medio_unitario|floatformat:2}}</td>
			</tr>
			{% empty %}
			<tr>Nenhum Componente</tr>
			
			{% endfor %}
		</tbody>
	</table>
	

</div>