{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Ordem de Produção de SubProduto{% endblock %}</title>

{% block content %}
	<h1><i class="fa fa-th"></i> <i class="fa fa-truck"></i>  Ordem de Produção</h1>
	<h2><i class="fa fa-list-ul"></i> Sub Produto {{subproduto.part_number}} {% if calculado%}: Cálculo de Produção{% endif %}</h2>
	{% if calculado %}
		<p class="btn-group">
	<button id="esconder-linhas-ok" class="btn btn-success">Mostra/Esconder Linhas OK</button>

		<button href="" id="imprimir" class="btn btn-primary"><i class="fa fa-print"></i> imprimir</button>
		</p>
		{% endif %}
	
	
	<div class="row-fluid">
		
		<div class="span3">
			{% if subproduto.tipo_de_teste %}
			<strong>Total Montado</strong>: <span class="badge">{{subproduto.total_montado}}</span><br />
			<strong>Total Testando</strong>: <span class="badge badge-info">{{subproduto.total_testando}}</span><br />
			<strong>Total Funcional</strong>: <span class="badge badge-success">{{subproduto.total_funcional}}</span><br />
			{% endif %}
			
		</div>

		<div class="span3">
				<div class="alert alert-info nomargin">
					<h4>{{quantidade_solicitada}} Unidades</h4>
				</div>
				<br /><strong>Tipo de Teste: {{subproduto.get_tipo_de_teste_display}}</strong>
					
		</div>
		
		<div class="span6">
	{% if producao_liberada %}
		{% if request.user.perfilacessoproducao.gerente %}
		<form method="POST" class="nomargin" name="confirmar-produto" action="{% url "producao:ordem_de_producao_subproduto_confirmar" subproduto.id quantidade_solicitada %}">
			{% csrf_token %}

			<input type="hidden" name="configuracao" class="form" value="{{conf}}">
			{{form_configurador_producao_subproduto}} 
			<button class="btn btn-danger" type="submit"><i class="fa fa-thumbs-up"></i> Confirmar </button>
		</form>
		{% else %}
		<h1>Somente o gerente pode ordenar produção!</h1>
		{% endif %}
	
	{% else %}
	{% if calculado %}
	<a class="btn btn-primary" href="{% url "producao:ordem_de_producao" %}"><i class="fa fa-search"></i> Produção Não Liberada. Nova Consulta</a>
	{% else %}
	<button class="btn btn-primary" form="configurador_produto">
		<i class="fa fa-search"></i> Verificar Disponibilidade para Produção
	</button>
	{% endif %}
	<br /><strong>Tipo de Teste: {{subproduto.get_tipo_de_teste_display}}</strong>
	{% endif %}
	

		</div>
	</div>

	
	{% if calculado %}
	<div id="calculado">
		{% if quantidades_agregados %}
		<h3>Sub Produtos Agregados</h3>
		<table class="table table-condensed table-hover table-rounded">
			<thead>
				<tr>
					<th>Sub Produto</th>
					<th>Qtd Utilizada</th>
					<th>Qtd Consumida</th>
					<th>Disponível em Estoque</th>
					<th>Tipo de Teste</th>
				</tr>
			</thead>		
			<tbody>
					{% for linha in quantidades_agregados %}
					{{subproduto_agregado.0}}
					<tr class="
					{% if linha.3 %}
					alert alert-success linhaok
					{%else%}
					alert alert-danger
					{% endif %}
					">
						<td>
							{{linha.0.subproduto_agregado.part_number}}
							{{linha.0.subproduto_agregado.get_componentes}}
						</td>
						<td>{{linha.0.quantidade}}</td>
						<td>
							{{linha.1|floatformat:0}} 
						</td>
						<td>
							{{linha.2}}
						</td>
						<td>
							{{linha.0.subproduto_agregado.get_tipo_de_teste_display}}
						</td>
					</tr>
			{% endfor %}				
			</tbody>	
		</table>
		{% endif %}
		
		<h3>Componentes</h3>
		<table class="table table-condensed table-hover table-rounded">
			<thead>
				<tr>
					<th>Componente</th>
					<th>Descrição</th>
					<th>Qtd Utilizada</th>
					<th>Qtd Consumida</th>
					<th>Disponível em Estoque</th>
				</tr>
			</thead>
			<tbody>
					{% for k,linha in quantidades_componente.items %}
					<tr class="
					{% if linha.3 %}
					alert alert-success linhaok
					{%else%}
					alert alert-danger
					{% endif %}
					">
						<td>
							{{linha.0.componente.part_number}} ({{linha.0.componente.id}})
						</td>
						<td>{{linha.0.componente.descricao}}</td>
						<td>{{linha.0.quantidade}} {{linha.0.componente.medida}}</td>
						<td>
							{{linha.1}} {{linha.0.componente.medida}}
						</td>
						<td>
							{{linha.2}} {{linha.0.componente.medida}}
						</td>
					</tr>
			{% endfor %}				
			</tbody>	
		</table>

	</div>		
	{% else %}
		<div id="configurar">
			
			
			{% if subproduto.linhasubprodutos_agregados.all %}
			<h2>SubProdutos Agregados</h2>
		  <table class="table table-condensed table-hover table-rounded">
		      <thead>
		          <tr>
		              <th>Item Agregado</th>
		              <th>Sub Produto</th>
									<th>Quantidade Utilizada</th>
		              <th>Disponível em Estoque</th>
									<th>Tipo de Teste</th>
		          </tr>
		      </thead>
		      <tbody>
				
				
						{% for linha in subproduto.linhasubprodutos_agregados.all %}
						<tr class="{% if linha.quantidade > linha.subproduto_agregado.total_disponivel %}
						
								alert alert-danger
								{% else %}
								alert alert-info
								{% endif %}"
		>
							<td>
						
								{{forloop.counter}}</td>
							<td>{{linha.subproduto_agregado.part_number}}</td>
							<td>{{linha.quantidade}}</td>
							<td>{{linha.subproduto_agregado.total_disponivel}}</td>
							<td>{{linha.subproduto_agregado.get_tipo_de_teste_display}}</td>
						</tr>
						{% endfor %}
				
					</tbody>
			</table>
			{% endif %}
	
			<h2>Linhas de Componentes Com Alternativo</h2>
			
			<form method="post" name="configurador_produto" id="configurador_produto" class="form-inline">
				{% csrf_token %}
				<div id="select2medio">
				{{form_configurador_subproduto.as_p}}
				</div>
			</form>
			
					
			<h2>Linhas de Componentes Sem Alternativo</h2>			
		  <table class="table table-condensed table-hover table-rounded">
		      <thead>
		          <tr>
									<th>ID Linha</th>
		              <th>Componente</th>
									<th>Descrição</th>
		              <th>Quantidade Utilizada</th>
		              <th>Disponível em Estoque</th>
		          </tr>
		      </thead>
		      <tbody>
			
						{% for linha in linhas_sem_alternativo %}
						<tr>
							<td>#{{linha.id}}</td>
							<td>{{linha.opcao_padrao.componente.part_number}}</td>
							<td>{{linha.opcao_padrao.componente.descricao}}</td>
							<td>{{linha.opcao_padrao.quantidade}} {{linha.opcao_padrao.componente.medida}}</td>
							<td>{{linha.opcao_padrao.componente.posicao_no_estoque_produtor}} {{linha.opcao_padrao.componente.medida}}</td>
							
						</tr>
						{% endfor %}
					</tbody>
			</table>
	
	
		</div>
	{% endif %}
	{% if get_componentes %}
	<strong>Notação de Produção Abreviada</strong>: {{get_componentes}}<br />
	<strong>Notação de Produção Completa Não Agrupada</strong>: {{get_componentes_nao_agrupados}}<br />
	{% endif %}
	
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />
<link href="{{ STATIC_URL }}frontend/css/datepicker.css" rel="stylesheet">
<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>


<script>
$(document).ready(function() {
    $("#menu-producao-ordem-de-producao, #top-menu-producao").addClass("active");
		$("#esconder-linhas-ok").click(function(e){
			e.preventDefault();
			$(".linhaok").toggle();
		});
		
		$(".linhaok").toggle();
		
		$( ".datepicker" ).datepicker({
			inline: true,
	        dateFormat: "dd/mm/yy"
        
		});
});


$(document).on("click", "#imprimir", function(e){
	e.preventDefault();
	$(this).hide();
	$('#esconder-linhas-ok').hide()
	$("#menu-lateral").hide();
	$("#global-top-menu").hide();
	$("#main-content").css("padding-top", 0);
	$("#content").removeClass('span9').addClass('span11');
	
});

</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}