{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Editar Nota Fiscal{% endblock %}</title>

{% block content %}
<h1>Adicionar Fabricantes e Fornecedores</h1>
<form method="POST" class="form-horizontal">
{% csrf_token %}
{{form_add_fabricante_fornecedor.as_p}}
<button type="submit" class="btn btn-primary"><i class="icon-plus"></i> Adicionar</button>
</form>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-fabricantes-fornecedores, #top-menu-producao").addClass("active");
    $("#busca_fab_for").focus()
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}