<h2>Preparo de Produção</h2>
<form method="POST" action="{% url "producao:preparar_producao_semanal_calcular" %}" class="form-inline">
	{% csrf_token %}
	<h5>Configurações</h5>
	<p>
	<input type="text" name="margem_componentes" id="margem_componentes" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,''); handleChange(this);" value="0" class="input-mini"><strong>%</strong> <label for="margem_componentes" >Margem de Segurança de Componentes</label>	
	</p>

<h2><i class="icon-windows"></i> Produtos</h2>

<ul>
{% for produto in produtos %}
	<li><input type="text" name="produto-{{produto.id}}" value="0" class="input-mini" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"> {{produto}}</li>
{% endfor %}
</ul>

<h2><i class="icon-list-ul"></i> Sub Produtos</h2>
<ul>
{% for subproduto in subprodutos %}
	<li><input type="text" name="subproduto-{{subproduto.id}}" value="0" class="input-mini"> {{subproduto}}</li>
{% endfor %}
</ul>



<button type="submit" class="btn btn-primary"><i class="icon-search"></i> Preparar Produção</button>
</form>


<script>
  function handleChange(input) {
    if (input.value < 0) input.value = 0;
    if (input.value > 100) input.value = 100;
  }
</script>