{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Editar Nota Fiscal{% endblock %}</title>

{% block content %}
<div class="row-fluid">
    <div class="span6">
        
        <h1><i class="icon-th"></i> <i class="icon-paste"></i> Ver Nota</h1>

        <h3>NFe Série {{notafiscal.numero_de_serie}}, Número {{notafiscal.numero_identificador}}</h3> <h4>{{notafiscal.get_tipo_display}}</h4>
        
    </div>
    
    <div class="span6 well well-small">
        <strong>Status</strong>: {{notafiscal.get_status_display}}<br />
        <strong>Fornecedor</strong>: {{notafiscal.fabricante_fornecedor}}<br />
        <strong>Data de Entrada</strong>: {{notafiscal.data_entrada|date:"SHORT_DATETIME_FORMAT"}} <em> <small>(há {{notafiscal.data_entrada|timesince}})</small></em><br />
        <strong>Taxas Diversas</strong>: R$ {{notafiscal.taxas_diversas}}<br />
        <strong>Total da Nota Sem Imposto</strong>: R$ {{notafiscal.total_sem_imposto}}<br />
        <strong>Total da Nota Com Imposto</strong>: R$ {{notafiscal.total_com_imposto}}<br />
        {% if notafiscal.tipo == 'i' %}
        <h6>Nota Internacional</h6>
        <strong>Total da Nota em Dólar (sem impostos)</strong>: USD {{notafiscal.total_da_nota_em_dolar}}<br />
        <strong>Cotação do Dolar</strong>: R$ {{notafiscal.cotacao_dolar}}
        {% endif %}        
    </div>
    
    
</div>

    <p class="btn-group">
            <a href="{% url "producao:adicionar_lancamento" notafiscal.id %}" class="btn btn-medium btn-primary"><i class="icon-plus"></i> Lançamento</a>
    {% ifequal notafiscal.status "a" %}
    <a class="btn btn-success" href="{% url "producao:editar_nota" notafiscal.id %}"><i class="icon-pencil"></i> Nota</a>

    {# <a class="btn btn-warning" href="{% url "producao:calcular_nota" notafiscal.id %}"><i class="icon-refresh"></i> Calcular</a> #}


    <a class="btn btn-danger" href="{% url "producao:lancar_nota_fechar" notafiscal.id %}"><i class="icon-paste"></i> Lançar em Estoque</a>
    {% endifequal %}
    </p>


<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
          <th>ITEM / #ID</th>
          <th>PART NUMBER FORNECEDOR</th>
          <th>QTD</th>
          <th>VLR UNIT</th>
          <th>IMP</th>
          <th>TOT UNIT + IMP</th>
          <th>EDITAR</th>
        </tr>
    </thead>
    <tbody>
        {% for lancamento in notafiscal.lancamentocomponente_set.all %}
        <tr {% if not lancamento.componente %}class="alert-danger"{%else%}class="alert-success"{%endif%}>
            <td>{% if lancamento.peso %}{{lancamento.peso}}{% else %}{{forloop.counter}}{%endif%} / #{{lancamento.id}}</td>
            <td>{{lancamento.part_number_fornecedor}}
                {% if lancamento.componente %}
                (<strong>{{lancamento.componente.part_number}}</strong>)
                    {% if lancamento.componente.descricao %}
                    <br /><small><strong>Descrição</strong>: {{lancamento.componente.descricao}}</small>
                    
                    {% endif %}
                    {% if lancamento.fabricante %}
                    <br /><small><strong>Fabricante</strong>: {{lancamento.fabricante.nome}}</small>
                    {% endif %}
                    {% if lancamento.part_number_fabricante %}
                    <br /><small><strong>PN Fabricante</strong>: {{lancamento.part_number_fabricante}}</small>
                    {% endif %}
                    
                {% endif %}</td>
            <td>{{lancamento.quantidade}}</td>
            <td>{% if lancamento.nota.tipo == 'n' %}R${%else%}USD{%endif%} {{lancamento.valor_unitario}}</td>
            <td>{{lancamento.impostos}}%</td>
            <td>R$ {{lancamento.valor_unitario_final}}</td>
            <td><a href="{% url "producao:editar_lancamento" notafiscal.id lancamento.id %}" class="btn"><i class="icon-pencil"></i></a>
        </tr>
        {% endfor %}
    </tbody>
</table>


<p>
<a href="{% url "producao:apagar_nota" notafiscal.id %}" class="btn btn-danger"><i class="icon-trash"></i> Apagar Nota</a>
</p>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-lancar-nota, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}