{% extends "frontend/base.html" %}
{% load sekizai_tags %}
{% block content %}
<div class="container-fluid" id="relatorio-impressao-produto">
	<h1>Composição de Produto</h1>
	<div class="well well-small">
		<h2>Produto: {{produto.part_number}}</h2>
	
		{% if produto.linhacomponenteavulsodoproduto_set.all %}
		<table class="table table-condensed table-hover table-rounded">
		  <thead>
			
			
	      <tr>
						<th>Nacionalidade</th>
	          <th>Quantidade</th>
						<th>Componente</th>
	          <th>Descrição</th>
						<th>Lead Time</th>
						<th>Preço Uniário</th>
	      </tr>
			
		  </thead>
		  <tbody>
			
				{% for linha in produto.linhacomponenteavulsodoproduto_set.all %}
				<tr>
					<td>{{linha.componente.get_nacionalidade_display}}</td>
					<td>{{linha.quantidade}} {{linha.componente.medida}}</td>
					<td>{{linha.componente.part_number}}</td>
					<td>{{linha.componente.descricao}}</td>
					<td>{{linha.componente.lead_time}}</td>
					<td>R$ {{linha.componente.preco_liquido_unitario_real|floatformat:2}}</td>
				</tr>
				{% endfor %}
			
			
			</tbody>
		</table>
		{% endif %}
	
	
		{% if produto.linhasubprodutodoproduto_set.all %}
		<table class="table table-condensed table-hover table-rounded">
      <thead>
          <tr>
              <th>Quantidade</th>
							<th>Subproduto</th>
              <th>Descrição</th>
							<th>Preço</th>
          </tr>
      </thead>
      <tbody>
				{% for linha in produto.linhasubprodutodoproduto_set.all %}
				<tr>
					<td>{{linha.quantidade}}</td>
					<td>{{linha.subproduto.part_number}}</td>
					<td>{{linha.subproduto.descricao}}</td>
					<td>R$ {{linha.subproduto.custo|floatformat:2}}</td>
				</tr>
				{% endfor %}
	
			</tbody>
		</table>
		{% endif %}
		
	</div>

	<h1>Composição dos Sub Produtos</h1>
	{% for subproduto in subprodutos_abaixo %}
		<div class="well">
			<h2>{{subproduto}}</h2>

			{% if subproduto.linhasubproduto_set.all %}
	  	<table class="table table-condensed table-hover table-rounded">
	      <thead>
	          <tr>
	              <th>TAG</th>
								<th>Nacionalidade</th>
	              <th>Quantidade</th>
								<th>Componente</th>
								<th>Descrição</th>
								<th>Lead Time</th>
								<th>Preço Unitário</th>
	          </tr>
	      </thead>
	      <tbody>
				
					{% for linha in subproduto.linhasubproduto_set.all %}
					<tr>
						<td>{{linha.tag|upper}}</td>
						<td>{{linha.opcao_padrao.componente.get_nacionalidade_display}}</td>
						<td>{{linha.opcao_padrao.quantidade}} {{linha.opcao_padrao.componente.medida}}</td>
						<td>{{linha.opcao_padrao.componente.part_number}}</td>
						<td>{{linha.opcao_padrao.componente.descricao}}</td>
						<td>{{linha.opcao_padrao.componente.lead_time}}</td>
						<td>R$ {{linha.opcao_padrao.componente.preco_liquido_unitario_real|floatformat:2}}</td>
					</tr>
					{% endfor %}
				
				</tbody>
			</table>
			{% endif %}
			

			{% if subproduto.linhasubprodutos_agregados.all %}
	  	<table class="table table-condensed table-hover table-rounded">
	      <thead>
	          <tr>
	              <th>Quantidade</th>
								<th>Subproduto</th>
	              <th>Descrição</th>
								<th>Preço</th>
	          </tr>
	      </thead>
	      <tbody>
					{% for linha in subproduto.linhasubprodutos_agregados.all %}
					<tr>
						<td>{{linha.quantidade}}</td>
						<td>{{linha.subproduto_agregado.part_number}}</td>
						<td>{{linha.subproduto_agregado.descricao}}</td>
						<td>R$ {{linha.subproduto_agregado.custo|floatformat:2}}</td>
					</tr>
					{% endfor %}
				
				</tbody>
			</table>
			{% endif %}

			
		</div>
	{% endfor %}
</div>
{% endblock %}