{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Controle de Testes{% endblock %}</title>

{% block content %}
	<h1><i class="fa fa-th"></i> <i class="fa fa-umbrella"></i>  Controle de Testes da Produção</h1>

	<ul class="nav nav-tabs" id="nav-tab-principal">
    <li class="active"><a href="#lancamento-de-falha" data-toggle="tab"><i class="fa fa-rocket"></i> Lançamento de Falhas</a></li>
		<li class=""><a href="#falha-tipo-perda" data-toggle="tab"><i class="fa fa-chain-broken"></i> Falhas de Perda</a></li>
		<li class=""><a href="#falha-tipo-reparo" data-toggle="tab"><i class="fa fa-wrench"></i> Falhas de Reparo</a></li>
		<li class=""><a href="#indicadores" data-toggle="tab"><i class="fa fa-wrench"></i> Indicadores</a></li>
		
	</ul>
	
	<div id="myTabContent" class="tab-content">
		
		<div class="tab-pane fade in active" id="lancamento-de-falha">
			<div class="row-fluid">
				<div class="span6">
					<h2>Lançamentos de Falha*</h2>
					<small>*Exibindo somente os útlimos 200</small>
				</div>
				<div class="span6">
					<a href="{% url "producao:controle_de_testes_producao_lancar_falha" %}" class="btn btn-primary"><i class="fa fa-rocket"></i> Lançar Falha</a>
					
				</div>
			</div>
			<div id="testes-de-perda">
				<table class="table table-condensed table-hover table-rounded">
					<thead>
						<tr>
							<th>ID</th>
							<th>Sub Produto</th>
							<th>Testado</th>
							<th>Funcional</th>
							<th>Perda</th>
							<th>Reparado</th>
							<th>Func s/ reparar</th>
							<th>Usuário</th>
						</tr>
					</thead>
					<tbody>
						{% for falha in lancamentos_falha %}
						<tr>
							<td>{{falha.id}}</td>
							<td><a href="{% url "producao:ver_subproduto" falha.subproduto.id %}">{{falha.subproduto.part_number}} {{falha.subproduto.nome}}</a></td>
							<td>{{falha.quantidade_total_testada}}</td>
							<td>{{falha.quantidade_funcional}}</td>
							<td>{{falha.quantidade_perdida}}</td>
							<td>{{falha.quantidade_reparada_funcional}}</td>
							<td>{{falha.quantidade_funcional_direta}}</td>
							<td>{{falha.criado_por}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			
		</div>
			
		<div class="tab-pane fade in" id="falha-tipo-perda">
			<div class="row-fluid">
				<div class="span6">
					<h2>Falha do Tipo Perda</h2>
				</div>
				<div class="span6">
					<a class="btn btn-primary adicionar-falha-btn" href="{% url "producao:controle_de_testes_producao_adicionar_falha" %}?tipo=perda"><i class="fa fa-plus"></i> Adicionar Falha</a>
					<a class="btn btn-success" id="imprimir"><i class="fa fa-print"></i> Imprimir</a>
					
				</div>
			</div>
			
			<div id="testes-de-perda">
				<table class="table table-condensed table-hover table-rounded">
					<thead>
						<tr>
							<th>ID</th>
							<th>Código</th>
							<th>Descrição</th>
						</tr>
					</thead>
					<tbody>
						{% for falha in testes_perda %}
						<tr>
							<td>{{falha.id}}</td>
							<td>{{falha.codigo}}</td>
							<td>{{falha.descricao}}</td>
						</tr>
						{% endfor %}
					
					</tbody>
				</table>
			</div>
			
		</div>
				
		<div class="tab-pane fade in" id="falha-tipo-reparo">
			<div class="row-fluid">
				<div class="span6">
					<h2>Falha do Tipo Reparo</h2>
				</div>
				<div class="span6">
					<a class="btn btn-primary adicionar-falha-btn" href="{% url "producao:controle_de_testes_producao_adicionar_falha" %}?tipo=reparo"><i class="fa fa-plus"></i> Adicionar Falha</a>
					<a class="btn btn-success" id="imprimir"><i class="fa fa-print"></i> Imprimir</a>
					
				</div>
			</div>			
			<div id="testes-de-perda">
				<table class="table table-condensed table-hover table-rounded">
					<thead>
						<tr>
							<th>ID</th>
							<th>Código</th>
							<th>Descrição</th>
						</tr>
					</thead>
					<tbody>
						{% for falha in testes_reparo %}
						<tr>
							<td>{{falha.id}}</td>
							<td>{{falha.codigo}}</td>
							<td>{{falha.descricao}}</td>
						</tr>
						{% endfor %}
					
					</tbody>
				</table>
			</div>
			
			
		</div>
		
		<div class="tab-pane fade in" id="indicadores">
			<h4>Filtrar por Sub Produto</h4>

				<form method="POST" id="filtrar-por-subproduto">
						{% csrf_token %}
					<div class="row-fluid">
				
						<div class="span2">
							{{form_filtrar_falha_por_produto.inicio.label}}<br />
							{{ form_filtrar_falha_por_produto.inicio.errors }}
							{{form_filtrar_falha_por_produto.inicio}}
						</div>

						<div class="span2">
						{{form_filtrar_falha_por_produto.fim.label}}<br />
						{{ form_filtrar_falha_por_produto.fim.errors }}
						{{form_filtrar_falha_por_produto.fim}}
					</div>
				
						<div class="span8">
						{{form_filtrar_falha_por_produto.subproduto.label}}<br />
						{{form_filtrar_falha_por_produto.fim.erros}}
						{{form_filtrar_falha_por_produto.subproduto}}
						</div>

					</div>
					<button id="filtrar-por-subproduto-btn" name="filtrar-por-subproduto-btn" value="filtrar" class="btn btn-primary">Filtrar por Sub Produto</button>
				</form>

				{% if filtro and filtro_subproduto %}
				<h5>Falhas</h5>
				<strong>Total de Perda</strong>: {% if total_por_tipo_perda.total %}{{total_por_tipo_perda.total}}{% else %}0{% endif %}<br />
				<strong>Total de Reparo</strong>: {% if total_por_tipo_reparo.total %} {{total_por_tipo_reparo.total}}{% else %}0{% endif %}<br />
				<h5>Testes</h5>
				<strong>Total Funcional Direto</strong> {% if total_funcional_direto.total %}{{total_funcional_direto.total}}{% else %}0{% endif %}<br />

				<hr />
				
				
				<h4>Resultado de Falhas de Reparo:</h4>
				<table class="table table-condensed table-hover table-rounded">
					<thead>
						<tr>
							<th>Código</th>
							<th>Descrição</th>
							<th>Quantidade</th>
						</tr>
					</thead>
					<tbody>
						{% for linha in total_por_falha_reparo %}
							<tr>
								<td>{{linha.falha__codigo}}</td>
								<td>{{linha.falha__descricao}}</td>
								<td>{{linha.total}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<h4>Resultado de Falhas de Perda:</h4>
				<table class="table table-condensed table-hover table-rounded">
					<thead>
						<tr>
							<th>Código</th>
							<th>Descrição</th>
							<th>Quantidade</th>
						</tr>
					</thead>
					<tbody>
						{% for linha in total_por_falha_perda %}
							<tr>
								<td>{{linha.falha__codigo}}</td>
								<td>{{linha.falha__descricao}}</td>
								<td>{{linha.total}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<hr />
				
							{% endif %}
			

			<h4>Filtrar por Funcionário</h4>
			
			<form method="POST" id="filtrar-por-subproduto">
					{% csrf_token %}
				<div class="row-fluid">
			
					<div class="span2">
						{{fom_filtrar_falha_por_funcionario.inicio.label}}<br />
						{{ fom_filtrar_falha_por_funcionario.inicio.errors }}
						{{fom_filtrar_falha_por_funcionario.inicio}}
					</div>

					<div class="span2">
					{{fom_filtrar_falha_por_funcionario.fim.label}}<br />
					{{fom_filtrar_falha_por_funcionario.fim.errors }}
					{{fom_filtrar_falha_por_funcionario.fim}}
				</div>
			
					<div class="span8">
					{{fom_filtrar_falha_por_funcionario.funcionario.label}}<br />
					{{fom_filtrar_falha_por_funcionario.funcionario.erros}}
					{{fom_filtrar_falha_por_funcionario.funcionario}}
					</div>

				</div>
				<button id="filtrar-por-funcionario-btn" name="filtrar-por-funcionario-btn" value="filtrar" class="btn btn-primary">Filtrar por Funcionário</button>
			</form>

			{% if filtro and filtro_funcionario %}
			<h4>Falhas</h4>
			<strong>Total de Perda</strong>: {% if total_por_tipo_perda.total %}{{total_por_tipo_perda.total}}{% else %}0{% endif %}<br />
			<strong>Total de Reparo</strong>: {% if total_por_tipo_reparo.total %} {{total_por_tipo_reparo.total}}{% else %}0{% endif %}<br />
			
			<h4>Testes</h4>
			<strong>Total Testado</strong>: {{total_testado.total}}<br />
			<strong>Total Reparado</strong>: {{total_reparado.total}}<br />
			<strong>Total Perda</strong>: {{total_perda.total}}<br />
			
			<h4>Resultado de Falhas de Reparo:</h4>
			<table class="table table-condensed table-hover table-rounded">
				<thead>
					<tr>
						<th>Código</th>
						<th>Descrição</th>
						<th>Quantidade</th>
					</tr>
				</thead>
				<tbody>
					{% for linha in total_por_falha_reparo %}
						<tr>
							<td>{{linha.falha__codigo}}</td>
							<td>{{linha.falha__descricao}}</td>
							<td>{{linha.total}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<h4>Resultado de Falhas de Perda:</h4>
			<table class="table table-condensed table-hover table-rounded">
				<thead>
					<tr>
						<th>Código</th>
						<th>Descrição</th>
						<th>Quantidade</th>
					</tr>
				</thead>
				<tbody>
					{% for linha in total_por_falha_perda %}
						<tr>
							<td>{{linha.falha__codigo}}</td>
							<td>{{linha.falha__descricao}}</td>
							<td>{{linha.total}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			
			{% endif %}
			
			
		</div>
		
	</div>


	
{% endblock %}

{% block auxiliar-menu %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />
<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>

{% addtoblock "js" %}

<script>
$(document).ready(function() {
		var activeTab = $('[href=' + location.hash + ']');
		activeTab && activeTab.click();
    $("#menu-producao-controle-de-testes, #top-menu-producao").addClass("active");
				
});

$('.nav-tabs').on("click", '.nav-tabs li a', function(e){
	e.preventDefault();

	var href = this.hash;
	window.location.hash = this.hash;
	var pane = $(this);
	// ajax load from data-url
	pane.tab('show');		
})
$('.datepicker').each(function() {
   $(this).datepicker({
	inline: true,
      dateFormat: "dd/mm/yy"
    
		});
});


$(document).on("click", "#imprimir", function(e){
	e.preventDefault();
	$(this).hide();
	$("#menu-lateral").hide();
	$("#global-top-menu").hide();
	$(".adicionar-falha-btn").hide();
	$("#main-content").css("padding-top", 0);
	$("#nav-tab-principal").hide();
	$("#content").removeClass('span9').addClass('span11');
});



</script>

{% endaddtoblock %}

{% include "frontend/producao/producao-menu.html" %}

{% endblock%}