{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Controle de Testes - Lançar Falha{% endblock %}</title>

{% block content %}
	<h1><i class="fa fa-th"></i> <i class="fa fa-umbrella"></i>  Controle de Testes da Produção - Lançar Falha</h1>
	<h2>Resultados do Teste</h2>
	<form method="POST">
		{% csrf_token %}
		{{lancamento_teste_form}}
		<h2>Falhas</h2>
		{{lancamentos_falhas_form.management_form}}
		{% for form in lancamentos_falhas_form.forms %}
		    <div class='table'>
		    <table class='no_error well well-small'>
		        {{ form.as_table }}
		    </table>
		    </div>
		{% endfor %}
		<p class="btn-group">
			<a type="button" id="add_more" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar mais Falhas</a>
			<button type="submit" id="enviar" class="btn btn-danger"><i class="fa fa-launch"></i> Lançar Falhas</button>
		</p>
		<script>
		    $('#add_more').click(function() {
		        cloneMore('div.table:last', 'service');
		    });
		</script>
		
		
	</form>
	
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}

<script>
$(document).ready(function() {
    $("#menu-producao-controle-de-testes, #top-menu-producao").addClass("active");
});
function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}

</script>

{% endaddtoblock %}

{% include "frontend/producao/producao-menu.html" %}

{% endblock%}