{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Adicionar Sub Produto{% endblock %}</title>

{% block content %}
<h1><i class="icon-th"></i> <i class="icon-list-ul"></i>  Adicionar Sub Produto</h1>
<form method="POST" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
{{form.as_p}}
<button type="submit" class="btn btn-primary"><i class="icon-plus"></i> Adicionar Sub Produto</button>
</form>
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-subprodutos, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}