{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - Produção - Rastreabilidade da Produção{% endblock %}</title>

{% block content %}
	<h1><i class="fa fa-th"></i> <i class="fa fa-barcode"></i> Rastreabilidade de Produção</h1>

	<div class="row-fluid">
		<div class="span5">
			<h2>Lançamentos de Produto</h2>
		</div>
		
		<div class="span7">
			<p class="btn-group">
			<a href="{% url "producao:rastreabilidade_de_producao_adicionar" %}" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar</a>
			<a role="button" href="#modal-apagar-lancamento" class="btn btn-danger" data-toggle="modal"><i class="fa fa-minus"></i> Apagar</a>
			
			</p>
		</div>
		
		<!-- Modal -->
		<div id="modal-apagar-lancamento" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Apagar Lançamentos</h3>
		  </div>
		  <div class="modal-body">
				<form method="POST">
					{% csrf_token %}
		    {{form_remover_lancamentos}}
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		    <button class="btn btn-primary">Save changes</button>
		  </div>
		</div>
		
	</div>
	
	<ul class="nav nav-tabs">
		<li class="active"><a href="#lancamentos-disponiveis" data-toggle="tab">Disponíveis</a></li>
		<li class=""><a href="#lancamentos-vendidos" data-toggle="tab">Vendidos</a></li>
		<li class=""><a href="#lancamentos-apagados" data-toggle="tab">Apagados</a></li>
	  <li class=""><a href="#configurar" data-toggle="tab">Configurar Testes</a></li>
		<li class=""><a href="#checar-quantitativos" data-toggle="tab" class="ajaxtab" data-url="{% url "producao:rastreabilidade_de_producao_checar_quantitativos" %}">Checar Quantitativos</a></li>
		
	</ul>
	
	<div id="myTabContent" class="tab-content">
		
		<div class="tab-pane fade in active" id="lancamentos-disponiveis">
			<h2>Lançamentos Disponíveis</h2>
			<ul>
			{% for lancamento in lancamentos_disponiveis %}
				<li>#{{lancamento.id}} - {{lancamento}} - Linhas de Teste: {{lancamento.linhatestelancamentoprodproduto_set.count}}</li>
			{% endfor %}
			</ul>
		</div>
		
		<div class="tab-pane fade in" id="lancamentos-vendidos">
			<h2>Lançamentos vendidos</h2>
			{{lancamentos_vendidos}}
		</div>
		
		<div class="tab-pane fade in" id="lancamentos-apagados">
			<h2>Lançamentos apagados</h2>
			{{lancamentos_apagados}}
		</div>
		

		<div class="tab-pane fade in" id="configurar">
			<ul>
				{% for produto in produtos_ativos %}
				<li><a href="{% url "producao:rastreabilidade_de_producao_configurar" produto.id %}">{{produto}}</a></li>
				{% endfor %}
			</ul>
		</div>

		<div class="tab-pane fade in" id="checar-quantitativos">
		</div>
		
	</div>

	
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />
<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>

<script>
$(document).ready(function() {
    $("#menu-producao-rastreabilidade-de-producao, #top-menu-producao").addClass("active");
		
				
		$('.datepicker').each(function() {
		   $(this).datepicker({
			inline: true,
	        dateFormat: "dd/mm/yy"
        
				});
		});
		
});

$(document).on("click", "#imprimir", function(e){
	e.preventDefault();
	$(this).hide();
	$("#menu-lateral").hide();
	$("#global-top-menu").hide();
	$("#main-content").css("padding-top", 0);
	$("#content").removeClass('span9').addClass('span11');
		
});

$('.nav-tabs').on("click", '.ajaxtab', function(e){
	e.preventDefault();

	var href = this.hash;
	window.location.hash = this.hash;
	var pane = $(this);
	// ajax load from data-url
	var url = $(this).attr("data-url");
	if (url){
		$(href).load(url);
		$(href).html("<i class='fa fa-spinner fa fa-spin fa fa-large fa fa-3x'></i>");
	}
	pane.tab('show');		
})

var activeTab = $('[href=' + location.hash + ']');
activeTab && activeTab.click();


</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}