{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Editar Nota Fiscal{% endblock %}</title>

{% block content %}

<h1><i class="icon-th"></i> <i class="icon-paste"></i> Editar Nota: {{notafiscal.numero}}</h1>

<form method="POST">
    {% csrf_token %}
{{form_notafiscal.as_p}}
<input type="submit" value="Aterar Nota">
</form>

<strong>Total da Nota Com Imposto</strong>: {{ notafiscal.total_com_imposto}}<br/>
{% if notafiscal.tipo == 'i' %}<strong>Total da Nota em Dólar</strong>: {{notafiscal.total_da_nota_em_dolar}}{% endif %}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-lancar-nota, #top-menu-producao").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}