{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Produção - Ver Fabricante Fornecedor{% endblock %}</title>

{% block content %}
<h1>Fabricantes e Fornecedores</h1>
<div class="row-fluid">
    <div class="span6">
        
        <h2><i class="icon-building"></i> {{fabricante_fornecedor}}</h2>
        {% if request.user.perfilacessoproducao.gerente %}
        <a class="btn btn-primary" href="{% url "producao:editar_fabricantes_fornecedores" fabricante_fornecedor.id %}"><i class="icon-pencil"></i> Editar</a>
        {% endif %}
        
        
    </div>
    
    
    <div class="span6">
        <h2><i class="icon-envelope"></i> Contatos</h2>
        {{fabricante_fornecedor.contatos|linebreaks|safe}}
        
    </div>
    
</div>



<h3>Componentes Já Fornecidos</h3>
{% for fornecido in fornecidos %}
<a href="{% url "producao:ver_componente" fornecido.componente__id %}">
        <strong>{{fornecido.componente__part_number}}</strong>: {{fornecido.total}} {{fornecido.componente__medida}} - <i>{{fornecido.componente__ativo|yesno:"Ativo,Inativo"}}</i><br />
</a>
{% empty %}
Este Fabricante / Fornecedor nunca forneceu componentes.
{% endfor %}

<h3>Componentes Já Fabricados</h3>

{% for fabricado in fabricados %}
<a href="{% url "producao:ver_componente" fabricado.componente__id %}">
<strong>{{fabricado.componente__part_number}}</strong>: {{fabricado.total}} {{fabricado.componente__medida}} - <i>{{fabricado.componente__ativo|yesno:"Ativo,Inativo"}}</i><br />
</a>
{% empty %}
Este Fabricante / Fornecedor nunca fabricou componentes.
{% endfor %}



<h4>Memória de Relacionamento Neste Fornecedor</h4>
<div class="well well-small">
    <ul>
    {% for memoria in memorias %}
        <li><strong>{{memoria.part_number_fornecedor}}</a> -> <em><a href="{% url "producao:ver_componente" memoria.componente.id %}">{{memoria.componente.part_number}}</a></em></strong> <p class="label label-info">FAB: {{memoria.fabricante.nome}}</p> <p class="label label-info">PNFAB: {{memoria.part_number_fabricante}}</p></li>
    {% empty %}
    Este Fornecedor Não possui memórias de conversão.
    {% endfor %}
    </ul>
    
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-producao-fabricantes-fornecedores, #top-menu-producao").addClass("active");
    $("#busca_fab_for").focus()
});
</script>
{% endaddtoblock %}
{% include "frontend/producao/producao-menu.html" %}
{% endblock%}