{% load staticfiles %}
{% load bootstrap %}
{% load humanize %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico"> -->

    <title>{% block title %}{{nome_sistema}}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "frontend/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Custom styles for this template -->
  	<link href="{% static "frontend/css/style.css" %}" rel="stylesheet">
	  <link rel="stylesheet" href="{% static "frontend/css/font-awesome.min.css" %}">
    <script src="{% static "frontend/js/jquery/jquery.js"%}"></script>
    <script type="text/javascript" src="{% static "js/select2.js" %}"></script>
    <link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    {% if messages %}
    <div id="alertas">
        {% for message in messages %}
                {% if message.tags == "error" %}
        <div class="alert alert-danger" role="alert">
                {% else %}
                <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
                {% endif %}
          <a class="close" data-dismiss="alert">×</a>
                  {% if message.tags == "error" %}
          <i class="fa fa-times-circle-o"></i>
                  {% endif %}
                  {% if message.tags == "info" %}
          <i class="fa fa-comment"></i>
                  {% endif %}
                  {% if message.tags == "success" %}
          <i class="fa fa-check-circle"></i>
                  {% endif %}
                  {% if message.tags == "warning" %}
          <i class="fa fa-warning"></i>
                  {% endif %}

                   {{ message|safe }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container">

     <div class="starter-template">
       <h1>Dimensionamento da Usina</h1>
       {% if proposta %}
       <h2>Proposta #{{proposta.pk}}
         <small>
            {% if proposta.cliente %}
              {{proposta.cliente}}
            {% else %}
              {{proposta.precliente}}
            {% endif %}
         </small>

       </h2>
       {% endif %}
       <form method="POST">
         {% csrf_token %}

         {{form|bootstrap}}
         <p class="btn-group">
         <button type="submit" class="btn btn-primary"><i class="fa fa-refresh"></i> Simular</button>
         {% if request.POST and proposta %}
           <button type="submit" name="inserir" value="sim" class="btn btn-warning"><i class="fa fa-save"></i> Atualizar Proposta</button>
           <input type="hidden" name="proposta_inserir" value="{{proposta.pk|unlocalize}}"/>
         {% endif %}
        </p>


       </form>

     </div>

     {% if request.POST %}
     <div class="row">
        <div class="col-md-4">
          <h2>Resultados</h2>
          <ul>
            <li>Preço por KW: R$ {{preco_por_watt|intcomma}}</li>
            <li>Preço Sugerido: R$ {{preco_sugerido|intcomma}}</li>
            <li>
              Reajuste Energia: {{reajuste_custo_energia}}%
            </li>
            <li>Área da usina: {{area_usina|floatformat:2}} m2</li>
            <li>Potência da Usina: {{potencia_usina|floatformat:2}} kwp</li>
            <li>Geração por Mês: {{geracao_kw_mes|intcomma}} Kw</li>
            <li>Geração por Ano: {{geracao_kw_ano|intcomma}} Kw</li>
            <li>Economia Mensal: R$ {{economia_mensal|floatformat:0|intcomma:1}}</li>
            <li>Litros De Agua/Ano: {{litros_de_agua_ano|intcomma}}</li>
            <li>Piscinas Olímpicas: {{piscinas_olimpicas|floatformat:2}}</li>
            <li>Litros Combustível / ano: {{litros_combustivel_ano|floatformat:2}}</li>
            <li>CO2 não emitido em 25 anos: {{co2_naoemitido_25anos|floatformat:2}}/ton</li>
            <li>
              Árvores correspondentes ao CO2: {{arvores_co2_naoemitido|floatformat:2}}
            </li>
            <li>Retorno:{{retorno_exato_str}}</li>

          </ul>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Memória de Cálculo
          </button>
          <div class="collapse" id="collapseExample">
            <div class="well">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ANO</th>
                    <th>INVESTIMENTO</th>
                    <th>ECONOMIA</th>
                    <th>REAJUSTE</th>
                  </tr>
                </thead>
                <tbody>
                  {% for k,v in retorno.items %}
                  <tr>
                    <th scope="row">{{k}}</th>
                    <td>R$ {{v.0|floatformat:2}}</td>
                    <td>R$ {{v.1|floatformat:2}}</td>
                    <td>{{v.2}} % </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          {% if financiamentos_porte %}
          <h2>Financiamentos</h2>
          {% for financiamento in financiamentos_porte %}
          <div class="well well-sm">
              <h3>{{financiamento.financiamento}} <br  />
                <small>R$ {{financiamento.valor_inicial|intcomma}} a R$ {{financiamento.valor_final|intcomma}}</small></h3>
              <ul>
                {% for parcela in financiamento.parcelafinanciamento_set.all %}
                  <li>
                    Parcelas: {{parcela.quantidade}}, Juros (a.m.): {{parcela.juros}}%
                  </li>
                {% endfor %}
              </ul>
          </div>
          {% endfor %}
          {% endif %}


        </div>
        <div class="col-md-8">
          <div id="columnchart_values"></div>

        </div>


     </div>

     {% endif %}
     <script type="text/javascript">
     $("#proposta_inserir").select2();
     dados = [
         ["Ano", "Retorno", { role: "style" } ],
         {% for k,v in retorno.items %}
           {% if v.0 < 0 %}
             ['Ano {{k}}', {v: {{v.0|unlocalize}}, f: 'R$ {{v.0|floatformat:2}}'}, 'red'],
           {% else %}
             ['Ano {{k}}', {v: {{v.0|unlocalize}}, f: 'R$ {{v.0|floatformat:2}}'}, 'green'],
           {% endif %}
         {% endfor %}
       ]
       google.charts.load("current", {packages:['corechart']});
       google.charts.setOnLoadCallback(drawChart);
       function drawChart() {
         var data = google.visualization.arrayToDataTable(dados);

         var view = new google.visualization.DataView(data);
         view.setColumns([0, 1,
                          { calc: "stringify",
                            sourceColumn: 1,
                            type: "string",
                            role: "annotation" },
                          2]);

         var options = {
           title: "Retorno do Investimento",
           width: 800,
           height: 500,
           bar: {groupWidth: "80%"},
           legend: { position: "none" },
         };
         var chart = new google.visualization.BarChart(document.getElementById("columnchart_values"));
         chart.draw(view, options);
     }
     </script>

     <script src="{% static "frontend/js/jquery/jquery.js"%}"></script>
     <script src="{% static "frontend/bootstrap/js/bootstrap.min.js" %}"></script>

   </div><!-- /.container -->



  </body>
</html>
