{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Recepção{% endblock %}</title>

{% block content %}
<h1>Adicionar Recado</h1>
<h2>Para {{funcionario}}</h2>

{{ form.non_field_errors }}

<div class="row-fluid">
  <form method="post">
  <div class="span4">
      {% for field in form %}{% csrf_token %}
      
          {% ifequal field.name "texto" %}
          <div class="fieldWrapper">
                  {{ field.errors }}
                  <label for="id_{{field.name}}">{{field.label}}:</label>
                  {{ field }}
                  <small>{{field.help_text}}</small>
          </div>
          {% endifequal %}
      {% endfor %}
      
      
  </div>
  <div class="span8">
      
      {% for field in form %}
      {% ifnotequal field.name "texto" %}
      <div class="fieldWrapper">
              {{ field.errors }}
              <label for="id_{{field.name}}">{{field.label}}:</label>
              {{ field }}
      </div>
      {% endifnotequal %}
      {%endfor%}
         <label for="id_avisar_departamento">
             <span class="label label-info">Departamento</span> 
             <strong>{{funcionario.cargo_atual.departamento}}</strong></label>
        <hr />
        <p>
            <span class="label label-warning"><i class="icon icon-plus icon-white"></i> Adicionado por: {{request.user.funcionario}}</span>
            <button type="submit" class="btn btn-large btn-primary pull-right">Adicionar Recado</button>
        </p>
  
  
  
  </div>
</div>
 </form>
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="/static/js/select2.js"></script>
<link href="/static/css/select2.css" type="text/css" media="screen" rel="stylesheet" />
<script>
$(document).ready(function() {
    $("#menu-cadastro-funcionarios-list, #top-menu-cadastro").addClass("active");
    if ($("#id_tipo")[0].value != "outros"){
        $("#id_tipo_outros, label[for='id_tipo_outros']").hide();
    }
    
    $("#id_remetente, #id_cliente,  #id_destinatario").select2();
    $('#id_tipo').change(function(){

            var textarea = $("#id_tipo_outros, label[for='id_tipo_outros']");
            var select   = $(this).val();

            textarea.hide();

            if (select == 'outros'){
              textarea.show();
            }else{
                textarea.hide();
            }
    });
});
</script>
{% endaddtoblock %}
{% include "frontend/cadastro/cadastro-menu.html" %}
{% endblock%}