<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><i class="icon icon-bell-alt icon-3x"></i> Solicitações</li>
    <li id="menu-solicitacao-home"><a href="{% url "solicitacao:home" %}"><i class="icon-th"></i> Início</a></li>
    {% if request.user.perfilacessosolicitacao.gerente  %}
    <li id="menu-solicitacao-despachar"><a href="{% url "solicitacao:despachar" %}"><i class="icon icon-bullhorn"></i> Despachar {% if solicitacao %}> ID#{{solicitacao.id}}{% else %}{% if solicitacoes_aberta.count %}<span class="badge badge-info">{{solicitacoes_aberta.count}}</badge>{% endif %}{% endif %}</a></li>
    {% endif %}
  </ul>
</div><!--/.well -->
