Relatório Diário de Ordens de Compra Aberta
{% for ordem in ordens_abertas %}{% if ordem.atrasada %}
-------------------
ORDEM {{ordem.id}}
-------------------
FUNCIONÁRIO: {{ordem.funcionario}}, ABERTO EM: {{ordem.data_aberto|date:"SHORT_DATE_FORMAT"}}
DESCRIÇÃO: {{ordem.descricao}}, VALOR: R${{ordem.valor}},
FORNECEDOR: {{ordem.fornecedor}}
CRITICIDADE: {{ordem.get_criticidade_display}}
ATIVIDADES ATRASADAS{% for atividade in ordem.atividades_atrasadas %}
	- {{atividade.data|date:"SHORT_DATE_FORMAT"}} - Atrasado há: {{atividade.data|timesince}} - {{atividade.descricao}}{% endfor %}
{% endif %}{% endfor %}