{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Estoque{% endblock %}</title>

{% block content %}

<h1>Lista de Materiais do Contrato #{{lista.contrato.id}}</h1>

<form method="POST">
	{% csrf_token %}
	{{form_editar_linhas_materiais.management_form}}
<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
          <th>Produto</th>
		  <th>Quantidades Requisitada/Atendida</th>
		  <th>Entregar</th>
		  <th>Comprar</th>
        </tr>
    </thead>
    <tbody>


{% for form in form_editar_linhas_materiais %}
	<tr {% if form.instance.quantidade_requisitada == form.instance.quantidade_ja_atendida %}class=" alert alert-success"{% else %}class=" alert alert-danger"{% endif %}>
		<td>{{form.id}}#{{form.instance.produto.codigo}} - {{form.instance.produto.descricao}} {{form.produto}}</td>
		<td>{{form.instance.quantidade_requisitada}}/{{form.instance.quantidade_ja_atendida}}</td>
		<td>{{form.modificador}}</td>
		<td>{{form.comprador}}</td>
	</tr>
{% endfor %}
	</tbody>
</table>
<button type="submit">Enviar</button>
</form>
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-estoque-lista-materiais, #top-menu-estoque").addClass("active");
    $(".select2-multiple").select2({
    });
});
</script>
<script type="text/javascript" src="/static/js/select2.js"></script>
<link href="/static/css/select2.css" type="text/css" media="screen" rel="stylesheet" />
{% endaddtoblock %}
{% include "frontend/estoque/estoque-menu.html" %}
{% endblock%}