{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Estoque{% endblock %}</title>

{% block content %}

<h1>Ver Listas de Materiais</h1>


<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
          <th>Contrato ID</th>
		  <th>Situação</th>
		  <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for lista in listas %}
			<tr>
				<td>#{{lista.contrato.id}}</td>
				<td>Materiais Requisitado: {{lista.total_materiais_requisitados}}, Atendidos {{lista.total_materiais_atendidos}}</td>
				<td><a href="{%url "estoque:listas_materiais_alterar" lista.id %}">Alterar</a></td>
			</tr>
		{% endfor %}

	</tbody>
</table>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-estoque-lista-materiais, #top-menu-estoque").addClass("active");
    $(".select2-multiple").select2({
    });
});
</script>
<script type="text/javascript" src="/static/js/select2.js"></script>
<link href="/static/css/select2.css" type="text/css" media="screen" rel="stylesheet" />
{% endaddtoblock %}
{% include "frontend/estoque/estoque-menu.html" %}
{% endblock%}