{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Ocorrência: Despachar{% endblock %}</title>

{% block content %}

<h1><i class="icon-th"></i> <i class="icon-bullhorn"></i> Despachar Ocorrência #{{ocorrencia.id}}</h1>

<div class="row-fluid">
    
    <div class="span6">
        
        <p>
            <i class="icon-briefcase"></i>
            {{ocorrencia.reclamante}}
        </p>

        <p>
            <i class="icon-user"></i> <i class="icon-wrench"></i>
            <strong>Corretor</strong>: {{ocorrencia.responsavel_correcao}}
        </p>
        <p>
            <i class="icon-user"></i> <i class="icon-phone"></i>
            <strong>Ponto de Contato</strong>: {{ocorrencia.responsavel_contato}}
        </p>
        <p>
            <i class="icon-user"></i> <i class="icon-check"></i>
            <strong>Visto</strong>: {{ocorrencia.responsavel_contato}}
        </p>
        
    </div>
    
    <div class="span6">
        
        <p class="alert alert-info">
            {{ocorrencia.descricao}}
        </p>
        
        
    </div>
    
    
</div>



<form method="post">{% csrf_token %}
{% if procede %}
<div class="row-fluid">
    
    <div class="span4">
        <h3><i class=" icon-wrench"></i> Providência</h3>    
        <p>{{ocorrencia_form.providencia}}</p>
            
    </div>
    
    <div class="span8">
        <h3><i class="icon-sitemap"></i> Abrangência</h3>    
            <h6>Departamento Direto (Obrigatório)</h6>
            {{ocorrencia_form.departamento_direto}}
            <h6>Departamentos Afetados (Opcional)</h6>
            {{ocorrencia_form.departamentos_afetados}}
            <h6><i class="icon-tag"></i> Prioridade</h6>
            <p>{{ocorrencia_form.prioridade}}</p>
            <p>    <input class="btn btn-primary" type="submit" name="confirmar" value="confirmar">
            </p>
        
    </div>
    



{% else %}
<h3><i class="icon-thumbs-down"></i> Motivo da Improcedência</h3>
<p><textarea name="motivo_improcedencia" class="span6"></textarea></p>
<input type="submit" value="Improcedente" class="btn btn-danger" name="confirmar">
{% endif %}
</form>
    {% endblock %}

    {% block auxiliar-menu %}
    {% addtoblock "js" %}
    <script type="text/javascript" src="/static/js/select2.js"></script>
    <link href="/static/css/select2.css" type="text/css" media="screen" rel="stylesheet" />
    <script>
    $(document).ready(function() {
        $(".select2").select2();
        $("#menu-ocorrencia-despachar, #top-menu-ocorrencia").addClass("active");
    });
    </script>
    {% endaddtoblock %}
    {% include "frontend/ocorrencia/ocorrencia-menu.html" %}
    {% endblock%}