{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Editar Programação de Contrato{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-clock-o"></i> Editar Programação de Contrato</h1>
<h2><i class="fa fa-th"></i> <i class="fa fa-tasks"></i> Adicionar Tarefa</h2>

<h3>Adicionar Tarefa ao Contrato #{{contrato.id}}</h3>
<form method="POST">
{% csrf_token %}
	{{form.as_p}}
	<button class="btn btn-primary" type="submit" name="acao-post-save" value='outro'><i class="fa fa-save"></i> Salvar e Adicionar Nova Tarefa</button>
	<button class="btn btn-info" type="submit" name="acao-post-save" value='normal'><i class="fa fa-save"></i> Salvar</button>

</form>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{% static "js/select2.js" %}"></script>
<link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />

<link href="{% static "frontend/css/ui-lightness/jquery-ui.min.css" %}" rel="stylesheet">
<script src="{% static "frontend/js/jquery-ui.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/js/jquery-ui-timepicker-addon.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/js/jquery-ui-sliderAccess.js" %}"></script>
<script>
$(document).ready(function() {
	$("#menu-programacao-home, #top-menu-programacao").addClass("active");

	$(".datetimepicker").datetimepicker({ // Default regional settings
		dateFormat: "dd/mm/yy",
		minuteGrid: 15,
		stepMinute: 5,
		hourGrid: 2,
		timeFormat: "HH:mm:ss",
		parse: "loose",
		separator: ' ',
		currentText: 'Agora',
		closeText: 'Fechar',
		amNames: ['AM', 'A'],
		pmNames: ['PM', 'P'],
		timeFormat: 'HH:mm',
		timeSuffix: '',
		timeOnlyTitle: 'Escolher Horário',
		timeText: 'Horário',
		hourText: 'Hora',
		minuteText: 'Minuto',
		secondText: 'Segundos',
		millisecText: 'Millisecond',
		microsecText: 'Microsecond',
		timezoneText: 'Fuso Horário',
		isRTL: false,
		dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
		dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
		dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
		monthNames: 		['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
		monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
		nextText: 'Próximo',
		prevText: 'Anterior'
	});


});


</script>
{% endaddtoblock %}
{% include "frontend/programacao/programacao-menu.html" %}
{% endblock%}
