{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - RH{% endblock %}</title>

{% block content %}

<h2>Controle de Banco de Horas</h2>

{% for funcionario in funcionarios %}
<div class="well well-small alert alert-{{funcionario.banco_de_horas_situacao}}">
    <h3>{{funcionario}}</h3>
        <strong>Horas Trabalhadas Esperadas</strong>: {{funcionario.banco_de_horas_esperada}} horas<br />    
        <strong>Horas Trabalhadas Registrada</strong>: {{funcionario.banco_de_horas_trabalhadas}} horas<br />
        <hr />
        <strong>Saldo</strong>: {{funcionario.banco_de_horas_saldo}} horas {% if funcionario.banco_de_horas_situacao == "success" %}Positivas{% else %}Negativas{% endif %}
</div>
{% endfor %}

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-rh-controle-de-banco-de-horas, #top-menu-rh").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}