{% extends "frontend/base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - RH -> Controle de EPI: Vincular Arquivo{% endblock %}</title>

{% block content %}
<div class="container">
	<h1 class="text-center">Ficha de Controle de EPI's</h1>
	<div class="row-fluid">
		<div class="span4">
			Nome: {{controle.funcionario.nome}}
		</div>
		
		<div class="span4">
			Data de Admissão: {{controle.funcionario.periodo_trabalhado_corrente.inicio|date:"SHORT_DATE_FORMAT"}}
		</div>
		
		<div class="span4">
			Cargo: {{controle.funcionario.cargo_atual}}
		</div>
		
	</div>
	<h1 class="text-center">Termo de Responsabilidade</h1>
	
	<p>
		Conforme as obrigações do empregado na Lei 6.514 de 21/02/1997, item 6.7.7 alínea a,b,c.
	</p>
	<p>
		Obriga-se o empregado quando ao EPI, a) usá-lo para finalidade a que se destina; b) Responsabiliza-se por sua guarda e conservação; c)Comunicar  ao empregado qualquer alteração que o torne impróprio para uso.
	</p>
	</p>
		Declaro que recebi desta empresa os Equipamentos de Proteção Individual (EPI) discriminados abaixo e no verso e que a recusa de uso dos mesmos durante o horário de trabalho, constitui ato faltoso. Sujeito as penalidades previstas na lei, (Art.418 alínea “d” da CDL).
	</p>
		<p>Certifico que me submeti às instruções de segurança do trabalho , orientação e acompanhamento de uso, gaurda e conservação desdes  equipamentos, ficando sobre minha responsabilidade e que caso haja extravio ou avaria, por dolo, imprudência, negligência ou empírica, sobre os  mesmos, terei o valor correspondentes aos EPI’s especificados abaixo nesta ficha descontado do meu salário ou qualquer crédito a que tenha direit (Art. 462 S 1° da CDL), conforme a presente autorização.</p>
	</p>
	
	<div class="row-fluid">
		
		<div class="span4">
			<h6 class="text-center">{{local_padrao}}</h6>
			<hr />
			local
		</div>
		
		<div class="span2">
			<h6 class="text-center">{% now "d/m/Y" %}</h6>
			<hr />
			data
		</div>
		
		<div class="span6">
			<h6>x</h6>
			<hr />
			assinatura
		</div>
		
	</div>
	<br />
	
  <table class="table table-condensed table-hover table-rounded">
    <thead>
          <tr>
              <th>Material Entregue</th>
              <th>Unidade de Medida</th>
							<th>Quantidade</th>
              <th>Data Entregue</th>
							<th>Assinatura Empregado</th>
          </tr>
    </thead>
		<tbody>
				{% for linha in controle.linhacontroleequipamento_set.all %}
				<tr>
					<td>{{linha.produto}}</td>
					<td>{{linha.produto.unidade_de_venda}}</td>
					<td>{{linha.quantidade}}</td>
					<td>{{linha.criado|date:"SHORT_DATE_FORMAT"}}</td>
					<td></td>
				</tr>
				{% endfor %}

		</tbody>
	</table>
			
	
</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}

<script>
$(document).ready(function() {
	$("#menu-rh-controle-de-epi, #top-menu-rh").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}