{% extends "frontend/base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - RH -> Controle de Ferramentas: Imprimir{% endblock %}</title>

{% block content %}
<div class="container">
	<h1 class="text-center">Ficha de Controle de Ferramentas</h1>
	
	<table style="width:100%">
		<tr>
			<td style="width:20%">Nome: {{controle.funcionario.nome}}</td>
			<td style="width:20%">			Data de Admissão: {{controle.funcionario.periodo_trabalhado_corrente.inicio|date:"SHORT_DATE_FORMAT"}}</td>
			<td style="width:20%" >Cargo: {{controle.funcionario.cargo_atual}}</td>
			
			<td style="width:10%" class="text-center"><h1>#{{controle.id}}</h1></td>
			
		</tr>
	</table>
	
	
	<h1 class="text-center">Termo de Responsabilidade</h1>
	
	<p>Declaro que recebi da empresa <strong>{{nome_empresa_completo}}</strong> as ferramentas discriminadas abaixo, para utilizar durante o horário de trabalho, e <strong>me responsabilizo pela guarda e conservação das mesmas</strong>. Caso haja extravio ou avaria, por dolo, imprudência negligência ou imperícia sobre os mesmos, <strong>terei o valor de <span class="label label-success">R$ {{total_do_controle|floatformat:2}}</span></strong> correspondente às ferramentas descontados do meu salário ou qualquer crédito a que tenha direito</strong>.</p>
	
	<table style="width:100%">
		<tr>
			<td style="width:20%">
				<h6>{{local_padrao}}</h6>
				<hr />
				<small>local</small>
			</td>
			<td style="width:20%">
				<h6 >{% now "d/m/Y" %}</h6>
				<hr />
				<small>data</small>
			</td>
			<td style="width:20%">
				<h6>x</h6>
				<hr />
				<small>assinatura</small>
			</td>
		</tr>
	</table>
	
	<br />
	
  <table class="table table-striped">
    <thead>
          <tr>
							<th>Item</th>
              <th>Material Entregue</th>
							<th>Quantidade</th>
							<th>Valor Unitário *</th>
							<th>Valor Total</th>
              <th>Data de Recebimento</th>
							<th>Devolução Prevista</th>
							<th>Assinatura Empregado</th>
          </tr>
					<tr class="alert alert-info">
						<td></td>
						<td></td>
						<td></td>
						<td><small>* preço de consumo</small></td>
						<td><span class="label label-success">R$ {{total_do_controle|floatformat:2}}</span></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					
    </thead>
		<tbody>
			
				{% for linha in controle.linhacontroleequipamento_set.all %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{linha.produto.codigo}} - {{linha.produto.nome}}</td>
					<td>{{linha.quantidade}}</td>
					<td>R$ {{linha.produto.preco_consumo|floatformat:2}}</td>
					<td>R$ {{linha.valor_total_consumo|floatformat:2}}</td>
					<td>{{linha.data_entregue|date:"SHORT_DATE_FORMAT"}}</td>
					<td>{{linha.data_previsao_devolucao|date:"SHORT_DATE_FORMAT"}}</td>
					<td><small>x</small></td>
				</tr>
				{% endfor %}
				<tr class="alert alert-info">
					<td></td>
					<td></td>
					<td></td>
					<td><small>* preço de consumo</small></td>
					<td><span class="label label-success">R$ {{total_do_controle|floatformat:2}}</span></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

		</tbody>
	</table>
			
	
</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}

<script>
$(document).ready(function() {
	$("#menu-rh-controle-de-epi, #top-menu-rh").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}