{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - RH -> Controle de EPI: Adicionar{% endblock %}</title>
{% block content %}

{% url "ajax_consulta_produto" %}

<label>Option Value :</label>

<h1><i class="fa fa-th"></i> <i class="fa fa-umbrella"></i> RH - Adicionar Controle de EPI</h1>
<form method="POST">
{% csrf_token%}
{{form_adicionar.as_p}}
<hr />
<p>
Adicionar <input name="quantidade_adicionar"> Linhas 
<button type='submit' class="btn btn-primary" name="adicionar-campos-btn" value="adicionar"><i class="fa fa-plus"></i></button>
</p>

{{linha_equipamento_form.management_form}}

{% for form in linha_equipamento_form.forms %}
<div class="well well-small">
	<div class="row-fluid">
	
		<div class="span1">
			<h4>{{forloop.counter}}</h4>
		</div>

		<div class="span5">
			{{form.produto.errors}}
			Produto: {{form.produto}}
		</div>
	
		<div class="span2">
			{{form.quantidade.errors}}
			Quantidade:<Br />{{form.quantidade}}
		</div>
		
		<div class="span2">
			{{form.data_previsao_devolucao.errors}}
			Devolução Prevista:<Br />{{form.data_previsao_devolucao}}
		</div>
		
		<div class="span2">
			{{form.codigo_ca.errors}}
			Cód. CA:<Br />{{form.codigo_ca}}
		</div>
		
		
	</div>
</div>
{% endfor %}

<hr />
<button type='submit' name="criar-controle-btn" class="btn btn-large btn-primary" value="criar"><i class="fa fa-plus"></i> Criar Controle</button>

</form>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/select2.js"></script>
<link href="{{STATIC_URL}}css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<link href="{{ STATIC_URL }}frontend/css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}frontend/js/jquery-ui-datepicker.js"></script>

<script>


function movieFormatResult(movie) {
	var markup = "<table class='movie-result'><tr>";
	if (movie.posters !== undefined && movie.posters.thumbnail !== undefined) {
		markup += "<td class='movie-image'><img src='" + movie.posters.thumbnail + "'/></td>";
	}
	markup += "<td class='movie-info'><div class='movie-title'>" + movie.title + "</div>";
	if (movie.critics_consensus !== undefined) {
		markup += "<div class='movie-synopsis'>" + movie.critics_consensus + "</div>";
	}
	else if (movie.synopsis !== undefined) {
		markup += "<div class='movie-synopsis'>" + movie.synopsis + "</div>";
	}
	markup += "</td></tr></table>"
	return markup;
}

function movieFormatSelection(movie) {
	return movie.title;
}
$(document).ready(function() {
	$("#menu-rh-controle-de-epi, #top-menu-rh").addClass("active");
	
	$(".select2-ajax").select2({
		placeholder: "",
		minimumInputLength: 3,
		id: function(e) { return e.ID; },
		ajax: { 
			url: "{% url "ajax_consulta_produto" %}",
			type: 'GET',
			dataType: 'json',
			data: function(term, page) {
				return {
					q: term,
					page_limit: 10,
				};
			},
			results: function (data) {
				return {results: data};
			},
		},
	});
});

$( ".datepicker" ).datepicker({
	inline: true,
      dateFormat: "dd/mm/yy"
});

</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}