{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - RH>Funcionários{% endblock %}</title>

{% block content %}

<p class="text-right">
{% include "frontend/rh/rh-funcionarios-relatorios-botao.html" %}
</p>

<h1><i class="fa fa-th"></i> <i class="fa fa-group"></i> Funcionários Ativos</h1>


    {% for departamento in departamentos %}
    <div class="well well-large">
        <h2 class="alert alert-info">Departamento: {{departamento}}</h2>
        {% for cargo in departamento.cargo_set.all %}
        <div class="well">
        <h3>{{cargo}}</h3>
        <ul>
        {% for funcionario in cargo.funcionario_cargo_atual_set.all %}
        {% if funcionario.periodo_trabalhado_corrente %}
            <li><a href="{% url "rh:ver_funcionario" funcionario.id %}">{{funcionario}}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

<h1>Funcionários Inativos</h1>
<div class="well well-small">
    <ul>
    {% for funcionario in funcionarios_inativos %}
        <li><a href="{% url "rh:ver_funcionario" funcionario.id %}">{{funcionario}}</a></li>
    {% endfor %}
    </ul>
    
</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-rh-funcionarios, #top-menu-rh").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}