<div class="btn-group pull-right" id="funcionarios-relatorios-botao">
    <button class="btn dropdown-toggle btn-large btn-primary" data-toggle="dropdown"><i class="icon icon-list-alt icon-white"></i> Relatórios <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li id="funcionario-relatorios-listar-ativos"><a href="{% url "rh:funcionarios_listar_ativos" %}" class=""><i class="icon-check"></i> Listar por Admissão</a></li>
        <li id="funcionario-relatorios-listar-aniversarios"><a href="{% url "rh:funcionarios_relatorios_listar_ativos_aniversarios" %}" class=""><i class="icon-gift"></i> Listar por Aniversário</a></li>
    </ul>
</div>
