{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - RH>Funcionários{% endblock %}</title>

{% block content %}
<p class="text-right">
{% include "frontend/rh/rh-funcionarios-relatorios-botao.html" %}
</p>
<h1>Lista de Aniversariantes</h1>

    {% for mes in lista %}
    {% if mes.1.count %}
        <h1>{{mes.0|date:"F \d\e Y"}}</h1>
        <div class="well well-small">
        {% for funcionario in mes.1 %}        
        {% if forloop.first %}
        <hr />
        {%endif%}
        {% if funcionario.foto %}
        <p style="height: 100px">

            {% thumbnail funcionario.foto "80x80" crop="center" as im %}
              <img src="{{ im.url }}" class="pull-left" width="{{ im.width }}" height="{{ im.height }}" style="padding:10px">
              {% endthumbnail %}
          {% else %}
          <p>
          {% endif %}
 <h5>{{funcionario.nascimento.day}}/{{funcionario.nascimento.month}} - {{funcionario}}</h5>
    </p>
 <hr />
        {% endfor %}
        </div>
        <hr />
    {% endif %}
    {% endfor %}

    {% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-rh-funcionarios, #top-menu-rh, #funcionario-relatorios-listar-aniversarios").addClass("active");
    $("#funcionarios-relatorios-botao").addClass("open")
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}