{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load thumbnail %}

<title>{%block title %}{{block.super}} - RH>Funcionários{% endblock %}</title>

{% block content %}

<p class="text-right">
{% include "frontend/rh/rh-funcionarios-relatorios-botao.html" %}
</p>
<h1>Listar por Admissão</h1>
    {% for funcionario in funcionarios_ativos %}
    <div class="well">    
        {% thumbnail funcionario.foto "100x100" crop="center" as im %}
          <img src="{{ im.url }}" class="pull-left" width="{{ im.width }}" height="{{ im.height }}" style="padding:10px">
          {% endthumbnail %}
 <h4>{{funcionario}}</h4>
 <p><strong>Admissão</strong>: {{funcionario.periodo_trabalhado_corrente.inicio|date:"SHORT_DATE_FORMAT"}}. 
     <br />
     <strong>{{funcionario.banco_de_horas_trabalhadas}} Horas Trabalhadas</strong>
     <br />
     <strong>Cargo / Departamento</strong>: {{funcionario.cargo_atual}} / {{funcionario.cargo_atual.departamento}}
     
 </p>
    </div>
    {% endfor %}

    {% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-rh-funcionarios, #top-menu-rh, #funcionario-relatorios-listar-ativos").addClass("active");
    $("#funcionarios-relatorios-botao").addClass("open")
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}