{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - RH{% endblock %}</title>

{% block content %}

{% if aniversarios_mes %}
<h2>Aniversários neste mês</h2>
<div class="well well-small">
{% for aniversariante in aniversarios_mes %}
{{aniversariante}} - {{aniversariante.nascimento.day}}/{{aniversariante.nascimento.month}}<br />
{% endfor %}
</div>
{% endif %}

<h2>Demissões em Andamento</h2>
<ul>
{% for demissao in demissoes_andamento %}
    <li>{{demissao.funcionario}} - {{demissao.data}}</li>
    {% empty %}
    <li>Nenhuma Demissão Em Andamento</li>
{% endfor %}
</ul>

<h2>Agendamentos de Exame Futuros ou Pendentes</h2>
    <div class="well">
        <ul>
{% for exame in exames_futuros %}
       <li> <a href="{% url "rh:exames_medicos_ver" exame.id %}">{{exame}} <strong>Realizado</strong>: {{exame.realizado|yesno}}</a></li>
{% endfor %}
</ul>
</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-rh-home, #top-menu-rh").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}