{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - RH>Processos de Demissão{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-legal"></i> Processos de Demissão</h1>
{% if processos_abertos %}
    <h2>Processos em Aberto</h2>
    <div class="well">
		<table class="table table-bordered">
			<thead>
				<tr>
				<th>ID</th>
				<th>Funcionário</th>
				<th>Início</th>
				<th>Demissor</th>
				<th>Termo Recisório</th>
				<tr>
			</thead>
			<tbody>
				
	        {% for processo in processos_abertos %}
			<tr>
				<td>ID#{{processo.id}}</td>
				<td>{{processo.periodo_trabalhado_finalizado.funcionario}}</td>
				<td>{{processo.criado|date:"SHORT_DATE_FORMAT"}}</td>
				<td>{{processo.demissor}}</td>
				<td><form method="post"  enctype="multipart/form-data" action="{% url "rh:processo_demissao_finalizar" processo.id %}" class="btn-group">{% csrf_token %}<input id="id_termo_recisorio" name="termo_recisorio" type="file" /><input type="hidden" name="processo_id" value="{{processo.id}}"><button type="submit" class="btn btn-primary"><i class="fa fa-check"></i></button></form></td>
			</tr>
	        {% endfor %}
				
			</tbody>
		</table>
    </div>
{% endif %}

{% if processos_fechados %}
    <h2>Processos Fechados</h2>
    <div class="well">
		<table class="table table-bordered">
			<thead>
				<tr>
				<th>ID</th>
				<th>Funcionário</th>
				<th>Início</th>
				<th>Demissor</th>
				<th>Termo Recisório</th>
				<tr>
			</thead>
			<tbody>
				
	        {% for processo in processos_fechados %}
			<tr>
				<td>ID#{{processo.id}}</td>
				<td>{{processo.periodo_trabalhado_finalizado.funcionario}}</td>
				<td>{{processo.criado|date:"SHORT_DATE_FORMAT"}}</td>
				<td>{{processo.demissor}}</td>
				<td>
					{% if processo.termo_recisorio %}
					<a class="btn btn-info" href="{{processo.termo_recisorio.url}}"><i class="fa fa-file"></i></a>
					{% else %}
					<i><small>Não anexado</small></i>
					{% endif %}
				</td>
			</tr>
	        {% endfor %}
				
			</tbody>
		</table>
	</div>
{% endif %}


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-rh-processos-de-demissao, #top-menu-rh").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}