{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - RH>Processos de Demissão{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-legal"></i> Processos de Demissão</h1>
{% if processos_abertos %}
    <h2>Processos em Aberto</h2>
    <div class="well">
		<ul>
        {% for processo in processos_abertos %}
            <li><span class="badge badge-info">ID#{{processo.id}}</span> - <strong>Funcionário {{processo.periodo_trabalhado_finalizado.funcionario}}</strong> em {{processo.criado}} por {{processo.demissor}} <a href="{% url "rh:processo_demissao_finalizar" processo.id %}" class="btn btn-primary">Finalizar</a></li>
        {% endfor %}
		</ul>
    </div>
{% endif %}

{% if processos_fechados %}
    <h2>Processos Fechados</h2>
    <div class="well">
		<ul>
        {% for processo in processos_fechados %}
            <li><span class="badge badge-info">ID#{{processo.id}}</span> - <strong>Funcionário {{processo.periodo_trabalhado_finalizado.funcionario}}</strong> em {{processo.criado}} por {{processo.demissor}}</li>
        {% endfor %}
		</ul>
    </div>
{% endif %}


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-rh-processos-de-demissao, #top-menu-rh").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}