{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% block content %}
<h1><i class="icon icon-th"></i> <i class="icon icon-external-link"></i> Solicitações de Licença</h1>
<h2>Em Aberta</h2>
{% for solicitacao in solicitacoes_abertas %}
<div class="well">
    <h4><strong>#ID{{solicitacao.id}}</strong> {{solicitacao.get_tipo_display}}</h4>
    <h5>Funcionário {{solicitacao.funcionario}}</h5>
    <p><strong>Início</strong>: {{solicitacao.inicio|date:"SHORT_DATE_FORMAT"}}, <strong>Fim</strong>: {{solicitacao.fim|date:"SHORT_DATE_FORMAT"}}</p>
    <hr />
    <a href="{% url "rh:solicitacao_licencas_autorizar" solicitacao.id %}" class="btn btn-success">Autorizar</a>
</div>
{% empty %}
<p class="alert alert-info">Nenhum Exame com data indefinida</p>
{% endfor %}
</ul>

<h2>Autorizada</h2>
<ul>
{% for solicitacao in solicitacoes_autorizada %}
<li><strong>#ID{{solicitacao.id}}</strong> {{solicitacao}}</li>
{% empty %}
<li>Nenhuma Solicitação Autorizada</li>
{% endfor %}
</ul>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
    $("#menu-rh-solicitacao-licenca, #top-menu-rh").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/rh/rh-menu.html" %}
{% endblock%}