FOLLOW UP da Requisição de Compra ID#{{follow_up.requisicao.id}}

TEXTO: {{follow_up.texto}}

CRITICIDADE: {{follow_up.requisicao.get_criticidade_display}}

Solicitante: {{follow_up.requisicao.solicitante}}
Funcionário Responsável: {{follow_up.requisicao.solicitado}}
Descrição: {{follow_up.requisicao.descricao}}
Início do Atendimento: {{follow_up.inicio_atendimento}}
Para atender até: {{follow_up.requisicao.data_solicitado|date:"SHORT_DATE_FORMAT"}}

Requisição Criada em: {{follow_up.requisicao.criado|date:"SHORT_DATETIME_FORMAT"}}

Follow Up Registrado em: {{follow_up.criado|date:"SHORT_DATETIME_FORMAT"}}
Por: {{follow_up.criado_por.funcionario}}