Nova designação para a Requisição de Compra ID#{{requisicao.id}}

Solicitante: {{requisicao.solicitante}}
Funcionário Responsável: {{requisicao.solicitado}}
Descrição: {{requisicao.descricao}}
Início do Atendimento: {{requisicao.inicio_atendimento}}
Para atender até: {{requisicao.data_solicitado|date:"SHORT_DATE_FORMAT"}}

Requisição Criada em: {{requisicao.criado|date:"SHORT_DATETIME_FORMAT"}}

FOLLOW UPS Já Registrados:{% for fup in requisicao.followuprequisicaocompra_set.all %}
- {{fup.texto}} - por {{fup.criado_por}} em {{fup.data|date:"SHORT_DATETIME_FORMAT"}}
{% empty %}
- NENHUM FOLLOW UP A EXIBIR
{% endfor %}