{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

{% load staticfiles %}
<title>{%block title %}{{block.super}} - Solicitação: Despachar{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-bullhorn"></i> Despachar Solicitação #{{solicitacao.id}}</h1>

<div class="row-fluid">

    <div class="span6">

        <p>
            <i class="fa fa-briefcase"></i>
            {{solicitacao.reclamante}}
        </p>

        <p>
            <i class="fa fa-user"></i> <i class="fa fa-wrench"></i>
            <strong>Corretor</strong>: {{solicitacao.responsavel_correcao}}
        </p>
        <p>
            <i class="fa fa-user"></i> <i class="fa fa-phone"></i>
            <strong>Ponto de Contato</strong>: {{solicitacao.responsavel_contato}}
        </p>
        <p>
            <i class="fa fa-user"></i> <i class="fa fa-check"></i>
            <strong>Visto</strong>: {{solicitacao.responsavel_contato}}
        </p>

    </div>

    <div class="span6">

        <p class="alert alert-info">
            {{solicitacao.descricao}}
        </p>
		Solicitação Aberta há <strong>{{solicitacao.criado|timesince}}</strong>


    </div>


</div>



<form method="post">{% csrf_token %}
{% if procede %}
<div class="row-fluid">

    <div class="span4">
        <h3><i class=" fa fa-wrench"></i> Providência</h3>
        <p>{{solicitacao_form.providencia}}</p>

    </div>

    <div class="span8">
        <h3><i class="fa fa-sitemap"></i> Abrangência</h3>
            <h6>Departamento Direto (Obrigatório)</h6>
            {{solicitacao_form.departamento_direto}}
            <h6>Departamentos Afetados (Opcional)</h6>
            {{solicitacao_form.departamentos_afetados}}
            <h6><i class="fa fa-tag"></i> Prioridade</h6>
            <p>{{solicitacao_form.prioridade}}</p>
            <p>    <button class="btn btn-primary" type="submit" name="confirmar" value="confirmar">Confirmar</button>
            </p>

    </div>


{% else %}
<h3><i class="fa fa-thumbs-down"></i> Motivo da Improcedência</h3>
<p><textarea name="motivo_improcedencia" class="span6"></textarea></p>
<input type="submit" value="Improcedente" class="btn btn-danger" name="confirmar">
{% endif %}
</form>
    {% endblock %}

    {% block auxiliar-menu %}
    {% addtoblock "js" %}
    <script type="text/javascript" src="{% static "js/select2.js" %}"></script>
    <link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />

    <script>
    $(document).ready(function() {
        $(".select2").select2();
        $("#menu-solicitacao-despachar, #top-menu-solicitacao").addClass("active");
    });
    </script>
    {% endaddtoblock %}
    {% include "frontend/solicitacao/solicitacao-menu.html" %}
    {% endblock%}
