{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load phonenumber_br %}
{% load staticfiles %}

<title>{%block title %}{{block.super}} - Solicitação: Despachar{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-bullhorn"></i> Despachar</h1>
{% if solicitacao %}

{{solicitacao}}
Correção: {{solicitacao.responsavel_correcao}}
{% if procede %}
<textarea name="providencia"></textarea>
{% endif %}

{% else %}
{% for solicitacao in solicitacoes_abertas %}

    <form method="post" action="{% url "solicitacao:despachar_solicitacao" solicitacao.id %}">
    {% csrf_token %}
    <input type="hidden" name="solicitacao_id" value="{{solicitacao.id}}">

    <div class="well well-small" id="solicitacao-{{solicitacao.id}}">

        <h2>Solicitação #{{solicitacao.id}} <span class="badge badge-info">{{solicitacao.tipo}}</h2>
            <div id="solicitacao-{{solicitacao.id}}-infos" class="row-fluid">
                <strong>Cliente / Reclamante</strong>: {{solicitacao.reclamante}}<br />
                <strong>Contato</strong>: {% for contato in solicitacao.contato_principal %} {% if contato %} # {{contato|phonenumber}}{%endif%}{%endfor%}<br />
                <h3>Descrição</h3>
                <div class="alert alert-info">
                    <i class="fa fa-comment"></i> {{solicitacao.descricao}}
                </div>
            </div>

            <div id="solicitacao-{{solicitacao.id}}-responsaveis" class="row-fluid">
                <span class="span4">
                    <h5><i class="fa fa-wrench"></i> Responsável por Correção</h5>
                    <select tabindex=1 id="responsavel_correcao_input" name="responsavel_correcao" class="select2">
                        <option value="">Escolha um Responsável</option>
                        {% for rc in funcionarios_ativos %}
                        <option value="{{rc.id}}" {% ifequal rc.id solicitacao.responsavel_correcao.id %}selected{%endifequal%}>{{rc}}</option>
                        {% endfor %}
                    </select>
                </span>

                <span class="span4">
                    <h5><i class="fa fa-phone"></i>  Responsável por Contato</h5>
                    <select tabindex=2 name="responsavel_contato" class="select2">
                        <option>Escolha um Responsável</option>
                        {% for rc in funcionarios_ativos %}
                        <option value="{{rc.id}}" {% ifequal rc.id solicitacao.responsavel_contato.id %}selected{%endifequal%}>{{rc}}</option>
                        {% endfor %}
                    </select>

                </span>

                <span class="span4">
                    <h5><i class="fa fa-check"></i>  Responsável por Visto</h5>
                    <select tabindex=3  name="responsavel_visto" class="select2">
                        <option>Escolha um Responsável</option>
                        {% for rc in funcionarios_ativos %}
                        <option value="{{rc.id}}"
                        {% if solicitacao.responsavel_visto.id %}

                        {% ifequal solicitacao.responsavel_visto.id rc.id %}
                        selected
                        {% endifequal %}


                        {%endif%}>{{rc}}</option>
                        {% endfor %}
                    </select>

                </span>


            </div>

            <div id="solicitacao-{{solicitacao.id}}-acoes" class="row-fluid">
                <hr />
                <span class="span12">

                    <p class="btn-group">
                        <button class="btn btn-success" name="despachar" value="True"><i class="fa fa-bullhorn"></i> Especificar Providência</button>
                        <button class="btn btn-danger" name="improceder" value="True"><i class="fa fa-close"></i> Não Procede</button>
                    </p>
                </span>
            </div>


        </div>

    </form>

    {% endfor %}
{% endif %}
    {% endblock %}

    {% block auxiliar-menu %}
    {% addtoblock "js" %}
    <script type="text/javascript" src="{% static "js/select2.js" %}"></script>
    <link href="{% static "css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />
    <script>
    $(document).ready(function() {
        $("#menu-solicitacao-despachar, #top-menu-solicitacao").addClass("active");
        $("#responsavel_correcao_input").focus()
    });
    </script>
    {% endaddtoblock %}
    {% include "frontend/solicitacao/solicitacao-menu.html" %}
    {% endblock%}
