<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><i class="icon icon-download-alt"></i> Recepção</li>
    <li id="menu-cadastro-home"><a href="{% url "cadastro:home" %}">Início</a></li>
    <li id="menu-cadastro-funcionarios-list"><a href="{% url "cadastro:funcionarios_listar" %}">Contatos dos Funcionários</a></li>
    <li id="menu-cadastro-recados-gerenciar"><a href="{% url "cadastro:recados_gerenciar" %}">Gerenciar Recados</a></li>
    <li id="menu-cadastro-cliente-pre-cliente"><a href="{% url "cadastro:preclientes_adicionar" %}">Adicionar Pré Clientes</a></li>
    <li id="menu-cadastro-ocorrencia-adicionar"><a href="{% url "cadastro:ocorrencia_adicionar" %}">Adicionar Ocorrência</a></li>
  </ul>
</div><!--/.well -->
