<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><i class="fa fa-download-alt fa-3x"></i> Recepção</li>
    <li id="menu-cadastro-home"><a href="{% url "cadastro:home" %}"><i class="fa fa-th"></i> Início > Recepção</a></li>
    <li id="menu-cadastro-funcionarios-list"><a href="{% url "cadastro:funcionarios_listar" %}"><i class="fa fa-user"></i> Contatos dos Funcionários</a></li>
    <li id="menu-cadastro-cliente-pre-cliente"><a href="{% url "cadastro:preclientes_adicionar" %}"><i class="fa fa-briefcase"></i> Adicionar Pré Clientes</a></li>
    <li id="menu-cadastro-solicitacao-adicionar"><a href="{% url "cadastro:solicitacao_adicionar" %}"><i class="fa fa-bell"></i> Adicionar Solicitação</a></li>
  </ul>
</div><!--/.well -->
