{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load phonenumber_br %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Recepção{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-download-alt"></i> Recepção</h1>
<div class="row-fluid">
    <div class="span6">
        <div class="well well-small">
            <h2><i class="fa fa-user"></i> Buscar Funcionário</h2>
            <form class="form-search" action="{% url "cadastro:home" %}">
                <input tabindex=1 type="text" class="input-medium search-query" id="funcionario_busca" name="funcionario" value="{% if funcionario_q %}{{funcionario_q}}{%endif%}">
                <button type="submit" class="btn btn-info"><i class="fa fa-white fa-search"></i> Buscar</button>
                {% if funcionario_q %}
                <a href="."><i class="fa fa-remove"></i> Limpar</a>
                {% endif %}
            </form>
            {% if funcionario_q %}

            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Funcionário</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
            
                    {% for funcionario in funcionarios %}
          
                    <tr>
                        <td>{% if not funcionario.periodo_trabalhado_corrente %}
                            <span class="badge">inativo</span>
                            {% endif %}
                            <strong>{{funcionario.nome}}</strong><br />
                            {% if funcionario.telefone_fixo %}
                                <small class="label label-info"><i class="fa-phone"></i> {{funcionario.telefone_fixo|phonenumber}}</small>
                            {% endif %}
                            {% if funcionario.telefone_celular|phonenumber %}
<small class="label label-info"><i class="fa-mobile-phone"></i> {{funcionario.telefone_celular|phonenumber}}</small>
{% endif %}
                        </td>
                        <td>
                            <a class="btn" href="{% url "cadastro:funcionarios_recados_listar" funcionario.id %}"><i class="fa fa-inbox"></i></a>
                            <a class="btn" href="{% url "cadastro:funcionarios_recados_adicionar"  funcionario.id %}"><i class="fa fa-plus"></i></a>

                        </td>
                    </tr>
                    {% empty %}
            
                    <tr>
                        <td class="alert alert-info"><strong>Nenhum Funcionário Encontrado</strong></td>
                        <td>            {% if funcionario_q %}
                            <a href="."><i class="fa fa-remove"></i> Limpar Busca</a>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
            
            
                </tbody>
            </table>

            {% endif %}
        </div>
    </div>
    <div class="span6">
        <div class="well well-small">
            <h2><i class="fa fa-briefcase"></i> Buscar Pré / Cliente</h2>
            <form class="form-search" action="{% url "cadastro:home" %}">
                <input tabindex="2" type="text" class="input-medium search-query" name="cliente" value="{% if cliente_q %}{{cliente_q}}{%endif%}">
                <button type="submit" class="btn btn-info"><i class="fa fa-white fa-search"></i> Buscar</button>
                {% if cliente_q %}
                <a href="."><i class="fa fa-remove"></i> Limpar</a>
                {% else %}
                <a href="{% url "cadastro:preclientes_adicionar" %}" class="btn btn-large btn-success"><i class="fa fa-plus fa-white"></i> Adicionar</a>
                {% endif %}
            </form>
            {% if cliente_q %}
            {% if preclientes %}
                <a href="{% url "cadastro:preclientes_adicionar" %}?sugestao={{cliente_q}}" class="btn btn-small btn-primary"><i class="fa fa-plus fa-white"></i> adicionar pré cliente</a>
            {% endif %}
                                
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <caption><h4 class="alert">Pré Clientes</h4></caption>
                    <tr>
                        <th>Pré Cliente</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for cliente in preclientes %}
              
                    <tr>
                        <td>{{cliente.nome}} - Responsável: {% if cliente.designado %}{{cliente.designado}}{% else %}Nenhum{% endif %}</td>
                        <td>
                        {% if "solicitacao"|is_installed_app %}
                            <a class="btn" href="{% url "cadastro:solicitacao_adicionar" %}?precliente={{cliente.id}}"><i class="fa-bell fa"></i></a>
                        {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                
                    <tr>
                        <td class="alert alert-info"><strong>Nenhum  Encontrado!</strong></td>
                        <td>{% if cliente_q %}
                            <a href="."><i class="fa fa-remove"></i> Limpar Busca</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a class="btn btn-large btn-info" href="{% url "cadastro:preclientes_adicionar" %}?sugestao={{cliente_q}}"><i class="fa fa-plus fa-white "></i> Adicionar Pré Cliente</a>
                        </td>
                    </tr>
                    {% endfor %}
                
                
                </tbody>
            </table>
            <hr />

            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <caption><h4 class="alert alert-success" >Clientes</h4></caption>
                    <tr>
                        <th>Cliente</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{% if cliente.tipo == "pf" %}
                                <span class="label">{{cliente.tipo|upper}}</span>
                            {% else %}
                                <span class="label label-success">{{cliente.tipo|upper}}</span> 
                            {% endif %}
                            {{cliente.nome}} - Responsável: {{cliente.designado}}
                        </td>
                        <td>
                        {% if "solicitacao"|is_installed_app %}
                        <a class="btn tooltip-items" data-placement="top" data-toggle="tooltip" title="Solicitação"   href="{% url "cadastro:solicitacao_adicionar" %}?cliente={{cliente.id}}"><i class="fa-bell fa"></i></a>
                        {% endif %}
                        {% if "comercial"|is_installed_app %}
                        <a class="btn btn-warning tooltip-items" data-placement="top" data-toggle="tooltip" title="Requisição de Proposta"  href="{% url "cadastro:requisicao_proposta_cliente"  cliente.id  %}?cliente={{cliente.id}}"><i class="fa-file fa"></i></a>
                        {% endif %}
						
                        </td>
                    </tr>
                    {% empty %}
                
                    <tr>
                                                <td class="alert alert-info"><strong>Nenhum Encontrado!</strong></td>
                        <td>            {% if cliente_q %}
                            <a href="."><i class="fa fa-remove"></i> Limpar Busca</a>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            
            

            {% endif %}
        </div>
    </div>

</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
    $("#menu-cadastro-home, #top-menu-cadastro").addClass("active");
    $("#funcionario_busca").focus()
});
</script>
{% endaddtoblock %}
{% include "frontend/cadastro/cadastro-menu.html" %}
{% endblock%}