{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Recepção{% endblock %}</title>

{% block content %}
<h1>Adicionar Recado</h1>
<h5>De: {{request.user.funcionario}} <{{request.user.funcionario}}><h5>
<h5>Para: {{funcionario}} <{{funcionario.email}}></h5>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
    $("#menu-cadastro-funcionarios-list, #top-menu-cadastro").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/cadastro/cadastro-menu.html" %}
{% endblock%}