{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load phonenumber_br %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Recepção{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-download-alt"></i> Recepção</h1>
<div class="row-fluid">
    <div class="span6">
        <div class="well well-small">
            <h2><i class="fa fa-briefcase"></i> Buscar Pré / Cliente</h2>
            <form class="form-search" action="{% url "cadastro:home" %}">
                <input tabindex="2" type="text" class="input-medium search-query" id="cliente_busca" name="cliente" value="{% if cliente_q %}{{cliente_q}}{%endif%}">
                <button type="submit" class="btn btn-info"><i class="fa fa-white fa-search"></i> Buscar</button>
                {% if cliente_q %}
                <a href="."><i class="fa fa-remove"></i> Limpar</a>
                {% else %}
                <a href="{% url "cadastro:preclientes_adicionar" %}" class="btn btn-large btn-success"><i class="fa fa-plus fa-white"></i> Adicionar</a>
                {% endif %}
            </form>
            {% if cliente_q %}
            {% if preclientes %}
                <a href="{% url "cadastro:preclientes_adicionar" %}?sugestao={{cliente_q}}" class="btn btn-small btn-primary"><i class="fa fa-plus fa-white"></i> adicionar pré cliente</a>
            {% endif %}
                                
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <caption><h4 class="alert">Pré Clientes</h4></caption>
                    <tr>
                        <th>Pré Cliente</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for cliente in preclientes %}
              
                    <tr>
                        <td>{% include "frontend/comercial/botao-precliente.html" with precliente=cliente %}</td>
                        <td>
                        {% if "solicitacao"|is_installed_app %}
                            <a class="btn" href="{% url "cadastro:solicitacao_adicionar" %}?precliente={{cliente.id}}"><i class="fa-bell fa"></i></a>
                        {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="alert alert-info"><strong>Nenhum  Encontrado!</strong></td>
                        <td>{% if cliente_q %}
                            <a href="."><i class="fa fa-remove"></i> Limpar Busca</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a class="btn btn-large btn-info" href="{% url "cadastro:preclientes_adicionar" %}?sugestao={{cliente_q}}"><i class="fa fa-plus fa-white "></i> Adicionar Pré Cliente</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr />
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <caption><h4 class="alert alert-success" >Clientes</h4></caption>
                    <tr>
                        <th>Cliente</th>
						<th>Responsável</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{% include "frontend/comercial/botao-cliente.html" with cliente=cliente %}
                        </td>
						<td>{{cliente.designado}}</td>
                        <td>
							<div class="btn-group">
		                        {% if "solicitacao"|is_installed_app %}
		                        <a class="btn tooltip-items" data-placement="top" data-toggle="tooltip" title="Solicitação"   href="{% url "cadastro:solicitacao_adicionar" %}?cliente={{cliente.id}}"><i class="fa-bell fa"></i></a>
		                        {% endif %}
		                        {% if "comercial"|is_installed_app %}
								<a  data-placement="top"  title="Requisição de Proposta" data-cliente="{{cliente.id}}" href="#descricao-requisicao" role="button" class="btn btn-warning tooltip-items nova-requisicao" data-toggle="modal"><i class="fa-file fa"></i></a>
		                        {% endif %}
							</div>
						
                        </td>
                    </tr>
                    {% empty %}
                
                    <tr>
                                                <td class="alert alert-info"><strong>Nenhum Encontrado!</strong></td>
                        <td>            {% if cliente_q %}
                            <a href="."><i class="fa fa-remove"></i> Limpar Busca</a>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="span6">
        <div class="well well-small">
            <h2><i class="fa fa-user"></i> Buscar Funcionário</h2>
            <form class="form-search" action="{% url "cadastro:home" %}">
                <input tabindex=1 type="text" class="input-medium search-query" id="funcionario_busca" name="funcionario" value="{% if funcionario_q %}{{funcionario_q}}{%endif%}">
                <button type="submit" class="btn btn-info"><i class="fa fa-white fa-search"></i> Buscar</button>
                {% if funcionario_q %}
                <a href="."><i class="fa fa-remove"></i> Limpar</a>
                {% endif %}
            </form>
            {% if funcionario_q %}

            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Funcionário</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
            
                    {% for funcionario in funcionarios %}
          
                    <tr>
                        <td>{% if not funcionario.periodo_trabalhado_corrente %}
                            <span class="badge">inativo</span>
                            {% endif %}
                            <strong>{{funcionario.nome}}</strong><br />
                            {% if funcionario.telefone_fixo %}
                                <small class="label label-info"><i class="fa fa-phone"></i> {{funcionario.telefone_fixo|phonenumber}}</small>
                            {% endif %}
                            {% if funcionario.telefone_celular|phonenumber %}
<small class="label label-info"><i class="fa fa-mobile-phone"></i> {{funcionario.telefone_celular|phonenumber}}</small>
{% endif %}
                        </td>
                        <td>
                            <a class="btn" href="{% url "cadastro:funcionarios_recados_listar" funcionario.id %}"><i class="fa fa-inbox"></i></a>
                            <a class="btn" href="{% url "cadastro:funcionarios_recados_adicionar"  funcionario.id %}"><i class="fa fa-plus"></i></a>

                        </td>
                    </tr>
                    {% empty %}
            
                    <tr>
                        <td class="alert alert-info"><strong>Nenhum Funcionário Encontrado</strong></td>
                        <td>            {% if funcionario_q %}
                            <a href="."><i class="fa fa-remove"></i> Limpar Busca</a>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
            
            
                </tbody>
            </table>

            {% endif %}
        </div>
    </div>

</div>

<!-- Modal Enviar para Teste -->
<div id="descricao-requisicao" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Requisição de Proposta Comercial</h3>
  </div>
  <div class="modal-body">
		<form method="POST" id="form-descricao-proposta" action="{% url "cadastro:requisicao_proposta_cliente" %}">
			{% csrf_token %}
			Descrição da Proposta:<br />
			<input type="hidden" name="cliente-requisicao-proposta" value="" id="cliente-requisicao-proposta">
			<textarea name="descricao-requisicao-proposta" id="descricao-requisicao-proposta"></textarea>
		</form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
    <button form="form-descricao-proposta" class="btn btn-info" name="requisitar-proposa-comercial" value="enviado" id="requisitar-proposa-comercial"><i class="fa fa-plus"></i> Nova Requisição de Proposta</button>
  </div>
</div>


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
    $("#menu-cadastro-home, #top-menu-cadastro").addClass("active");
    $("#cliente_busca").focus()
	$('.popover-items').popover({placement: 'top'})
});

$('.nova-requisicao').click( function(e){
		$("#cliente-requisicao-proposta").val($(this).data('cliente'));
		e.preventDefault();
		$("#requisitar-proposa-comercial").hide()
});

//and this for good measure
    $('#descricao-requisicao-proposta').on("keyup change", function(){
        if($.trim($(this).val())){
        	$("#requisitar-proposa-comercial").show()
        }else{
        	$("#requisitar-proposa-comercial").hide()
        }
    });


</script>
{% endaddtoblock %}
{% include "frontend/cadastro/cadastro-menu.html" %}
{% endblock%}