{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Recepção{% endblock %}</title>

{% block content %}
<h1><i class="fa fa-th"></i> <i class="fa fa-bell-alt"></i> Adicionar Solicitação</h1>
<form method="POST">{% csrf_token %}
    
    <div class="row-fluid">
        
    </div>
    
{{form.as_p}}
<input type="submit" class="btn btn-primary" value="Adicionar">

</form>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script type="text/javascript" src="/static/js/select2.js"></script>
<link href="/static/css/select2.css" type="text/css" media="screen" rel="stylesheet" />

<script>
$(document).ready(function() {
    $("#menu-cadastro-solicitacao-adicionar, #top-menu-cadastro").addClass("active");
});
</script>
{% endaddtoblock %}
{% include "frontend/cadastro/cadastro-menu.html" %}
{% endblock%}