{% extends "frontend/frontend-base.html" %}
{% load bootstrap %}

<title>{%block title %}{{block.super}} - Início{% endblock %}</title>

{% block content %}
{% if request.user.is_authenticated %}
<h1>Olá {{request.user}}</h1>
{% else %}
<form action="{% url "login" %}" method="post">{% csrf_token %}
{{form|bootstrap}}
<input type="submit" class="btn btn-success" value="Login">
<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url "home" %}{%endif%}">
</form>

{% endif %}

{% endblock %}
