{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Início{% endblock %}</title>

{% block content %}

{% if request.user.is_authenticated %}
    {% if request.user.perfilclientelogin.cliente%}
    <h1><i class="icon-th"></i> <i class="icon-home"></i> Olá {{request.user.perfilclientelogin.cliente.nome}}</h1>

    {% else %}

    <h2 class="alert alert-important">Este usuário não possui Cliente</h2>
    
    {% endif %}
    
{% else %}
<form action="{% url "login" %}" method="post">{% csrf_token %}
{{form.as_p}}
<input type="submit" class="btn btn-success" value="Login">
</form>


{% endif %}


{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#main-home, #top-menu-home").addClass("active");
});
</script>
{% endaddtoblock %}


{% endblock %}



