{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Início - Solicitações - Resolvido{% endblock %}</title>

{% block content %}
    <h1><i class="icon-th"></i> <i class="icon icon-bell"></i> Minhas Solicitações - Resolvido #{{solicitacao.id}}</h1>
    
    <p>Reclamante: {{solicitacao.reclamante}}<p>
    <p class="alert alert-info">{{solicitacao.descricao}}</p>
    <p><strong>Criado</strong> em: {{solicitacao.criado|date:"SHORT_DATETIME_FORMAT"}} <em>(há {{solicitacao.criado|timesince}})</em> por {{solicitacao.adicionado_por}}</p>
    <p><strong>Despachado</strong> em: {{solicitacao.despachado_data|date:"SHORT_DATETIME_FORMAT"}} <em>({{solicitacao.criado|timesince:solicitacao.despachado_data}} após criado)</em> por {{solicitacao.despachado_por.funcionario}}</p>
    <p><strong>Resolução</strong> com: {{solicitacao.correcao_iniciada|timesince}}</p>
    <form method="post">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-primary" value="Corrigir">
    </form>
{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#main-home-minhas-solicitacoes, #top-menu-home").addClass("active");
});
</script>
{% endaddtoblock %}


{% endblock %}
