{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}

<title>{%block title %}{{block.super}} - Início{% endblock %}</title>

{% block content %}
    {% addtoblock "js" %}
        <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-tab.js"></script>
    {% endaddtoblock %}

    <h1><i class="icon-th"></i> <i class="icon icon-envelope"></i> Meus Recados</h1>
    
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#recebidos">Recebidos</a></li>
      <li><a href="#enviados">Enviados</a></li>
    </ul>
 
    <div class="tab-content">
      <div class="tab-pane active" id="recebidos">
          {% include "frontend/cadastro/includes/cadastro-listar-recados.html" %}
      </div>
      <div class="tab-pane" id="enviados">
          <ul>
          {% for recado in enviados %}
                <li>{{recado}}</li>
          {% endfor %}
          </ul>
      </div>
    </div>
    
    


{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#main-home-meus-recados, #top-menu-home").addClass("active");
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
});
</script>
{% endaddtoblock %}


{% endblock %}
