{% extends "frontend/frontend-base.html" %}
{% load sekizai_tags %}
{% load check_installed %}

<title>{%block title %}{{block.super}} - Programação{% endblock %}</title>

{% block content %}

<h1><i class="fa fa-th"></i> <i class="fa fa-clock-o"></i> Programação</h1>

{% if request.user.perfilacessocomercial.gerente %}
<h4>Como Gerente</h4>

{% endif %}
{% regroup ordens_de_servico by status as os_por_status %}


<ul class="nav nav-tabs">
    <li class="active"><a href="#nao-iniciado" data-toggle="tab"><i class="fa fa-star"></i> Não Iniciado</a></li>

    <li class=""><a href="#em-execucao" data-toggle="tab"><i class="fa fa-play"></i> Em Execução <span class="badge badge-success">X</span>
	</a></li>
	
	    <li class=""><a href="#em-pendencia" data-toggle="tab"><i class="fa fa-pause"></i> Parado <span class="badge badge-important">X</span>
		</a></li>

</ul>

{% for os_grupo in os_por_status %}

<h2>{{os_grupo.list.0.get_status_display}}</h2>
<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
          <th>ID</th>
		  <th>Cliente</th>
          <th>Porcentagem</th>
		  <th>Valor</th>
		  <th>Status</th>
		  <th>FollowUp</th>
          <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for contrato in os_grupo.list %}
        <tr>
			<td>{{contrato.id}}</td>
			<td>{{contrato.cliente}}
				{% if contrato.aguardando_cliente %}
				<span class="label label-important">Aguardando Cliente</span>
				{% endif %}
			</td>
			<td>
				
				<div class="progress progress-striped active" style="width:100%px;">
					<div class="bar" style="width: {{contrato.porcentagem_execucao}}%;">
						<strong>{{contrato.porcentagem_execucao}}%</strong>
					</div>
				</div>
				
				
</td>
			<td>R$ {{contrato.valor}}</td>
			<td>{{contrato.get_status_display}}</td>
			<td>
				
				
				
				{% if contrato.ultimo_followup %}
				<a href="#modal-follow-up-exibir"
					role="button" 
					data-toggle="modal"
					data-exibir-modal-title="Follow Ups do Contrato #{{contrato.id}}"
					data-follow-ups="
					
					{% for fup in contrato.followupdecontrato_set.all %}
						<strong>{{fup.criado_por.funcionario}}</strong>: {{fup.texto}}, {{fup.porcentagem_execucao}}% <small>{{fup.criado}}</small>
						<hr />
					{% endfor %}
					"
					class="btn popover_item carregar_follow_ups_modal"
					data-toggle="popover"
					data-title="<b>Follow Up <small>(há {{contrato.ultimo_followup.criado|timesince}})</small></b>" data-html=True data-content="<strong>{{contrato.ultimo_followup.criado_por.funcionario}}</strong> : {{contrato.ultimo_followup.texto}}<br />
					<p class='alert alert-info'>{{contrato.ultimo_followup.criado|date:"SHORT_DATETIME_FORMAT"}} </p>
					">
					{{contrato.followupdecontrato_set.count}}
				</a> <i class="fa fa-exchange"></i>
				{%endif %}
				
				<!-- Button to trigger modal de follow up -->
				<a href="#modal-follow-up-add" data-contrato-id="{{contrato.id}}" data-porcentagem_execucao={{contrato.porcentagem_execucao}} data-title="Contrato: {{contrato.contrato.id}}. Valor: R$ {{contrato.valor|floatformat:2}}." data-action-url="" role="button" class="btn btn-modal-add-follow-up" data-toggle="modal"><i class="fa fa-plus"></i></a>
			</td>
			<td>
				<p class="btn-group">
				{% if contrato.status == "naoiniciado" %}
				<a href="{% url "programacao:marcar_contrato_iniciado" contrato.id %}" class="btn btn-success"><i class=" fa fa-play"></i></a>
				{% endif %}
				{% if contrato.status == "emandamento" %}

					{% if contrato.aguardando_cliente %}
					
					<a href="{% url "programacao:marcar_contrato_retorno_cliente" contrato.id %}" class="btn btn-success"><i class="fa fa-play"></i></a>
					
					{% else %}
					
					<a href="{% url "programacao:marcar_contrato_aguardando_cliente" contrato.id %}" class="btn btn-danger"><i class="fa fa-pause"></i></a>
							
					{% endif %}
				
				{% endif %}
				{% if contrato.status == "pendente" %}
					{% if contrato.aguardando_cliente %}
						<a href="{% url "programacao:marcar_contrato_retorno_cliente" contrato.id %}" class="btn btn-success"><i class=" fa fa-play"></i></a>
					{% endif %}
				{% endif %}
				
				<a href="{% url "programacao:editar_programacao_contrato" contrato.id %}" class="btn btn-primary"><i class="fa fa-pencil"></i> </a>
				</p>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endfor %}

<!-- Modal Exibe FollowUps -->
<div id="modal-follow-up-exibir" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalExibirFollowUpsLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="ModalExibirFollowUpsLabel"></h3>
  </div>
  <div class="modal-body" id="ModalExibirFollowUpsBody">
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
  </div>
</div>

<!-- Modal Adiciona FollowUp -->
<div id="modal-follow-up-add" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Adicionar Follow Up</h3>
  </div>
  <div class="modal-body">
		<p class="alert alert-info" id="descricao-modal-add-follow-up"></p>
		<form method="POST" id="form-adicionar-follow-up" action="">
			{% csrf_token %}
			{{form_adicionar_follow_up.contrato}}
			{{form_add_followup_contrato.errors}}
			<table>
				<tr>
					<td>
						
						{{form_add_followup_contrato.contrato}}
						{{form_add_followup_contrato.criado_por}}
						
						
						{{form_add_followup_contrato.texto.label}}
						{{form_add_followup_contrato.texto}}
						{{form_add_followup_contrato.texto.errors}}
					</td>
					<td>
						{{form_add_followup_contrato.porcentagem_execucao.label}}
						{{form_add_followup_contrato.porcentagem_execucao}}
						{{form_add_followup_contrato.porcentagem_execucao.errors}}
						<br />
					</td>
				</tr>
			</table>
		</form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">X Fechar</button>
    <button class="btn btn-primary" form="form-adicionar-follow-up" id="btn-adicionar-follow-up"><i class="fa fa-plus"></i> Adicionar Follow Up</button>
  </div>
</div>

{% endblock %}

{% block auxiliar-menu %}
{% addtoblock "js" %}
<script>
$(document).ready(function() {
	$("#menu-programacao-home, #top-menu-programacao").addClass("active");
	
	$('.popover_item').popover({
			trigger: "hover",
			placement: 'top'
	});
	
	$('.carregar_follow_ups_modal').click(function(e){
			$("#ModalExibirFollowUpsLabel").html($(this).data('exibir-modal-title'));
			$("#ModalExibirFollowUpsBody").html($(this).data('follow-ups'))
	});
	
	$('.btn-modal-add-follow-up').click(function(e){
			$("#descricao-modal-add-follow-up").html( $(this).data('title') );
			$("#id_contrato").val($(this).data('contrato-id'));
			$("#id_texto").val('');
			$("#id_porcentagem_execucao").val($(this).data('porcentagem_execucao'));
			$("#form-adicionar-follow-up").attr('action', $(this).data('action-url'))
	});
	
    {% if form_add_followup_contrato.errors %}
		$('#modal-follow-up-add').modal('show');
    {% endif %}	
	
	
	
	
	
});


</script>
{% endaddtoblock %}
{% include "frontend/programacao/programacao-menu.html" %}
{% endblock%}